<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>BG_FreeLinkResult.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,487},{653,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,487},{653,148}}</string>
				<key>sourceSize</key>
				<string>{653,148}</string>
			</dict>
			<key>BGColider.png</key>
			<dict>
				<key>frame</key>
				<string>{{1182,216},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1182,216},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Bottom_BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1182,389},{78,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1182,389},{78,111}}</string>
				<key>sourceSize</key>
				<string>{78,111}</string>
			</dict>
			<key>Btn_Add.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,494},{101,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{654,494},{101,99}}</string>
				<key>sourceSize</key>
				<string>{101,99}</string>
			</dict>
			<key>Btn_Auto.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,99},{280,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{514,99},{280,134}}</string>
				<key>sourceSize</key>
				<string>{280,134}</string>
			</dict>
			<key>Btn_BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,127},{386,373}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{795,127},{386,373}}</string>
				<key>sourceSize</key>
				<string>{386,373}</string>
			</dict>
			<key>Btn_Help.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,520},{33,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{756,520},{33,73}}</string>
				<key>sourceSize</key>
				<string>{33,73}</string>
			</dict>
			<key>Btn_Home.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,121},{513,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,121},{513,112}}</string>
				<key>sourceSize</key>
				<string>{513,112}</string>
			</dict>
			<key>Btn_Next.png</key>
			<dict>
				<key>frame</key>
				<string>{{1689,534},{243,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1689,534},{243,112}}</string>
				<key>sourceSize</key>
				<string>{243,112}</string>
			</dict>
			<key>Btn_Prev.png</key>
			<dict>
				<key>frame</key>
				<string>{{1689,647},{244,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1689,647},{244,112}}</string>
				<key>sourceSize</key>
				<string>{244,112}</string>
			</dict>
			<key>Btn_Return.png</key>
			<dict>
				<key>frame</key>
				<string>{{1302,258},{223,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1302,258},{223,211}}</string>
				<key>sourceSize</key>
				<string>{226,213}</string>
			</dict>
			<key>Btn_Spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1302,470},{386,373}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1302,470},{386,373}}</string>
				<key>sourceSize</key>
				<string>{386,373}</string>
			</dict>
			<key>Btn_Spinleft.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,9},{331,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,9},{331,67}}</string>
				<key>sourceSize</key>
				<string>{331,67}</string>
			</dict>
			<key>Btn_Stop.png</key>
			<dict>
				<key>frame</key>
				<string>{{1809,934},{215,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1809,934},{215,90}}</string>
				<key>sourceSize</key>
				<string>{215,90}</string>
			</dict>
			<key>Btn_Sub.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,330},{97,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{622,330},{97,99}}</string>
				<key>sourceSize</key>
				<string>{97,99}</string>
			</dict>
			<key>Entries.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,440},{95,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{646,440},{95,21}}</string>
				<key>sourceSize</key>
				<string>{95,21}</string>
			</dict>
			<key>Fire_Boom.png</key>
			<dict>
				<key>frame</key>
				<string>{{1247,225},{48,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1247,225},{48,55}}</string>
				<key>sourceSize</key>
				<string>{48,55}</string>
			</dict>
			<key>Fire_LightBall.png</key>
			<dict>
				<key>frame</key>
				<string>{{1164,64},{64,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1164,64},{64,62}}</string>
				<key>sourceSize</key>
				<string>{64,62}</string>
			</dict>
			<key>Item_BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,79},{59,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{449,79},{59,41}}</string>
				<key>sourceSize</key>
				<string>{59,41}</string>
			</dict>
			<key>MajorBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,672},{506,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{795,672},{506,171}}</string>
				<key>sourceSize</key>
				<string>{506,171}</string>
			</dict>
			<key>MegaBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,501},{506,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{795,501},{506,170}}</string>
				<key>sourceSize</key>
				<string>{506,170}</string>
			</dict>
			<key>MiniBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,844},{506,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{795,844},{506,180}}</string>
				<key>sourceSize</key>
				<string>{506,180}</string>
			</dict>
			<key>MinorBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1302,852},{506,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1302,852},{506,172}}</string>
				<key>sourceSize</key>
				<string>{506,172}</string>
			</dict>
			<key>Music_Off.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,261},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{699,261},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>Music_On.png</key>
			<dict>
				<key>frame</key>
				<string>{{1229,60},{58,66}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1229,60},{58,66}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>Sound_Off.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,8},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{332,8},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>Sound_On.png</key>
			<dict>
				<key>frame</key>
				<string>{{1182,153},{64,62}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1182,153},{64,62}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>Spin_BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,255},{76,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{622,255},{76,74}}</string>
				<key>sourceSize</key>
				<string>{76,74}</string>
			</dict>
			<key>Tip_FearuteComplete.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,77},{448,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,77},{448,43}}</string>
				<key>sourceSize</key>
				<string>{448,43}</string>
			</dict>
			<key>Tip_Freelink0.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,462},{143,24}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{646,462},{143,24}}</string>
				<key>sourceSize</key>
				<string>{269,27}</string>
			</dict>
			<key>Tip_Freelink1.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,19},{267,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{514,19},{267,25}}</string>
				<key>sourceSize</key>
				<string>{269,27}</string>
			</dict>
			<key>Tip_Freelink2.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,73},{269,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{514,73},{269,25}}</string>
				<key>sourceSize</key>
				<string>{269,27}</string>
			</dict>
			<key>Tip_Freelink3.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,45},{267,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{514,45},{267,27}}</string>
				<key>sourceSize</key>
				<string>{269,27}</string>
			</dict>
			<key>Tips01.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,25},{368,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{795,25},{368,101}}</string>
				<key>sourceSize</key>
				<string>{368,101}</string>
			</dict>
			<key>Tips02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,636},{773,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,636},{773,62}}</string>
				<key>sourceSize</key>
				<string>{773,62}</string>
			</dict>
			<key>Tips03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,430},{645,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,430},{645,56}}</string>
				<key>sourceSize</key>
				<string>{645,56}</string>
			</dict>
			<key>Top_BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1933,474},{59,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1933,474},{59,172}}</string>
				<key>sourceSize</key>
				<string>{59,172}</string>
			</dict>
			<key>UI_BallFly.png</key>
			<dict>
				<key>frame</key>
				<string>{{1182,281},{73,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1182,281},{73,107}}</string>
				<key>sourceSize</key>
				<string>{73,107}</string>
			</dict>
			<key>UI_NumLock01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1689,495},{189,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1689,495},{189,38}}</string>
				<key>sourceSize</key>
				<string>{189,38}</string>
			</dict>
			<key>UI_NumLock02.png</key>
			<dict>
				<key>frame</key>
				<string>{{720,360},{74,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{720,360},{74,69}}</string>
				<key>sourceSize</key>
				<string>{74,69}</string>
			</dict>
			<key>UI_NumLock03.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,594},{102,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{654,594},{102,41}}</string>
				<key>sourceSize</key>
				<string>{102,41}</string>
			</dict>
			<key>UI_NumLock04.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,26},{46,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{466,26},{46,50}}</string>
				<key>sourceSize</key>
				<string>{46,50}</string>
			</dict>
			<key>UI_RedBallBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1302,131},{190,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1302,131},{190,126}}</string>
				<key>sourceSize</key>
				<string>{190,126}</string>
			</dict>
			<key>UI_TItle.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,699},{794,325}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,699},{794,325}}</string>
				<key>sourceSize</key>
				<string>{794,325}</string>
			</dict>
			<key>UI_WhiteColider.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,12},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{401,12},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>UI_Winner.png</key>
			<dict>
				<key>frame</key>
				<string>{{1689,760},{308,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1689,760},{308,83}}</string>
				<key>sourceSize</key>
				<string>{308,83}</string>
			</dict>
			<key>UI_WinnerShine.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,234},{621,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,234},{621,195}}</string>
				<key>sourceSize</key>
				<string>{621,195}</string>
			</dict>
			<key>Win_BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1809,853},{197,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1809,853},{197,80}}</string>
				<key>sourceSize</key>
				<string>{197,80}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>Atlas_GameUI.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>Atlas_GameUI.png</string>
		</dict>
	</dict>
</plist>
