<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Freegame_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,13},{138,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{155,13},{138,93}}</string>
				<key>sourceSize</key>
				<string>{167,111}</string>
			</dict>
			<key>Freegame_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,111},{138,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{300,111},{138,93}}</string>
				<key>sourceSize</key>
				<string>{167,111}</string>
			</dict>
			<key>Freegame_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,201},{144,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{155,201},{144,97}}</string>
				<key>sourceSize</key>
				<string>{167,111}</string>
			</dict>
			<key>Freegame_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,89},{149,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,89},{149,101}}</string>
				<key>sourceSize</key>
				<string>{167,111}</string>
			</dict>
			<key>Freegame_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,296},{154,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,296},{154,104}}</string>
				<key>sourceSize</key>
				<string>{167,111}</string>
			</dict>
			<key>Freegame_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,404},{160,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{168,404},{160,108}}</string>
				<key>sourceSize</key>
				<string>{167,111}</string>
			</dict>
			<key>Freegame_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,401},{167,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,401},{167,111}}</string>
				<key>sourceSize</key>
				<string>{167,111}</string>
			</dict>
			<key>Freegame_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,405},{160,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{329,405},{160,107}}</string>
				<key>sourceSize</key>
				<string>{167,111}</string>
			</dict>
			<key>Freegame_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,191},{154,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,191},{154,104}}</string>
				<key>sourceSize</key>
				<string>{167,111}</string>
			</dict>
			<key>Freegame_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,299},{149,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{155,299},{149,101}}</string>
				<key>sourceSize</key>
				<string>{167,111}</string>
			</dict>
			<key>Freegame_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,303},{144,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{305,303},{144,97}}</string>
				<key>sourceSize</key>
				<string>{167,111}</string>
			</dict>
			<key>Freegame_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,205},{138,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{300,205},{138,93}}</string>
				<key>sourceSize</key>
				<string>{167,111}</string>
			</dict>
			<key>Freegame_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,107},{138,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{155,107},{138,93}}</string>
				<key>sourceSize</key>
				<string>{167,111}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>Atlas_Game03.png</string>
			<key>size</key>
			<string>{512,512}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>Atlas_Game03.png</string>
		</dict>
	</dict>
</plist>
