<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>BG_FreeNum.png</key>
			<dict>
				<key>frame</key>
				<string>{{14,929},{913,394}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,929},{913,394}}</string>
				<key>sourceSize</key>
				<string>{913,394}</string>
			</dict>
			<key>BGColider02.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,1343},{43,705}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{88,1343},{43,705}}</string>
				<key>sourceSize</key>
				<string>{43,705}</string>
			</dict>
			<key>Free_Zhuangshi01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,835},{13,1213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,835},{13,1213}}</string>
				<key>sourceSize</key>
				<string>{13,1213}</string>
			</dict>
			<key>Free_Zhuangshi02.png</key>
			<dict>
				<key>frame</key>
				<string>{{14,1324},{73,724}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,1324},{73,724}}</string>
				<key>sourceSize</key>
				<string>{73,724}</string>
			</dict>
			<key>FreeTimes_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{230,1651},{60,57}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{230,1651},{60,57}}</string>
				<key>sourceSize</key>
				<string>{61,57}</string>
			</dict>
			<key>FreeTimes_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,1765},{52,53}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{321,1765},{52,53}}</string>
				<key>sourceSize</key>
				<string>{61,57}</string>
			</dict>
			<key>FreeTimes_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,1557},{61,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{166,1557},{61,51}}</string>
				<key>sourceSize</key>
				<string>{61,57}</string>
			</dict>
			<key>FreeTimes_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,1711},{47,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{321,1711},{47,53}}</string>
				<key>sourceSize</key>
				<string>{61,57}</string>
			</dict>
			<key>FreeTimes_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,1656},{42,52}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{291,1656},{42,52}}</string>
				<key>sourceSize</key>
				<string>{61,57}</string>
			</dict>
			<key>FreeTips_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,1819},{211,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{166,1819},{211,229}}</string>
				<key>sourceSize</key>
				<string>{211,229}</string>
			</dict>
			<key>FreeTips_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,1757},{273,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{378,1757},{273,106}}</string>
				<key>sourceSize</key>
				<string>{273,106}</string>
			</dict>
			<key>FreeTips_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,1662},{380,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{378,1662},{380,94}}</string>
				<key>sourceSize</key>
				<string>{380,94}</string>
			</dict>
			<key>FreeTips_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,1709},{154,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{166,1709},{154,109}}</string>
				<key>sourceSize</key>
				<string>{154,109}</string>
			</dict>
			<key>FreeTips_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,1571},{367,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{378,1571},{367,90}}</string>
				<key>sourceSize</key>
				<string>{367,90}</string>
			</dict>
			<key>FreeTips_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{14,861},{379,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,861},{379,67}}</string>
				<key>sourceSize</key>
				<string>{379,67}</string>
			</dict>
			<key>FreeTips_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,1997},{264,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{754,1997},{264,51}}</string>
				<key>sourceSize</key>
				<string>{264,51}</string>
			</dict>
			<key>FreeTips_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,1510},{286,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{378,1510},{286,60}}</string>
				<key>sourceSize</key>
				<string>{286,60}</string>
			</dict>
			<key>FreeTips_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{652,1768},{286,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{652,1768},{286,95}}</string>
				<key>sourceSize</key>
				<string>{286,95}</string>
			</dict>
			<key>FreeTips_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,1864},{375,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{378,1864},{375,184}}</string>
				<key>sourceSize</key>
				<string>{375,184}</string>
			</dict>
			<key>Tip_Free01.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,1955},{225,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{754,1955},{225,41}}</string>
				<key>sourceSize</key>
				<string>{225,41}</string>
			</dict>
			<key>Tip_Free02.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,1609},{63,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{166,1609},{63,99}}</string>
				<key>sourceSize</key>
				<string>{63,99}</string>
			</dict>
			<key>Tip_Free03.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,870},{501,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{394,870},{501,58}}</string>
				<key>sourceSize</key>
				<string>{501,58}</string>
			</dict>
			<key>Tip_Free04.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,1663},{33,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,1663},{33,385}}</string>
				<key>sourceSize</key>
				<string>{33,385}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>Atlas_Free.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>Atlas_Free.png</string>
		</dict>
	</dict>
</plist>
