<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>FireBall_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,859},{181,165}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{368,859},{181,165}}</string>
				<key>sourceSize</key>
				<string>{185,169}</string>
			</dict>
			<key>FireBall_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,197},{180,165}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,197},{180,165}}</string>
				<key>sourceSize</key>
				<string>{185,169}</string>
			</dict>
			<key>FireBall_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,690},{180,164}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{185,690},{180,164}}</string>
				<key>sourceSize</key>
				<string>{185,169}</string>
			</dict>
			<key>FireBall_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,363},{180,165}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,363},{180,165}}</string>
				<key>sourceSize</key>
				<string>{185,169}</string>
			</dict>
			<key>FireBall_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,861},{184,163}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,861},{184,163}}</string>
				<key>sourceSize</key>
				<string>{185,169}</string>
			</dict>
			<key>FireBall_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,33},{182,163}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,33},{182,163}}</string>
				<key>sourceSize</key>
				<string>{185,169}</string>
			</dict>
			<key>FireBall_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,198},{179,163}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{185,198},{179,163}}</string>
				<key>sourceSize</key>
				<string>{185,169}</string>
			</dict>
			<key>FireBall_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,526},{180,163}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{185,526},{180,163}}</string>
				<key>sourceSize</key>
				<string>{185,169}</string>
			</dict>
			<key>FireBall_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,34},{178,163}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{185,34},{178,163}}</string>
				<key>sourceSize</key>
				<string>{185,169}</string>
			</dict>
			<key>FireBall_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,527},{178,162}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{724,527},{178,162}}</string>
				<key>sourceSize</key>
				<string>{185,169}</string>
			</dict>
			<key>FireBall_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,202},{178,161}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{366,202},{178,161}}</string>
				<key>sourceSize</key>
				<string>{185,169}</string>
			</dict>
			<key>FireBall_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,40},{178,161}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{366,40},{178,161}}</string>
				<key>sourceSize</key>
				<string>{185,169}</string>
			</dict>
			<key>FireBall_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,364},{178,162}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{366,364},{178,162}}</string>
				<key>sourceSize</key>
				<string>{185,169}</string>
			</dict>
			<key>FireBall_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,527},{178,162}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{366,527},{178,162}}</string>
				<key>sourceSize</key>
				<string>{185,169}</string>
			</dict>
			<key>FireBall_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,527},{178,162}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{545,527},{178,162}}</string>
				<key>sourceSize</key>
				<string>{185,169}</string>
			</dict>
			<key>FireBall_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,694},{184,160}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{549,694},{184,160}}</string>
				<key>sourceSize</key>
				<string>{185,169}</string>
			</dict>
			<key>FireBall_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,692},{182,162}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{366,692},{182,162}}</string>
				<key>sourceSize</key>
				<string>{185,169}</string>
			</dict>
			<key>FireBall_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,529},{184,162}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,529},{184,162}}</string>
				<key>sourceSize</key>
				<string>{185,169}</string>
			</dict>
			<key>FireBall_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,692},{184,162}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,692},{184,162}}</string>
				<key>sourceSize</key>
				<string>{185,169}</string>
			</dict>
			<key>FireBall_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,861},{183,163}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{550,861},{183,163}}</string>
				<key>sourceSize</key>
				<string>{185,169}</string>
			</dict>
			<key>FireBall_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,861},{183,163}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{734,861},{183,163}}</string>
				<key>sourceSize</key>
				<string>{185,169}</string>
			</dict>
			<key>FireBall_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,691},{180,163}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{734,691},{180,163}}</string>
				<key>sourceSize</key>
				<string>{185,169}</string>
			</dict>
			<key>FireBall_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,855},{182,169}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,855},{182,169}}</string>
				<key>sourceSize</key>
				<string>{185,169}</string>
			</dict>
			<key>FireBall_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,362},{179,163}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{185,362},{179,163}}</string>
				<key>sourceSize</key>
				<string>{185,169}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>Atlas_Game02.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>Atlas_Game02.png</string>
		</dict>
	</dict>
</plist>
