<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>icon_paytable.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,443},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{363,443},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>menu_close_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,553},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{327,553},{72,72}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>icon_more_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,333},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{363,333},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>icon_history.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,441},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{253,441},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>icon_history_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,441},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{253,441},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>rounded_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,237},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{238,237},{54,54}}</string>
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>icon_paytable_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,443},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{363,443},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_nav_spin_turbo_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,411},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,411},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_nav_medium_sound_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,1},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{378,1},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>icon_auto_spin_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,221},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{304,221},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,625},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{187,625},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>ic_nav_return.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,185},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,185},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_wallet_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,153},{28,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,153},{28,23}}</string>
				<key>sourceSize</key>
				<string>{28,23}</string>
			</dict>
			<key>auto_spin_count_normal_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,631},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,631},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>setting_slider_gradient.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,185},{64,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{238,185},{64,50}}</string>
				<key>sourceSize</key>
				<string>{64,50}</string>
			</dict>
			<key>setting_info_footer_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{3,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{3,305}}</string>
				<key>sourceSize</key>
				<string>{3,305}</string>
			</dict>
			<key>ic_nav_medium_sound_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,111},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{304,111},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_nav_free_game_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,627},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{287,627},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>auto_spin_count_normal_btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,631},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{63,631},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ic_nav_calender.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,1},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{158,1},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_nav_spin_turbo_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,405},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{143,405},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_radio_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,627},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{437,627},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>ic_nav_sound_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,185},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{414,185},{72,72}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>ic_nav_bonus_wallet_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,625},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{237,625},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>ic_nav_setting_external.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,301},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,301},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_nav_to_wallet.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,627},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{337,627},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>menu_close_button_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,553},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{327,553},{72,72}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>navigate_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,553},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{401,553},{72,72}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>ic_wallet_free_game.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,551},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{253,551},{72,72}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>ic_nav_wallet_small.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,627},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{387,627},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>auto_spin_count_select_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,625},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{125,625},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>icon_more_menu_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{363,333},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{363,333},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>chip_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{6,1},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>slider_icon_mark.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,308},{30,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,308},{30,162}}</string>
				<key>sourceSize</key>
				<string>{30,162}</string>
			</dict>
			<key>ic_nav_setting_music.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,111},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{414,111},{72,72}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>setting_switch_border_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,111},{144,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{158,111},{144,72}}</string>
				<key>sourceSize</key>
				<string>{144,72}</string>
			</dict>
			<key>ic_nav_wallet.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,259},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{414,259},{72,72}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>bg_tooltip_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{6,275},{120,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,275},{120,24}}</string>
				<key>sourceSize</key>
				<string>{120,24}</string>
			</dict>
			<key>icon_rule_book.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,515},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{143,515},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>icon_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,331},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{253,331},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>bg_tooltip_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{6,153},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,153},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>ic_nav_lobby.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,1},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{268,1},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_slider.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,521},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,521},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_nav_smartbot.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,295},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{143,295},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_nav_medium_sound_off_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,1},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{378,1},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_nav_medium_sound_on_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,111},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{304,111},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>icon_rule_book_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,515},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{143,515},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_nav_spin_turbo_off_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,411},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,411},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_nav_medium_sound_off_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{378,1},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{378,1},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_nav_return_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,185},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,185},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_nav_medium_sound_on_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,111},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{304,111},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_nav_spin_turbo_on_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,405},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{143,405},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>menu_close_button_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,553},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{327,553},{72,72}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>ic_nav_lobby_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{268,1},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{268,1},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_nav_smartbot_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,295},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{143,295},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>icon_bet_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,331},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{253,331},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>menu_close_button_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,553},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{327,553},{72,72}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>ic_wallet_new_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,153},{28,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,153},{28,23}}</string>
				<key>sourceSize</key>
				<string>{28,23}</string>
			</dict>
			<key>setting_info_footer_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{3,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{3,305}}</string>
				<key>sourceSize</key>
				<string>{3,305}</string>
			</dict>
			<key>ic_nav_free_game_small_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,627},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{287,627},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>ic_nav_bonus_wallet_small_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,625},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{237,625},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>ic_nav_wallet_small_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,627},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{387,627},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>icon_auto_spin_menu_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,221},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{304,221},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_nav_spin_turbo_on_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,405},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{143,405},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>setting_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{480,692}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{480,692}}</string>
				<key>sourceSize</key>
				<string>{487,692}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>setting_menu.png</string>
			<key>size</key>
			<string>{487,692}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>setting_menu.png</string>
		</dict>
	</dict>
</plist>
