<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>totalwin_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{1682,1},{126,76}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1682,1},{126,76}}</string>
				<key>sourceSize</key>
				<string>{142,100}</string>
			</dict>
			<key>info2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,145},{1989,70}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,145},{1989,70}}</string>
				<key>sourceSize</key>
				<string>{2003,100}</string>
			</dict>
			<key>info0.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,1},{1165,70}}</string>
				<key>offset</key>
				<string>{-7,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{515,1},{1165,70}}</string>
				<key>sourceSize</key>
				<string>{1193,100}</string>
			</dict>
			<key>info5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,73},{1189,70}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,73},{1189,70}}</string>
				<key>sourceSize</key>
				<string>{1209,100}</string>
			</dict>
			<key>info1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,217},{1506,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,217},{1506,72}}</string>
				<key>sourceSize</key>
				<string>{1526,100}</string>
			</dict>
			<key>win_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{160,64}}</string>
				<key>offset</key>
				<string>{-2,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{160,64}}</string>
				<key>sourceSize</key>
				<string>{170,100}</string>
			</dict>
			<key>1024ways.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,1},{350,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{163,1},{350,65}}</string>
				<key>sourceSize</key>
				<string>{350,65}</string>
			</dict>
			<key>Info4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,371},{1439,82}}</string>
				<key>offset</key>
				<string>{-10,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,371},{1439,82}}</string>
				<key>sourceSize</key>
				<string>{1463,100}</string>
			</dict>
			<key>info3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,291},{946,78}}</string>
				<key>offset</key>
				<string>{-5,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,291},{946,78}}</string>
				<key>sourceSize</key>
				<string>{960,100}</string>
			</dict>
			<key>info_message.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1987,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{1987,450}}</string>
				<key>sourceSize</key>
				<string>{1991,454}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>info_message.png</string>
			<key>size</key>
			<string>{1991,454}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>info_message.png</string>
		</dict>
	</dict>
</plist>
