<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>info_bns.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,166},{446,56}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{70,166},{446,56}}</string>
				<key>sourceSize</key>
				<string>{454,70}</string>
			</dict>
			<key>info_main1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{781,56}}</string>
				<key>offset</key>
				<string>{-5,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{781,56}}</string>
				<key>sourceSize</key>
				<string>{805,70}</string>
			</dict>
			<key>info_main2.png</key>
			<dict>
				<key>frame</key>
				<string>{{516,166},{325,52}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{516,166},{325,52}}</string>
				<key>sourceSize</key>
				<string>{329,70}</string>
			</dict>
			<key>info_main3.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,56},{770,56}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{70,56},{770,56}}</string>
				<key>sourceSize</key>
				<string>{776,70}</string>
			</dict>
			<key>info_respin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,112},{738,54}}</string>
				<key>offset</key>
				<string>{-5,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{70,112},{738,54}}</string>
				<key>sourceSize</key>
				<string>{754,70}</string>
			</dict>
			<key>info_respin2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,56},{153,70}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{0,56},{153,70}}</string>
				<key>sourceSize</key>
				<string>{175,70}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>infoboard_text.png</string>
			<key>size</key>
			<string>{841,222}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>infoboard_text.png</string>
		</dict>
	</dict>
</plist>
