<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>start_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{162,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{162,47}}</string>
				<key>sourceSize</key>
				<string>{162,47}</string>
			</dict>
			<key>feature_loading.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,103},{681,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,103},{681,172}}</string>
				<key>sourceSize</key>
				<string>{681,172}</string>
			</dict>
			<key>start.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,50},{169,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,50},{169,51}}</string>
				<key>sourceSize</key>
				<string>{169,51}</string>
			</dict>
			<key>free_spin_won.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,786},{696,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,786},{696,207}}</string>
				<key>sourceSize</key>
				<string>{696,207}</string>
			</dict>
			<key>bonus_loading_texture.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{209,1483}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,1483}}</string>
				<key>sourceSize</key>
				<string>{209,1483}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>bonus_loading_texture.png</string>
			<key>size</key>
			<string>{209,1483}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>bonus_loading_texture.png</string>
		</dict>
	</dict>
</plist>
