<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dragon_trail_screen_mode_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,1},{84,166}}</string>
				<key>offset</key>
				<string>{-2,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{195,1},{84,166}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,95},{58,36}}</string>
				<key>offset</key>
				<string>{-12,-42}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{549,95},{58,36}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,251},{60,166}}</string>
				<key>offset</key>
				<string>{-1,23}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{381,251},{60,166}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,155},{50,26}}</string>
				<key>offset</key>
				<string>{-12,-47}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{549,155},{50,26}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,337},{88,166}}</string>
				<key>offset</key>
				<string>{-1,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{193,337},{88,166}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,169},{84,166}}</string>
				<key>offset</key>
				<string>{-2,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{195,169},{84,166}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,169},{94,166}}</string>
				<key>offset</key>
				<string>{-3,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{99,169},{94,166}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,175},{74,166}}</string>
				<key>offset</key>
				<string>{-4,23}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{381,175},{74,166}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{98,166}}</string>
				<key>offset</key>
				<string>{-2,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{98,166}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,337},{92,166}}</string>
				<key>offset</key>
				<string>{-3,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{99,337},{92,166}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,313},{66,166}}</string>
				<key>offset</key>
				<string>{-4,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{443,313},{66,166}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,337},{96,166}}</string>
				<key>offset</key>
				<string>{-3,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,337},{96,166}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,1},{92,166}}</string>
				<key>offset</key>
				<string>{-2,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{101,1},{92,166}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,169},{96,166}}</string>
				<key>offset</key>
				<string>{-3,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,169},{96,166}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,175},{98,138}}</string>
				<key>offset</key>
				<string>{-3,9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{281,175},{98,138}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,91},{82,166}}</string>
				<key>offset</key>
				<string>{-2,23}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{283,91},{82,166}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,315},{76,166}}</string>
				<key>offset</key>
				<string>{-4,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{365,315},{76,166}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,315},{80,166}}</string>
				<key>offset</key>
				<string>{-3,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{283,315},{80,166}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,313},{60,166}}</string>
				<key>offset</key>
				<string>{0,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{511,313},{60,166}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,1},{92,110}}</string>
				<key>offset</key>
				<string>{-5,-5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{451,1},{92,110}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,95},{76,82}}</string>
				<key>offset</key>
				<string>{-5,-19}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{451,95},{76,82}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,1},{88,166}}</string>
				<key>offset</key>
				<string>{-2,23}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{283,1},{88,166}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_17_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,1},{84,166}}</string>
				<key>offset</key>
				<string>{-2,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{195,1},{84,166}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_05_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,95},{58,36}}</string>
				<key>offset</key>
				<string>{-12,-42}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{549,95},{58,36}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_24_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,251},{60,166}}</string>
				<key>offset</key>
				<string>{-1,23}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{381,251},{60,166}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_04_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,155},{50,26}}</string>
				<key>offset</key>
				<string>{-12,-47}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{549,155},{50,26}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_15_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,337},{88,166}}</string>
				<key>offset</key>
				<string>{-1,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{193,337},{88,166}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_18_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,169},{84,166}}</string>
				<key>offset</key>
				<string>{-2,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{195,169},{84,166}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_12_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,169},{94,166}}</string>
				<key>offset</key>
				<string>{-3,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{99,169},{94,166}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_22_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,175},{74,166}}</string>
				<key>offset</key>
				<string>{-4,23}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{381,175},{74,166}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_09_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{98,166}}</string>
				<key>offset</key>
				<string>{-2,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{98,166}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_14_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,337},{92,166}}</string>
				<key>offset</key>
				<string>{-3,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{99,337},{92,166}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_23_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,313},{66,166}}</string>
				<key>offset</key>
				<string>{-4,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{443,313},{66,166}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_11_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,337},{96,166}}</string>
				<key>offset</key>
				<string>{-3,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,337},{96,166}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_13_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,1},{92,166}}</string>
				<key>offset</key>
				<string>{-2,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{101,1},{92,166}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_10_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,169},{96,166}}</string>
				<key>offset</key>
				<string>{-3,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,169},{96,166}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_08_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,175},{98,138}}</string>
				<key>offset</key>
				<string>{-3,9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{281,175},{98,138}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_19_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,91},{82,166}}</string>
				<key>offset</key>
				<string>{-2,23}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{283,91},{82,166}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_21_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,315},{76,166}}</string>
				<key>offset</key>
				<string>{-4,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{365,315},{76,166}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_20_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,315},{80,166}}</string>
				<key>offset</key>
				<string>{-3,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{283,315},{80,166}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_25_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,313},{60,166}}</string>
				<key>offset</key>
				<string>{0,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{511,313},{60,166}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_07_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,1},{92,110}}</string>
				<key>offset</key>
				<string>{-5,-5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{451,1},{92,110}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_06_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,95},{76,82}}</string>
				<key>offset</key>
				<string>{-5,-19}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{451,95},{76,82}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode_16_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,1},{88,166}}</string>
				<key>offset</key>
				<string>{-2,23}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{283,1},{88,166}}</string>
				<key>sourceSize</key>
				<string>{140,304}</string>
			</dict>
			<key>dragon_trail_screen_mode.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{586,504}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{586,504}}</string>
				<key>sourceSize</key>
				<string>{586,504}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>dragon_trail_screen_mode.jpg</string>
			<key>size</key>
			<string>{586,504}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>dragon_trail_screen_mode.jpg</string>
		</dict>
	</dict>
</plist>
