<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dragon_particle_screen_mode_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{136,381}}</string>
				<key>offset</key>
				<string>{0,13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{136,381}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,1},{134,379}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{798,1},{134,379}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,277},{88,225}}</string>
				<key>offset</key>
				<string>{-9,-50}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{139,277},{88,225}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,1},{136,355}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{660,1},{136,355}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,654},{120,343}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{900,654},{120,343}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,522},{116,335}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{263,522},{116,335}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,277},{136,381}}</string>
				<key>offset</key>
				<string>{0,13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{384,277},{136,381}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,1},{136,379}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{522,1},{136,379}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,859},{20,57}}</string>
				<key>offset</key>
				<string>{-2,-107}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{263,859},{20,57}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,518},{134,379}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{522,518},{134,379}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,522},{136,381}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,522},{136,381}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,905},{114,331}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,905},{114,331}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,798},{136,379}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{381,798},{136,379}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,139},{136,381}}</string>
				<key>offset</key>
				<string>{-1,13}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{139,139},{136,381}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,660},{136,379}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{381,660},{136,379}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,529},{54,121}}</string>
				<key>offset</key>
				<string>{-18,-99}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{903,529},{54,121}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,382},{64,145}}</string>
				<key>offset</key>
				<string>{-15,-89}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{903,382},{64,145}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,522},{122,381}}</string>
				<key>offset</key>
				<string>{0,13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{139,522},{122,381}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,382},{134,379}}</string>
				<key>offset</key>
				<string>{0,11}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{522,382},{134,379}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,654},{136,355}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{762,654},{136,355}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,384},{136,381}}</string>
				<key>offset</key>
				<string>{0,13}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,384},{136,381}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,1},{136,381}}</string>
				<key>offset</key>
				<string>{0,13}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{139,1},{136,381}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode-1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1021,1020}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1021,1020}}</string>
				<key>sourceSize</key>
				<string>{1021,1020}</string>
			</dict>
			<key>dragon_particle_screen_mode_31_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{136,381}}</string>
				<key>offset</key>
				<string>{0,13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{136,381}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_28_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,1},{134,379}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{798,1},{134,379}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_07_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,277},{88,225}}</string>
				<key>offset</key>
				<string>{-9,-50}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{139,277},{88,225}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_41_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,1},{136,355}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{660,1},{136,355}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_16_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{900,654},{120,343}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{900,654},{120,343}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_14_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,522},{116,335}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{263,522},{116,335}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_36_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,277},{136,381}}</string>
				<key>offset</key>
				<string>{0,13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{384,277},{136,381}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_34_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,1},{136,379}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{522,1},{136,379}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_27_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,518},{134,379}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{522,518},{134,379}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_37_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,522},{136,381}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,522},{136,381}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_13_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,905},{114,331}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,905},{114,331}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_30_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,798},{136,379}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{381,798},{136,379}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_35_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,139},{136,381}}</string>
				<key>offset</key>
				<string>{-1,13}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{139,139},{136,381}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_29_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,660},{136,379}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{381,660},{136,379}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_05_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,529},{54,121}}</string>
				<key>offset</key>
				<string>{-18,-99}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{903,529},{54,121}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_06_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,382},{64,145}}</string>
				<key>offset</key>
				<string>{-15,-89}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{903,382},{64,145}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_38_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,522},{122,381}}</string>
				<key>offset</key>
				<string>{0,13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{139,522},{122,381}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_26_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,382},{134,379}}</string>
				<key>offset</key>
				<string>{0,11}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{522,382},{134,379}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_39_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{762,654},{136,355}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{762,654},{136,355}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_32_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,384},{136,381}}</string>
				<key>offset</key>
				<string>{0,13}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,384},{136,381}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_33_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,1},{136,381}}</string>
				<key>offset</key>
				<string>{0,13}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{139,1},{136,381}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>dragon_particle_screen_mode-1.jpg</string>
			<key>size</key>
			<string>{1021,1020}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>dragon_particle_screen_mode-1.jpg</string>
		</dict>
	</dict>
</plist>
