<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dragon_normal_mode_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,1},{82,327}}</string>
				<key>offset</key>
				<string>{-3,43}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{865,1},{82,327}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,1},{118,327}}</string>
				<key>offset</key>
				<string>{0,43}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{417,1},{118,327}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,518},{78,59}}</string>
				<key>offset</key>
				<string>{-21,-91}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{891,518},{78,59}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,553},{100,327}}</string>
				<key>offset</key>
				<string>{7,43}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{467,553},{100,327}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,444},{72,327}}</string>
				<key>offset</key>
				<string>{-5,43}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{629,444},{72,327}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,597},{54,39}}</string>
				<key>offset</key>
				<string>{-22,-101}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{259,597},{54,39}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,330},{62,221}}</string>
				<key>offset</key>
				<string>{-11,95}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{431,330},{62,221}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,1},{128,327}}</string>
				<key>offset</key>
				<string>{4,43}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{287,1},{128,327}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,330},{130,257}}</string>
				<key>offset</key>
				<string>{9,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{299,330},{130,257}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,1},{118,327}}</string>
				<key>offset</key>
				<string>{-11,43}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{537,1},{118,327}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,330},{138,311}}</string>
				<key>offset</key>
				<string>{5,35}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{89,330},{138,311}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,330},{132,203}}</string>
				<key>offset</key>
				<string>{-2,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{495,330},{132,203}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,1},{138,327}}</string>
				<key>offset</key>
				<string>{-5,42}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{147,1},{138,327}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,330},{86,323}}</string>
				<key>offset</key>
				<string>{1,45}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,330},{86,323}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,518},{96,93}}</string>
				<key>offset</key>
				<string>{-21,-74}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{796,518},{96,93}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,330},{112,327}}</string>
				<key>offset</key>
				<string>{9,43}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{629,330},{112,327}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,597},{28,55}}</string>
				<key>offset</key>
				<string>{10,178}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{229,597},{28,55}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,1},{106,327}}</string>
				<key>offset</key>
				<string>{1,43}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{657,1},{106,327}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,330},{68,265}}</string>
				<key>offset</key>
				<string>{1,73}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{229,330},{68,265}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,1},{98,327}}</string>
				<key>offset</key>
				<string>{-10,43}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{765,1},{98,327}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{144,327}}</string>
				<key>offset</key>
				<string>{-1,43}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{144,327}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,589},{64,165}}</string>
				<key>offset</key>
				<string>{-8,123}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{300,589},{64,165}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_20_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,1},{82,327}}</string>
				<key>offset</key>
				<string>{-3,43}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{865,1},{82,327}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_12_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,1},{118,327}}</string>
				<key>offset</key>
				<string>{0,43}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{417,1},{118,327}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_05_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,518},{78,59}}</string>
				<key>offset</key>
				<string>{-21,-91}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{891,518},{78,59}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_15_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,553},{100,327}}</string>
				<key>offset</key>
				<string>{7,43}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{467,553},{100,327}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_19_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,444},{72,327}}</string>
				<key>offset</key>
				<string>{-5,43}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{629,444},{72,327}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_04_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,597},{54,39}}</string>
				<key>offset</key>
				<string>{-22,-101}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{259,597},{54,39}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_23_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,330},{62,221}}</string>
				<key>offset</key>
				<string>{-11,95}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{431,330},{62,221}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_11_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,1},{128,327}}</string>
				<key>offset</key>
				<string>{4,43}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{287,1},{128,327}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_08_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,330},{130,257}}</string>
				<key>offset</key>
				<string>{9,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{299,330},{130,257}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_17_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,1},{118,327}}</string>
				<key>offset</key>
				<string>{-11,43}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{537,1},{118,327}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_09_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,330},{138,311}}</string>
				<key>offset</key>
				<string>{5,35}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{89,330},{138,311}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_07_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,330},{132,203}}</string>
				<key>offset</key>
				<string>{-2,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{495,330},{132,203}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_13_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,1},{138,327}}</string>
				<key>offset</key>
				<string>{-5,42}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{147,1},{138,327}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_21_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,330},{86,323}}</string>
				<key>offset</key>
				<string>{1,45}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,330},{86,323}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_06_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{796,518},{96,93}}</string>
				<key>offset</key>
				<string>{-21,-74}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{796,518},{96,93}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_14_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,330},{112,327}}</string>
				<key>offset</key>
				<string>{9,43}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{629,330},{112,327}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_25_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,597},{28,55}}</string>
				<key>offset</key>
				<string>{10,178}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{229,597},{28,55}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_16_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,1},{106,327}}</string>
				<key>offset</key>
				<string>{1,43}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{657,1},{106,327}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_22_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,330},{68,265}}</string>
				<key>offset</key>
				<string>{1,73}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{229,330},{68,265}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_18_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,1},{98,327}}</string>
				<key>offset</key>
				<string>{-10,43}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{765,1},{98,327}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_10_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{144,327}}</string>
				<key>offset</key>
				<string>{-1,43}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{144,327}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode_24_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,589},{64,165}}</string>
				<key>offset</key>
				<string>{-8,123}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{300,589},{64,165}}</string>
				<key>sourceSize</key>
				<string>{270,585}</string>
			</dict>
			<key>dragon_normal_mode.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,2},{951,650}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,2},{951,650}}</string>
				<key>sourceSize</key>
				<string>{957,654}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>dragon_normal_mode.png</string>
			<key>size</key>
			<string>{957,654}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>dragon_normal_mode.png</string>
		</dict>
	</dict>
</plist>
