<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dragon_particle_screen_mode_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,445},{120,337}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{635,445},{120,337}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,368},{124,357}}</string>
				<key>offset</key>
				<string>{2,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{387,368},{124,357}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,378},{126,371}}</string>
				<key>offset</key>
				<string>{2,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{131,378},{126,371}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,235},{106,323}}</string>
				<key>offset</key>
				<string>{-3,-4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{637,235},{106,323}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,123},{110,327}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{637,123},{110,327}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,1},{124,365}}</string>
				<key>offset</key>
				<string>{2,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{385,1},{124,365}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,378},{128,375}}</string>
				<key>offset</key>
				<string>{3,11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,378},{128,375}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,667},{98,293}}</string>
				<key>offset</key>
				<string>{-6,-17}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{635,667},{98,293}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,343},{100,321}}</string>
				<key>offset</key>
				<string>{-4,-4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{637,343},{100,321}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{128,375}}</string>
				<key>offset</key>
				<string>{3,11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{128,375}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,1},{120,331}}</string>
				<key>offset</key>
				<string>{0,11}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{637,1},{120,331}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,374},{126,371}}</string>
				<key>offset</key>
				<string>{3,10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{259,374},{126,371}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,1},{124,349}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{511,1},{124,349}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1},{124,375}}</string>
				<key>offset</key>
				<string>{4,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{131,1},{124,375}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,352},{120,339}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{513,352},{120,339}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,1},{126,371}}</string>
				<key>offset</key>
				<string>{3,10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{257,1},{126,371}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,567},{98,311}}</string>
				<key>offset</key>
				<string>{-5,-9}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{635,567},{98,311}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_15_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,445},{120,337}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{635,445},{120,337}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_18_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,368},{124,357}}</string>
				<key>offset</key>
				<string>{2,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{387,368},{124,357}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_20_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,378},{126,371}}</string>
				<key>offset</key>
				<string>{2,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{131,378},{126,371}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_11_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,235},{106,323}}</string>
				<key>offset</key>
				<string>{-3,-4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{637,235},{106,323}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_12_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,123},{110,327}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{637,123},{110,327}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_19_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,1},{124,365}}</string>
				<key>offset</key>
				<string>{2,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{385,1},{124,365}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_25_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,378},{128,375}}</string>
				<key>offset</key>
				<string>{3,11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,378},{128,375}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_08_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,667},{98,293}}</string>
				<key>offset</key>
				<string>{-6,-17}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{635,667},{98,293}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_10_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,343},{100,321}}</string>
				<key>offset</key>
				<string>{-4,-4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{637,343},{100,321}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_24_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{128,375}}</string>
				<key>offset</key>
				<string>{3,11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{128,375}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_42_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,1},{120,331}}</string>
				<key>offset</key>
				<string>{0,11}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{637,1},{120,331}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_23_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,374},{126,371}}</string>
				<key>offset</key>
				<string>{3,10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{259,374},{126,371}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_17_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,1},{124,349}}</string>
				<key>offset</key>
				<string>{1,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{511,1},{124,349}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_21_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1},{124,375}}</string>
				<key>offset</key>
				<string>{4,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{131,1},{124,375}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_40_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,352},{120,339}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{513,352},{120,339}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_22_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,1},{126,371}}</string>
				<key>offset</key>
				<string>{3,10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{257,1},{126,371}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode_09_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,567},{98,311}}</string>
				<key>offset</key>
				<string>{-5,-9}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{635,567},{98,311}}</string>
				<key>sourceSize</key>
				<string>{194,421}</string>
			</dict>
			<key>dragon_particle_screen_mode-2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{973,766}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{973,766}}</string>
				<key>sourceSize</key>
				<string>{973,766}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>dragon_particle_screen_mode-2.jpg</string>
			<key>size</key>
			<string>{973,766}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>dragon_particle_screen_mode-2.jpg</string>
		</dict>
	</dict>
</plist>
