<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{436,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,21}}</string>
                <key>sourceSize</key>
                <string>{436,21}</string>
            </dict>
            <key>002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{436,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,21}}</string>
                <key>sourceSize</key>
                <string>{436,21}</string>
            </dict>
            <key>003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{436,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,21}}</string>
                <key>sourceSize</key>
                <string>{436,21}</string>
            </dict>
            <key>004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,117},{436,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,21}}</string>
                <key>sourceSize</key>
                <string>{436,21}</string>
            </dict>
            <key>005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{436,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,21}}</string>
                <key>sourceSize</key>
                <string>{436,21}</string>
            </dict>
            <key>006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,71},{436,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,21}}</string>
                <key>sourceSize</key>
                <string>{436,21}</string>
            </dict>
            <key>007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{436,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,21}}</string>
                <key>sourceSize</key>
                <string>{436,21}</string>
            </dict>
            <key>008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,25},{436,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,21}}</string>
                <key>sourceSize</key>
                <string>{436,21}</string>
            </dict>
            <key>009.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{436,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,21}}</string>
                <key>sourceSize</key>
                <string>{436,21}</string>
            </dict>
            <key>010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{436,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,21}}</string>
                <key>sourceSize</key>
                <string>{436,21}</string>
            </dict>
            <key>1_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{328,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,76}}</string>
                <key>sourceSize</key>
                <string>{328,76}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f48ec59298cf79f262e3df90b2b0a37$</string>
            <key>textureFileName</key>
            <string>loading.png</string>
        </dict>
    </dict>
</plist>
