<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{669,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{669,181}}</string>
				<key>sourceSize</key>
				<string>{669,181}</string>
			</dict>
			<key>smw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,368},{683,278}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,368},{683,278}}</string>
				<key>sourceSize</key>
				<string>{683,278}</string>
			</dict>
			<key>mw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,184},{684,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,184},{684,182}}</string>
				<key>sourceSize</key>
				<string>{684,182}</string>
			</dict>
			<key>big_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{686,647}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{686,647}}</string>
				<key>sourceSize</key>
				<string>{686,647}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>big_win.png</string>
			<key>size</key>
			<string>{686,647}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>big_win.png</string>
		</dict>
	</dict>
</plist>
