<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>info_bns.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,104},{396,52}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,104},{396,52}}</string>
				<key>sourceSize</key>
				<string>{406,70}</string>
			</dict>
			<key>info_main1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,52},{596,52}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,52},{596,52}}</string>
				<key>sourceSize</key>
				<string>{606,70}</string>
			</dict>
			<key>info_main2.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,122},{278,44}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{592,122},{278,44}}</string>
				<key>sourceSize</key>
				<string>{280,70}</string>
			</dict>
			<key>info_main3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{776,52}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{776,52}}</string>
				<key>sourceSize</key>
				<string>{784,70}</string>
			</dict>
			<key>info_respin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{396,104},{196,52}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{396,104},{196,52}}</string>
				<key>sourceSize</key>
				<string>{210,70}</string>
			</dict>
			<key>info_respin2.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,52},{306,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{596,52},{306,70}}</string>
				<key>sourceSize</key>
				<string>{308,70}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>infoboard_text.png</string>
			<key>size</key>
			<string>{902,166}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>infoboard_text.png</string>
		</dict>
	</dict>
</plist>
