<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>rfs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,169},{423,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,169},{423,138}}</string>
				<key>sourceSize</key>
				<string>{423,138}</string>
			</dict>
			<key>lfs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{429,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{429,166}}</string>
				<key>sourceSize</key>
				<string>{429,166}</string>
			</dict>
			<key>remaining_free_spin_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{431,308}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{431,308}}</string>
				<key>sourceSize</key>
				<string>{431,308}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>remaining_free_spin_text.png</string>
			<key>size</key>
			<string>{431,308}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>remaining_free_spin_text.png</string>
		</dict>
	</dict>
</plist>
