<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>free_spins_won.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,1},{702,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{181,1},{702,223}}</string>
				<key>sourceSize</key>
				<string>{702,223}</string>
			</dict>
			<key>info_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,1},{1361,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{52,1},{1361,49}}</string>
				<key>sourceSize</key>
				<string>{1361,49}</string>
			</dict>
			<key>info_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1361,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{1361,49}}</string>
				<key>sourceSize</key>
				<string>{1361,49}</string>
			</dict>
			<key>info_total_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,1813},{164,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{483,1813},{164,57}}</string>
				<key>sourceSize</key>
				<string>{164,57}</string>
			</dict>
			<key>5ofakind.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,635},{692,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{181,635},{692,115}}</string>
				<key>sourceSize</key>
				<string>{692,115}</string>
			</dict>
			<key>logo_on_temple.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1434},{445,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1434},{445,295}}</string>
				<key>sourceSize</key>
				<string>{445,295}</string>
			</dict>
			<key>collect.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,1813},{183,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{298,1813},{183,51}}</string>
				<key>sourceSize</key>
				<string>{183,51}</string>
			</dict>
			<key>info_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,1278},{698,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{103,1278},{698,76}}</string>
				<key>sourceSize</key>
				<string>{698,76}</string>
			</dict>
			<key>bonus_loading_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,1023},{611,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{181,1023},{611,175}}</string>
				<key>sourceSize</key>
				<string>{611,175}</string>
			</dict>
			<key>free_spins_remaining.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,752},{468,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{801,752},{468,102}}</string>
				<key>sourceSize</key>
				<string>{468,102}</string>
			</dict>
			<key>bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,1434},{518,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{298,1434},{518,251}}</string>
				<key>sourceSize</key>
				<string>{518,251}</string>
			</dict>
			<key>last_free_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,1687},{578,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{298,1687},{578,124}}</string>
				<key>sourceSize</key>
				<string>{578,124}</string>
			</dict>
			<key>smw.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,226},{654,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{181,226},{654,259}}</string>
				<key>sourceSize</key>
				<string>{654,259}</string>
			</dict>
			<key>win.png</key>
			<dict>
				<key>frame</key>
				<string>{{837,226},{196,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{837,226},{196,32}}</string>
				<key>sourceSize</key>
				<string>{196,32}</string>
			</dict>
			<key>mw.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,752},{518,269}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{181,752},{518,269}}</string>
				<key>sourceSize</key>
				<string>{518,269}</string>
			</dict>
			<key>info_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,1},{1101,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{103,1},{1101,76}}</string>
				<key>sourceSize</key>
				<string>{1101,76}</string>
			</dict>
			<key>start.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,752},{174,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{701,752},{174,53}}</string>
				<key>sourceSize</key>
				<string>{174,53}</string>
			</dict>
			<key>total_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,487},{687,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{181,487},{687,146}}</string>
				<key>sourceSize</key>
				<string>{687,146}</string>
			</dict>
			<key>info_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,1356},{676,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{103,1356},{676,76}}</string>
				<key>sourceSize</key>
				<string>{676,76}</string>
			</dict>
			<key>info_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,1200},{696,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{103,1200},{696,76}}</string>
				<key>sourceSize</key>
				<string>{696,76}</string>
			</dict>
			<key>general_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1},{904,1876}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{904,1876}}</string>
				<key>sourceSize</key>
				<string>{904,1880}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>general_text.png</string>
			<key>size</key>
			<string>{904,1880}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>general_text.png</string>
		</dict>
	</dict>
</plist>
