<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>collect.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,174},{231,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,174},{231,61}}</string>
				<key>sourceSize</key>
				<string>{231,61}</string>
			</dict>
			<key>total_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{584,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{584,171}}</string>
				<key>sourceSize</key>
				<string>{584,171}</string>
			</dict>
			<key>collect_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,174},{224,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{234,174},{224,56}}</string>
				<key>sourceSize</key>
				<string>{224,56}</string>
			</dict>
			<key>total_win_texture.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{584,233}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{584,233}}</string>
				<key>sourceSize</key>
				<string>{586,236}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>total_win_texture.png</string>
			<key>size</key>
			<string>{586,236}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>total_win_texture.png</string>
		</dict>
	</dict>
</plist>
