<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>start.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,1},{187,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{567,1},{187,77}}</string>
				<key>sourceSize</key>
				<string>{187,77}</string>
			</dict>
			<key>feature_loading.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{564,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{564,195}}</string>
				<key>sourceSize</key>
				<string>{564,195}</string>
			</dict>
			<key>free_spin_won.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,1},{712,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{646,1},{712,181}}</string>
				<key>sourceSize</key>
				<string>{712,181}</string>
			</dict>
			<key>start_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{1360,1},{181,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1360,1},{181,73}}</string>
				<key>sourceSize</key>
				<string>{181,73}</string>
			</dict>
			<key>bonus_loading_texture.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,0},{1432,195}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{1432,195}}</string>
				<key>sourceSize</key>
				<string>{1434,197}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>bonus_loading_texture.png</string>
			<key>size</key>
			<string>{1434,197}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>bonus_loading_texture.png</string>
		</dict>
	</dict>
</plist>
