<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>WhiteWinShine_FX_V2_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,623},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{369,623},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
			<key>WhiteWinShine_FX_V2_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,439},{182,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{737,439},{182,180}}</string>
				<key>sourceSize</key>
				<string>{182,180}</string>
			</dict>
			<key>WhiteWinShine_FX_V2_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,623},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{185,623},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
			<key>frameAnim_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,1},{137,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{140,1},{137,125}}</string>
				<key>sourceSize</key>
				<string>{137,125}</string>
			</dict>
			<key>frameAnim_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,1},{137,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{835,1},{137,125}}</string>
				<key>sourceSize</key>
				<string>{137,125}</string>
			</dict>
			<key>WhiteWinShine_FX_V2_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,439},{182,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{553,439},{182,178}}</string>
				<key>sourceSize</key>
				<string>{182,178}</string>
			</dict>
			<key>WhiteWinShine_FX_V2_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,623},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{553,623},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
			<key>frameAnim_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,128},{137,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{140,128},{137,125}}</string>
				<key>sourceSize</key>
				<string>{137,125}</string>
			</dict>
			<key>WhiteWinShine_FX_V2_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,623},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,623},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
			<key>WhiteWinShine_FX_V2_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,807},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{185,807},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
			<key>WhiteWinShine_FX_V2_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,623},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{737,623},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
			<key>WhiteWinShine_FX_V2_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,255},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{185,255},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
			<key>frameAnim_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,128},{137,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{279,128},{137,125}}</string>
				<key>sourceSize</key>
				<string>{137,125}</string>
			</dict>
			<key>WhiteWinShine_FX_V2_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,807},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,807},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
			<key>WhiteWinShine_FX_V2_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,255},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{369,255},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
			<key>WhiteWinShine_FX_V2_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,807},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{737,807},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
			<key>WhiteWinShine_FX_V2_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,255},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,255},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
			<key>frameAnim_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,128},{137,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{418,128},{137,125}}</string>
				<key>sourceSize</key>
				<string>{137,125}</string>
			</dict>
			<key>frameAnim_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,1},{137,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{418,1},{137,125}}</string>
				<key>sourceSize</key>
				<string>{137,125}</string>
			</dict>
			<key>WhiteWinShine_FX_V2_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,439},{182,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{369,439},{182,178}}</string>
				<key>sourceSize</key>
				<string>{182,178}</string>
			</dict>
			<key>WhiteWinShine_FX_V2_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,807},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{553,807},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
			<key>frameAnim_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{137,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{137,125}}</string>
				<key>sourceSize</key>
				<string>{137,125}</string>
			</dict>
			<key>WhiteWinShine_FX_V2_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,439},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,439},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
			<key>frameAnim_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,128},{137,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,128},{137,125}}</string>
				<key>sourceSize</key>
				<string>{137,125}</string>
			</dict>
			<key>frameAnim_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,1},{137,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{696,1},{137,125}}</string>
				<key>sourceSize</key>
				<string>{137,125}</string>
			</dict>
			<key>WhiteWinShine_FX_V2_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,439},{182,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{185,439},{182,178}}</string>
				<key>sourceSize</key>
				<string>{182,178}</string>
			</dict>
			<key>WhiteWinShine_FX_V2_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,255},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{737,255},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
			<key>frameAnim_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,1},{137,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{279,1},{137,125}}</string>
				<key>sourceSize</key>
				<string>{137,125}</string>
			</dict>
			<key>frameAnim_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,128},{137,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{835,128},{137,124}}</string>
				<key>sourceSize</key>
				<string>{137,124}</string>
			</dict>
			<key>frameAnim_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,128},{137,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{696,128},{137,125}}</string>
				<key>sourceSize</key>
				<string>{137,125}</string>
			</dict>
			<key>WhiteWinShine_FX_V2_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,255},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{553,255},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
			<key>frameAnim_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,128},{137,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{557,128},{137,125}}</string>
				<key>sourceSize</key>
				<string>{137,125}</string>
			</dict>
			<key>frameAnim_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,1},{137,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{557,1},{137,125}}</string>
				<key>sourceSize</key>
				<string>{137,125}</string>
			</dict>
			<key>WhiteWinShine_FX_V2_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,807},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{369,807},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>WhiteWinShine0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>WhiteWinShine0.png</string>
		</dict>
	</dict>
</plist>
