<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>WinShine_FX_V2_020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,185},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,185},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
			<key>WinShine_FX_V2_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
			<key>WinShine_FX_V2_028.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,369},{182,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{553,369},{182,178}}</string>
				<key>sourceSize</key>
				<string>{182,178}</string>
			</dict>
			<key>WinShine_FX_V2_017.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,1},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{369,1},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
			<key>WinShine_FX_V2_026.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,369},{182,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{185,369},{182,176}}</string>
				<key>sourceSize</key>
				<string>{182,176}</string>
			</dict>
			<key>WinShine_FX_V2_025.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,369},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,369},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
			<key>WinShine_FX_V2_023.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,185},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{553,185},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
			<key>WinShine_FX_V2_022.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,185},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{369,185},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
			<key>WinShine_FX_V2_018.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,1},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{553,1},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
			<key>WinShine_FX_V2_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,1},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{185,1},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
			<key>WinShine_FX_V2_024.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,185},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{737,185},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
			<key>WinShine_FX_V2_021.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,185},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{185,185},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
			<key>WinShine_FX_V2_027.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,369},{182,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{369,369},{182,180}}</string>
				<key>sourceSize</key>
				<string>{182,180}</string>
			</dict>
			<key>WinShine_FX_V2_029.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,369},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{737,369},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
			<key>WinShine_FX_V2_019.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,1},{182,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{737,1},{182,182}}</string>
				<key>sourceSize</key>
				<string>{182,182}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>WhiteWinShine2.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>WhiteWinShine2.png</string>
		</dict>
	</dict>
</plist>
