<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>info_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1423,55}}</string>
				<key>offset</key>
				<string>{-6,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{1423,55}}</string>
				<key>sourceSize</key>
				<string>{1435,77}</string>
			</dict>
			<key>info_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,190},{773,71}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{793,190},{773,71}}</string>
				<key>sourceSize</key>
				<string>{777,77}</string>
			</dict>
			<key>info_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,58},{1251,57}}</string>
				<key>offset</key>
				<string>{-2,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,58},{1251,57}}</string>
				<key>sourceSize</key>
				<string>{1255,77}</string>
			</dict>
			<key>info_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1254,58},{705,57}}</string>
				<key>offset</key>
				<string>{-2,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1254,58},{705,57}}</string>
				<key>sourceSize</key>
				<string>{709,77}</string>
			</dict>
			<key>info_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1054,117},{800,71}}</string>
				<key>offset</key>
				<string>{-7,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1054,117},{800,71}}</string>
				<key>sourceSize</key>
				<string>{814,77}</string>
			</dict>
			<key>info_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,117},{1051,57}}</string>
				<key>offset</key>
				<string>{-2,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,117},{1051,57}}</string>
				<key>sourceSize</key>
				<string>{1055,77}</string>
			</dict>
			<key>info_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,176},{790,71}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,176},{790,71}}</string>
				<key>sourceSize</key>
				<string>{792,77}</string>
			</dict>
			<key>info_board_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,3},{1956,257}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{1956,257}}</string>
				<key>sourceSize</key>
				<string>{1960,262}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>info_board_text.png</string>
			<key>size</key>
			<string>{1960,262}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>info_board_text.png</string>
		</dict>
	</dict>
</plist>
