<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>total_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{330,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{330,88}}</string>
				<key>sourceSize</key>
				<string>{340,96}</string>
			</dict>
			<key>win.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,1},{166,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{333,1},{166,37}}</string>
				<key>sourceSize</key>
				<string>{170,49}</string>
			</dict>
			<key>infoboard_win_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{495,85}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{495,85}}</string>
				<key>sourceSize</key>
				<string>{500,90}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>infoboard_win_text.png</string>
			<key>size</key>
			<string>{500,90}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>infoboard_win_text.png</string>
		</dict>
	</dict>
</plist>
