<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>smw_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,322},{714,255}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,322},{714,255}}</string>
				<key>sourceSize</key>
				<string>{714,255}</string>
			</dict>
			<key>bw_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{657,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{657,158}}</string>
				<key>sourceSize</key>
				<string>{657,158}</string>
			</dict>
			<key>mw_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,161},{706,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,161},{706,159}}</string>
				<key>sourceSize</key>
				<string>{706,159}</string>
			</dict>
			<key>big_win_texture.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{716,578}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{716,578}}</string>
				<key>sourceSize</key>
				<string>{716,578}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>big_win_texture.png</string>
			<key>size</key>
			<string>{716,578}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>big_win_texture.png</string>
		</dict>
	</dict>
</plist>
