<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>start.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,138},{183,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{735,138},{183,64}}</string>
				<key>sourceSize</key>
				<string>{183,64}</string>
			</dict>
			<key>freespin_won.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{732,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{732,206}}</string>
				<key>sourceSize</key>
				<string>{732,206}</string>
			</dict>
			<key>start_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{920,138},{180,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{920,138},{180,59}}</string>
				<key>sourceSize</key>
				<string>{180,59}</string>
			</dict>
			<key>freature_loading.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,1},{465,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{735,1},{465,135}}</string>
				<key>sourceSize</key>
				<string>{465,135}</string>
			</dict>
			<key>bonus_loading.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1199,208}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1199,208}}</string>
				<key>sourceSize</key>
				<string>{1201,208}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>bonus_loading.png</string>
			<key>size</key>
			<string>{1201,208}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>bonus_loading.png</string>
		</dict>
	</dict>
</plist>
