<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>collect_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,81},{371,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{548,81},{371,78}}</string>
				<key>sourceSize</key>
				<string>{371,78}</string>
			</dict>
			<key>collect.png</key>
			<dict>
				<key>frame</key>
				<string>{{548,1},{371,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{548,1},{371,78}}</string>
				<key>sourceSize</key>
				<string>{371,78}</string>
			</dict>
			<key>tw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{545,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{545,143}}</string>
				<key>sourceSize</key>
				<string>{545,143}</string>
			</dict>
			<key>fs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,146},{342,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,146},{342,53}}</string>
				<key>sourceSize</key>
				<string>{342,53}</string>
			</dict>
			<key>total_win_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{920,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{920,200}}</string>
				<key>sourceSize</key>
				<string>{920,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>total_win_text.png</string>
			<key>size</key>
			<string>{920,200}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>total_win_text.png</string>
		</dict>
	</dict>
</plist>
