<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1_01.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{989,1785},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_02.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{928,1586},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_03.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{798,1257},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_04.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{798,928},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_05.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{798,599},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_06.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{660,1785},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_07.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{599,1586},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_08.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{599,1257},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_09.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{599,928},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_10.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{599,599},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_11.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1647,400},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_12.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1318,400},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_13.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{989,400},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_14.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{660,400},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_15.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{400,1517},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_16.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{400,1188},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_17.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{400,859},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_18.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{400,530},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_19.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1647,201},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_20.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1318,201},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_21.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{989,201},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_22.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{400,201},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_23.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{660,201},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_24.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{331,1846},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_25.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{201,1517},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_26.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{201,1188},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_27.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{201,859},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_28.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{201,530},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_29.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{201,201},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_30.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1846},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_31.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1517},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_32.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,1188},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_33.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,859},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_34.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_35.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_36.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1647,2},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_37.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1318,2},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_38.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{989,2},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_39.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_40.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{331,2},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
            <key>1_41.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{327,197}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{327,197}}</string>
                <key>sourceSize</key>
                <string>{327,197}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loading1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b12b780b65e7662347f7622ebc7b2ac3$</string>
            <key>textureFileName</key>
            <string>loading1.png</string>
        </dict>
    </dict>
</plist>
