<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>info0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,365},{1510,72}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,365},{1510,72}}</string>
				<key>sourceSize</key>
				<string>{1518,100}</string>
			</dict>
			<key>info1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,149},{1163,70}}</string>
				<key>offset</key>
				<string>{-6,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,149},{1163,70}}</string>
				<key>sourceSize</key>
				<string>{1175,100}</string>
			</dict>
			<key>info2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,221},{1891,70}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,221},{1891,70}}</string>
				<key>sourceSize</key>
				<string>{1895,100}</string>
			</dict>
			<key>totalwin_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,1},{126,76}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{795,1},{126,76}}</string>
				<key>sourceSize</key>
				<string>{130,100}</string>
			</dict>
			<key>info4.png</key>
			<dict>
				<key>frame</key>
				<string>{{923,1},{952,78}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{923,1},{952,78}}</string>
				<key>sourceSize</key>
				<string>{960,100}</string>
			</dict>
			<key>info6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,293},{1187,70}}</string>
				<key>offset</key>
				<string>{-5,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,293},{1187,70}}</string>
				<key>sourceSize</key>
				<string>{1197,100}</string>
			</dict>
			<key>win_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,1},{160,64}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{633,1},{160,64}}</string>
				<key>sourceSize</key>
				<string>{166,100}</string>
			</dict>
			<key>Info5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,439},{1422,82}}</string>
				<key>offset</key>
				<string>{-7,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,439},{1422,82}}</string>
				<key>sourceSize</key>
				<string>{1444,100}</string>
			</dict>
			<key>info3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,81},{1503,66}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,81},{1503,66}}</string>
				<key>sourceSize</key>
				<string>{1507,100}</string>
			</dict>
			<key>2000ways.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{630,56}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{630,56}}</string>
				<key>sourceSize</key>
				<string>{632,60}</string>
			</dict>
			<key>info_message.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1887,518}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{1887,518}}</string>
				<key>sourceSize</key>
				<string>{1893,522}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>info_message.png</string>
			<key>size</key>
			<string>{1893,522}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>info_message.png</string>
		</dict>
	</dict>
</plist>
