<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>freespin_won.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{542,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{542,246}}</string>
				<key>sourceSize</key>
				<string>{542,246}</string>
			</dict>
			<key>start.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,189},{170,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{545,189},{170,48}}</string>
				<key>sourceSize</key>
				<string>{170,48}</string>
			</dict>
			<key>start_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,189},{167,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{717,189},{167,44}}</string>
				<key>sourceSize</key>
				<string>{167,44}</string>
			</dict>
			<key>freature_loading.png</key>
			<dict>
				<key>frame</key>
				<string>{{545,1},{444,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{545,1},{444,186}}</string>
				<key>sourceSize</key>
				<string>{444,186}</string>
			</dict>
			<key>bonus_loading.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{988,248}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{988,248}}</string>
				<key>sourceSize</key>
				<string>{990,248}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>bonus_loading.png</string>
			<key>size</key>
			<string>{990,248}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>bonus_loading.png</string>
		</dict>
	</dict>
</plist>
