<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>info2.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,73},{1119,58}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{767,73},{1119,58}}</string>
				<key>sourceSize</key>
				<string>{1141,100}</string>
			</dict>
			<key>info0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,193},{701,58}}</string>
				<key>offset</key>
				<string>{-11,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1018,193},{701,58}}</string>
				<key>sourceSize</key>
				<string>{747,100}</string>
			</dict>
			<key>info1.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,1},{1296,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{141,1},{1296,70}}</string>
				<key>sourceSize</key>
				<string>{1300,100}</string>
			</dict>
			<key>win_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{149,60}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{149,60}}</string>
				<key>sourceSize</key>
				<string>{159,100}</string>
			</dict>
			<key>totalwin_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,1},{126,76}}</string>
				<key>offset</key>
				<string>{6,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{63,1},{126,76}}</string>
				<key>sourceSize</key>
				<string>{200,100}</string>
			</dict>
			<key>Info4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,152},{1015,82}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,152},{1015,82}}</string>
				<key>sourceSize</key>
				<string>{1037,100}</string>
			</dict>
			<key>info3.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,73},{624,64}}</string>
				<key>offset</key>
				<string>{-3,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{141,73},{624,64}}</string>
				<key>sourceSize</key>
				<string>{642,100}</string>
			</dict>
			<key>info5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,133},{725,58}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1018,133},{725,58}}</string>
				<key>sourceSize</key>
				<string>{747,100}</string>
			</dict>
			<key>1024ways.png</key>
			<dict>
				<key>frame</key>
				<string>{{1439,1},{298,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1439,1},{298,54}}</string>
				<key>sourceSize</key>
				<string>{298,54}</string>
			</dict>
			<key>info_message.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,0},{1883,250}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{1883,250}}</string>
				<key>sourceSize</key>
				<string>{1887,252}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>info_message.png</string>
			<key>size</key>
			<string>{1887,252}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>info_message.png</string>
		</dict>
	</dict>
</plist>
