<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,44},{559,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,44},{559,140}}</string>
				<key>sourceSize</key>
				<string>{559,140}</string>
			</dict>
			<key>info_bns.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,89},{420,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{395,89},{420,45}}</string>
				<key>sourceSize</key>
				<string>{434,67}</string>
			</dict>
			<key>info_tw.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,179},{96,65}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{615,179},{96,65}}</string>
				<key>sourceSize</key>
				<string>{98,67}</string>
			</dict>
			<key>smw.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,89},{536,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{143,89},{536,250}}</string>
				<key>sourceSize</key>
				<string>{536,250}</string>
			</dict>
			<key>info_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,179},{90,55}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{713,179},{90,55}}</string>
				<key>sourceSize</key>
				<string>{98,67}</string>
			</dict>
			<key>respin_utw.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,136},{489,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{395,136},{489,79}}</string>
				<key>sourceSize</key>
				<string>{489,79}</string>
			</dict>
			<key>info_main2.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,136},{312,41}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{476,136},{312,41}}</string>
				<key>sourceSize</key>
				<string>{322,67}</string>
			</dict>
			<key>bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,179},{450,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{476,179},{450,137}}</string>
				<key>sourceSize</key>
				<string>{450,137}</string>
			</dict>
			<key>info_main1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{822,41}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{822,41}}</string>
				<key>sourceSize</key>
				<string>{840,67}</string>
			</dict>
			<key>info_main3.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,44},{652,43}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{143,44},{652,43}}</string>
				<key>sourceSize</key>
				<string>{658,67}</string>
			</dict>
			<key>general.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2},{822,628}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{822,628}}</string>
				<key>sourceSize</key>
				<string>{824,630}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>general.png</string>
			<key>size</key>
			<string>{824,630}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>general.png</string>
		</dict>
	</dict>
</plist>
