<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>h_ingot_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,485},{262,238}}</string>
				<key>offset</key>
				<string>{-3,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{629,485},{262,238}}</string>
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>s_wild_bg_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,737},{157,141}}</string>
				<key>offset</key>
				<string>{4,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{241,737},{157,141}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>h_chest_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,725},{107,123}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{627,725},{107,123}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>h_packets.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,273},{244,214}}</string>
				<key>offset</key>
				<string>{-6,-5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,273},{244,214}}</string>
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>h_ingot.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,525},{262,238}}</string>
				<key>offset</key>
				<string>{-3,-5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,525},{262,238}}</string>
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>h_ingots_bg_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,789},{133,135}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,789},{133,135}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>h_chest.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,721},{208,214}}</string>
				<key>offset</key>
				<string>{-2,-7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{411,721},{208,214}}</string>
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>h_packets_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,273},{244,214}}</string>
				<key>offset</key>
				<string>{-6,-5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{217,273},{244,214}}</string>
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>h_packets_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,725},{125,123}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{747,725},{125,123}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>h_crackers_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,519},{168,216}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{241,519},{168,216}}</string>
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>h_oranges.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,1},{260,188}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{897,1},{260,188}}</string>
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>h_ingots_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,243},{266,240}}</string>
				<key>offset</key>
				<string>{-3,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{629,243},{266,240}}</string>
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>h_oranges_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,263},{260,188}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{897,263},{260,188}}</string>
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>h_chest_bg_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,971},{107,123}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{874,971},{107,123}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>h_bag_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,525},{194,228}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{893,525},{194,228}}</string>
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>s_wild_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,1},{312,270}}</string>
				<key>offset</key>
				<string>{7,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{315,1},{312,270}}</string>
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>s_wild.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{312,270}}</string>
				<key>offset</key>
				<string>{7,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{312,270}}</string>
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>h_chest_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{874,755},{208,214}}</string>
				<key>offset</key>
				<string>{-2,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{874,755},{208,214}}</string>
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>h_crackers_bg_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,850},{87,125}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{747,850},{87,125}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>h_ingots.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,1},{266,240}}</string>
				<key>offset</key>
				<string>{-3,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{629,1},{266,240}}</string>
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>h_oranges_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,931},{131,111}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{408,931},{131,111}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>h_packets_bg_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,931},{125,123}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{622,931},{125,123}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>s_wild_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,931},{157,141}}</string>
				<key>offset</key>
				<string>{4,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,931},{157,141}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>h_oranges_bg_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,880},{131,111}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{295,880},{131,111}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>h_bag.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,273},{194,228}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{433,273},{194,228}}</string>
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>h_ingots_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,931},{133,135}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{160,931},{133,135}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>h_bag_bg_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,789},{99,129}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{136,789},{99,129}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>h_bag_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,931},{99,129}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{521,931},{99,129}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>h_crackers_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,939},{87,125}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{747,939},{87,125}}</string>
				<key>sourceSize</key>
				<string>{175,175}</string>
			</dict>
			<key>h_crackers.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,503},{168,216}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{433,503},{168,216}}</string>
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>symbols.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1084,1075}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{1084,1075}}</string>
				<key>sourceSize</key>
				<string>{1088,1088}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>symbols.png</string>
			<key>size</key>
			<string>{1088,1088}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>symbols.png</string>
		</dict>
	</dict>
</plist>
