<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>l_j.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{98,128}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{98,128}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>l_q.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,1},{112,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{257,1},{112,134}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>l_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,101},{124,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,101},{124,120}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>h_sunglasses.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,115},{152,120}}</string>
				<key>offset</key>
				<string>{1,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{127,115},{152,120}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>l_k.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1},{106,124}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{131,1},{106,124}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>h_cocktail.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,127},{120,152}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{281,127},{120,152}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>h_surfboard.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,249},{134,152}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{153,249},{134,152}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>h_starfish.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,249},{144,136}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{307,249},{144,136}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>h_towel.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,237},{150,132}}</string>
				<key>offset</key>
				<string>{-2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,237},{150,132}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>l_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,1},{114,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{393,1},{114,124}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>normal_symbol.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{504,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{504,382}}</string>
				<key>sourceSize</key>
				<string>{508,386}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>normal_symbol.png</string>
			<key>size</key>
			<string>{508,386}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>normal_symbol.png</string>
		</dict>
	</dict>
</plist>
