<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Bowen_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,84},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{505,84},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,84},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,84},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{1515,870},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1515,870},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1263},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1263},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,1263},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{505,1263},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,84},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1010,84},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,870},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{505,870},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_48.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,1656},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1010,1656},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_49.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1656},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1656},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{1515,477},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1515,477},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_51.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,870},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,870},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_52.png</key>
			<dict>
				<key>frame</key>
				<string>{{1515,1656},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1515,1656},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_53.png</key>
			<dict>
				<key>frame</key>
				<string>{{1515,84},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1515,84},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_54.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,477},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1010,477},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_55.png</key>
			<dict>
				<key>frame</key>
				<string>{{1515,1263},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1515,1263},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_56.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,477},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{505,477},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_57.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,477},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,477},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_58.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,1263},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1010,1263},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_59.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,1656},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{505,1656},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_60.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,870},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1010,870},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>Atlas_Bowen03.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>Atlas_Bowen03.png</string>
		</dict>
	</dict>
</plist>
