<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>A_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,488},{68,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{282,488},{68,76}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>A_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,411},{68,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{282,411},{68,76}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>A_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,334},{68,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{282,334},{68,76}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>A_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,257},{68,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{282,257},{68,76}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>A_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,180},{68,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{282,180},{68,76}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>A_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,103},{68,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{282,103},{68,76}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>A_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,26},{68,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{282,26},{68,76}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>A_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,638},{68,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{353,638},{68,76}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>A_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,638},{68,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{422,638},{68,76}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>A_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,638},{68,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{491,638},{68,76}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>A_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,638},{68,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{560,638},{68,76}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>A_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,638},{68,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{629,638},{68,76}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>A_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,638},{68,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{698,638},{68,76}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>A_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,638},{68,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{767,638},{68,76}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>A_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,638},{68,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{836,638},{68,76}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>A_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,638},{68,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{905,638},{68,76}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Cap_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,467},{81,98}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,467},{81,98}}</string>
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>Cap_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,846},{80,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{514,846},{80,98}}</string>
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>Cap_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,269},{81,98}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,269},{81,98}}</string>
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>Cap_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,170},{81,98}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,170},{81,98}}</string>
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>Cap_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,665},{81,98}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,665},{81,98}}</string>
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>Cap_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,846},{80,98}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{109,846},{80,98}}</string>
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>Cap_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,846},{80,98}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{352,846},{80,98}}</string>
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>Cap_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,368},{81,98}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,368},{81,98}}</string>
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>Cap_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,566},{81,98}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,566},{81,98}}</string>
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>Cap_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,71},{81,98}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,71},{81,98}}</string>
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>Cap_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{838,846},{80,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{838,846},{80,98}}</string>
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>Cap_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,846},{80,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{595,846},{80,98}}</string>
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>Cap_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,846},{80,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{190,846},{80,98}}</string>
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>Cap_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,764},{83,98}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,764},{83,98}}</string>
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>Cap_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,847},{80,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{919,847},{80,97}}</string>
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>Cap_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,846},{80,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{433,846},{80,98}}</string>
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>Cap_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,846},{80,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{676,846},{80,98}}</string>
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>Cap_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,846},{80,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{757,846},{80,98}}</string>
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>Cap_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,846},{80,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{271,846},{80,98}}</string>
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>Cap_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,750},{78,95}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{109,750},{78,95}}</string>
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>Cap_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,658},{75,91}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{109,658},{75,91}}</string>
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>Cap_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,568},{74,89}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{109,568},{74,89}}</string>
				<key>sourceSize</key>
				<string>{84,98}</string>
			</dict>
			<key>Hat_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,588},{89,60}}</string>
				<key>offset</key>
				<string>{-1,10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{188,588},{89,60}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Hat_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,408},{89,59}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{188,408},{89,59}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Hat_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,527},{88,60}}</string>
				<key>offset</key>
				<string>{0,11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{188,527},{88,60}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Hat_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,649},{89,61}}</string>
				<key>offset</key>
				<string>{0,14}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{188,649},{89,61}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Hat_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,780},{91,65}}</string>
				<key>offset</key>
				<string>{2,12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{472,780},{91,65}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Hat_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,774},{88,71}}</string>
				<key>offset</key>
				<string>{0,10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{277,774},{88,71}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Hat_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,772},{88,73}}</string>
				<key>offset</key>
				<string>{1,9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{188,772},{88,73}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Hat_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,946},{86,78}}</string>
				<key>offset</key>
				<string>{2,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{471,946},{86,78}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Hat_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,945},{111,79}}</string>
				<key>offset</key>
				<string>{-9,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,945},{111,79}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Hat_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,863},{108,81}}</string>
				<key>offset</key>
				<string>{12,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,863},{108,81}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Hat_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,945},{88,79}}</string>
				<key>offset</key>
				<string>{3,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{201,945},{88,79}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Hat_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{650,949},{88,75}}</string>
				<key>offset</key>
				<string>{4,10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{650,949},{88,75}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Hat_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,945},{88,79}}</string>
				<key>offset</key>
				<string>{4,12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{112,945},{88,79}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Hat_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,951},{89,73}}</string>
				<key>offset</key>
				<string>{4,11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{919,951},{89,73}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Hat_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,945},{87,79}}</string>
				<key>offset</key>
				<string>{2,11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{383,945},{87,79}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Hat_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{558,951},{91,73}}</string>
				<key>offset</key>
				<string>{3,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{558,951},{91,73}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Hat_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,950},{89,74}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{739,950},{89,74}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Hat_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,951},{89,73}}</string>
				<key>offset</key>
				<string>{1,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{829,951},{89,73}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Hat_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{290,949},{92,75}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{290,949},{92,75}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Hat_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,782},{89,63}}</string>
				<key>offset</key>
				<string>{-1,12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{851,782},{89,63}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>J_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,282},{50,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{683,282},{50,74}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>J_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,57},{50,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{632,57},{50,74}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>J_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,357},{50,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{683,357},{50,74}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>J_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,41},{50,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{498,41},{50,74}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>J_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,357},{50,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{632,357},{50,74}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>J_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,357},{50,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{734,357},{50,74}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>J_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,116},{50,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{498,116},{50,74}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>J_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,132},{50,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{632,132},{50,74}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>J_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,207},{50,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{632,207},{50,74}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>J_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,282},{50,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{632,282},{50,74}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>J_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{938,357},{50,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{938,357},{50,74}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>J_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,357},{50,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{887,357},{50,74}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>J_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{974,639},{50,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{974,639},{50,75}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>J_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,357},{50,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{836,357},{50,74}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>J_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{785,357},{50,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{785,357},{50,74}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>J_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,191},{50,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{498,191},{50,74}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>K_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,108},{70,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{188,108},{70,74}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>K_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,33},{70,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{188,33},{70,74}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>K_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,640},{70,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{282,640},{70,74}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>K_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,565},{70,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{282,565},{70,74}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>K_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,493},{70,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{109,493},{70,74}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>K_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,418},{70,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{109,418},{70,74}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>K_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,343},{70,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{109,343},{70,74}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>K_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,268},{70,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{109,268},{70,74}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>K_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,193},{70,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{109,193},{70,74}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>K_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,118},{70,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{109,118},{70,74}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>K_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,43},{70,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{109,43},{70,74}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>K_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,413},{69,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{353,413},{69,74}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>K_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,338},{69,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{353,338},{69,74}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>K_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,563},{69,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{353,563},{69,74}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>K_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,488},{69,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{353,488},{69,74}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>K_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,333},{70,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{188,333},{70,74}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>K_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,258},{70,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{188,258},{70,74}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>K_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,183},{70,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{188,183},{70,74}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Q_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,259},{62,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{353,259},{62,78}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Q_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,180},{62,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{353,180},{62,78}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Q_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,101},{62,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{353,101},{62,78}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Q_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,501},{62,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{813,501},{62,78}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Q_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,22},{62,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{353,22},{62,78}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Q_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,18},{62,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{423,18},{62,78}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Q_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,501},{62,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{498,501},{62,78}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Q_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,501},{62,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{561,501},{62,78}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Q_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,266},{62,77}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{498,266},{62,77}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Q_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,344},{62,77}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{498,344},{62,77}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Q_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,501},{62,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{624,501},{62,78}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Q_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,501},{62,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{687,501},{62,78}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Q_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,501},{62,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{750,501},{62,78}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Q_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,422},{62,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{498,422},{62,78}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Q_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{876,501},{62,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{876,501},{62,78}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Q_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,501},{62,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{939,501},{62,78}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Shoe_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,162},{66,64}}</string>
				<key>offset</key>
				<string>{11,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{561,162},{66,64}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Shoe_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,227},{67,66}}</string>
				<key>offset</key>
				<string>{12,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{561,227},{67,66}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Shoe_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,432},{70,68}}</string>
				<key>offset</key>
				<string>{11,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{561,432},{70,68}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Shoe_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,432},{70,68}}</string>
				<key>offset</key>
				<string>{11,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{632,432},{70,68}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Shoe_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,432},{70,68}}</string>
				<key>offset</key>
				<string>{11,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{703,432},{70,68}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Shoe_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,432},{70,68}}</string>
				<key>offset</key>
				<string>{11,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{774,432},{70,68}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Shoe_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,97},{73,68}}</string>
				<key>offset</key>
				<string>{10,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{423,97},{73,68}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Shoe_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,235},{73,68}}</string>
				<key>offset</key>
				<string>{10,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{423,235},{73,68}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Shoe_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,166},{73,68}}</string>
				<key>offset</key>
				<string>{10,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{423,166},{73,68}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Shoe_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,511},{74,68}}</string>
				<key>offset</key>
				<string>{9,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{423,511},{74,68}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Shoe_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,304},{73,68}}</string>
				<key>offset</key>
				<string>{10,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{423,304},{73,68}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Shoe_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,373},{73,68}}</string>
				<key>offset</key>
				<string>{10,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{423,373},{73,68}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Shoe_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{941,776},{74,69}}</string>
				<key>offset</key>
				<string>{10,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{941,776},{74,69}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Shoe_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,442},{73,68}}</string>
				<key>offset</key>
				<string>{10,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{423,442},{73,68}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Shoe_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{916,432},{70,68}}</string>
				<key>offset</key>
				<string>{11,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{916,432},{70,68}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Shoe_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,363},{70,68}}</string>
				<key>offset</key>
				<string>{11,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{561,363},{70,68}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Shoe_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,294},{70,68}}</string>
				<key>offset</key>
				<string>{11,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{561,294},{70,68}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Shoe_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,432},{70,68}}</string>
				<key>offset</key>
				<string>{11,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{845,432},{70,68}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Shoe_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,97},{66,64}}</string>
				<key>offset</key>
				<string>{11,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{561,97},{66,64}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Shoe_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,34},{63,62}}</string>
				<key>offset</key>
				<string>{12,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{561,34},{63,62}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Waistband_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,720},{87,51}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{937,720},{87,51}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Waistband_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,718},{88,53}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,718},{88,53}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Waistband_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,718},{88,53}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{848,718},{88,53}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Waistband_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,718},{90,53}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{668,718},{90,53}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Waistband_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,718},{97,53}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{380,718},{97,53}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Waistband_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{576,718},{91,53}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{576,718},{91,53}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Waistband_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1},{92,69}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{92,69}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Waistband_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,711},{93,60}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{188,711},{93,60}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Waistband_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,785},{94,60}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{756,785},{94,60}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Waistband_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,785},{95,60}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{660,785},{95,60}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Waistband_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,784},{95,61}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{564,784},{95,61}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Waistband_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{188,468},{91,58}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{188,468},{91,58}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Waistband_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,715},{97,56}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{282,715},{97,56}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Waistband_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,786},{105,59}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{366,786},{105,59}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Waistband_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,580},{89,57}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{423,580},{89,57}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Waistband_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,719},{97,52}}</string>
				<key>offset</key>
				<string>{-5,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{478,719},{97,52}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Waistband_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,587},{87,50}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{601,587},{87,50}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Waistband_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,587},{87,50}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{689,587},{87,50}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
			<key>Waistband_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,586},{87,51}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{513,586},{87,51}}</string>
				<key>sourceSize</key>
				<string>{160,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>Atlas_Game03.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>Atlas_Game03.png</string>
		</dict>
	</dict>
</plist>
