<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Bowen_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,870},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1010,870},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,477},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{505,477},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,1263},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{505,1263},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,870},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{505,870},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1656},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1656},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,1263},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1010,1263},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1515,1263},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1515,1263},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{1515,870},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1515,870},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,477},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,477},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,84},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,84},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,84},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{505,84},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,84},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1010,84},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,477},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1010,477},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,1656},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{505,1656},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{1010,1656},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1010,1656},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1263},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1263},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{1515,1656},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1515,1656},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{1515,84},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1515,84},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{1515,477},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1515,477},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
			<key>Bowen_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,870},{504,392}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,870},{504,392}}</string>
				<key>sourceSize</key>
				<string>{504,392}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>Atlas_Bowen02.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>Atlas_Bowen02.png</string>
		</dict>
	</dict>
</plist>
