<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Font_FireBall_$.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,175},{78,112}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{92,175},{78,112}}</string>
				<key>sourceSize</key>
				<string>{78,115}</string>
			</dict>
			<key>Font_FireBall_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,168},{91,113}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,168},{91,113}}</string>
				<key>sourceSize</key>
				<string>{91,115}</string>
			</dict>
			<key>Font_FireBall_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,60},{65,114}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{92,60},{65,114}}</string>
				<key>sourceSize</key>
				<string>{65,115}</string>
			</dict>
			<key>Font_FireBall_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,399},{88,113}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{92,399},{88,113}}</string>
				<key>sourceSize</key>
				<string>{88,115}</string>
			</dict>
			<key>Font_FireBall_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,400},{79,112}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{357,400},{79,112}}</string>
				<key>sourceSize</key>
				<string>{79,115}</string>
			</dict>
			<key>Font_FireBall_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,404},{91,108}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{181,404},{91,108}}</string>
				<key>sourceSize</key>
				<string>{91,115}</string>
			</dict>
			<key>Font_FireBall_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,288},{80,110}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{92,288},{80,110}}</string>
				<key>sourceSize</key>
				<string>{80,115}</string>
			</dict>
			<key>Font_FireBall_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,282},{91,114}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,282},{91,114}}</string>
				<key>sourceSize</key>
				<string>{91,115}</string>
			</dict>
			<key>Font_FireBall_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,401},{83,111}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{273,401},{83,111}}</string>
				<key>sourceSize</key>
				<string>{83,115}</string>
			</dict>
			<key>Font_FireBall_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,54},{89,113}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,54},{89,113}}</string>
				<key>sourceSize</key>
				<string>{89,115}</string>
			</dict>
			<key>Font_FireBall_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,397},{91,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,397},{91,115}}</string>
				<key>sourceSize</key>
				<string>{91,115}</string>
			</dict>
			<key>Font_FireBall_Dian.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,317},{25,24}}</string>
				<key>offset</key>
				<string>{2,-39}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{389,317},{25,24}}</string>
				<key>sourceSize</key>
				<string>{33,115}</string>
			</dict>
			<key>Font_FireBall_Dou.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,314},{26,27}}</string>
				<key>offset</key>
				<string>{1,-38}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{348,314},{26,27}}</string>
				<key>sourceSize</key>
				<string>{34,115}</string>
			</dict>
			<key>Font_FreeTimes_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,14},{39,39}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,14},{39,39}}</string>
				<key>sourceSize</key>
				<string>{39,41}</string>
			</dict>
			<key>Font_FreeTimes_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,124},{20,39}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{283,124},{20,39}}</string>
				<key>sourceSize</key>
				<string>{20,41}</string>
			</dict>
			<key>Font_FreeTimes_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{414,206},{29,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{414,206},{29,39}}</string>
				<key>sourceSize</key>
				<string>{29,41}</string>
			</dict>
			<key>Font_FreeTimes_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,206},{28,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{474,206},{28,39}}</string>
				<key>sourceSize</key>
				<string>{28,41}</string>
			</dict>
			<key>Font_FreeTimes_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,206},{32,39}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{349,206},{32,39}}</string>
				<key>sourceSize</key>
				<string>{32,41}</string>
			</dict>
			<key>Font_FreeTimes_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,164},{27,39}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{283,164},{27,39}}</string>
				<key>sourceSize</key>
				<string>{27,41}</string>
			</dict>
			<key>Font_FreeTimes_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,206},{32,39}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{316,206},{32,39}}</string>
				<key>sourceSize</key>
				<string>{32,41}</string>
			</dict>
			<key>Font_FreeTimes_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,206},{29,39}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{444,206},{29,39}}</string>
				<key>sourceSize</key>
				<string>{29,41}</string>
			</dict>
			<key>Font_FreeTimes_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,206},{31,39}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{382,206},{31,39}}</string>
				<key>sourceSize</key>
				<string>{31,41}</string>
			</dict>
			<key>Font_FreeTimes_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,204},{32,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{283,204},{32,41}}</string>
				<key>sourceSize</key>
				<string>{32,41}</string>
			</dict>
			<key>Font_Jackpot_$.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,18},{9,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{74,18},{9,35}}</string>
				<key>sourceSize</key>
				<string>{15,58}</string>
			</dict>
			<key>Font_Jackpot_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,187},{38,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{214,187},{38,58}}</string>
				<key>sourceSize</key>
				<string>{38,58}</string>
			</dict>
			<key>Font_Jackpot_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,128},{38,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{214,128},{38,58}}</string>
				<key>sourceSize</key>
				<string>{38,58}</string>
			</dict>
			<key>Font_Jackpot_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,69},{38,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{214,69},{38,58}}</string>
				<key>sourceSize</key>
				<string>{38,58}</string>
			</dict>
			<key>Font_Jackpot_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,247},{38,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{292,247},{38,57}}</string>
				<key>sourceSize</key>
				<string>{38,58}</string>
			</dict>
			<key>Font_Jackpot_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,10},{38,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{214,10},{38,58}}</string>
				<key>sourceSize</key>
				<string>{38,58}</string>
			</dict>
			<key>Font_Jackpot_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,246},{38,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{253,246},{38,58}}</string>
				<key>sourceSize</key>
				<string>{38,58}</string>
			</dict>
			<key>Font_Jackpot_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,16},{38,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{173,16},{38,58}}</string>
				<key>sourceSize</key>
				<string>{38,58}</string>
			</dict>
			<key>Font_Jackpot_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,246},{38,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{214,246},{38,58}}</string>
				<key>sourceSize</key>
				<string>{38,58}</string>
			</dict>
			<key>Font_Jackpot_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,75},{38,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{173,75},{38,58}}</string>
				<key>sourceSize</key>
				<string>{38,58}</string>
			</dict>
			<key>Font_Jackpot_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,1},{38,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,1},{38,58}}</string>
				<key>sourceSize</key>
				<string>{38,58}</string>
			</dict>
			<key>Font_Jackpot_Dian.png</key>
			<dict>
				<key>frame</key>
				<string>{{44,4},{9,9}}</string>
				<key>offset</key>
				<string>{0,-17}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{44,4},{9,9}}</string>
				<key>sourceSize</key>
				<string>{15,58}</string>
			</dict>
			<key>Font_Jackpot_Dou.png</key>
			<dict>
				<key>frame</key>
				<string>{{34,0},{9,13}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{34,0},{9,13}}</string>
				<key>sourceSize</key>
				<string>{15,58}</string>
			</dict>
			<key>Font_Money_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,257},{29,47}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{403,257},{29,47}}</string>
				<key>sourceSize</key>
				<string>{29,52}</string>
			</dict>
			<key>Font_Money_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,257},{18,47}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{493,257},{18,47}}</string>
				<key>sourceSize</key>
				<string>{18,52}</string>
			</dict>
			<key>Font_Money_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,150},{29,47}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{253,150},{29,47}}</string>
				<key>sourceSize</key>
				<string>{29,52}</string>
			</dict>
			<key>Font_Money_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,8},{27,47}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{253,8},{27,47}}</string>
				<key>sourceSize</key>
				<string>{27,52}</string>
			</dict>
			<key>Font_Money_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,6},{33,47}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,6},{33,47}}</string>
				<key>sourceSize</key>
				<string>{33,52}</string>
			</dict>
			<key>Font_Money_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{433,257},{29,47}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{433,257},{29,47}}</string>
				<key>sourceSize</key>
				<string>{29,52}</string>
			</dict>
			<key>Font_Money_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,257},{29,47}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{463,257},{29,47}}</string>
				<key>sourceSize</key>
				<string>{29,52}</string>
			</dict>
			<key>Font_Money_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,56},{29,45}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{253,56},{29,45}}</string>
				<key>sourceSize</key>
				<string>{29,52}</string>
			</dict>
			<key>Font_Money_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,102},{29,47}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{253,102},{29,47}}</string>
				<key>sourceSize</key>
				<string>{29,52}</string>
			</dict>
			<key>Font_Money_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,198},{29,47}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{253,198},{29,47}}</string>
				<key>sourceSize</key>
				<string>{29,52}</string>
			</dict>
			<key>Font_Money_Dian.png</key>
			<dict>
				<key>frame</key>
				<string>{{54,7},{6,6}}</string>
				<key>offset</key>
				<string>{1,-15}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{54,7},{6,6}}</string>
				<key>sourceSize</key>
				<string>{11,52}</string>
			</dict>
			<key>Font_Money_Dou.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,3},{11,14}}</string>
				<key>offset</key>
				<string>{0,-16}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{74,3},{11,14}}</string>
				<key>sourceSize</key>
				<string>{11,52}</string>
			</dict>
			<key>Font_Win_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,342},{40,56}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{471,342},{40,56}}</string>
				<key>sourceSize</key>
				<string>{40,57}</string>
			</dict>
			<key>Font_Win_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,248},{32,56}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{370,248},{32,56}}</string>
				<key>sourceSize</key>
				<string>{32,57}</string>
			</dict>
			<key>Font_Win_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,248},{40,56}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{173,248},{40,56}}</string>
				<key>sourceSize</key>
				<string>{40,57}</string>
			</dict>
			<key>Font_Win_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,134},{40,56}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{173,134},{40,56}}</string>
				<key>sourceSize</key>
				<string>{40,57}</string>
			</dict>
			<key>Font_Win_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,191},{40,56}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{173,191},{40,56}}</string>
				<key>sourceSize</key>
				<string>{40,57}</string>
			</dict>
			<key>Font_Win_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,342},{40,56}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{430,342},{40,56}}</string>
				<key>sourceSize</key>
				<string>{40,57}</string>
			</dict>
			<key>Font_Win_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,342},{40,56}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{389,342},{40,56}}</string>
				<key>sourceSize</key>
				<string>{40,57}</string>
			</dict>
			<key>Font_Win_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,248},{38,56}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{331,248},{38,56}}</string>
				<key>sourceSize</key>
				<string>{38,57}</string>
			</dict>
			<key>Font_Win_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,2},{40,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{92,2},{40,57}}</string>
				<key>sourceSize</key>
				<string>{40,57}</string>
			</dict>
			<key>Font_Win_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,342},{40,56}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{348,342},{40,56}}</string>
				<key>sourceSize</key>
				<string>{40,57}</string>
			</dict>
			<key>Font_Win_Dian.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,321},{18,20}}</string>
				<key>offset</key>
				<string>{0,-17}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{449,321},{18,20}}</string>
				<key>sourceSize</key>
				<string>{20,57}</string>
			</dict>
			<key>Font_Win_Dou.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,313},{18,28}}</string>
				<key>offset</key>
				<string>{0,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{430,313},{18,28}}</string>
				<key>sourceSize</key>
				<string>{22,57}</string>
			</dict>
			<key>Spin_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,418},{71,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{437,418},{71,94}}</string>
				<key>sourceSize</key>
				<string>{71,94}</string>
			</dict>
			<key>Spin_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,306},{40,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{307,306},{40,92}}</string>
				<key>sourceSize</key>
				<string>{40,94}</string>
			</dict>
			<key>Spin_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,305},{66,93}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{240,305},{66,93}}</string>
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
			<key>Spin_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,305},{66,93}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{173,305},{66,93}}</string>
				<key>sourceSize</key>
				<string>{66,94}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>Atlas_Fonts.png</string>
			<key>size</key>
			<string>{512,512}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>Atlas_Fonts.png</string>
		</dict>
	</dict>
</plist>
