<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>BigWin36.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,1230},{352,411}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{361,1230},{352,411}}</string>
				<key>sourceSize</key>
				<string>{368,414}</string>
			</dict>
			<key>BigWin37.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,396},{357,413}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,396},{357,413}}</string>
				<key>sourceSize</key>
				<string>{368,414}</string>
			</dict>
			<key>BigWin38.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1634},{360,414}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1634},{360,414}}</string>
				<key>sourceSize</key>
				<string>{368,414}</string>
			</dict>
			<key>BigWin39.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1222},{360,411}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1222},{360,411}}</string>
				<key>sourceSize</key>
				<string>{368,414}</string>
			</dict>
			<key>BigWin40.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,810},{360,411}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,810},{360,411}}</string>
				<key>sourceSize</key>
				<string>{368,414}</string>
			</dict>
			<key>BigWin41.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,1642},{359,406}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{361,1642},{359,406}}</string>
				<key>sourceSize</key>
				<string>{368,414}</string>
			</dict>
			<key>BigWin42.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,1661},{362,387}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{721,1661},{362,387}}</string>
				<key>sourceSize</key>
				<string>{368,414}</string>
			</dict>
			<key>BigWin43.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,100},{353,386}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{714,100},{353,386}}</string>
				<key>sourceSize</key>
				<string>{368,414}</string>
			</dict>
			<key>BigWin44.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,487},{355,386}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{714,487},{355,386}}</string>
				<key>sourceSize</key>
				<string>{368,414}</string>
			</dict>
			<key>BigWin45.png</key>
			<dict>
				<key>frame</key>
				<string>{{1445,1662},{359,386}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1445,1662},{359,386}}</string>
				<key>sourceSize</key>
				<string>{368,414}</string>
			</dict>
			<key>BigWin46.png</key>
			<dict>
				<key>frame</key>
				<string>{{1075,1258},{360,383}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1075,1258},{360,383}}</string>
				<key>sourceSize</key>
				<string>{368,414}</string>
			</dict>
			<key>BigWin47.png</key>
			<dict>
				<key>frame</key>
				<string>{{1436,1260},{360,381}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1436,1260},{360,381}}</string>
				<key>sourceSize</key>
				<string>{368,414}</string>
			</dict>
			<key>BigWin48.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,874},{359,382}}</string>
				<key>offset</key>
				<string>{-3,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{714,874},{359,382}}</string>
				<key>sourceSize</key>
				<string>{368,414}</string>
			</dict>
			<key>BigWin49.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,1257},{360,384}}</string>
				<key>offset</key>
				<string>{-3,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{714,1257},{360,384}}</string>
				<key>sourceSize</key>
				<string>{368,414}</string>
			</dict>
			<key>BigWin50.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,8},{360,387}}</string>
				<key>offset</key>
				<string>{-3,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,8},{360,387}}</string>
				<key>sourceSize</key>
				<string>{368,414}</string>
			</dict>
			<key>BigWin51.png</key>
			<dict>
				<key>frame</key>
				<string>{{1084,1662},{360,386}}</string>
				<key>offset</key>
				<string>{-3,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1084,1662},{360,386}}</string>
				<key>sourceSize</key>
				<string>{368,414}</string>
			</dict>
			<key>BigWin52.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,846},{349,383}}</string>
				<key>offset</key>
				<string>{-3,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{361,846},{349,383}}</string>
				<key>sourceSize</key>
				<string>{368,414}</string>
			</dict>
			<key>BigWin53.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,464},{349,381}}</string>
				<key>offset</key>
				<string>{-3,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{361,464},{349,381}}</string>
				<key>sourceSize</key>
				<string>{368,414}</string>
			</dict>
			<key>BigWin54.png</key>
			<dict>
				<key>frame</key>
				<string>{{1074,886},{354,370}}</string>
				<key>offset</key>
				<string>{-3,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1074,886},{354,370}}</string>
				<key>sourceSize</key>
				<string>{368,414}</string>
			</dict>
			<key>BigWin55.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,86},{319,377}}</string>
				<key>offset</key>
				<string>{-3,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{361,86},{319,377}}</string>
				<key>sourceSize</key>
				<string>{368,414}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>Atlas_BigWin02.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>Atlas_BigWin02.png</string>
		</dict>
	</dict>
</plist>
