<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>BG_FreeLinkResult.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,680},{653,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{795,680},{653,148}}</string>
				<key>sourceSize</key>
				<string>{653,148}</string>
			</dict>
			<key>BGColider.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,87},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{322,87},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Bottom_BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,213},{78,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{668,213},{78,111}}</string>
				<key>sourceSize</key>
				<string>{78,111}</string>
			</dict>
			<key>Btn_Add.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,225},{101,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{284,225},{101,99}}</string>
				<key>sourceSize</key>
				<string>{101,99}</string>
			</dict>
			<key>Btn_Auto.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,190},{280,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{387,190},{280,134}}</string>
				<key>sourceSize</key>
				<string>{280,134}</string>
			</dict>
			<key>Btn_BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,325},{386,373}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{387,325},{386,373}}</string>
				<key>sourceSize</key>
				<string>{386,373}</string>
			</dict>
			<key>Btn_Help.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,251},{33,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{747,251},{33,73}}</string>
				<key>sourceSize</key>
				<string>{33,73}</string>
			</dict>
			<key>Btn_Home.png</key>
			<dict>
				<key>frame</key>
				<string>{{1449,716},{513,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1449,716},{513,112}}</string>
				<key>sourceSize</key>
				<string>{513,112}</string>
			</dict>
			<key>Btn_Next.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,51},{243,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{795,51},{243,112}}</string>
				<key>sourceSize</key>
				<string>{243,112}</string>
			</dict>
			<key>Btn_Prev.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,77},{244,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{387,77},{244,112}}</string>
				<key>sourceSize</key>
				<string>{244,112}</string>
			</dict>
			<key>Btn_Return.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,113},{223,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,113},{223,211}}</string>
				<key>sourceSize</key>
				<string>{226,213}</string>
			</dict>
			<key>Btn_Spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,325},{386,373}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,325},{386,373}}</string>
				<key>sourceSize</key>
				<string>{386,373}</string>
			</dict>
			<key>Btn_Spinleft.png</key>
			<dict>
				<key>frame</key>
				<string>{{1611,502},{331,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1611,502},{331,67}}</string>
				<key>sourceSize</key>
				<string>{331,67}</string>
			</dict>
			<key>Btn_Stop.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,22},{215,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,22},{215,90}}</string>
				<key>sourceSize</key>
				<string>{215,90}</string>
			</dict>
			<key>Btn_Sub.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,52},{97,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{224,52},{97,99}}</string>
				<key>sourceSize</key>
				<string>{97,99}</string>
			</dict>
			<key>Entries.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{95,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{95,21}}</string>
				<key>sourceSize</key>
				<string>{95,21}</string>
			</dict>
			<key>Fire_Boom.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,21},{48,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{577,21},{48,55}}</string>
				<key>sourceSize</key>
				<string>{48,55}</string>
			</dict>
			<key>Fire_LightBall.png</key>
			<dict>
				<key>frame</key>
				<string>{{1924,857},{64,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1924,857},{64,62}}</string>
				<key>sourceSize</key>
				<string>{64,62}</string>
			</dict>
			<key>Item_BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,10},{59,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{224,10},{59,41}}</string>
				<key>sourceSize</key>
				<string>{59,41}</string>
			</dict>
			<key>MajorBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,335},{506,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{795,335},{506,171}}</string>
				<key>sourceSize</key>
				<string>{506,171}</string>
			</dict>
			<key>MegaBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,164},{506,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{795,164},{506,170}}</string>
				<key>sourceSize</key>
				<string>{506,170}</string>
			</dict>
			<key>MiniBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1417,844},{506,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1417,844},{506,180}}</string>
				<key>sourceSize</key>
				<string>{506,180}</string>
			</dict>
			<key>MinorBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,507},{506,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{795,507},{506,172}}</string>
				<key>sourceSize</key>
				<string>{506,172}</string>
			</dict>
			<key>Music_Off.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,46},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{706,46},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>Music_On.png</key>
			<dict>
				<key>frame</key>
				<string>{{1989,853},{58,66}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1989,853},{58,66}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>Sound_Off.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,13},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{632,13},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>Sound_On.png</key>
			<dict>
				<key>frame</key>
				<string>{{1924,920},{64,62}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1924,920},{64,62}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>Spin_BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,115},{76,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{706,115},{76,74}}</string>
				<key>sourceSize</key>
				<string>{76,74}</string>
			</dict>
			<key>Tip_FearuteComplete.png</key>
			<dict>
				<key>frame</key>
				<string>{{1302,376},{448,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1302,376},{448,43}}</string>
				<key>sourceSize</key>
				<string>{448,43}</string>
			</dict>
			<key>Tip_Freelink0.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,13},{143,24}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{387,13},{143,24}}</string>
				<key>sourceSize</key>
				<string>{269,27}</string>
			</dict>
			<key>Tip_Freelink1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1640,434},{267,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1640,434},{267,25}}</string>
				<key>sourceSize</key>
				<string>{269,27}</string>
			</dict>
			<key>Tip_Freelink2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1640,460},{269,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1640,460},{269,25}}</string>
				<key>sourceSize</key>
				<string>{269,27}</string>
			</dict>
			<key>Tip_Freelink3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1449,688},{267,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1449,688},{267,27}}</string>
				<key>sourceSize</key>
				<string>{269,27}</string>
			</dict>
			<key>Tips01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1302,420},{337,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1302,420},{337,65}}</string>
				<key>sourceSize</key>
				<string>{337,65}</string>
			</dict>
			<key>Tips02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1302,622},{549,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1302,622},{549,57}}</string>
				<key>sourceSize</key>
				<string>{549,57}</string>
			</dict>
			<key>Tips03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1302,570},{545,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1302,570},{545,51}}</string>
				<key>sourceSize</key>
				<string>{545,51}</string>
			</dict>
			<key>Top_BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,152},{59,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{224,152},{59,172}}</string>
				<key>sourceSize</key>
				<string>{59,172}</string>
			</dict>
			<key>UI_BallFly.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,82},{73,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{632,82},{73,107}}</string>
				<key>sourceSize</key>
				<string>{73,107}</string>
			</dict>
			<key>UI_NumLock01.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,38},{189,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{387,38},{189,38}}</string>
				<key>sourceSize</key>
				<string>{189,38}</string>
			</dict>
			<key>UI_NumLock02.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,155},{74,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{284,155},{74,69}}</string>
				<key>sourceSize</key>
				<string>{74,69}</string>
			</dict>
			<key>UI_NumLock03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1924,983},{102,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1924,983},{102,41}}</string>
				<key>sourceSize</key>
				<string>{102,41}</string>
			</dict>
			<key>UI_NumLock04.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,200},{46,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{747,200},{46,50}}</string>
				<key>sourceSize</key>
				<string>{46,50}</string>
			</dict>
			<key>UI_RedBallBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1039,37},{190,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1039,37},{190,126}}</string>
				<key>sourceSize</key>
				<string>{190,126}</string>
			</dict>
			<key>UI_TItle.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,699},{794,325}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,699},{794,325}}</string>
				<key>sourceSize</key>
				<string>{794,325}</string>
			</dict>
			<key>UI_WhiteColider.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,22},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{322,22},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>UI_Winner.png</key>
			<dict>
				<key>frame</key>
				<string>{{1302,486},{308,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1302,486},{308,83}}</string>
				<key>sourceSize</key>
				<string>{308,83}</string>
			</dict>
			<key>UI_WinnerShine.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,829},{621,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{795,829},{621,195}}</string>
				<key>sourceSize</key>
				<string>{621,195}</string>
			</dict>
			<key>Win_BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1302,295},{197,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1302,295},{197,80}}</string>
				<key>sourceSize</key>
				<string>{197,80}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>Atlas_GameUI.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>Atlas_GameUI.png</string>
		</dict>
	</dict>
</plist>
