<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>def.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,804},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>def_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,398},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>def_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,602},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>jg_dashengguilai.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,398},{183,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,189}}</string>
                <key>sourceSize</key>
                <string>{183,189}</string>
            </dict>
            <key>jg_dashengguilai_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,726},{84,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,40}}</string>
                <key>sourceSize</key>
                <string>{84,40}</string>
            </dict>
            <key>jg_erlian.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,398},{196,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,202}}</string>
                <key>sourceSize</key>
                <string>{196,202}</string>
            </dict>
            <key>jg_erlian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,726},{84,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,40}}</string>
                <key>sourceSize</key>
                <string>{84,40}</string>
            </dict>
            <key>jg_fengshen.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,200},{196,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,202}}</string>
                <key>sourceSize</key>
                <string>{196,202}</string>
            </dict>
            <key>jg_fengshen_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,709},{84,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,40}}</string>
                <key>sourceSize</key>
                <string>{84,40}</string>
            </dict>
            <key>jg_hongdengquanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,200},{196,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,202}}</string>
                <key>sourceSize</key>
                <string>{196,202}</string>
            </dict>
            <key>jg_hongdengquanzhong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,709},{84,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,40}}</string>
                <key>sourceSize</key>
                <string>{84,40}</string>
            </dict>
            <key>jg_honghaierquanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,200},{196,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,202}}</string>
                <key>sourceSize</key>
                <string>{196,202}</string>
            </dict>
            <key>jg_honghaierquanzhong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,684},{84,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,40}}</string>
                <key>sourceSize</key>
                <string>{84,40}</string>
            </dict>
            <key>jg_huangdengquanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,812},{196,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,202}}</string>
                <key>sourceSize</key>
                <string>{196,202}</string>
            </dict>
            <key>jg_huangdengquanzhong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,684},{84,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,40}}</string>
                <key>sourceSize</key>
                <string>{84,40}</string>
            </dict>
            <key>jg_lianxiancaijin.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,608},{196,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,202}}</string>
                <key>sourceSize</key>
                <string>{196,202}</string>
            </dict>
            <key>jg_lianxiancaijin_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,669},{84,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,40}}</string>
                <key>sourceSize</key>
                <string>{84,40}</string>
            </dict>
            <key>jg_lvdengquanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,404},{196,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,202}}</string>
                <key>sourceSize</key>
                <string>{196,202}</string>
            </dict>
            <key>jg_lvdengquanzhong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,667},{84,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,40}}</string>
                <key>sourceSize</key>
                <string>{84,40}</string>
            </dict>
            <key>jg_niumowangquanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,200},{196,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,202}}</string>
                <key>sourceSize</key>
                <string>{196,202}</string>
            </dict>
            <key>jg_niumowangquanzhong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,667},{84,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,40}}</string>
                <key>sourceSize</key>
                <string>{84,40}</string>
            </dict>
            <key>jg_qishierbian.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{196,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,202}}</string>
                <key>sourceSize</key>
                <string>{196,202}</string>
            </dict>
            <key>jg_qishierbian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,642},{84,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,40}}</string>
                <key>sourceSize</key>
                <string>{84,40}</string>
            </dict>
            <key>jg_sanlian.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{196,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,202}}</string>
                <key>sourceSize</key>
                <string>{196,202}</string>
            </dict>
            <key>jg_sanlian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,642},{84,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,40}}</string>
                <key>sourceSize</key>
                <string>{84,40}</string>
            </dict>
            <key>jg_shawujingquanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{196,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,202}}</string>
                <key>sourceSize</key>
                <string>{196,202}</string>
            </dict>
            <key>jg_shawujingquanzhong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,625},{84,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,40}}</string>
                <key>sourceSize</key>
                <string>{84,40}</string>
            </dict>
            <key>jg_sidatianwang.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{196,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,202}}</string>
                <key>sourceSize</key>
                <string>{196,202}</string>
            </dict>
            <key>jg_sidatianwang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,625},{84,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,40}}</string>
                <key>sourceSize</key>
                <string>{84,40}</string>
            </dict>
            <key>jg_sihaiguiy.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,818},{196,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,202}}</string>
                <key>sourceSize</key>
                <string>{196,202}</string>
            </dict>
            <key>jg_sihaiguiyi_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,600},{84,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,40}}</string>
                <key>sourceSize</key>
                <string>{84,40}</string>
            </dict>
            <key>jg_silian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{196,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,202}}</string>
                <key>sourceSize</key>
                <string>{196,202}</string>
            </dict>
            <key>jg_silian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,600},{84,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,40}}</string>
                <key>sourceSize</key>
                <string>{84,40}</string>
            </dict>
            <key>jg_sunwukongquanzhong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,410},{196,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,202}}</string>
                <key>sourceSize</key>
                <string>{196,202}</string>
            </dict>
            <key>jg_sunwukongquanzhong_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,583},{84,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,40}}</string>
                <key>sourceSize</key>
                <string>{84,40}</string>
            </dict>
            <key>jg_xiannvsanhua.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{196,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,202}}</string>
                <key>sourceSize</key>
                <string>{196,202}</string>
            </dict>
            <key>jg_xiannvsanhua_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,583},{84,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,40}}</string>
                <key>sourceSize</key>
                <string>{84,40}</string>
            </dict>
            <key>jg_zongheengihai.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{196,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,202}}</string>
                <key>sourceSize</key>
                <string>{196,202}</string>
            </dict>
            <key>jg_zonghengsihai_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,583},{84,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,40}}</string>
                <key>sourceSize</key>
                <string>{84,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jieguo.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e222c8844b4266c7a4889f5841210216$</string>
            <key>textureFileName</key>
            <string>jieguo.png</string>
        </dict>
    </dict>
</plist>
