<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>stay_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,1},{245,174}}</string>
                <key>offset</key>
                <string>{-94,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,9},{245,174}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1501,1},{245,174}}</string>
                <key>offset</key>
                <string>{-94,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,9},{245,174}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1189},{247,174}}</string>
                <key>offset</key>
                <string>{-95,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,9},{247,174}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,179},{241,174}}</string>
                <key>offset</key>
                <string>{-95,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,10},{241,174}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,610},{237,174}}</string>
                <key>offset</key>
                <string>{-96,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,9},{237,174}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,547},{237,174}}</string>
                <key>offset</key>
                <string>{-97,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,9},{237,174}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,361},{235,174}}</string>
                <key>offset</key>
                <string>{-98,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,9},{235,174}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,938},{237,174}}</string>
                <key>offset</key>
                <string>{-99,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,9},{237,174}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1416},{237,172}}</string>
                <key>offset</key>
                <string>{-99,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,10},{237,172}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1177},{237,174}}</string>
                <key>offset</key>
                <string>{-98,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,9},{237,174}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,897},{239,172}}</string>
                <key>offset</key>
                <string>{-98,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,10},{239,172}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,786},{241,174}}</string>
                <key>offset</key>
                <string>{-95,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,9},{241,174}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1389,361},{241,174}}</string>
                <key>offset</key>
                <string>{-95,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,9},{241,174}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,786},{243,174}}</string>
                <key>offset</key>
                <string>{-95,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,9},{243,174}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1748,1},{245,174}}</string>
                <key>offset</key>
                <string>{-94,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,8},{245,174}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,189},{245,174}}</string>
                <key>offset</key>
                <string>{-93,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,9},{245,174}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,938},{249,174}}</string>
                <key>offset</key>
                <string>{-93,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,9},{249,174}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,1},{249,174}}</string>
                <key>offset</key>
                <string>{-93,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,9},{249,174}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,436},{245,178}}</string>
                <key>offset</key>
                <string>{-94,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,8},{245,178}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1025,177},{243,180}}</string>
                <key>offset</key>
                <string>{-95,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,7},{243,180}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,177},{241,182}}</string>
                <key>offset</key>
                <string>{-95,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,9},{241,182}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1513,177},{241,182}}</string>
                <key>offset</key>
                <string>{-94,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,10},{241,182}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,440},{245,182}}</string>
                <key>offset</key>
                <string>{-93,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,10},{245,182}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,177},{243,182}}</string>
                <key>offset</key>
                <string>{-95,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,10},{243,182}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1756,177},{239,184}}</string>
                <key>offset</key>
                <string>{-97,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,10},{239,184}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,361},{235,184}}</string>
                <key>offset</key>
                <string>{-99,26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,13},{235,184}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,598},{233,184}}</string>
                <key>offset</key>
                <string>{-99,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,11},{233,184}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,687},{227,182}}</string>
                <key>offset</key>
                <string>{-102,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,15},{227,182}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,1136},{223,180}}</string>
                <key>offset</key>
                <string>{-106,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,18},{223,180}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1136},{213,174}}</string>
                <key>offset</key>
                <string>{-109,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,26},{213,174}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,1585},{207,166}}</string>
                <key>offset</key>
                <string>{-114,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,36},{207,166}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1525},{205,158}}</string>
                <key>offset</key>
                <string>{-113,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,43},{205,158}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1837,1282},{213,156}}</string>
                <key>offset</key>
                <string>{-121,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,41},{213,156}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,1063},{221,154}}</string>
                <key>offset</key>
                <string>{-131,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,43},{221,154}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,1249},{225,158}}</string>
                <key>offset</key>
                <string>{-138,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,43},{225,158}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1673,1286},{221,162}}</string>
                <key>offset</key>
                <string>{-145,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,42},{221,162}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,1585},{213,166}}</string>
                <key>offset</key>
                <string>{-150,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,43},{213,166}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,711},{217,170}}</string>
                <key>offset</key>
                <string>{-148,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{217,170}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,897},{217,172}}</string>
                <key>offset</key>
                <string>{-144,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,42},{217,172}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,1351},{221,174}}</string>
                <key>offset</key>
                <string>{-141,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,42},{221,174}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1495,1302},{221,176}}</string>
                <key>offset</key>
                <string>{-139,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,41},{221,176}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,1071},{225,176}}</string>
                <key>offset</key>
                <string>{-141,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,42},{225,176}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,1318},{223,176}}</string>
                <key>offset</key>
                <string>{-141,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,43},{223,176}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,883},{219,178}}</string>
                <key>offset</key>
                <string>{-141,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,43},{219,178}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1769,883},{211,178}}</string>
                <key>offset</key>
                <string>{-141,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,42},{211,178}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,1537},{209,172}}</string>
                <key>offset</key>
                <string>{-134,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,44},{209,172}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1377},{203,170}}</string>
                <key>offset</key>
                <string>{-129,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,43},{203,170}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1381},{197,168}}</string>
                <key>offset</key>
                <string>{-122,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,41},{197,168}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{1788,1509},{195,162}}</string>
                <key>offset</key>
                <string>{-118,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,43},{195,162}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,1585},{211,164}}</string>
                <key>offset</key>
                <string>{-112,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,38},{211,164}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{1819,1063},{217,170}}</string>
                <key>offset</key>
                <string>{-107,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,32},{217,170}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,1409},{227,174}}</string>
                <key>offset</key>
                <string>{-103,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,26},{227,174}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,962},{229,178}}</string>
                <key>offset</key>
                <string>{-100,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,21},{229,178}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,784},{233,180}}</string>
                <key>offset</key>
                <string>{-98,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,17},{233,180}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{1152,361},{235,184}}</string>
                <key>offset</key>
                <string>{-98,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,13},{235,184}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,422},{235,186}}</string>
                <key>offset</key>
                <string>{-97,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,10},{235,186}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,179},{241,186}}</string>
                <key>offset</key>
                <string>{-97,30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,8},{241,186}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,367},{241,186}}</string>
                <key>offset</key>
                <string>{-94,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,8},{241,186}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{245,186}}</string>
                <key>offset</key>
                <string>{-92,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,6},{245,186}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,189},{249,182}}</string>
                <key>offset</key>
                <string>{-90,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,7},{249,182}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,687},{249,178}}</string>
                <key>offset</key>
                <string>{-90,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,8},{249,178}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_62.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1},{253,176}}</string>
                <key>offset</key>
                <string>{-91,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,9},{253,176}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_63.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,1},{249,176}}</string>
                <key>offset</key>
                <string>{-90,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,7},{249,176}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,1},{247,174}}</string>
                <key>offset</key>
                <string>{-94,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,9},{247,174}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,537},{241,174}}</string>
                <key>offset</key>
                <string>{-95,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,9},{241,174}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{1634,537},{241,172}}</string>
                <key>offset</key>
                <string>{-95,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,8},{241,172}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_67.png</key>
            <dict>
                <key>frame</key>
                <string>{{1877,606},{237,170}}</string>
                <key>offset</key>
                <string>{-97,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,10},{237,170}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_68.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,962},{235,170}}</string>
                <key>offset</key>
                <string>{-98,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,11},{235,170}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_69.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,966},{235,168}}</string>
                <key>offset</key>
                <string>{-100,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,11},{235,168}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_70.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,1071},{231,168}}</string>
                <key>offset</key>
                <string>{-100,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,11},{231,168}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_71.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,1071},{229,168}}</string>
                <key>offset</key>
                <string>{-101,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,11},{229,168}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_72.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,1585},{231,166}}</string>
                <key>offset</key>
                <string>{-102,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,13},{231,166}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_73.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,1585},{231,166}}</string>
                <key>offset</key>
                <string>{-101,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,13},{231,166}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_74.png</key>
            <dict>
                <key>frame</key>
                <string>{{1325,1304},{231,168}}</string>
                <key>offset</key>
                <string>{-100,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,11},{231,168}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,1142},{233,170}}</string>
                <key>offset</key>
                <string>{-99,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,11},{233,170}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_76.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,1142},{237,168}}</string>
                <key>offset</key>
                <string>{-98,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,11},{237,168}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_77.png</key>
            <dict>
                <key>frame</key>
                <string>{{1391,713},{239,168}}</string>
                <key>offset</key>
                <string>{-98,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,12},{239,168}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_78.png</key>
            <dict>
                <key>frame</key>
                <string>{{1877,363},{241,170}}</string>
                <key>offset</key>
                <string>{-97,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,10},{241,170}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_79.png</key>
            <dict>
                <key>frame</key>
                <string>{{1632,363},{243,172}}</string>
                <key>offset</key>
                <string>{-95,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,11},{243,172}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_80.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,723},{243,172}}</string>
                <key>offset</key>
                <string>{-93,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,11},{243,172}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_81.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,610},{245,174}}</string>
                <key>offset</key>
                <string>{-93,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,9},{245,174}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
            <key>stay_82.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1438},{247,174}}</string>
                <key>offset</key>
                <string>{-93,36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,8},{247,174}}</string>
                <key>sourceSize</key>
                <string>{513,262}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>stay.png</string>
            <key>size</key>
            <string>{2048,1752}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5e9f11100fb3366cae800eb8e546386a:f3b7bbc6da4b7fb4daae977987b1eaf2:38805a64daa77c80b438ca6412d1bca2$</string>
            <key>textureFileName</key>
            <string>stay.png</string>
        </dict>
    </dict>
</plist>
