<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bw_vfx_a_screen.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,1509},{500,380}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{543,1509},{500,380}}</string>
				<key>sourceSize</key>
				<string>{500,380}</string>
			</dict>
			<key>bw_vfx_b_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{490,700}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{490,700}}</string>
				<key>sourceSize</key>
				<string>{490,700}</string>
			</dict>
			<key>bw_vfx_c_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,1},{600,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{493,1},{600,500}}</string>
				<key>sourceSize</key>
				<string>{600,500}</string>
			</dict>
			<key>bw_vfx_d_screen_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1045,543},{540,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1045,543},{540,300}}</string>
				<key>sourceSize</key>
				<string>{540,300}</string>
			</dict>
			<key>bw_vfx_d_screen_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,905},{540,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{503,905},{540,300}}</string>
				<key>sourceSize</key>
				<string>{540,300}</string>
			</dict>
			<key>bw_vfx_d_screen_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1045,1085},{540,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1045,1085},{540,300}}</string>
				<key>sourceSize</key>
				<string>{540,300}</string>
			</dict>
			<key>bw_vfx_d_screen_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1095,1},{540,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1095,1},{540,250}}</string>
				<key>sourceSize</key>
				<string>{540,250}</string>
			</dict>
			<key>bw_vfx_d_screen_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,503},{540,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{503,503},{540,400}}</string>
				<key>sourceSize</key>
				<string>{540,400}</string>
			</dict>
			<key>bw_vfx_d_screen_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,1207},{540,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{503,1207},{540,300}}</string>
				<key>sourceSize</key>
				<string>{540,300}</string>
			</dict>
			<key>bw_vfx_e_add_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1707},{540,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1707},{540,250}}</string>
				<key>sourceSize</key>
				<string>{540,250}</string>
			</dict>
			<key>bw_vfx_i_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,703},{500,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,703},{500,500}}</string>
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
			<key>bw_vfx_k_screen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1205},{500,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1205},{500,500}}</string>
				<key>sourceSize</key>
				<string>{500,500}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>0355657d-cf43-4bad-b5e6-e13eaf4cba91.eeab5.jpg</string>
			<key>size</key>
			<string>{1346,1958}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>0355657d-cf43-4bad-b5e6-e13eaf4cba91.eeab5.jpg</string>
		</dict>
	</dict>
</plist>
