<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ib_mw_vfx_b_add_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1635},{726,45}}</string>
				<key>offset</key>
				<string>{-15,-99}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1635},{726,45}}</string>
				<key>sourceSize</key>
				<string>{756,273}</string>
			</dict>
			<key>ib_mw_vfx_b_add_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,1173},{756,79}}</string>
				<key>offset</key>
				<string>{0,-82}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{725,1173},{756,79}}</string>
				<key>sourceSize</key>
				<string>{756,273}</string>
			</dict>
			<key>ib_mw_vfx_b_add_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1578},{756,95}}</string>
				<key>offset</key>
				<string>{0,-74}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,1578},{756,95}}</string>
				<key>sourceSize</key>
				<string>{756,273}</string>
			</dict>
			<key>ib_mw_vfx_b_add_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,897},{756,123}}</string>
				<key>offset</key>
				<string>{0,-60}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,897},{756,123}}</string>
				<key>sourceSize</key>
				<string>{756,273}</string>
			</dict>
			<key>ib_mw_vfx_b_add_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,1254},{756,137}}</string>
				<key>offset</key>
				<string>{0,-53}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{713,1254},{756,137}}</string>
				<key>sourceSize</key>
				<string>{756,273}</string>
			</dict>
			<key>ib_mw_vfx_b_add_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,1022},{756,149}}</string>
				<key>offset</key>
				<string>{0,-47}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{725,1022},{756,149}}</string>
				<key>sourceSize</key>
				<string>{756,273}</string>
			</dict>
			<key>ib_mw_vfx_b_add_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1458},{756,175}}</string>
				<key>offset</key>
				<string>{0,-34}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1458},{756,175}}</string>
				<key>sourceSize</key>
				<string>{756,273}</string>
			</dict>
			<key>ib_mw_vfx_b_add_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,823},{756,183}}</string>
				<key>offset</key>
				<string>{0,-30}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,823},{756,183}}</string>
				<key>sourceSize</key>
				<string>{756,273}</string>
			</dict>
			<key>ib_mw_vfx_b_add_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,634},{756,187}}</string>
				<key>offset</key>
				<string>{0,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,634},{756,187}}</string>
				<key>sourceSize</key>
				<string>{756,273}</string>
			</dict>
			<key>ib_mw_vfx_b_add_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1497,1},{756,193}}</string>
				<key>offset</key>
				<string>{0,-25}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1497,1},{756,193}}</string>
				<key>sourceSize</key>
				<string>{756,273}</string>
			</dict>
			<key>ib_mw_vfx_b_add_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,431},{756,201}}</string>
				<key>offset</key>
				<string>{0,-21}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,431},{756,201}}</string>
				<key>sourceSize</key>
				<string>{756,273}</string>
			</dict>
			<key>ib_mw_vfx_b_add_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,218},{756,211}}</string>
				<key>offset</key>
				<string>{0,-16}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,218},{756,211}}</string>
				<key>sourceSize</key>
				<string>{756,273}</string>
			</dict>
			<key>ib_mw_vfx_b_add_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{756,215}}</string>
				<key>offset</key>
				<string>{0,-14}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{756,215}}</string>
				<key>sourceSize</key>
				<string>{756,273}</string>
			</dict>
			<key>ib_mw_vfx_b_add_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,676},{736,219}}</string>
				<key>offset</key>
				<string>{-10,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,676},{736,219}}</string>
				<key>sourceSize</key>
				<string>{756,273}</string>
			</dict>
			<key>ib_mw_vfx_b_add_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1},{736,223}}</string>
				<key>offset</key>
				<string>{-10,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,1},{736,223}}</string>
				<key>sourceSize</key>
				<string>{756,273}</string>
			</dict>
			<key>ib_mw_vfx_b_add_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,226},{736,223}}</string>
				<key>offset</key>
				<string>{-10,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,226},{736,223}}</string>
				<key>sourceSize</key>
				<string>{756,273}</string>
			</dict>
			<key>ib_mw_vfx_b_add_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1008},{722,225}}</string>
				<key>offset</key>
				<string>{-17,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1008},{722,225}}</string>
				<key>sourceSize</key>
				<string>{756,273}</string>
			</dict>
			<key>ib_mw_vfx_b_add_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,451},{736,223}}</string>
				<key>offset</key>
				<string>{-10,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,451},{736,223}}</string>
				<key>sourceSize</key>
				<string>{756,273}</string>
			</dict>
			<key>ib_mw_vfx_b_add_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1235},{710,221}}</string>
				<key>offset</key>
				<string>{-23,-11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1235},{710,221}}</string>
				<key>sourceSize</key>
				<string>{756,273}</string>
			</dict>
			<key>ib_mw_vfx_b_add_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1517,759},{664,157}}</string>
				<key>offset</key>
				<string>{-23,-43}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1517,759},{664,157}}</string>
				<key>sourceSize</key>
				<string>{756,273}</string>
			</dict>
			<key>ib_mw_vfx_b_add_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1393},{654,183}}</string>
				<key>offset</key>
				<string>{-18,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,1393},{654,183}}</string>
				<key>sourceSize</key>
				<string>{756,273}</string>
			</dict>
			<key>ib_mw_vfx_b_add_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,1008},{3,3}}</string>
				<key>offset</key>
				<string>{-377,135}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{725,1008},{3,3}}</string>
				<key>sourceSize</key>
				<string>{756,273}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>13431194-87d5-4b9c-aebd-a20447f5821b.bc83e.jpg</string>
			<key>size</key>
			<string>{1691,1691}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>13431194-87d5-4b9c-aebd-a20447f5821b.bc83e.jpg</string>
		</dict>
	</dict>
</plist>
