<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ib_bar_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,307},{966,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,307},{966,112}}</string>
				<key>sourceSize</key>
				<string>{966,112}</string>
			</dict>
			<key>ib_bar_a_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,421},{251,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,421},{251,112}}</string>
				<key>sourceSize</key>
				<string>{251,112}</string>
			</dict>
			<key>ib_bar_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{966,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{966,152}}</string>
				<key>sourceSize</key>
				<string>{966,152}</string>
			</dict>
			<key>ib_bar_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,155},{966,150}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,155},{966,150}}</string>
				<key>sourceSize</key>
				<string>{966,152}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>2eac0317-3304-4960-bf78-cd72d29c0b3b.aac5a.png</string>
			<key>size</key>
			<string>{968,534}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>2eac0317-3304-4960-bf78-cd72d29c0b3b.aac5a.png</string>
		</dict>
	</dict>
</plist>
