<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ib_mw_vfx_c_normal_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1471},{648,47}}</string>
				<key>offset</key>
				<string>{4,-80}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1471},{648,47}}</string>
				<key>sourceSize</key>
				<string>{756,209}</string>
			</dict>
			<key>ib_mw_vfx_c_normal_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1360,718},{666,85}}</string>
				<key>offset</key>
				<string>{-3,-61}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1360,718},{666,85}}</string>
				<key>sourceSize</key>
				<string>{756,209}</string>
			</dict>
			<key>ib_mw_vfx_c_normal_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1265,718},{668,93}}</string>
				<key>offset</key>
				<string>{-3,-50}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1265,718},{668,93}}</string>
				<key>sourceSize</key>
				<string>{756,209}</string>
			</dict>
			<key>ib_mw_vfx_c_normal_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,480},{718,129}}</string>
				<key>offset</key>
				<string>{18,-39}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{731,480},{718,129}}</string>
				<key>sourceSize</key>
				<string>{756,209}</string>
			</dict>
			<key>ib_mw_vfx_c_normal_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,184},{722,141}}</string>
				<key>offset</key>
				<string>{17,-33}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{733,184},{722,141}}</string>
				<key>sourceSize</key>
				<string>{756,209}</string>
			</dict>
			<key>ib_mw_vfx_c_normal_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,327},{722,151}}</string>
				<key>offset</key>
				<string>{17,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{731,327},{722,151}}</string>
				<key>sourceSize</key>
				<string>{756,209}</string>
			</dict>
			<key>ib_mw_vfx_c_normal_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,737},{726,167}}</string>
				<key>offset</key>
				<string>{15,-20}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{351,737},{726,167}}</string>
				<key>sourceSize</key>
				<string>{756,209}</string>
			</dict>
			<key>ib_mw_vfx_c_normal_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,737},{726,173}}</string>
				<key>offset</key>
				<string>{15,-17}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{176,737},{726,173}}</string>
				<key>sourceSize</key>
				<string>{756,209}</string>
			</dict>
			<key>ib_mw_vfx_c_normal_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,371},{728,181}}</string>
				<key>offset</key>
				<string>{14,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,371},{728,181}}</string>
				<key>sourceSize</key>
				<string>{756,209}</string>
			</dict>
			<key>ib_mw_vfx_c_normal_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,554},{728,181}}</string>
				<key>offset</key>
				<string>{14,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,554},{728,181}}</string>
				<key>sourceSize</key>
				<string>{756,209}</string>
			</dict>
			<key>ib_mw_vfx_c_normal_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,186},{728,183}}</string>
				<key>offset</key>
				<string>{14,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,186},{728,183}}</string>
				<key>sourceSize</key>
				<string>{756,209}</string>
			</dict>
			<key>ib_mw_vfx_c_normal_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{730,183}}</string>
				<key>offset</key>
				<string>{13,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{730,183}}</string>
				<key>sourceSize</key>
				<string>{756,209}</string>
			</dict>
			<key>ib_mw_vfx_c_normal_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,1},{730,181}}</string>
				<key>offset</key>
				<string>{13,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{733,1},{730,181}}</string>
				<key>sourceSize</key>
				<string>{756,209}</string>
			</dict>
			<key>ib_mw_vfx_c_normal_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,737},{730,173}}</string>
				<key>offset</key>
				<string>{12,-17}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,737},{730,173}}</string>
				<key>sourceSize</key>
				<string>{756,209}</string>
			</dict>
			<key>ib_mw_vfx_c_normal_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,737},{732,167}}</string>
				<key>offset</key>
				<string>{11,-20}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{520,737},{732,167}}</string>
				<key>sourceSize</key>
				<string>{756,209}</string>
			</dict>
			<key>ib_mw_vfx_c_normal_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,737},{732,161}}</string>
				<key>offset</key>
				<string>{11,-23}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{689,737},{732,161}}</string>
				<key>sourceSize</key>
				<string>{756,209}</string>
			</dict>
			<key>ib_mw_vfx_c_normal_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,718},{700,145}}</string>
				<key>offset</key>
				<string>{-6,-31}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{852,718},{700,145}}</string>
				<key>sourceSize</key>
				<string>{756,209}</string>
			</dict>
			<key>ib_mw_vfx_c_normal_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,718},{700,137}}</string>
				<key>offset</key>
				<string>{-6,-35}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{999,718},{700,137}}</string>
				<key>sourceSize</key>
				<string>{756,209}</string>
			</dict>
			<key>ib_mw_vfx_c_normal_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1138,718},{700,125}}</string>
				<key>offset</key>
				<string>{-6,-40}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1138,718},{700,125}}</string>
				<key>sourceSize</key>
				<string>{756,209}</string>
			</dict>
			<key>ib_mw_vfx_c_normal_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,611},{698,105}}</string>
				<key>offset</key>
				<string>{-8,-51}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{731,611},{698,105}}</string>
				<key>sourceSize</key>
				<string>{756,209}</string>
			</dict>
			<key>ib_mw_vfx_c_normal_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{852,1420},{614,91}}</string>
				<key>offset</key>
				<string>{-48,-58}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{852,1420},{614,91}}</string>
				<key>sourceSize</key>
				<string>{756,209}</string>
			</dict>
			<key>ib_mw_vfx_c_normal_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1447,611},{436,65}}</string>
				<key>offset</key>
				<string>{-101,-71}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1447,611},{436,65}}</string>
				<key>sourceSize</key>
				<string>{756,209}</string>
			</dict>
			<key>ib_mw_vfx_c_normal_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1265,1388},{30,35}}</string>
				<key>offset</key>
				<string>{-9,-71}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1265,1388},{30,35}}</string>
				<key>sourceSize</key>
				<string>{756,209}</string>
			</dict>
			<key>ib_mw_vfx_c_normal_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1302,1388},{30,35}}</string>
				<key>offset</key>
				<string>{-9,-86}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1302,1388},{30,35}}</string>
				<key>sourceSize</key>
				<string>{756,209}</string>
			</dict>
			<key>ib_mw_vfx_c_normal_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{731,718},{3,3}}</string>
				<key>offset</key>
				<string>{-377,103}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{731,718},{3,3}}</string>
				<key>sourceSize</key>
				<string>{756,209}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>2f648228-ff3c-4f3c-9650-4262c46a04d2.bbd5d.png</string>
			<key>size</key>
			<string>{1519,1519}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>2f648228-ff3c-4f3c-9650-4262c46a04d2.bbd5d.png</string>
		</dict>
	</dict>
</plist>
