<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui_chac.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,187},{275,466}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{681,187},{275,466}}</string>
				<key>sourceSize</key>
				<string>{275,468}</string>
			</dict>
			<key>ui_gate.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,757},{959,1117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,757},{959,1117}}</string>
				<key>sourceSize</key>
				<string>{959,1117}</string>
			</dict>
			<key>ui_payout.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,187},{426,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{253,187},{426,197}}</string>
				<key>sourceSize</key>
				<string>{426,197}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>3469689f-af64-4495-b66a-ef23a36a59be.b5cfe.png</string>
			<key>size</key>
			<string>{961,1875}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>3469689f-af64-4495-b66a-ef23a36a59be.b5cfe.png</string>
		</dict>
	</dict>
</plist>
