<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mh_auto_vfx_a_screen.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,165},{138,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{638,165},{138,137}}</string>
				<key>sourceSize</key>
				<string>{138,137}</string>
			</dict>
			<key>mh_spin_vfx_a_screen.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,1},{161,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{638,1},{161,162}}</string>
				<key>sourceSize</key>
				<string>{161,162}</string>
			</dict>
			<key>sb_vfx_c_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,1},{284,284}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{352,1},{284,284}}</string>
				<key>sourceSize</key>
				<string>{284,284}</string>
			</dict>
			<key>sb_vfx_d_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{349,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{349,349}}</string>
				<key>sourceSize</key>
				<string>{349,349}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>3b8f6e95-d0e2-49a3-aa0f-29d1d9f48bac.0f673.jpg</string>
			<key>size</key>
			<string>{800,351}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>3b8f6e95-d0e2-49a3-aa0f-29d1d9f48bac.0f673.jpg</string>
		</dict>
	</dict>
</plist>
