<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fs_vfx_g_screen_01_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_01_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,1},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{253,1},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_01_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,1},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{505,1},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_01_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,1},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{757,1},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_01_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,253},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,253},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_01_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,253},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{253,253},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_01_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,253},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{505,253},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_01_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,253},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{757,253},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_01_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,505},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,505},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_01_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,505},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{253,505},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_01_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,505},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{505,505},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_01_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,505},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{757,505},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_01_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,757},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,757},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_01_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,757},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{253,757},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_01_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,757},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{505,757},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_01_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,757},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{757,757},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_01_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1009},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1009},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_01_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,1009},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{253,1009},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_01_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,1009},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{505,1009},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_01_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,1009},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{757,1009},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>3eaa6b04-f1d6-4d50-8f68-bebc3abea67c.b9e7d.jpg</string>
			<key>size</key>
			<string>{1008,1260}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>3eaa6b04-f1d6-4d50-8f68-bebc3abea67c.b9e7d.jpg</string>
		</dict>
	</dict>
</plist>
