<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mtp_vfx_c_add_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1223,229},{38,72}}</string>
				<key>offset</key>
				<string>{-219,-43}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1223,229},{38,72}}</string>
				<key>sourceSize</key>
				<string>{476,708}</string>
			</dict>
			<key>mtp_vfx_c_add_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,1487},{90,158}}</string>
				<key>offset</key>
				<string>{-193,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{781,1487},{90,158}}</string>
				<key>sourceSize</key>
				<string>{476,708}</string>
			</dict>
			<key>mtp_vfx_c_add_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1109,229},{112,184}}</string>
				<key>offset</key>
				<string>{-182,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1109,229},{112,184}}</string>
				<key>sourceSize</key>
				<string>{476,708}</string>
			</dict>
			<key>mtp_vfx_c_add_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1109,1},{156,226}}</string>
				<key>offset</key>
				<string>{-160,18}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1109,1},{156,226}}</string>
				<key>sourceSize</key>
				<string>{476,708}</string>
			</dict>
			<key>mtp_vfx_c_add_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1057,683},{176,246}}</string>
				<key>offset</key>
				<string>{-150,24}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1057,683},{176,246}}</string>
				<key>sourceSize</key>
				<string>{476,708}</string>
			</dict>
			<key>mtp_vfx_c_add_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1057,415},{194,266}}</string>
				<key>offset</key>
				<string>{-141,29}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1057,415},{194,266}}</string>
				<key>sourceSize</key>
				<string>{476,708}</string>
			</dict>
			<key>mtp_vfx_c_add_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,1151},{230,296}}</string>
				<key>offset</key>
				<string>{-123,32}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{247,1151},{230,296}}</string>
				<key>sourceSize</key>
				<string>{476,708}</string>
			</dict>
			<key>mtp_vfx_c_add_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1151},{244,328}}</string>
				<key>offset</key>
				<string>{-116,42}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1151},{244,328}}</string>
				<key>sourceSize</key>
				<string>{476,708}</string>
			</dict>
			<key>mtp_vfx_c_add_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,931},{274,362}}</string>
				<key>offset</key>
				<string>{-101,44}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1007,931},{274,362}}</string>
				<key>sourceSize</key>
				<string>{476,708}</string>
			</dict>
			<key>mtp_vfx_c_add_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,1487},{286,380}}</string>
				<key>offset</key>
				<string>{-95,44}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{399,1487},{286,380}}</string>
				<key>sourceSize</key>
				<string>{476,708}</string>
			</dict>
			<key>mtp_vfx_c_add_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1487},{300,396}}</string>
				<key>offset</key>
				<string>{-88,44}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1487},{300,396}}</string>
				<key>sourceSize</key>
				<string>{476,708}</string>
			</dict>
			<key>mtp_vfx_c_add_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,1295},{328,430}}</string>
				<key>offset</key>
				<string>{-74,41}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{933,1295},{328,430}}</string>
				<key>sourceSize</key>
				<string>{476,708}</string>
			</dict>
			<key>mtp_vfx_c_add_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,1143},{342,442}}</string>
				<key>offset</key>
				<string>{-67,41}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{489,1143},{342,442}}</string>
				<key>sourceSize</key>
				<string>{476,708}</string>
			</dict>
			<key>mtp_vfx_c_add_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,779},{370,486}}</string>
				<key>offset</key>
				<string>{-53,49}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,779},{370,486}}</string>
				<key>sourceSize</key>
				<string>{476,708}</string>
			</dict>
			<key>mtp_vfx_c_add_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,755},{386,492}}</string>
				<key>offset</key>
				<string>{-45,36}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{513,755},{386,492}}</string>
				<key>sourceSize</key>
				<string>{476,708}</string>
			</dict>
			<key>mtp_vfx_c_add_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,379},{398,510}}</string>
				<key>offset</key>
				<string>{-39,32}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,379},{398,510}}</string>
				<key>sourceSize</key>
				<string>{476,708}</string>
			</dict>
			<key>mtp_vfx_c_add_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,387},{366,542}}</string>
				<key>offset</key>
				<string>{-55,25}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{513,387},{366,542}}</string>
				<key>sourceSize</key>
				<string>{476,708}</string>
			</dict>
			<key>mtp_vfx_c_add_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{376,562}}</string>
				<key>offset</key>
				<string>{-50,17}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{376,562}}</string>
				<key>sourceSize</key>
				<string>{476,708}</string>
			</dict>
			<key>mtp_vfx_c_add_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,1},{384,542}}</string>
				<key>offset</key>
				<string>{-39,28}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{565,1},{384,542}}</string>
				<key>sourceSize</key>
				<string>{476,708}</string>
			</dict>
			<key>mtp_vfx_c_add_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1223,303},{24,26}}</string>
				<key>offset</key>
				<string>{-206,284}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1223,303},{24,26}}</string>
				<key>sourceSize</key>
				<string>{476,708}</string>
			</dict>
			<key>mtp_vfx_c_add_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1267,1},{3,3}}</string>
				<key>offset</key>
				<string>{-237,353}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1267,1},{3,3}}</string>
				<key>sourceSize</key>
				<string>{476,708}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>3fe6c84d-af5e-46e4-8817-27cb93f9ff66.5ed97.jpg</string>
			<key>size</key>
			<string>{1282,1788}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>3fe6c84d-af5e-46e4-8817-27cb93f9ff66.5ed97.jpg</string>
		</dict>
	</dict>
</plist>
