<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mtp_vfx_b_screen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{756,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{756,568}}</string>
				<key>sourceSize</key>
				<string>{756,568}</string>
			</dict>
			<key>ps_vfx_a_angpao_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1},{350,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,1},{350,350}}</string>
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>ps_vfx_a_carrot_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,922},{350,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,922},{350,350}}</string>
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>ps_vfx_a_cash_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,571},{350,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{385,571},{350,350}}</string>
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>ps_vfx_a_coin_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,923},{350,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{353,923},{350,350}}</string>
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>ps_vfx_a_firecracker_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,923},{350,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{705,923},{350,350}}</string>
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>ps_vfx_a_ingot_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,571},{350,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{737,571},{350,350}}</string>
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>ps_vfx_a_pouch_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1057,923},{350,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1057,923},{350,350}}</string>
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>ps_vfx_a_wild_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1089,508},{350,350}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1089,508},{350,350}}</string>
				<key>sourceSize</key>
				<string>{350,350}</string>
			</dict>
			<key>ps_vfx_d_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,257},{263,249}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1111,257},{263,249}}</string>
				<key>sourceSize</key>
				<string>{263,249}</string>
			</dict>
			<key>ps_vfx_e_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,571},{382,349}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,571},{382,349}}</string>
				<key>sourceSize</key>
				<string>{382,349}</string>
			</dict>
			<key>ps_vfx_f_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1111,1},{266,254}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1111,1},{266,254}}</string>
				<key>sourceSize</key>
				<string>{266,254}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>46ffed50-f8e9-4b2d-9fc1-c512adc64a66.68606.jpg</string>
			<key>size</key>
			<string>{1440,1274}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>46ffed50-f8e9-4b2d-9fc1-c512adc64a66.68606.jpg</string>
		</dict>
	</dict>
</plist>
