<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_infoglow_a_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1352,291},{540,360}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1352,291},{540,360}}</string>
				<key>sourceSize</key>
				<string>{540,360}</string>
			</dict>
			<key>bg_logo_vfx_a_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1352,833},{106,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1352,833},{106,105}}</string>
				<key>sourceSize</key>
				<string>{106,105}</string>
			</dict>
			<key>bg_logo_vfx_b_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,804},{46,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{645,804},{46,132}}</string>
				<key>sourceSize</key>
				<string>{46,132}</string>
			</dict>
			<key>bg_logo_vfx_c_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,804},{48,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{595,804},{48,132}}</string>
				<key>sourceSize</key>
				<string>{48,132}</string>
			</dict>
			<key>fs_vfx_a_01_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,1},{337,801}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{328,1},{337,801}}</string>
				<key>sourceSize</key>
				<string>{337,801}</string>
			</dict>
			<key>fs_vfx_a_02_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,291},{338,641}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{693,291},{338,641}}</string>
				<key>sourceSize</key>
				<string>{338,641}</string>
			</dict>
			<key>fs_vfx_d_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{693,1},{288,975}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{693,1},{288,975}}</string>
				<key>sourceSize</key>
				<string>{288,975}</string>
			</dict>
			<key>ua_vfx_a_01_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{325,825}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{325,825}}</string>
				<key>sourceSize</key>
				<string>{325,825}</string>
			</dict>
			<key>ua_vfx_a_02_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1033,291},{317,639}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1033,291},{317,639}}</string>
				<key>sourceSize</key>
				<string>{317,639}</string>
			</dict>
			<key>ua_vfx_a_03_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,828},{109,592}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,828},{109,592}}</string>
				<key>sourceSize</key>
				<string>{109,592}</string>
			</dict>
			<key>ua_vfx_b_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1460,833},{98,279}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1460,833},{98,279}}</string>
				<key>sourceSize</key>
				<string>{98,279}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>5675bf5b-deb4-4f18-87fb-8bb168c45384.3b24c.jpg</string>
			<key>size</key>
			<string>{1740,939}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>5675bf5b-deb4-4f18-87fb-8bb168c45384.3b24c.jpg</string>
		</dict>
	</dict>
</plist>
