<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>red_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,1},{39,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{43,1},{39,57}}</string>
				<key>sourceSize</key>
				<string>{39,57}</string>
			</dict>
			<key>red_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,1},{25,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{359,1},{25,57}}</string>
				<key>sourceSize</key>
				<string>{25,57}</string>
			</dict>
			<key>red_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,1},{37,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{166,1},{37,57}}</string>
				<key>sourceSize</key>
				<string>{37,57}</string>
			</dict>
			<key>red_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,1},{39,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{84,1},{39,57}}</string>
				<key>sourceSize</key>
				<string>{39,57}</string>
			</dict>
			<key>red_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{40,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{40,57}}</string>
				<key>sourceSize</key>
				<string>{40,57}</string>
			</dict>
			<key>red_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,1},{37,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{205,1},{37,57}}</string>
				<key>sourceSize</key>
				<string>{37,57}</string>
			</dict>
			<key>red_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,1},{36,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{283,1},{36,57}}</string>
				<key>sourceSize</key>
				<string>{36,57}</string>
			</dict>
			<key>red_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,1},{36,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{321,1},{36,57}}</string>
				<key>sourceSize</key>
				<string>{36,57}</string>
			</dict>
			<key>red_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,1},{39,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{125,1},{39,57}}</string>
				<key>sourceSize</key>
				<string>{39,57}</string>
			</dict>
			<key>red_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,1},{37,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{244,1},{37,57}}</string>
				<key>sourceSize</key>
				<string>{37,57}</string>
			</dict>
			<key>red_comma.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,1},{19,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{386,1},{19,25}}</string>
				<key>sourceSize</key>
				<string>{19,25}</string>
			</dict>
			<key>red_decimal.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,28},{20,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{386,28},{20,17}}</string>
				<key>sourceSize</key>
				<string>{20,17}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>676787ac-b38d-4b7d-985f-9f66aa635b74.c35fa.png</string>
			<key>size</key>
			<string>{406,59}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>676787ac-b38d-4b7d-985f-9f66aa635b74.c35fa.png</string>
		</dict>
	</dict>
</plist>
