<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ps_vfx_c_add_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,267},{226,228}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{535,267},{226,228}}</string>
				<key>sourceSize</key>
				<string>{454,456}</string>
			</dict>
			<key>ps_vfx_c_add_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,521},{246,246}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{277,521},{246,246}}</string>
				<key>sourceSize</key>
				<string>{454,456}</string>
			</dict>
			<key>ps_vfx_c_add_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,1},{222,222}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{547,1},{222,222}}</string>
				<key>sourceSize</key>
				<string>{454,456}</string>
			</dict>
			<key>ps_vfx_c_add_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,521},{242,242}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{525,521},{242,242}}</string>
				<key>sourceSize</key>
				<string>{454,456}</string>
			</dict>
			<key>ps_vfx_c_add_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,267},{252,252}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{281,267},{252,252}}</string>
				<key>sourceSize</key>
				<string>{454,456}</string>
			</dict>
			<key>ps_vfx_c_add_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,1},{264,264}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{281,1},{264,264}}</string>
				<key>sourceSize</key>
				<string>{454,456}</string>
			</dict>
			<key>ps_vfx_c_add_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,281},{274,274}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,281},{274,274}}</string>
				<key>sourceSize</key>
				<string>{454,456}</string>
			</dict>
			<key>ps_vfx_c_add_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{278,278}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{278,278}}</string>
				<key>sourceSize</key>
				<string>{454,456}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>6e599c49-9389-4287-a5b2-0d8b410f8977.44405.jpg</string>
			<key>size</key>
			<string>{770,770}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>6e599c49-9389-4287-a5b2-0d8b410f8977.44405.jpg</string>
		</dict>
	</dict>
</plist>
