<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>auto_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1219},{66,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1219},{66,63}}</string>
				<key>sourceSize</key>
				<string>{66,63}</string>
			</dict>
			<key>auto_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,519},{36,44}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{89,519},{36,44}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>auto_spin_count_normal_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1284},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1284},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>auto_spin_count_normal_btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,1315},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{63,1315},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>auto_spin_count_select_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1408},{56,8}}</string>
				<key>offset</key>
				<string>{0,-24}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1408},{56,8}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>bg_round_border.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1346},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1346},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>bg_round_solid.png</key>
			<dict>
				<key>frame</key>
				<string>{{63,1377},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{63,1377},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>bg_tooltip_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1458},{50,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1458},{50,24}}</string>
				<key>sourceSize</key>
				<string>{120,24}</string>
			</dict>
			<key>bg_tooltip_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>btn_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,123},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,123},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>btn_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1418},{50,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1418},{50,38}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>btn_minus.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,233},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,233},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>btn_turbo_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,343},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,343},{90,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>center_autoplay.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,430},{30,36}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{93,430},{30,36}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>center_turbo_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,799},{40,44}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{83,799},{40,44}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>center_turbo_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,565},{34,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{89,565},{34,44}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>ic_chip.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,753},{42,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{83,753},{42,44}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ic_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,517},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,517},{86,86}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_coupon.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,1439},{50,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{53,1439},{50,38}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ic_exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,435},{90,80}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,435},{90,80}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_free_game.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,1049},{44,42}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{81,1049},{44,42}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ic_nav_calender.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1155},{68,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1155},{68,62}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_nav_medium_sound_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1003},{78,74}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1003},{78,74}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_nav_medium_sound_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1079},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1079},{74,74}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_nav_return.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,1269},{56,44}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{69,1269},{56,44}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_paytable.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,839},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,839},{80,80}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_radio_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,933},{38,26}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{83,933},{38,26}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>ic_rollover.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1484},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1484},{48,48}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ic_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,753},{80,84}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,753},{80,84}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_slider.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,1217},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{71,1217},{50,50}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_soundoff.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,605},{86,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,605},{86,72}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_soundoff_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,493},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{93,493},{24,24}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>ic_soundon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,679},{86,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,679},{86,72}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{51,1484},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{51,1484},{48,48}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ic_toast_turbo_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,887},{38,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{83,887},{38,44}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>ic_toast_turbo_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,611},{34,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{89,611},{34,44}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>ic_wallet_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,468},{28,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{93,468},{28,23}}</string>
				<key>sourceSize</key>
				<string>{28,23}</string>
			</dict>
			<key>ic_wallet_open.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,1003},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{81,1003},{44,44}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>icon_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,921},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,921},{80,80}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>menu_close_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,845},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{83,845},{40,40}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>rounded_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,1161},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{71,1161},{54,54}}</string>
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>setting_info_footer_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,123},{3,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,123},{3,305}}</string>
				<key>sourceSize</key>
				<string>{3,305}</string>
			</dict>
			<key>setting_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{126,1531}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{126,1531}}</string>
				<key>sourceSize</key>
				<string>{126,1533}</string>
			</dict>
			<key>turbo_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,1093},{48,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{77,1093},{48,66}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>75e507a6-3bc5-4aa1-89ff-8fc31c86ef0c.34583.png</string>
			<key>size</key>
			<string>{126,1533}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>75e507a6-3bc5-4aa1-89ff-8fc31c86ef0c.34583.png</string>
		</dict>
	</dict>
</plist>
