<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bw_vfx_f_add_00020.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{432,488}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{432,488}}</string>
				<key>sourceSize</key>
				<string>{432,560}</string>
			</dict>
			<key>bw_vfx_f_add_00021.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,1},{432,488}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{491,1},{432,488}}</string>
				<key>sourceSize</key>
				<string>{432,560}</string>
			</dict>
			<key>bw_vfx_f_add_00022.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,1},{432,488}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{981,1},{432,488}}</string>
				<key>sourceSize</key>
				<string>{432,560}</string>
			</dict>
			<key>bw_vfx_f_add_00023.png</key>
			<dict>
				<key>frame</key>
				<string>{{1471,1},{432,490}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1471,1},{432,490}}</string>
				<key>sourceSize</key>
				<string>{432,560}</string>
			</dict>
			<key>bw_vfx_f_add_00024.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,435},{432,490}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,435},{432,490}}</string>
				<key>sourceSize</key>
				<string>{432,560}</string>
			</dict>
			<key>bw_vfx_f_add_00025.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,435},{432,490}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{493,435},{432,490}}</string>
				<key>sourceSize</key>
				<string>{432,560}</string>
			</dict>
			<key>bw_vfx_f_add_00026.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,493},{432,490}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{985,493},{432,490}}</string>
				<key>sourceSize</key>
				<string>{432,560}</string>
			</dict>
			<key>bw_vfx_f_add_00027.png</key>
			<dict>
				<key>frame</key>
				<string>{{1477,493},{432,490}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1477,493},{432,490}}</string>
				<key>sourceSize</key>
				<string>{432,560}</string>
			</dict>
			<key>bw_vfx_f_add_00028.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,869},{432,490}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,869},{432,490}}</string>
				<key>sourceSize</key>
				<string>{432,560}</string>
			</dict>
			<key>bw_vfx_f_add_00029.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,869},{432,490}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{493,869},{432,490}}</string>
				<key>sourceSize</key>
				<string>{432,560}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>9c275cb7-3e79-468c-8ed4-2abb03fd60f3.314fd.jpg</string>
			<key>size</key>
			<string>{1910,1302}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>9c275cb7-3e79-468c-8ed4-2abb03fd60f3.314fd.jpg</string>
		</dict>
	</dict>
</plist>
