<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fs_vfx_g_screen_02_00000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_02_00001.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,1},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{253,1},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_02_00002.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,1},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{505,1},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_02_00003.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,1},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{757,1},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_02_00004.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,253},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,253},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_02_00005.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,253},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{253,253},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_02_00006.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,253},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{505,253},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_02_00007.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,253},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{757,253},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_02_00008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,505},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,505},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_02_00009.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,505},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{253,505},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_02_00010.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,505},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{505,505},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_02_00011.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,505},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{757,505},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_02_00012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,757},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,757},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_02_00013.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,757},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{253,757},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_02_00014.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,757},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{505,757},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_02_00015.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,757},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{757,757},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_02_00016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1009},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1009},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_02_00017.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,1009},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{253,1009},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_02_00018.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,1009},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{505,1009},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>fs_vfx_g_screen_02_00019.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,1009},{250,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{757,1009},{250,250}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>a04a4737-49c1-4c6a-92be-76588b620866.efe0d.jpg</string>
			<key>size</key>
			<string>{1008,1260}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>a04a4737-49c1-4c6a-92be-76588b620866.efe0d.jpg</string>
		</dict>
	</dict>
</plist>
