<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bw_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1517,1581},{378,342}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1517,1581},{378,342}}</string>
				<key>sourceSize</key>
				<string>{378,342}</string>
			</dict>
			<key>bw_coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1775},{753,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,1775},{753,88}}</string>
				<key>sourceSize</key>
				<string>{753,88}</string>
			</dict>
			<key>bw_frame_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1087,704},{756,299}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1087,704},{756,299}}</string>
				<key>sourceSize</key>
				<string>{756,299}</string>
			</dict>
			<key>bw_frame_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1048,1005},{756,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1048,1005},{756,160}}</string>
				<key>sourceSize</key>
				<string>{756,160}</string>
			</dict>
			<key>bw_rabbit.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,1},{420,736}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{665,1},{420,736}}</string>
				<key>sourceSize</key>
				<string>{420,736}</string>
			</dict>
			<key>mw_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,739},{378,381}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{665,739},{378,381}}</string>
				<key>sourceSize</key>
				<string>{378,381}</string>
			</dict>
			<key>mw_coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1028,1167},{756,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1028,1167},{756,205}}</string>
				<key>sourceSize</key>
				<string>{756,205}</string>
			</dict>
			<key>mw_frame_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1028,1374},{756,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1028,1374},{756,205}}</string>
				<key>sourceSize</key>
				<string>{756,205}</string>
			</dict>
			<key>mw_frame_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1581},{756,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,1581},{756,192}}</string>
				<key>sourceSize</key>
				<string>{756,194}</string>
			</dict>
			<key>mw_rabbit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,951},{717,645}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,951},{717,645}}</string>
				<key>sourceSize</key>
				<string>{717,645}</string>
			</dict>
			<key>smw_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,1119},{378,458}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{648,1119},{378,458}}</string>
				<key>sourceSize</key>
				<string>{378,458}</string>
			</dict>
			<key>smw_coin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1087,1},{756,359}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1087,1},{756,359}}</string>
				<key>sourceSize</key>
				<string>{756,359}</string>
			</dict>
			<key>smw_frame_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1087,362},{756,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1087,362},{756,340}}</string>
				<key>sourceSize</key>
				<string>{756,340}</string>
			</dict>
			<key>smw_frame_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1670},{756,250}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1670},{756,250}}</string>
				<key>sourceSize</key>
				<string>{756,250}</string>
			</dict>
			<key>smw_rabbit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{662,948}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{662,948}}</string>
				<key>sourceSize</key>
				<string>{662,948}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>adc4aa39-5e3b-4548-aee4-467073e3f69a.60c94.png</string>
			<key>size</key>
			<string>{1860,1960}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>adc4aa39-5e3b-4548-aee4-467073e3f69a.60c94.png</string>
		</dict>
	</dict>
</plist>
