<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bw_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,311},{107,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,311},{107,153}}</string>
				<key>sourceSize</key>
				<string>{107,153}</string>
			</dict>
			<key>bw_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,156},{73,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{321,156},{73,153}}</string>
				<key>sourceSize</key>
				<string>{73,153}</string>
			</dict>
			<key>bw_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,156},{104,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,156},{104,153}}</string>
				<key>sourceSize</key>
				<string>{104,153}</string>
			</dict>
			<key>bw_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,311},{106,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{110,311},{106,153}}</string>
				<key>sourceSize</key>
				<string>{106,153}</string>
			</dict>
			<key>bw_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{110,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{110,153}}</string>
				<key>sourceSize</key>
				<string>{110,153}</string>
			</dict>
			<key>bw_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,1},{104,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{113,1},{104,153}}</string>
				<key>sourceSize</key>
				<string>{104,153}</string>
			</dict>
			<key>bw_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,1},{102,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{219,1},{102,153}}</string>
				<key>sourceSize</key>
				<string>{102,153}</string>
			</dict>
			<key>bw_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,156},{102,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{217,156},{102,153}}</string>
				<key>sourceSize</key>
				<string>{102,153}</string>
			</dict>
			<key>bw_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,156},{108,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,156},{108,153}}</string>
				<key>sourceSize</key>
				<string>{108,153}</string>
			</dict>
			<key>bw_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{218,311},{102,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{218,311},{102,153}}</string>
				<key>sourceSize</key>
				<string>{102,153}</string>
			</dict>
			<key>bw_comma.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,1},{52,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{323,1},{52,69}}</string>
				<key>sourceSize</key>
				<string>{52,69}</string>
			</dict>
			<key>bw_decimal.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,311},{57,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{322,311},{57,53}}</string>
				<key>sourceSize</key>
				<string>{57,53}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>b1ff1b46-8487-4cca-b67d-dcaca29771cd.b2a5c.png</string>
			<key>size</key>
			<string>{395,465}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>b1ff1b46-8487-4cca-b67d-dcaca29771cd.b2a5c.png</string>
		</dict>
	</dict>
</plist>
