<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fs_vfx_c_screen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,769},{713,507}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,769},{713,507}}</string>
				<key>sourceSize</key>
				<string>{713,507}</string>
			</dict>
			<key>fs_vfx_e_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{756,766}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{756,766}}</string>
				<key>sourceSize</key>
				<string>{756,766}</string>
			</dict>
			<key>fs_vfx_f_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1278},{606,606}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1278},{606,606}}</string>
				<key>sourceSize</key>
				<string>{606,606}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>bd8d7e61-330c-4796-a8c1-07b3ef245cb6.9ba88.jpg</string>
			<key>size</key>
			<string>{758,1885}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>bd8d7e61-330c-4796-a8c1-07b3ef245cb6.9ba88.jpg</string>
		</dict>
	</dict>
</plist>
