<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sb_vfx_b_add_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{497,840},{202,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{497,840},{202,201}}</string>
				<key>sourceSize</key>
				<string>{356,335}</string>
			</dict>
			<key>sb_vfx_b_add_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,844},{246,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,844},{246,247}}</string>
				<key>sourceSize</key>
				<string>{356,335}</string>
			</dict>
			<key>sb_vfx_b_add_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,283},{258,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{553,283},{258,259}}</string>
				<key>sourceSize</key>
				<string>{356,335}</string>
			</dict>
			<key>sb_vfx_b_add_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,844},{246,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{249,844},{246,247}}</string>
				<key>sourceSize</key>
				<string>{356,335}</string>
			</dict>
			<key>sb_vfx_b_add_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,544},{258,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{561,544},{258,259}}</string>
				<key>sourceSize</key>
				<string>{356,335}</string>
			</dict>
			<key>sb_vfx_b_add_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,805},{258,259}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{700,805},{258,259}}</string>
				<key>sourceSize</key>
				<string>{356,335}</string>
			</dict>
			<key>sb_vfx_b_add_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,283},{270,271}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{281,283},{270,271}}</string>
				<key>sourceSize</key>
				<string>{356,335}</string>
			</dict>
			<key>sb_vfx_b_add_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,564},{278,277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,564},{278,277}}</string>
				<key>sourceSize</key>
				<string>{356,335}</string>
			</dict>
			<key>sb_vfx_b_add_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{280,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{280,281}}</string>
				<key>sourceSize</key>
				<string>{356,335}</string>
			</dict>
			<key>sb_vfx_b_add_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,283},{278,279}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,283},{278,279}}</string>
				<key>sourceSize</key>
				<string>{356,335}</string>
			</dict>
			<key>sb_vfx_b_add_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{284,1},{280,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{284,1},{280,281}}</string>
				<key>sourceSize</key>
				<string>{356,335}</string>
			</dict>
			<key>sb_vfx_b_add_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,564},{274,279}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{280,564},{274,279}}</string>
				<key>sourceSize</key>
				<string>{356,335}</string>
			</dict>
			<key>sb_vfx_b_add_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,1},{280,281}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{567,1},{280,281}}</string>
				<key>sourceSize</key>
				<string>{356,335}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>bed43dd6-515d-431e-9bbb-311c513ef776.c7805.jpg</string>
			<key>size</key>
			<string>{959,1092}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>bed43dd6-515d-431e-9bbb-311c513ef776.c7805.jpg</string>
		</dict>
	</dict>
</plist>
