<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_glow_vfx_a_screen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{540,398}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{540,398}}</string>
				<key>sourceSize</key>
				<string>{540,398}</string>
			</dict>
			<key>bg_glow_vfx_b_screen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,401},{540,398}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,401},{540,398}}</string>
				<key>sourceSize</key>
				<string>{540,398}</string>
			</dict>
			<key>bg_glow_vfx_c_screen.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,401},{540,398}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{401,401},{540,398}}</string>
				<key>sourceSize</key>
				<string>{540,398}</string>
			</dict>
			<key>bg_glow_vfx_d_screen.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,1},{540,398}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{543,1},{540,398}}</string>
				<key>sourceSize</key>
				<string>{540,398}</string>
			</dict>
			<key>bg_lights_vfx_a_screen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1133,603},{91,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1133,603},{91,92}}</string>
				<key>sourceSize</key>
				<string>{91,92}</string>
			</dict>
			<key>bg_lights_vfx_b_screen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1133,380},{92,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1133,380},{92,221}}</string>
				<key>sourceSize</key>
				<string>{92,221}</string>
			</dict>
			<key>bg_lights_vfx_c_screen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,1},{148,235}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1085,1},{148,235}}</string>
				<key>sourceSize</key>
				<string>{148,235}</string>
			</dict>
			<key>bg_lights_vfx_d_screen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,641},{112,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1007,641},{112,182}}</string>
				<key>sourceSize</key>
				<string>{112,182}</string>
			</dict>
			<key>bg_lights_vfx_e_screen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,238},{140,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1085,238},{140,175}}</string>
				<key>sourceSize</key>
				<string>{140,175}</string>
			</dict>
			<key>bg_lights_vfx_f_screen.png</key>
			<dict>
				<key>frame</key>
				<string>{{801,705},{207,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{801,705},{207,204}}</string>
				<key>sourceSize</key>
				<string>{207,204}</string>
			</dict>
			<key>bg_lights_vfx_g_screen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,825},{109,177}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1007,825},{109,177}}</string>
				<key>sourceSize</key>
				<string>{109,177}</string>
			</dict>
			<key>bg_lights_vfx_h_screen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,401},{128,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1003,401},{128,238}}</string>
				<key>sourceSize</key>
				<string>{128,238}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>d7794e3a-9613-4fa5-be46-3b44c5666880.e5bc6.jpg</string>
			<key>size</key>
			<string>{1261,942}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>d7794e3a-9613-4fa5-be46-3b44c5666880.e5bc6.jpg</string>
		</dict>
	</dict>
</plist>
