<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bw_vfx_g_add_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{540,1170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{540,1170}}</string>
				<key>sourceSize</key>
				<string>{540,1170}</string>
			</dict>
			<key>bw_vfx_g_add_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1173},{540,1170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1173},{540,1170}}</string>
				<key>sourceSize</key>
				<string>{540,1170}</string>
			</dict>
			<key>bw_vfx_g_add_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,1},{540,1170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{543,1},{540,1170}}</string>
				<key>sourceSize</key>
				<string>{540,1170}</string>
			</dict>
			<key>bw_vfx_h_screen_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,1173},{540,950}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{543,1173},{540,950}}</string>
				<key>sourceSize</key>
				<string>{540,950}</string>
			</dict>
			<key>bw_vfx_h_screen_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,2055},{540,950}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1085,2055},{540,950}}</string>
				<key>sourceSize</key>
				<string>{540,950}</string>
			</dict>
			<key>bw_vfx_h_screen_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,2125},{540,950}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{543,2125},{540,950}}</string>
				<key>sourceSize</key>
				<string>{540,950}</string>
			</dict>
			<key>bw_vfx_h_screen_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2345},{540,950}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2345},{540,950}}</string>
				<key>sourceSize</key>
				<string>{540,950}</string>
			</dict>
			<key>bw_vfx_h_screen_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,1},{540,1050}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1085,1},{540,1050}}</string>
				<key>sourceSize</key>
				<string>{540,1050}</string>
			</dict>
			<key>bw_vfx_h_screen_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,1053},{540,1000}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1085,1053},{540,1000}}</string>
				<key>sourceSize</key>
				<string>{540,1000}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>e54afa7a-e705-4a16-802d-f44aa275b60f.dd663.jpg</string>
			<key>size</key>
			<string>{1626,3296}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>e54afa7a-e705-4a16-802d-f44aa275b60f.dd663.jpg</string>
		</dict>
	</dict>
</plist>
