<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fs_vfx_b_add_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,375},{320,327}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1001,375},{320,327}}</string>
				<key>sourceSize</key>
				<string>{752,743}</string>
			</dict>
			<key>fs_vfx_b_add_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,1},{372,367}}</string>
				<key>offset</key>
				<string>{5,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{998,1},{372,367}}</string>
				<key>sourceSize</key>
				<string>{752,743}</string>
			</dict>
			<key>fs_vfx_b_add_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1014},{390,385}}</string>
				<key>offset</key>
				<string>{6,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1014},{390,385}}</string>
				<key>sourceSize</key>
				<string>{752,743}</string>
			</dict>
			<key>fs_vfx_b_add_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,983},{420,415}}</string>
				<key>offset</key>
				<string>{7,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{966,983},{420,415}}</string>
				<key>sourceSize</key>
				<string>{752,743}</string>
			</dict>
			<key>fs_vfx_b_add_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,983},{432,427}}</string>
				<key>offset</key>
				<string>{8,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{532,983},{432,427}}</string>
				<key>sourceSize</key>
				<string>{752,743}</string>
			</dict>
			<key>fs_vfx_b_add_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,511},{470,467}}</string>
				<key>offset</key>
				<string>{9,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{532,511},{470,467}}</string>
				<key>sourceSize</key>
				<string>{752,743}</string>
			</dict>
			<key>fs_vfx_b_add_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,1},{508,513}}</string>
				<key>offset</key>
				<string>{31,-11}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{483,1},{508,513}}</string>
				<key>sourceSize</key>
				<string>{752,743}</string>
			</dict>
			<key>fs_vfx_b_add_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,534},{478,529}}</string>
				<key>offset</key>
				<string>{8,-5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,534},{478,529}}</string>
				<key>sourceSize</key>
				<string>{752,743}</string>
			</dict>
			<key>fs_vfx_b_add_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{480,531}}</string>
				<key>offset</key>
				<string>{8,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{480,531}}</string>
				<key>sourceSize</key>
				<string>{752,743}</string>
			</dict>
			<key>fs_vfx_b_add_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1001,704},{290,247}}</string>
				<key>offset</key>
				<string>{33,143}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1001,704},{290,247}}</string>
				<key>sourceSize</key>
				<string>{752,743}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>eb7a8a3c-0373-40f4-bc8a-38f3d2e25f02.bf3a9.jpg</string>
			<key>size</key>
			<string>{1382,1411}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>eb7a8a3c-0373-40f4-bc8a-38f3d2e25f02.bf3a9.jpg</string>
		</dict>
	</dict>
</plist>
