<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ib_mw_vfx_a_add_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{377,476}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{377,476}}</string>
				<key>sourceSize</key>
				<string>{377,476}</string>
			</dict>
			<key>ib_mw_vfx_a_add_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,479},{377,476}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,479},{377,476}}</string>
				<key>sourceSize</key>
				<string>{377,476}</string>
			</dict>
			<key>ib_mw_vfx_a_add_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,1},{377,476}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{380,1},{377,476}}</string>
				<key>sourceSize</key>
				<string>{377,476}</string>
			</dict>
			<key>ib_mw_vfx_a_add_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,957},{377,476}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,957},{377,476}}</string>
				<key>sourceSize</key>
				<string>{377,476}</string>
			</dict>
			<key>ib_mw_vfx_a_add_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,479},{377,476}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{380,479},{377,476}}</string>
				<key>sourceSize</key>
				<string>{377,476}</string>
			</dict>
			<key>ib_mw_vfx_a_add_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1},{377,476}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,1},{377,476}}</string>
				<key>sourceSize</key>
				<string>{377,476}</string>
			</dict>
			<key>ib_mw_vfx_a_add_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1435},{377,476}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1435},{377,476}}</string>
				<key>sourceSize</key>
				<string>{377,476}</string>
			</dict>
			<key>ib_mw_vfx_a_add_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,957},{377,476}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{380,957},{377,476}}</string>
				<key>sourceSize</key>
				<string>{377,476}</string>
			</dict>
			<key>ib_mw_vfx_a_add_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,479},{377,476}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,479},{377,476}}</string>
				<key>sourceSize</key>
				<string>{377,476}</string>
			</dict>
			<key>ib_mw_vfx_a_add_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1138,1},{377,476}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1138,1},{377,476}}</string>
				<key>sourceSize</key>
				<string>{377,476}</string>
			</dict>
			<key>ib_mw_vfx_a_add_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,1435},{377,476}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{380,1435},{377,476}}</string>
				<key>sourceSize</key>
				<string>{377,476}</string>
			</dict>
			<key>ib_mw_vfx_a_add_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,957},{377,476}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,957},{377,476}}</string>
				<key>sourceSize</key>
				<string>{377,476}</string>
			</dict>
			<key>ib_mw_vfx_a_add_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1138,479},{377,476}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1138,479},{377,476}}</string>
				<key>sourceSize</key>
				<string>{377,476}</string>
			</dict>
			<key>ib_mw_vfx_a_add_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1517,1},{377,476}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1517,1},{377,476}}</string>
				<key>sourceSize</key>
				<string>{377,476}</string>
			</dict>
			<key>ib_mw_vfx_a_add_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1435},{377,476}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,1435},{377,476}}</string>
				<key>sourceSize</key>
				<string>{377,476}</string>
			</dict>
			<key>ib_mw_vfx_a_add_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1138,957},{377,476}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1138,957},{377,476}}</string>
				<key>sourceSize</key>
				<string>{377,476}</string>
			</dict>
			<key>ib_mw_vfx_a_add_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1517,479},{377,476}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1517,479},{377,476}}</string>
				<key>sourceSize</key>
				<string>{377,476}</string>
			</dict>
			<key>ib_mw_vfx_a_add_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1138,1435},{377,476}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1138,1435},{377,476}}</string>
				<key>sourceSize</key>
				<string>{377,476}</string>
			</dict>
			<key>ib_mw_vfx_a_add_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1517,957},{377,476}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1517,957},{377,476}}</string>
				<key>sourceSize</key>
				<string>{377,476}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>f1b2ba74-d3bb-4367-ba1d-bff84f272900.c923b.jpg</string>
			<key>size</key>
			<string>{1912,1912}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>f1b2ba74-d3bb-4367-ba1d-bff84f272900.c923b.jpg</string>
		</dict>
	</dict>
</plist>
