<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fsw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{428,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{428,241}}</string>
				<key>sourceSize</key>
				<string>{428,241}</string>
			</dict>
			<key>fm.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,1},{646,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{431,1},{646,154}}</string>
				<key>sourceSize</key>
				<string>{646,154}</string>
			</dict>
			<key>start_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,157},{116,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{549,157},{116,87}}</string>
				<key>sourceSize</key>
				<string>{116,87}</string>
			</dict>
			<key>start.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,157},{116,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{431,157},{116,87}}</string>
				<key>sourceSize</key>
				<string>{116,87}</string>
			</dict>
			<key>bonus_transition_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1076,245}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1076,245}}</string>
				<key>sourceSize</key>
				<string>{1078,245}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>bonus_transition_text.png</string>
			<key>size</key>
			<string>{1078,245}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>bonus_transition_text.png</string>
		</dict>
	</dict>
</plist>
