<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>info_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1223,127},{626,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1223,127},{626,71}}</string>
				<key>sourceSize</key>
				<string>{632,77}</string>
			</dict>
			<key>info_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,123},{604,71}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,123},{604,71}}</string>
				<key>sourceSize</key>
				<string>{610,77}</string>
			</dict>
			<key>info_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1055,59}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{1055,59}}</string>
				<key>sourceSize</key>
				<string>{1063,77}</string>
			</dict>
			<key>info_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1058,1},{504,59}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1058,1},{504,59}}</string>
				<key>sourceSize</key>
				<string>{514,77}</string>
			</dict>
			<key>info_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,62},{811,59}}</string>
				<key>offset</key>
				<string>{-4,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,62},{811,59}}</string>
				<key>sourceSize</key>
				<string>{825,77}</string>
			</dict>
			<key>info_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,62},{634,63}}</string>
				<key>offset</key>
				<string>{-6,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{814,62},{634,63}}</string>
				<key>sourceSize</key>
				<string>{650,77}</string>
			</dict>
			<key>info_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,127},{614,71}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{607,127},{614,71}}</string>
				<key>sourceSize</key>
				<string>{622,77}</string>
			</dict>
			<key>info_board_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,3},{1846,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{1846,194}}</string>
				<key>sourceSize</key>
				<string>{1850,199}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>info_board_text.png</string>
			<key>size</key>
			<string>{1850,199}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>info_board_text.png</string>
		</dict>
	</dict>
</plist>
