<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>arrow_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{1139,1233},{103,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1139,1233},{103,104}}</string>
				<key>sourceSize</key>
				<string>{103,104}</string>
			</dict>
			<key>arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1139,1127},{103,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1139,1127},{103,104}}</string>
				<key>sourceSize</key>
				<string>{103,104}</string>
			</dict>
			<key>arrow_grey_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{1205,855},{103,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1205,855},{103,104}}</string>
				<key>sourceSize</key>
				<string>{103,104}</string>
			</dict>
			<key>base.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,1144},{188,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{878,1144},{188,181}}</string>
				<key>sourceSize</key>
				<string>{188,181}</string>
			</dict>
			<key>auto_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1236,961},{101,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1236,961},{101,101}}</string>
				<key>sourceSize</key>
				<string>{101,101}</string>
			</dict>
			<key>arrow_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{1205,749},{103,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1205,749},{103,104}}</string>
				<key>sourceSize</key>
				<string>{103,104}</string>
			</dict>
			<key>reel_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{756,647}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{756,647}}</string>
				<key>sourceSize</key>
				<string>{756,647}</string>
			</dict>
			<key>footer_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1},{756,369}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{759,1},{756,369}}</string>
				<key>sourceSize</key>
				<string>{756,369}</string>
			</dict>
			<key>reel_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,650},{756,543}}</string>
				<key>offset</key>
				<string>{0,52}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,650},{756,543}}</string>
				<key>sourceSize</key>
				<string>{756,647}</string>
			</dict>
			<key>bg_bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1095,759},{108,234}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1095,759},{108,234}}</string>
				<key>sourceSize</key>
				<string>{108,234}</string>
			</dict>
			<key>collect_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,759},{383,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{878,759},{383,132}}</string>
				<key>sourceSize</key>
				<string>{383,132}</string>
			</dict>
			<key>collect_button_msk.png</key>
			<dict>
				<key>frame</key>
				<string>{{1068,1140},{197,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1068,1140},{197,69}}</string>
				<key>sourceSize</key>
				<string>{197,69}</string>
			</dict>
			<key>infoboard_a_glow_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1306,1},{114,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1306,1},{114,22}}</string>
				<key>sourceSize</key>
				<string>{114,22}</string>
			</dict>
			<key>infoboard_a_msk.png</key>
			<dict>
				<key>frame</key>
				<string>{{1012,1047},{91,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1012,1047},{91,91}}</string>
				<key>sourceSize</key>
				<string>{91,91}</string>
			</dict>
			<key>infoboard_b_glow_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,1195},{114,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{724,1195},{114,31}}</string>
				<key>sourceSize</key>
				<string>{114,31}</string>
			</dict>
			<key>infoboard_b_msk.png</key>
			<dict>
				<key>frame</key>
				<string>{{1223,577},{125,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1223,577},{125,94}}</string>
				<key>sourceSize</key>
				<string>{125,94}</string>
			</dict>
			<key>infoboard_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1195},{721,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1195},{721,132}}</string>
				<key>sourceSize</key>
				<string>{721,132}</string>
			</dict>
			<key>infoboard_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1130,1},{708,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1130,1},{708,91}}</string>
				<key>sourceSize</key>
				<string>{708,91}</string>
			</dict>
			<key>background_fire.png</key>
			<dict>
				<key>frame</key>
				<string>{{1130,711},{36,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1130,711},{36,84}}</string>
				<key>sourceSize</key>
				<string>{36,84}</string>
			</dict>
			<key>multiplier_bar_bg_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{1012,759},{286,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1012,759},{286,81}}</string>
				<key>sourceSize</key>
				<string>{286,81}</string>
			</dict>
			<key>multiplier_solid_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{1244,1064},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1244,1064},{90,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>gem_bar_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{1223,1},{286,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1223,1},{286,81}}</string>
				<key>sourceSize</key>
				<string>{286,81}</string>
			</dict>
			<key>multiplier_bar_frame_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,759},{552,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{759,759},{552,117}}</string>
				<key>sourceSize</key>
				<string>{552,117}</string>
			</dict>
			<key>loading_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{1105,995},{129,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1105,995},{129,130}}</string>
				<key>sourceSize</key>
				<string>{129,130}</string>
			</dict>
			<key>collect_button_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{878,759},{383,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{878,759},{383,132}}</string>
				<key>sourceSize</key>
				<string>{383,132}</string>
			</dict>
			<key>collect_button_msk_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1068,1140},{197,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1068,1140},{197,69}}</string>
				<key>sourceSize</key>
				<string>{197,69}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>355aa8ed-d7c2-4f26-9f57-c8c6323a2c78.7529a.png</string>
			<key>size</key>
			<string>{1338,1338}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>355aa8ed-d7c2-4f26-9f57-c8c6323a2c78.7529a.png</string>
		</dict>
	</dict>
</plist>
