<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>start.png</key>
			<dict>
				<key>frame</key>
				<string>{{1596,688},{153,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1596,688},{153,51}}</string>
				<key>sourceSize</key>
				<string>{153,51}</string>
			</dict>
			<key>info_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,79},{1287,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,79},{1287,33}}</string>
				<key>sourceSize</key>
				<string>{1287,33}</string>
			</dict>
			<key>last_free_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{552,559},{706,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{552,559},{706,54}}</string>
				<key>sourceSize</key>
				<string>{706,54}</string>
			</dict>
			<key>free_spins_won.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,555},{549,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,555},{549,200}}</string>
				<key>sourceSize</key>
				<string>{549,200}</string>
			</dict>
			<key>bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,615},{452,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{601,615},{452,258}}</string>
				<key>sourceSize</key>
				<string>{452,258}</string>
			</dict>
			<key>info_total_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1310,481},{132,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1310,481},{132,57}}</string>
				<key>sourceSize</key>
				<string>{132,57}</string>
			</dict>
			<key>win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1309,448},{157,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1309,448},{157,31}}</string>
				<key>sourceSize</key>
				<string>{157,31}</string>
			</dict>
			<key>free_spins_remaining.png</key>
			<dict>
				<key>frame</key>
				<string>{{1481,448},{411,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1481,448},{411,113}}</string>
				<key>sourceSize</key>
				<string>{411,113}</string>
			</dict>
			<key>info_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1257,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{1257,76}}</string>
				<key>sourceSize</key>
				<string>{1257,76}</string>
			</dict>
			<key>bonus_loading_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,149},{546,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{657,149},{546,174}}</string>
				<key>sourceSize</key>
				<string>{546,174}</string>
			</dict>
			<key>logo_on_temple.png</key>
			<dict>
				<key>frame</key>
				<string>{{1309,1},{445,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1309,1},{445,295}}</string>
				<key>sourceSize</key>
				<string>{445,295}</string>
			</dict>
			<key>info_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,481},{627,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{681,481},{627,76}}</string>
				<key>sourceSize</key>
				<string>{627,76}</string>
			</dict>
			<key>collect.png</key>
			<dict>
				<key>frame</key>
				<string>{{1596,448},{238,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1596,448},{238,52}}</string>
				<key>sourceSize</key>
				<string>{238,52}</string>
			</dict>
			<key>info_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,325},{606,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{657,325},{606,76}}</string>
				<key>sourceSize</key>
				<string>{606,76}</string>
			</dict>
			<key>info_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,403},{626,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{681,403},{626,76}}</string>
				<key>sourceSize</key>
				<string>{626,76}</string>
			</dict>
			<key>info_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,114},{1070,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,114},{1070,33}}</string>
				<key>sourceSize</key>
				<string>{1070,33}</string>
			</dict>
			<key>mw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1055,615},{424,267}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1055,615},{424,267}}</string>
				<key>sourceSize</key>
				<string>{424,267}</string>
			</dict>
			<key>smw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,149},{654,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,149},{654,252}}</string>
				<key>sourceSize</key>
				<string>{654,252}</string>
			</dict>
			<key>5ofakind.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,757},{598,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,757},{598,128}}</string>
				<key>sourceSize</key>
				<string>{598,128}</string>
			</dict>
			<key>total_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,403},{678,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,403},{678,150}}</string>
				<key>sourceSize</key>
				<string>{678,150}</string>
			</dict>
			<key>general_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1647,882}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1647,882}}</string>
				<key>sourceSize</key>
				<string>{1649,886}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>general_text.png</string>
			<key>size</key>
			<string>{1649,886}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>general_text.png</string>
		</dict>
	</dict>
</plist>
