<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bonus_transition_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{756,1432}}</string>
				<key>offset</key>
				<string>{0,103}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{756,1432}}</string>
				<key>sourceSize</key>
				<string>{756,1638}</string>
			</dict>
			<key>bonus_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1435},{382,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1435},{382,141}}</string>
				<key>sourceSize</key>
				<string>{382,141}</string>
			</dict>
			<key>bonus_lading.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,1435},{232,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{385,1435},{232,232}}</string>
				<key>sourceSize</key>
				<string>{232,232}</string>
			</dict>
			<key>bonus_button_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1435},{382,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1435},{382,141}}</string>
				<key>sourceSize</key>
				<string>{382,141}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>03ad56a3-4bda-4204-9d2c-37ed4d38e249.c0392.png</string>
			<key>size</key>
			<string>{758,1668}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>03ad56a3-4bda-4204-9d2c-37ed4d38e249.c0392.png</string>
		</dict>
	</dict>
</plist>
