<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>total_glow_a_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,1046},{540,501}}</string>
				<key>offset</key>
				<string>{0,66}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{543,1046},{540,501}}</string>
				<key>sourceSize</key>
				<string>{540,633}</string>
			</dict>
			<key>total_glow_a_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,1046},{540,501}}</string>
				<key>offset</key>
				<string>{0,66}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{543,1046},{540,501}}</string>
				<key>sourceSize</key>
				<string>{540,633}</string>
			</dict>
			<key>total_glow_a_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1046,543},{540,501}}</string>
				<key>offset</key>
				<string>{0,66}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1046,543},{540,501}}</string>
				<key>sourceSize</key>
				<string>{540,633}</string>
			</dict>
			<key>total_glow_a_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1046,1085},{540,501}}</string>
				<key>offset</key>
				<string>{0,66}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1046,1085},{540,501}}</string>
				<key>sourceSize</key>
				<string>{540,633}</string>
			</dict>
			<key>total_glow_a_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1046,1},{540,501}}</string>
				<key>offset</key>
				<string>{0,66}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1046,1},{540,501}}</string>
				<key>sourceSize</key>
				<string>{540,633}</string>
			</dict>
			<key>total_glow_a_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,1},{540,501}}</string>
				<key>offset</key>
				<string>{0,66}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{543,1},{540,501}}</string>
				<key>sourceSize</key>
				<string>{540,633}</string>
			</dict>
			<key>total_glow_a_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,1},{540,501}}</string>
				<key>offset</key>
				<string>{0,66}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{543,1},{540,501}}</string>
				<key>sourceSize</key>
				<string>{540,633}</string>
			</dict>
			<key>total_glow_a_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,543},{540,501}}</string>
				<key>offset</key>
				<string>{0,66}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{504,543},{540,501}}</string>
				<key>sourceSize</key>
				<string>{540,633}</string>
			</dict>
			<key>total_glow_a_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1046,543},{540,501}}</string>
				<key>offset</key>
				<string>{0,66}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1046,543},{540,501}}</string>
				<key>sourceSize</key>
				<string>{540,633}</string>
			</dict>
			<key>total_glow_a_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,504},{540,501}}</string>
				<key>offset</key>
				<string>{0,66}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,504},{540,501}}</string>
				<key>sourceSize</key>
				<string>{540,633}</string>
			</dict>
			<key>total_glow_a_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,543},{540,501}}</string>
				<key>offset</key>
				<string>{0,66}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{504,543},{540,501}}</string>
				<key>sourceSize</key>
				<string>{540,633}</string>
			</dict>
			<key>total_glow_a_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{540,501}}</string>
				<key>offset</key>
				<string>{0,66}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{540,501}}</string>
				<key>sourceSize</key>
				<string>{540,633}</string>
			</dict>
			<key>total_glow_a_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,504},{540,501}}</string>
				<key>offset</key>
				<string>{0,66}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,504},{540,501}}</string>
				<key>sourceSize</key>
				<string>{540,633}</string>
			</dict>
			<key>total_glow_a_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{540,501}}</string>
				<key>offset</key>
				<string>{0,66}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{540,501}}</string>
				<key>sourceSize</key>
				<string>{540,633}</string>
			</dict>
			<key>total_glow_a_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1046},{540,501}}</string>
				<key>offset</key>
				<string>{0,66}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1046},{540,501}}</string>
				<key>sourceSize</key>
				<string>{540,633}</string>
			</dict>
			<key>total_glow_a_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1046,1},{540,501}}</string>
				<key>offset</key>
				<string>{0,66}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1046,1},{540,501}}</string>
				<key>sourceSize</key>
				<string>{540,633}</string>
			</dict>
			<key>total_glow_a_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1046},{540,501}}</string>
				<key>offset</key>
				<string>{0,66}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1046},{540,501}}</string>
				<key>sourceSize</key>
				<string>{540,633}</string>
			</dict>
			<key>total_glow_a_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1046,1085},{540,501}}</string>
				<key>offset</key>
				<string>{0,66}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1046,1085},{540,501}}</string>
				<key>sourceSize</key>
				<string>{540,633}</string>
			</dict>
			<key>total_glow_a_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{540,501}}</string>
				<key>offset</key>
				<string>{0,66}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{540,501}}</string>
				<key>sourceSize</key>
				<string>{540,633}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>159d10fc-a96f-423b-af92-0c11bdfcbad5.218ec.jpg</string>
			<key>size</key>
			<string>{1587,1587}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>159d10fc-a96f-423b-af92-0c11bdfcbad5.218ec.jpg</string>
		</dict>
	</dict>
</plist>
