<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>scatter_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{243,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{243,266}}</string>
				<key>sourceSize</key>
				<string>{243,266}</string>
			</dict>
			<key>scatter_glow_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,1},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{398,1},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>scatter_glow_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,153},{88,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{398,153},{88,97}}</string>
				<key>sourceSize</key>
				<string>{88,97}</string>
			</dict>
			<key>scatter_glow_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{550,1},{105,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{550,1},{105,115}}</string>
				<key>sourceSize</key>
				<string>{105,115}</string>
			</dict>
			<key>scatter_glow_e.png</key>
			<dict>
				<key>frame</key>
				<string>{{269,1},{127,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{269,1},{127,215}}</string>
				<key>sourceSize</key>
				<string>{127,215}</string>
			</dict>
			<key>scatter_glow_f.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,153},{63,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{488,153},{63,63}}</string>
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>
			<key>scatter_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{243,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{243,266}}</string>
				<key>sourceSize</key>
				<string>{243,266}</string>
			</dict>
			<key>scatter_glow_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,118},{105,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{553,118},{105,105}}</string>
				<key>sourceSize</key>
				<string>{105,105}</string>
			</dict>
			<key>scatter_glow_a_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,1},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{398,1},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>scatter_glow_a_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,1},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{398,1},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>scatter_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{243,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{243,266}}</string>
				<key>sourceSize</key>
				<string>{243,266}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>22480547-c484-4511-a172-585e6db7c80a.07d4b.jpg</string>
			<key>size</key>
			<string>{659,251}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>22480547-c484-4511-a172-585e6db7c80a.07d4b.jpg</string>
		</dict>
	</dict>
</plist>
