<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>auto_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{186,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{186,195}}</string>
				<key>sourceSize</key>
				<string>{186,195}</string>
			</dict>
			<key>arrow_blur_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,495},{118,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,495},{118,116}}</string>
				<key>sourceSize</key>
				<string>{118,116}</string>
			</dict>
			<key>spin_base.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,189},{186,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,189},{186,195}}</string>
				<key>sourceSize</key>
				<string>{186,195}</string>
			</dict>
			<key>arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,377},{118,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,377},{118,116}}</string>
				<key>sourceSize</key>
				<string>{118,116}</string>
			</dict>
			<key>arrow_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,377},{118,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{121,377},{118,116}}</string>
				<key>sourceSize</key>
				<string>{118,116}</string>
			</dict>
			<key>arrow_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,495},{118,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{121,495},{118,116}}</string>
				<key>sourceSize</key>
				<string>{118,116}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>2f32ef15-62a7-48a1-a1c6-3f1c2c0ad4f8.6f547.png</string>
			<key>size</key>
			<string>{240,612}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>2f32ef15-62a7-48a1-a1c6-3f1c2c0ad4f8.6f547.png</string>
		</dict>
	</dict>
</plist>
