<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bw_vfx_d_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,189},{310,93}}</string>
				<key>offset</key>
				<string>{-27,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{694,189},{310,93}}</string>
				<key>sourceSize</key>
				<string>{788,163}</string>
			</dict>
			<key>bw_vfx_d_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{812,606},{256,89}}</string>
				<key>offset</key>
				<string>{47,-13}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{812,606},{256,89}}</string>
				<key>sourceSize</key>
				<string>{788,163}</string>
			</dict>
			<key>bw_vfx_d_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,335},{332,91}}</string>
				<key>offset</key>
				<string>{11,-10}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{535,335},{332,91}}</string>
				<key>sourceSize</key>
				<string>{788,163}</string>
			</dict>
			<key>bw_vfx_d_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{114,1},{344,97}}</string>
				<key>offset</key>
				<string>{-10,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{114,1},{344,97}}</string>
				<key>sourceSize</key>
				<string>{788,163}</string>
			</dict>
			<key>bw_vfx_d_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,345},{340,101}}</string>
				<key>offset</key>
				<string>{-12,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{298,345},{340,101}}</string>
				<key>sourceSize</key>
				<string>{788,163}</string>
			</dict>
			<key>bw_vfx_d_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,345},{342,81}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{215,345},{342,81}}</string>
				<key>sourceSize</key>
				<string>{788,163}</string>
			</dict>
			<key>bw_vfx_d_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,515},{322,87}}</string>
				<key>offset</key>
				<string>{-4,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{628,515},{322,87}}</string>
				<key>sourceSize</key>
				<string>{788,163}</string>
			</dict>
			<key>bw_vfx_d_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,806},{340,61}}</string>
				<key>offset</key>
				<string>{-17,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{116,806},{340,61}}</string>
				<key>sourceSize</key>
				<string>{788,163}</string>
			</dict>
			<key>bw_vfx_d_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,343},{338,33}}</string>
				<key>offset</key>
				<string>{-17,24}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{401,343},{338,33}}</string>
				<key>sourceSize</key>
				<string>{788,163}</string>
			</dict>
			<key>bw_vfx_d_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,347},{342,97}}</string>
				<key>offset</key>
				<string>{21,6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{116,347},{342,97}}</string>
				<key>sourceSize</key>
				<string>{788,163}</string>
			</dict>
			<key>bw_vfx_d_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,606},{256,93}}</string>
				<key>offset</key>
				<string>{45,-12}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{717,606},{256,93}}</string>
				<key>sourceSize</key>
				<string>{788,163}</string>
			</dict>
			<key>bw_vfx_d_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,337},{334,97}}</string>
				<key>offset</key>
				<string>{10,-5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{436,337},{334,97}}</string>
				<key>sourceSize</key>
				<string>{788,163}</string>
			</dict>
			<key>bw_vfx_d_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,327},{324,81}}</string>
				<key>offset</key>
				<string>{-6,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{628,327},{324,81}}</string>
				<key>sourceSize</key>
				<string>{788,163}</string>
			</dict>
			<key>bw_vfx_d_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,1},{342,91}}</string>
				<key>offset</key>
				<string>{6,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{213,1},{342,91}}</string>
				<key>sourceSize</key>
				<string>{788,163}</string>
			</dict>
			<key>bw_vfx_d_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,1},{324,83}}</string>
				<key>offset</key>
				<string>{-6,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{609,1},{324,83}}</string>
				<key>sourceSize</key>
				<string>{788,163}</string>
			</dict>
			<key>bw_vfx_d_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{306,1},{340,97}}</string>
				<key>offset</key>
				<string>{-19,-5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{306,1},{340,97}}</string>
				<key>sourceSize</key>
				<string>{788,163}</string>
			</dict>
			<key>bw_vfx_d_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{350,111}}</string>
				<key>offset</key>
				<string>{22,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{350,111}}</string>
				<key>sourceSize</key>
				<string>{788,163}</string>
			</dict>
			<key>bw_vfx_d_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,1},{314,89}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{694,1},{314,89}}</string>
				<key>sourceSize</key>
				<string>{788,163}</string>
			</dict>
			<key>bw_vfx_d_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{717,515},{258,89}}</string>
				<key>offset</key>
				<string>{47,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{717,515},{258,89}}</string>
				<key>sourceSize</key>
				<string>{788,163}</string>
			</dict>
			<key>bw_vfx_d_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,691},{228,113}}</string>
				<key>offset</key>
				<string>{43,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{116,691},{228,113}}</string>
				<key>sourceSize</key>
				<string>{788,163}</string>
			</dict>
			<key>bw_vfx_d_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{694,92},{310,95}}</string>
				<key>offset</key>
				<string>{-25,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{694,92},{310,95}}</string>
				<key>sourceSize</key>
				<string>{788,163}</string>
			</dict>
			<key>bw_vfx_d_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1},{332,95}}</string>
				<key>offset</key>
				<string>{17,8}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{512,1},{332,95}}</string>
				<key>sourceSize</key>
				<string>{788,163}</string>
			</dict>
			<key>bw_vfx_d_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{346,687},{264,111}}</string>
				<key>offset</key>
				<string>{17,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{346,687},{264,111}}</string>
				<key>sourceSize</key>
				<string>{788,163}</string>
			</dict>
			<key>bw_vfx_d_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,353},{346,113}}</string>
				<key>offset</key>
				<string>{20,-4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,353},{346,113}}</string>
				<key>sourceSize</key>
				<string>{788,163}</string>
			</dict>
			<key>bw_vfx_d_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,701},{166,113}}</string>
				<key>offset</key>
				<string>{62,-8}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,701},{166,113}}</string>
				<key>sourceSize</key>
				<string>{788,163}</string>
			</dict>
			<key>bw_vfx_d_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{628,410},{322,103}}</string>
				<key>offset</key>
				<string>{13,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{628,410},{322,103}}</string>
				<key>sourceSize</key>
				<string>{788,163}</string>
			</dict>
			<key>bw_vfx_d_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,606},{208,109}}</string>
				<key>offset</key>
				<string>{41,-8}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{903,606},{208,109}}</string>
				<key>sourceSize</key>
				<string>{788,163}</string>
			</dict>
			<key>bw_vfx_d_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1},{334,105}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{405,1},{334,105}}</string>
				<key>sourceSize</key>
				<string>{788,163}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>57409fee-3121-411a-985f-5885e76acad5.d9950.jpg</string>
			<key>size</key>
			<string>{1013,868}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>57409fee-3121-411a-985f-5885e76acad5.d9950.jpg</string>
		</dict>
	</dict>
</plist>
