<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bonus_transition_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1},{756,1638}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,1},{756,1638}}</string>
				<key>sourceSize</key>
				<string>{756,1638}</string>
			</dict>
			<key>bonus_transition_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{756,1638}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{756,1638}}</string>
				<key>sourceSize</key>
				<string>{756,1638}</string>
			</dict>
			<key>bonus_glow_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1641},{179,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1641},{179,65}}</string>
				<key>sourceSize</key>
				<string>{179,65}</string>
			</dict>
			<key>bonus_glow_e.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,1641},{162,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{182,1641},{162,98}}</string>
				<key>sourceSize</key>
				<string>{162,98}</string>
			</dict>
			<key>bonus_glow_a_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1641},{179,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1641},{179,65}}</string>
				<key>sourceSize</key>
				<string>{179,65}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>5fd32d05-04eb-4bfc-8c69-b5a44d782a47.0862a.jpg</string>
			<key>size</key>
			<string>{1516,1740}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>5fd32d05-04eb-4bfc-8c69-b5a44d782a47.0862a.jpg</string>
		</dict>
	</dict>
</plist>
