<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>total_glow_a_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{540,501}}</string>
				<key>offset</key>
				<string>{0,66}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{540,501}}</string>
				<key>sourceSize</key>
				<string>{540,633}</string>
			</dict>
			<key>total_glow_a_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,504},{540,501}}</string>
				<key>offset</key>
				<string>{0,66}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{504,504},{540,501}}</string>
				<key>sourceSize</key>
				<string>{540,633}</string>
			</dict>
			<key>total_glow_a_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{540,501}}</string>
				<key>offset</key>
				<string>{0,66}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{540,501}}</string>
				<key>sourceSize</key>
				<string>{540,633}</string>
			</dict>
			<key>total_glow_a_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,1046},{540,501}}</string>
				<key>offset</key>
				<string>{0,66}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{543,1046},{540,501}}</string>
				<key>sourceSize</key>
				<string>{540,633}</string>
			</dict>
			<key>total_glow_a_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,1},{540,501}}</string>
				<key>offset</key>
				<string>{0,66}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{543,1},{540,501}}</string>
				<key>sourceSize</key>
				<string>{540,633}</string>
			</dict>
			<key>total_glow_a_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,504},{540,501}}</string>
				<key>offset</key>
				<string>{0,66}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,504},{540,501}}</string>
				<key>sourceSize</key>
				<string>{540,633}</string>
			</dict>
			<key>total_glow_a_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,504},{540,501}}</string>
				<key>offset</key>
				<string>{0,66}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,504},{540,501}}</string>
				<key>sourceSize</key>
				<string>{540,633}</string>
			</dict>
			<key>total_glow_a_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,1046},{540,501}}</string>
				<key>offset</key>
				<string>{0,66}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{543,1046},{540,501}}</string>
				<key>sourceSize</key>
				<string>{540,633}</string>
			</dict>
			<key>total_glow_a_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,504},{540,501}}</string>
				<key>offset</key>
				<string>{0,66}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1007,504},{540,501}}</string>
				<key>sourceSize</key>
				<string>{540,633}</string>
			</dict>
			<key>total_glow_a_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,1},{540,501}}</string>
				<key>offset</key>
				<string>{0,66}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{543,1},{540,501}}</string>
				<key>sourceSize</key>
				<string>{540,633}</string>
			</dict>
			<key>total_glow_a_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1046},{540,501}}</string>
				<key>offset</key>
				<string>{0,66}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1046},{540,501}}</string>
				<key>sourceSize</key>
				<string>{540,633}</string>
			</dict>
			<key>total_glow_a_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,504},{540,501}}</string>
				<key>offset</key>
				<string>{0,66}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{504,504},{540,501}}</string>
				<key>sourceSize</key>
				<string>{540,633}</string>
			</dict>
			<key>total_glow_a_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1046},{540,501}}</string>
				<key>offset</key>
				<string>{0,66}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1046},{540,501}}</string>
				<key>sourceSize</key>
				<string>{540,633}</string>
			</dict>
			<key>total_glow_a_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{1007,504},{540,501}}</string>
				<key>offset</key>
				<string>{0,66}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1007,504},{540,501}}</string>
				<key>sourceSize</key>
				<string>{540,633}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>606fb525-cdd0-4d4d-a030-76c97d12d3d3.5c036.jpg</string>
			<key>size</key>
			<string>{1548,1548}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>606fb525-cdd0-4d4d-a030-76c97d12d3d3.5c036.jpg</string>
		</dict>
	</dict>
</plist>
