<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>x5.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,1},{120,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{538,1},{120,90}}</string>
				<key>sourceSize</key>
				<string>{120,90}</string>
			</dict>
			<key>x10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{162,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{162,90}}</string>
				<key>sourceSize</key>
				<string>{162,90}</string>
			</dict>
			<key>x2.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,1},{119,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{660,1},{119,89}}</string>
				<key>sourceSize</key>
				<string>{119,89}</string>
			</dict>
			<key>x4.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,1},{124,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{165,1},{124,92}}</string>
				<key>sourceSize</key>
				<string>{124,92}</string>
			</dict>
			<key>x1.png</key>
			<dict>
				<key>frame</key>
				<string>{{781,1},{106,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{781,1},{106,87}}</string>
				<key>sourceSize</key>
				<string>{106,87}</string>
			</dict>
			<key>x6.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,1},{121,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{415,1},{121,91}}</string>
				<key>sourceSize</key>
				<string>{121,91}</string>
			</dict>
			<key>x3.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,1},{122,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{291,1},{122,90}}</string>
				<key>sourceSize</key>
				<string>{122,90}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>787f8e24-049a-47eb-8b06-6c30aaaf4c8e.9cc07.png</string>
			<key>size</key>
			<string>{888,94}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>787f8e24-049a-47eb-8b06-6c30aaaf4c8e.9cc07.png</string>
		</dict>
	</dict>
</plist>
