<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bw_particle_a_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,107},{104,104}}</string>
				<key>offset</key>
				<string>{-3,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{231,107},{104,104}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>bw_particle_a_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,311},{94,94}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{313,311},{94,94}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>bw_particle_a_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,115},{110,110}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,115},{110,110}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>bw_particle_a_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,1},{104,104}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{231,1},{104,104}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>bw_particle_a_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,233},{112,112}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,233},{112,112}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>bw_particle_a_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,311},{96,96}}</string>
				<key>offset</key>
				<string>{-3,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{215,311},{96,96}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>bw_particle_a_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,117},{114,114}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,117},{114,114}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>bw_particle_a_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,213},{98,96}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{229,213},{98,96}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>bw_particle_a_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,227},{96,96}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,227},{96,96}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>bw_particle_a_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,1},{112,112}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,1},{112,112}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>bw_particle_a_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{114,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{114,114}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>8587692a-857e-4c8b-8a13-2bcd32268fda.20470.png</string>
			<key>size</key>
			<string>{408,408}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>8587692a-857e-4c8b-8a13-2bcd32268fda.20470.png</string>
		</dict>
	</dict>
</plist>
