<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>base_gold_to_ingot_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{301,281},{163,193}}</string>
				<key>offset</key>
				<string>{1,10}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{301,281},{163,193}}</string>
				<key>sourceSize</key>
				<string>{717,717}</string>
			</dict>
			<key>base_gold_to_ingot_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,343},{173,127}}</string>
				<key>offset</key>
				<string>{0,-25}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{583,343},{173,127}}</string>
				<key>sourceSize</key>
				<string>{717,717}</string>
			</dict>
			<key>base_gold_to_ingot_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,1},{225,139}}</string>
				<key>offset</key>
				<string>{-5,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{365,1},{225,139}}</string>
				<key>sourceSize</key>
				<string>{717,717}</string>
			</dict>
			<key>base_gold_to_ingot_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,472},{153,187}}</string>
				<key>offset</key>
				<string>{-4,14}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{565,472},{153,187}}</string>
				<key>sourceSize</key>
				<string>{717,717}</string>
			</dict>
			<key>base_gold_to_ingot_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,226},{163,247}}</string>
				<key>offset</key>
				<string>{-2,12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,226},{163,247}}</string>
				<key>sourceSize</key>
				<string>{717,717}</string>
			</dict>
			<key>base_gold_to_ingot_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,446},{115,185}}</string>
				<key>offset</key>
				<string>{1,16}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{448,446},{115,185}}</string>
				<key>sourceSize</key>
				<string>{717,717}</string>
			</dict>
			<key>base_gold_to_ingot_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{584,190},{151,175}}</string>
				<key>offset</key>
				<string>{9,16}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{584,190},{151,175}}</string>
				<key>sourceSize</key>
				<string>{717,717}</string>
			</dict>
			<key>base_gold_to_ingot_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{448,633},{169,121}}</string>
				<key>offset</key>
				<string>{1,-25}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{448,633},{169,121}}</string>
				<key>sourceSize</key>
				<string>{717,717}</string>
			</dict>
			<key>base_gold_to_ingot_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,1},{151,219}}</string>
				<key>offset</key>
				<string>{-6,14}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{212,1},{151,219}}</string>
				<key>sourceSize</key>
				<string>{717,717}</string>
			</dict>
			<key>base_gold_to_ingot_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{592,1},{169,187}}</string>
				<key>offset</key>
				<string>{0,12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{592,1},{169,187}}</string>
				<key>sourceSize</key>
				<string>{717,717}</string>
			</dict>
			<key>base_gold_to_ingot_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,637},{171,123}}</string>
				<key>offset</key>
				<string>{0,-25}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{275,637},{171,123}}</string>
				<key>sourceSize</key>
				<string>{717,717}</string>
			</dict>
			<key>base_gold_to_ingot_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,281},{139,85}}</string>
				<key>offset</key>
				<string>{0,-25}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{496,281},{139,85}}</string>
				<key>sourceSize</key>
				<string>{717,717}</string>
			</dict>
			<key>base_gold_to_ingot_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,627},{143,99}}</string>
				<key>offset</key>
				<string>{0,-24}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{619,627},{143,99}}</string>
				<key>sourceSize</key>
				<string>{717,717}</string>
			</dict>
			<key>base_gold_to_ingot_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,446},{171,189}}</string>
				<key>offset</key>
				<string>{-7,15}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{275,446},{171,189}}</string>
				<key>sourceSize</key>
				<string>{717,717}</string>
			</dict>
			<key>base_gold_to_ingot_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,475},{211,155}}</string>
				<key>offset</key>
				<string>{-15,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,475},{211,155}}</string>
				<key>sourceSize</key>
				<string>{717,717}</string>
			</dict>
			<key>base_gold_to_ingot_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{209,223}}</string>
				<key>offset</key>
				<string>{7,15}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{209,223}}</string>
				<key>sourceSize</key>
				<string>{717,717}</string>
			</dict>
			<key>base_gold_to_ingot_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,142},{217,137}}</string>
				<key>offset</key>
				<string>{2,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{365,142},{217,137}}</string>
				<key>sourceSize</key>
				<string>{717,717}</string>
			</dict>
			<key>base_gold_to_ingot_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{166,226},{211,133}}</string>
				<key>offset</key>
				<string>{1,-22}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{166,226},{211,133}}</string>
				<key>sourceSize</key>
				<string>{717,717}</string>
			</dict>
			<key>base_gold_to_ingot_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,475},{115,191}}</string>
				<key>offset</key>
				<string>{-4,14}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{158,475},{115,191}}</string>
				<key>sourceSize</key>
				<string>{717,717}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>ab27c5db-5c23-4f40-b333-421b9fe6e3f8.945b4.png</string>
			<key>size</key>
			<string>{763,763}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>ab27c5db-5c23-4f40-b333-421b9fe6e3f8.945b4.png</string>
		</dict>
	</dict>
</plist>
