<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>spin_vfx_a_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,685},{178,104}}</string>
				<key>offset</key>
				<string>{19,25}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,685},{178,104}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,579},{70,68}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{625,579},{70,68}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,1},{154,152}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{697,1},{154,152}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,1},{232,214}}</string>
				<key>offset</key>
				<string>{8,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{235,1},{232,214}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,221},{222,192}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{219,221},{222,192}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,211},{190,190}}</string>
				<key>offset</key>
				<string>{6,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{629,211},{190,190}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,445},{4,4}}</string>
				<key>offset</key>
				<string>{68,75}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{219,445},{4,4}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,1},{226,208}}</string>
				<key>offset</key>
				<string>{7,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{469,1},{226,208}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,435},{216,182}}</string>
				<key>offset</key>
				<string>{-1,-14}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{441,435},{216,182}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,217},{216,214}}</string>
				<key>offset</key>
				<string>{7,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{413,217},{216,214}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,1},{3,3}}</string>
				<key>offset</key>
				<string>{-123,123}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{853,1},{3,3}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,715},{106,100}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{709,715},{106,100}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,403},{174,174}}</string>
				<key>offset</key>
				<string>{4,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{629,403},{174,174}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,221},{234,216}}</string>
				<key>offset</key>
				<string>{8,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,221},{234,216}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{232,218}}</string>
				<key>offset</key>
				<string>{9,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{232,218}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,579},{134,128}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{709,579},{134,128}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,457},{222,226}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,457},{222,226}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,685},{186,176}}</string>
				<key>offset</key>
				<string>{14,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{107,685},{186,176}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,653},{206,202}}</string>
				<key>offset</key>
				<string>{6,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{501,653},{206,202}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,445},{216,214}}</string>
				<key>offset</key>
				<string>{7,-7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{225,445},{216,214}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,663},{192,204}}</string>
				<key>offset</key>
				<string>{18,-5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{295,663},{192,204}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_18_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,685},{178,104}}</string>
				<key>offset</key>
				<string>{19,25}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,685},{178,104}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_00_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,579},{70,68}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{625,579},{70,68}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_03_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,1},{154,152}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{697,1},{154,152}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_09_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,1},{232,214}}</string>
				<key>offset</key>
				<string>{8,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{235,1},{232,214}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_15_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,221},{222,192}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{219,221},{222,192}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_05_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,211},{190,190}}</string>
				<key>offset</key>
				<string>{6,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{629,211},{190,190}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_19_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,445},{4,4}}</string>
				<key>offset</key>
				<string>{68,75}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{219,445},{4,4}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_08_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,1},{226,208}}</string>
				<key>offset</key>
				<string>{7,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{469,1},{226,208}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_16_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,435},{216,182}}</string>
				<key>offset</key>
				<string>{-1,-14}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{441,435},{216,182}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_13_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,217},{216,214}}</string>
				<key>offset</key>
				<string>{7,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{413,217},{216,214}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_20_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,1},{3,3}}</string>
				<key>offset</key>
				<string>{-123,123}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{853,1},{3,3}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_01_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,715},{106,100}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{709,715},{106,100}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_04_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,403},{174,174}}</string>
				<key>offset</key>
				<string>{4,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{629,403},{174,174}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_11_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,221},{234,216}}</string>
				<key>offset</key>
				<string>{8,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,221},{234,216}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_10_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{232,218}}</string>
				<key>offset</key>
				<string>{9,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{232,218}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_02_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,579},{134,128}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{709,579},{134,128}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_12_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,457},{222,226}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,457},{222,226}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_17_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,685},{186,176}}</string>
				<key>offset</key>
				<string>{14,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{107,685},{186,176}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_06_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,653},{206,202}}</string>
				<key>offset</key>
				<string>{6,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{501,653},{206,202}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_07_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,445},{216,214}}</string>
				<key>offset</key>
				<string>{7,-7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{225,445},{216,214}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_14_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,663},{192,204}}</string>
				<key>offset</key>
				<string>{18,-5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{295,663},{192,204}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_18_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,685},{178,104}}</string>
				<key>offset</key>
				<string>{19,25}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,685},{178,104}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_00_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,579},{70,68}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{625,579},{70,68}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_03_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,1},{154,152}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{697,1},{154,152}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_09_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{235,1},{232,214}}</string>
				<key>offset</key>
				<string>{8,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{235,1},{232,214}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_15_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,221},{222,192}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{219,221},{222,192}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_05_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,211},{190,190}}</string>
				<key>offset</key>
				<string>{6,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{629,211},{190,190}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_19_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,445},{4,4}}</string>
				<key>offset</key>
				<string>{68,75}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{219,445},{4,4}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_08_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,1},{226,208}}</string>
				<key>offset</key>
				<string>{7,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{469,1},{226,208}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_16_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{441,435},{216,182}}</string>
				<key>offset</key>
				<string>{-1,-14}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{441,435},{216,182}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_13_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,217},{216,214}}</string>
				<key>offset</key>
				<string>{7,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{413,217},{216,214}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_20_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,1},{3,3}}</string>
				<key>offset</key>
				<string>{-123,123}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{853,1},{3,3}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_01_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,715},{106,100}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{709,715},{106,100}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_04_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,403},{174,174}}</string>
				<key>offset</key>
				<string>{4,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{629,403},{174,174}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_11_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,221},{234,216}}</string>
				<key>offset</key>
				<string>{8,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,221},{234,216}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_10_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{232,218}}</string>
				<key>offset</key>
				<string>{9,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{232,218}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_02_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{709,579},{134,128}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{709,579},{134,128}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_12_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,457},{222,226}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,457},{222,226}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_17_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,685},{186,176}}</string>
				<key>offset</key>
				<string>{14,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{107,685},{186,176}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_06_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,653},{206,202}}</string>
				<key>offset</key>
				<string>{6,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{501,653},{206,202}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_07_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,445},{216,214}}</string>
				<key>offset</key>
				<string>{7,-7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{225,445},{216,214}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>spin_vfx_a_14_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,663},{192,204}}</string>
				<key>offset</key>
				<string>{18,-5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{295,663},{192,204}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>ac726853-c4e5-49f5-87ac-b83b41c26b06.42757.jpg</string>
			<key>size</key>
			<string>{864,864}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>ac726853-c4e5-49f5-87ac-b83b41c26b06.42757.jpg</string>
		</dict>
	</dict>
</plist>
