<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bonus_button_vfx_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,1151},{158,223}}</string>
				<key>offset</key>
				<string>{-14,17}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{543,1151},{158,223}}</string>
				<key>sourceSize</key>
				<string>{540,307}</string>
			</dict>
			<key>bonus_button_vfx_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,310},{540,307}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,310},{540,307}}</string>
				<key>sourceSize</key>
				<string>{540,307}</string>
			</dict>
			<key>bonus_button_vfx_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,1155},{290,129}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{768,1155},{290,129}}</string>
				<key>sourceSize</key>
				<string>{540,307}</string>
			</dict>
			<key>bonus_button_vfx_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1237},{108,35}}</string>
				<key>offset</key>
				<string>{11,-72}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1237},{108,35}}</string>
				<key>sourceSize</key>
				<string>{540,307}</string>
			</dict>
			<key>bonus_button_vfx_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,310},{540,307}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{543,310},{540,307}}</string>
				<key>sourceSize</key>
				<string>{540,307}</string>
			</dict>
			<key>bonus_button_vfx_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,619},{540,297}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{543,619},{540,297}}</string>
				<key>sourceSize</key>
				<string>{540,307}</string>
			</dict>
			<key>bonus_button_vfx_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,1},{540,307}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{543,1},{540,307}}</string>
				<key>sourceSize</key>
				<string>{540,307}</string>
			</dict>
			<key>bonus_button_vfx_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,918},{270,231}}</string>
				<key>offset</key>
				<string>{8,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{543,918},{270,231}}</string>
				<key>sourceSize</key>
				<string>{540,307}</string>
			</dict>
			<key>bonus_button_vfx_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,928},{540,307}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,928},{540,307}}</string>
				<key>sourceSize</key>
				<string>{540,307}</string>
			</dict>
			<key>bonus_button_vfx_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,619},{540,307}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,619},{540,307}}</string>
				<key>sourceSize</key>
				<string>{540,307}</string>
			</dict>
			<key>bonus_button_vfx_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1274},{106,31}}</string>
				<key>offset</key>
				<string>{12,-71}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1274},{106,31}}</string>
				<key>sourceSize</key>
				<string>{540,307}</string>
			</dict>
			<key>bonus_button_vfx_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1300,1},{8,7}}</string>
				<key>offset</key>
				<string>{-33,-80}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1300,1},{8,7}}</string>
				<key>sourceSize</key>
				<string>{540,307}</string>
			</dict>
			<key>bonus_button_vfx_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,383},{248,223}}</string>
				<key>offset</key>
				<string>{-3,14}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1085,383},{248,223}}</string>
				<key>sourceSize</key>
				<string>{540,307}</string>
			</dict>
			<key>bonus_button_vfx_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,633},{208,225}}</string>
				<key>offset</key>
				<string>{11,15}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1085,633},{208,225}}</string>
				<key>sourceSize</key>
				<string>{540,307}</string>
			</dict>
			<key>bonus_button_vfx_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,1},{380,213}}</string>
				<key>offset</key>
				<string>{6,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1085,1},{380,213}}</string>
				<key>sourceSize</key>
				<string>{540,307}</string>
			</dict>
			<key>bonus_button_vfx_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{815,918},{248,235}}</string>
				<key>offset</key>
				<string>{-4,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{815,918},{248,235}}</string>
				<key>sourceSize</key>
				<string>{540,307}</string>
			</dict>
			<key>bonus_button_vfx_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1295,633},{3,3}}</string>
				<key>offset</key>
				<string>{-268,152}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1295,633},{3,3}}</string>
				<key>sourceSize</key>
				<string>{540,307}</string>
			</dict>
			<key>bonus_button_vfx_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,860},{208,221}}</string>
				<key>offset</key>
				<string>{10,16}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1085,860},{208,221}}</string>
				<key>sourceSize</key>
				<string>{540,307}</string>
			</dict>
			<key>bonus_button_vfx_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{540,307}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{540,307}}</string>
				<key>sourceSize</key>
				<string>{540,307}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>b0c8986a-cf13-49f0-9be8-0cc93f03adb2.c13f9.jpg</string>
			<key>size</key>
			<string>{1310,1310}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>b0c8986a-cf13-49f0-9be8-0cc93f03adb2.c13f9.jpg</string>
		</dict>
	</dict>
</plist>
