<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bw_vfx_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,1},{540,496}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{543,1},{540,496}}</string>
				<key>sourceSize</key>
				<string>{540,496}</string>
			</dict>
			<key>bw_vfx_g.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,499},{138,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{756,499},{138,139}}</string>
				<key>sourceSize</key>
				<string>{138,139}</string>
			</dict>
			<key>bw_particle_c_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,540},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{896,540},{39,39}}</string>
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>bw_vfx_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{540,530}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{540,530}}</string>
				<key>sourceSize</key>
				<string>{540,530}</string>
			</dict>
			<key>bw_particle_c_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,499},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{937,499},{39,39}}</string>
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>bw_particle_c_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,499},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{896,499},{39,39}}</string>
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>bw_vfx_f.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,499},{211,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{543,499},{211,191}}</string>
				<key>sourceSize</key>
				<string>{211,191}</string>
			</dict>
			<key>bw_vfx_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,1},{540,317}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1085,1},{540,317}}</string>
				<key>sourceSize</key>
				<string>{540,317}</string>
			</dict>
			<key>bw_particle_c_02_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,540},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{896,540},{39,39}}</string>
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
			<key>bw_particle_c_01_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{896,499},{39,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{896,499},{39,39}}</string>
				<key>sourceSize</key>
				<string>{39,39}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>d93409b8-c5a8-48fa-996f-fe3c9c2c4bd0.d1fe8.jpg</string>
			<key>size</key>
			<string>{1403,691}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>d93409b8-c5a8-48fa-996f-fe3c9c2c4bd0.d1fe8.jpg</string>
		</dict>
	</dict>
</plist>
