<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fast_vfx_d_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1314,1123},{257,559}}</string>
				<key>offset</key>
				<string>{6,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1314,1123},{257,559}}</string>
				<key>sourceSize</key>
				<string>{321,631}</string>
			</dict>
			<key>fast_vfx_d_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1059,562},{259,559}}</string>
				<key>offset</key>
				<string>{6,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1059,562},{259,559}}</string>
				<key>sourceSize</key>
				<string>{321,631}</string>
			</dict>
			<key>fast_vfx_d_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1127},{263,557}}</string>
				<key>offset</key>
				<string>{4,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1127},{263,557}}</string>
				<key>sourceSize</key>
				<string>{321,631}</string>
			</dict>
			<key>fast_vfx_d_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1059,1},{259,559}}</string>
				<key>offset</key>
				<string>{5,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1059,1},{259,559}}</string>
				<key>sourceSize</key>
				<string>{321,631}</string>
			</dict>
			<key>fast_vfx_d_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1055,1123},{257,557}}</string>
				<key>offset</key>
				<string>{6,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1055,1123},{257,557}}</string>
				<key>sourceSize</key>
				<string>{321,631}</string>
			</dict>
			<key>fast_vfx_d_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{263,561}}</string>
				<key>offset</key>
				<string>{4,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{263,561}}</string>
				<key>sourceSize</key>
				<string>{321,631}</string>
			</dict>
			<key>fast_vfx_d_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,560},{263,557}}</string>
				<key>offset</key>
				<string>{4,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{533,560},{263,557}}</string>
				<key>sourceSize</key>
				<string>{321,631}</string>
			</dict>
			<key>fast_vfx_d_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,1119},{261,557}}</string>
				<key>offset</key>
				<string>{4,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{531,1119},{261,557}}</string>
				<key>sourceSize</key>
				<string>{321,631}</string>
			</dict>
			<key>fast_vfx_d_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,1119},{263,557}}</string>
				<key>offset</key>
				<string>{4,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{266,1119},{263,557}}</string>
				<key>sourceSize</key>
				<string>{321,631}</string>
			</dict>
			<key>fast_vfx_d_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,564},{259,557}}</string>
				<key>offset</key>
				<string>{6,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{798,564},{259,557}}</string>
				<key>sourceSize</key>
				<string>{321,631}</string>
			</dict>
			<key>fast_vfx_d_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1314,1123},{257,559}}</string>
				<key>offset</key>
				<string>{6,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1314,1123},{257,559}}</string>
				<key>sourceSize</key>
				<string>{321,631}</string>
			</dict>
			<key>fast_vfx_d_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1320,1},{261,557}}</string>
				<key>offset</key>
				<string>{4,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1320,1},{261,557}}</string>
				<key>sourceSize</key>
				<string>{321,631}</string>
			</dict>
			<key>fast_vfx_d_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,1},{265,557}}</string>
				<key>offset</key>
				<string>{3,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{266,1},{265,557}}</string>
				<key>sourceSize</key>
				<string>{321,631}</string>
			</dict>
			<key>fast_vfx_d_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,1123},{259,557}}</string>
				<key>offset</key>
				<string>{5,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{794,1123},{259,557}}</string>
				<key>sourceSize</key>
				<string>{321,631}</string>
			</dict>
			<key>fast_vfx_d_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1320,1},{261,557}}</string>
				<key>offset</key>
				<string>{4,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1320,1},{261,557}}</string>
				<key>sourceSize</key>
				<string>{321,631}</string>
			</dict>
			<key>fast_vfx_d_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,1},{259,561}}</string>
				<key>offset</key>
				<string>{6,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{798,1},{259,561}}</string>
				<key>sourceSize</key>
				<string>{321,631}</string>
			</dict>
			<key>fast_vfx_d_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,1},{263,557}}</string>
				<key>offset</key>
				<string>{4,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{533,1},{263,557}}</string>
				<key>sourceSize</key>
				<string>{321,631}</string>
			</dict>
			<key>fast_vfx_d_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,564},{263,561}}</string>
				<key>offset</key>
				<string>{4,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,564},{263,561}}</string>
				<key>sourceSize</key>
				<string>{321,631}</string>
			</dict>
			<key>fast_vfx_d_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1581,560},{255,557}}</string>
				<key>offset</key>
				<string>{6,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1581,560},{255,557}}</string>
				<key>sourceSize</key>
				<string>{321,631}</string>
			</dict>
			<key>fast_vfx_d_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1320,560},{259,559}}</string>
				<key>offset</key>
				<string>{5,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1320,560},{259,559}}</string>
				<key>sourceSize</key>
				<string>{321,631}</string>
			</dict>
			<key>fast_vfx_d_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{794,1123},{259,557}}</string>
				<key>offset</key>
				<string>{5,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{794,1123},{259,557}}</string>
				<key>sourceSize</key>
				<string>{321,631}</string>
			</dict>
			<key>fast_vfx_d_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1573,1121},{257,559}}</string>
				<key>offset</key>
				<string>{5,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1573,1121},{257,559}}</string>
				<key>sourceSize</key>
				<string>{321,631}</string>
			</dict>
			<key>fast_vfx_d_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,560},{265,557}}</string>
				<key>offset</key>
				<string>{3,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{266,560},{265,557}}</string>
				<key>sourceSize</key>
				<string>{321,631}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>e1e113aa-1b12-4080-ab95-7b1d116163c9.a8465.jpg</string>
			<key>size</key>
			<string>{1837,1837}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>e1e113aa-1b12-4080-ab95-7b1d116163c9.a8465.jpg</string>
		</dict>
	</dict>
</plist>
