<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bw_particle_b_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,129},{126,106}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,129},{126,106}}</string>
				<key>sourceSize</key>
				<string>{208,208}</string>
			</dict>
			<key>bw_particle_b_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,1},{126,108}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{131,1},{126,108}}</string>
				<key>sourceSize</key>
				<string>{208,208}</string>
			</dict>
			<key>bw_particle_b_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,237},{126,104}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,237},{126,104}}</string>
				<key>sourceSize</key>
				<string>{208,208}</string>
			</dict>
			<key>bw_particle_b_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,227},{126,110}}</string>
				<key>offset</key>
				<string>{7,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,227},{126,110}}</string>
				<key>sourceSize</key>
				<string>{208,208}</string>
			</dict>
			<key>bw_particle_b_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,115},{126,110}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,115},{126,110}}</string>
				<key>sourceSize</key>
				<string>{208,208}</string>
			</dict>
			<key>bw_particle_b_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{128,112}}</string>
				<key>offset</key>
				<string>{6,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{128,112}}</string>
				<key>sourceSize</key>
				<string>{208,208}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>f10eedf3-7f58-47e0-af98-22f6f288dab8.08bf4.png</string>
			<key>size</key>
			<string>{256,342}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>f10eedf3-7f58-47e0-af98-22f6f288dab8.08bf4.png</string>
		</dict>
	</dict>
</plist>
