<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>free_spins_won.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,161},{631,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{677,161},{631,200}}</string>
				<key>sourceSize</key>
				<string>{631,200}</string>
			</dict>
			<key>start.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,750},{174,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{893,750},{174,53}}</string>
				<key>sourceSize</key>
				<string>{174,53}</string>
			</dict>
			<key>total_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1369,1},{544,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1369,1},{544,157}}</string>
				<key>sourceSize</key>
				<string>{544,157}</string>
			</dict>
			<key>info_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,79},{1146,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,79},{1146,45}}</string>
				<key>sourceSize</key>
				<string>{1146,45}</string>
			</dict>
			<key>smw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,161},{674,292}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,161},{674,292}}</string>
				<key>sourceSize</key>
				<string>{674,292}</string>
			</dict>
			<key>win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1149,79},{121,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1149,79},{121,31}}</string>
				<key>sourceSize</key>
				<string>{121,31}</string>
			</dict>
			<key>info_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1342,728},{505,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1342,728},{505,76}}</string>
				<key>sourceSize</key>
				<string>{505,76}</string>
			</dict>
			<key>bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,363},{677,193}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{678,363},{677,193}}</string>
				<key>sourceSize</key>
				<string>{677,193}</string>
			</dict>
			<key>info_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1342,572},{483,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1342,572},{483,76}}</string>
				<key>sourceSize</key>
				<string>{483,76}</string>
			</dict>
			<key>info_total_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1915,1},{121,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1915,1},{121,57}}</string>
				<key>sourceSize</key>
				<string>{121,57}</string>
			</dict>
			<key>info_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,126},{1106,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,126},{1106,33}}</string>
				<key>sourceSize</key>
				<string>{1106,33}</string>
			</dict>
			<key>info_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1366,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{1366,76}}</string>
				<key>sourceSize</key>
				<string>{1366,76}</string>
			</dict>
			<key>collect.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,750},{280,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{611,750},{280,52}}</string>
				<key>sourceSize</key>
				<string>{280,52}</string>
			</dict>
			<key>last_free_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,667},{608,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,667},{608,125}}</string>
				<key>sourceSize</key>
				<string>{608,125}</string>
			</dict>
			<key>5ofakind.png</key>
			<dict>
				<key>frame</key>
				<string>{{1847,160},{346,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1847,160},{346,128}}</string>
				<key>sourceSize</key>
				<string>{346,128}</string>
			</dict>
			<key>bonus_loading_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{678,558},{662,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{678,558},{662,190}}</string>
				<key>sourceSize</key>
				<string>{662,190}</string>
			</dict>
			<key>logo_on_temple.png</key>
			<dict>
				<key>frame</key>
				<string>{{1357,160},{445,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1357,160},{445,295}}</string>
				<key>sourceSize</key>
				<string>{445,295}</string>
			</dict>
			<key>info_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1342,650},{503,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1342,650},{503,76}}</string>
				<key>sourceSize</key>
				<string>{503,76}</string>
			</dict>
			<key>mw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,455},{675,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,455},{675,210}}</string>
				<key>sourceSize</key>
				<string>{675,210}</string>
			</dict>
			<key>free_spins_remaining.png</key>
			<dict>
				<key>frame</key>
				<string>{{1357,457},{449,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1357,457},{449,113}}</string>
				<key>sourceSize</key>
				<string>{449,113}</string>
			</dict>
			<key>general_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1973,805}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1973,805}}</string>
				<key>sourceSize</key>
				<string>{1976,805}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>general_text.png</string>
			<key>size</key>
			<string>{1976,805}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>general_text.png</string>
		</dict>
	</dict>
</plist>
