<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>info_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,198},{1718,53}}</string>
				<key>offset</key>
				<string>{-3,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,198},{1718,53}}</string>
				<key>sourceSize</key>
				<string>{1728,77}</string>
			</dict>
			<key>info_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1187,45}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{1187,45}}</string>
				<key>sourceSize</key>
				<string>{1201,77}</string>
			</dict>
			<key>info_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,74},{1266,49}}</string>
				<key>offset</key>
				<string>{-4,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{600,74},{1266,49}}</string>
				<key>sourceSize</key>
				<string>{1280,77}</string>
			</dict>
			<key>info_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1364,125},{611,71}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1364,125},{611,71}}</string>
				<key>sourceSize</key>
				<string>{617,77}</string>
			</dict>
			<key>info_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,125},{1361,49}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,125},{1361,49}}</string>
				<key>sourceSize</key>
				<string>{1373,77}</string>
			</dict>
			<key>info_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1190,1},{582,71}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1190,1},{582,71}}</string>
				<key>sourceSize</key>
				<string>{592,77}</string>
			</dict>
			<key>info_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,48},{597,71}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,48},{597,71}}</string>
				<key>sourceSize</key>
				<string>{607,77}</string>
			</dict>
			<key>info_board_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1972,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{1972,248}}</string>
				<key>sourceSize</key>
				<string>{1976,252}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>info_board_text.png</string>
			<key>size</key>
			<string>{1976,252}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>info_board_text.png</string>
		</dict>
	</dict>
</plist>
