<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>info2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,205},{1125,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,205},{1125,100}}</string>
				<key>sourceSize</key>
				<string>{1125,100}</string>
			</dict>
			<key>info0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,103},{1303,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,103},{1303,100}}</string>
				<key>sourceSize</key>
				<string>{1303,100}</string>
			</dict>
			<key>Info5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,307},{1037,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,307},{1037,100}}</string>
				<key>sourceSize</key>
				<string>{1037,100}</string>
			</dict>
			<key>info1.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,409},{707,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{736,409},{707,100}}</string>
				<key>sourceSize</key>
				<string>{707,100}</string>
			</dict>
			<key>win_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{1445,409},{154,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1445,409},{154,100}}</string>
				<key>sourceSize</key>
				<string>{154,100}</string>
			</dict>
			<key>info6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,409},{733,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,409},{733,100}}</string>
				<key>sourceSize</key>
				<string>{733,100}</string>
			</dict>
			<key>totalwin_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{1128,205},{134,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1128,205},{134,100}}</string>
				<key>sourceSize</key>
				<string>{134,100}</string>
			</dict>
			<key>info3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1414,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{1414,100}}</string>
				<key>sourceSize</key>
				<string>{1414,100}</string>
			</dict>
			<key>info4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1040,307},{657,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1040,307},{657,100}}</string>
				<key>sourceSize</key>
				<string>{657,100}</string>
			</dict>
			<key>2000ways.png</key>
			<dict>
				<key>frame</key>
				<string>{{1306,103},{321,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1306,103},{321,50}}</string>
				<key>sourceSize</key>
				<string>{321,50}</string>
			</dict>
			<key>info_message.png</key>
			<dict>
				<key>frame</key>
				<string>{{5,24},{1682,468}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{5,24},{1682,468}}</string>
				<key>sourceSize</key>
				<string>{1698,510}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>info_message.png</string>
			<key>size</key>
			<string>{1698,510}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>info_message.png</string>
		</dict>
	</dict>
</plist>
