<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>respin_vfx_d_screen_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,559},{48,50}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{411,559},{48,50}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>respin_vfx_d_screen_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,793},{86,72}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{379,793},{86,72}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>respin_vfx_d_screen_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,689},{112,90}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{287,689},{112,90}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>respin_vfx_d_screen_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,757},{130,102}}</string>
				<key>offset</key>
				<string>{4,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,757},{130,102}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>respin_vfx_d_screen_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,329},{140,110}}</string>
				<key>offset</key>
				<string>{5,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{339,329},{140,110}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>respin_vfx_d_screen_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,441},{148,116}}</string>
				<key>offset</key>
				<string>{6,9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{333,441},{148,116}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>respin_vfx_d_screen_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,567},{154,120}}</string>
				<key>offset</key>
				<string>{6,9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{169,567},{154,120}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>respin_vfx_d_screen_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,441},{158,124}}</string>
				<key>offset</key>
				<string>{7,9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{173,441},{158,124}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>respin_vfx_d_screen_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,167},{160,128}}</string>
				<key>offset</key>
				<string>{8,7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{343,167},{160,128}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>respin_vfx_d_screen_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,311},{162,128}}</string>
				<key>offset</key>
				<string>{8,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{175,311},{162,128}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>respin_vfx_d_screen_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,1},{164,130}}</string>
				<key>offset</key>
				<string>{9,2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{345,1},{164,130}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>respin_vfx_d_screen_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,621},{166,134}}</string>
				<key>offset</key>
				<string>{9,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,621},{166,134}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>respin_vfx_d_screen_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,479},{166,140}}</string>
				<key>offset</key>
				<string>{10,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,479},{166,140}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>respin_vfx_d_screen_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,163},{166,146}}</string>
				<key>offset</key>
				<string>{10,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{175,163},{166,146}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>respin_vfx_d_screen_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,325},{170,152}}</string>
				<key>offset</key>
				<string>{8,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,325},{170,152}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>respin_vfx_d_screen_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,165},{172,158}}</string>
				<key>offset</key>
				<string>{6,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,165},{172,158}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>respin_vfx_d_screen_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{172,162}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{172,162}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>respin_vfx_d_screen_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,1},{168,160}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{175,1},{168,160}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>respin_vfx_d_screen_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,689},{116,104}}</string>
				<key>offset</key>
				<string>{27,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{169,689},{116,104}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>respin_vfx_d_screen_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,567},{112,84}}</string>
				<key>offset</key>
				<string>{26,-4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{325,567},{112,84}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>respin_vfx_d_screen_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,681},{110,82}}</string>
				<key>offset</key>
				<string>{25,-4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{379,681},{110,82}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>respin_vfx_d_screen_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,795},{96,68}}</string>
				<key>offset</key>
				<string>{31,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,795},{96,68}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>respin_vfx_d_screen_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,795},{54,66}}</string>
				<key>offset</key>
				<string>{12,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{231,795},{54,66}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>respin_vfx_d_screen_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,803},{50,64}}</string>
				<key>offset</key>
				<string>{12,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{287,803},{50,64}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>respin_vfx_d_screen_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{411,611},{46,52}}</string>
				<key>offset</key>
				<string>{13,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{411,611},{46,52}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>respin_vfx_d_screen_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,855},{10,14}}</string>
				<key>offset</key>
				<string>{-5,-22}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{287,855},{10,14}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>131f3a8f-f950-45b6-b358-3abad4cfd025.6acb0.jpg</string>
			<key>size</key>
			<string>{482,866}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>131f3a8f-f950-45b6-b358-3abad4cfd025.6acb0.jpg</string>
		</dict>
	</dict>
</plist>
