<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>payline_a_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,253},{118,10}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,253},{118,10}}</string>
				<key>sourceSize</key>
				<string>{120,40}</string>
			</dict>
			<key>payline_a_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,165},{120,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,165},{120,20}}</string>
				<key>sourceSize</key>
				<string>{120,40}</string>
			</dict>
			<key>payline_a_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,1},{120,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{165,1},{120,20}}</string>
				<key>sourceSize</key>
				<string>{120,40}</string>
			</dict>
			<key>payline_a_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,187},{120,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,187},{120,20}}</string>
				<key>sourceSize</key>
				<string>{120,40}</string>
			</dict>
			<key>payline_a_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,209},{118,20}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,209},{118,20}}</string>
				<key>sourceSize</key>
				<string>{120,40}</string>
			</dict>
			<key>payline_a_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,209},{116,18}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{121,209},{116,18}}</string>
				<key>sourceSize</key>
				<string>{120,40}</string>
			</dict>
			<key>payline_a_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,1},{116,12}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{231,1},{116,12}}</string>
				<key>sourceSize</key>
				<string>{120,40}</string>
			</dict>
			<key>payline_a_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,241},{116,10}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{121,241},{116,10}}</string>
				<key>sourceSize</key>
				<string>{120,40}</string>
			</dict>
			<key>payline_b_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,1},{150,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{153,1},{150,10}}</string>
				<key>sourceSize</key>
				<string>{150,40}</string>
			</dict>
			<key>payline_b_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,111},{150,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,111},{150,18}}</string>
				<key>sourceSize</key>
				<string>{150,40}</string>
			</dict>
			<key>payline_b_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{150,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{150,20}}</string>
				<key>sourceSize</key>
				<string>{150,40}</string>
			</dict>
			<key>payline_b_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,23},{150,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,23},{150,20}}</string>
				<key>sourceSize</key>
				<string>{150,40}</string>
			</dict>
			<key>payline_b_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,45},{150,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,45},{150,20}}</string>
				<key>sourceSize</key>
				<string>{150,40}</string>
			</dict>
			<key>payline_b_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,67},{150,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,67},{150,20}}</string>
				<key>sourceSize</key>
				<string>{150,40}</string>
			</dict>
			<key>payline_b_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,89},{150,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,89},{150,20}}</string>
				<key>sourceSize</key>
				<string>{150,40}</string>
			</dict>
			<key>payline_b_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,131},{150,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,131},{150,18}}</string>
				<key>sourceSize</key>
				<string>{150,40}</string>
			</dict>
			<key>payline_b_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,151},{150,12}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,151},{150,12}}</string>
				<key>sourceSize</key>
				<string>{150,40}</string>
			</dict>
			<key>payline_b_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,1},{150,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{153,1},{150,10}}</string>
				<key>sourceSize</key>
				<string>{150,40}</string>
			</dict>
			<key>payline_c_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,197},{118,10}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{123,197},{118,10}}</string>
				<key>sourceSize</key>
				<string>{120,40}</string>
			</dict>
			<key>payline_c_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,1},{118,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{209,1},{118,20}}</string>
				<key>sourceSize</key>
				<string>{120,40}</string>
			</dict>
			<key>payline_c_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,231},{118,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,231},{118,20}}</string>
				<key>sourceSize</key>
				<string>{120,40}</string>
			</dict>
			<key>payline_c_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,1},{120,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{187,1},{120,20}}</string>
				<key>sourceSize</key>
				<string>{120,40}</string>
			</dict>
			<key>payline_c_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,165},{120,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{123,165},{120,18}}</string>
				<key>sourceSize</key>
				<string>{120,40}</string>
			</dict>
			<key>payline_c_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,185},{120,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{123,185},{120,10}}</string>
				<key>sourceSize</key>
				<string>{120,40}</string>
			</dict>
			<key>payline_c_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,253},{118,10}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{121,253},{118,10}}</string>
				<key>sourceSize</key>
				<string>{120,40}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>14d31b08-09a0-4bd1-b87e-d05fe5dd3698.668d5.jpg</string>
			<key>size</key>
			<string>{244,264}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>14d31b08-09a0-4bd1-b87e-d05fe5dd3698.668d5.jpg</string>
		</dict>
	</dict>
</plist>
