<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ib_vfx_c_add_03_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,629},{42,43}}</string>
				<key>offset</key>
				<string>{1,-19}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{744,629},{42,43}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_03_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,527},{108,85}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{841,527},{108,85}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_03_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,327},{198,95}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{841,327},{198,95}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_03_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{744,327},{300,95}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{744,327},{300,95}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_03_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{324,103}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{324,103}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_03_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,106},{324,103}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,106},{324,103}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_03_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,1},{324,103}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{327,1},{324,103}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_03_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,211},{324,103}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,211},{324,103}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_03_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,106},{324,103}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{327,106},{324,103}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_03_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,316},{324,103}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,316},{324,103}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_03_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,211},{324,103}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{327,211},{324,103}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_03_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,421},{324,103}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,421},{324,103}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_03_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,316},{324,103}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{327,316},{324,103}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_03_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,1},{324,99}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{653,1},{324,99}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_03_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,526},{324,99}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,526},{324,99}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_03_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,421},{324,99}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{327,421},{324,99}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_03_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{754,1},{324,97}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{754,1},{324,97}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_03_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,522},{324,93}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{327,522},{324,93}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_03_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,327},{324,89}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{653,327},{324,89}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_03_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,1},{324,83}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{853,1},{324,83}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_03_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,617},{324,75}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{327,617},{324,75}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_03_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,627},{324,63}}</string>
				<key>offset</key>
				<string>{0,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,627},{324,63}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>164d4b6b-2ef6-4624-b185-dc381a001bf5.2a5c0.jpg</string>
			<key>size</key>
			<string>{937,693}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>164d4b6b-2ef6-4624-b185-dc381a001bf5.2a5c0.jpg</string>
		</dict>
	</dict>
</plist>
