<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>wh_vfx_b_add_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,803},{166,182}}</string>
				<key>offset</key>
				<string>{13,-8}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,803},{166,182}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>wh_vfx_b_add_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,787},{168,188}}</string>
				<key>offset</key>
				<string>{15,-5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{525,787},{168,188}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>wh_vfx_b_add_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,589},{170,192}}</string>
				<key>offset</key>
				<string>{15,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{369,589},{170,192}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>wh_vfx_b_add_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,589},{162,196}}</string>
				<key>offset</key>
				<string>{20,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{541,589},{162,196}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>wh_vfx_b_add_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,391},{168,196}}</string>
				<key>offset</key>
				<string>{18,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{393,391},{168,196}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>wh_vfx_b_add_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{194,204}}</string>
				<key>offset</key>
				<string>{5,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{194,204}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>wh_vfx_b_add_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,207},{194,202}}</string>
				<key>offset</key>
				<string>{5,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,207},{194,202}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>wh_vfx_b_add_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,1},{196,190}}</string>
				<key>offset</key>
				<string>{5,17}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{393,1},{196,190}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>wh_vfx_b_add_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,1},{194,196}}</string>
				<key>offset</key>
				<string>{5,10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{197,1},{194,196}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>wh_vfx_b_add_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,397},{194,190}}</string>
				<key>offset</key>
				<string>{5,9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{197,397},{194,190}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>wh_vfx_b_add_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,411},{194,196}}</string>
				<key>offset</key>
				<string>{5,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,411},{194,196}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>wh_vfx_b_add_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,199},{194,196}}</string>
				<key>offset</key>
				<string>{5,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{197,199},{194,196}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>wh_vfx_b_add_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,609},{194,192}}</string>
				<key>offset</key>
				<string>{6,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,609},{194,192}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>wh_vfx_b_add_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,193},{188,196}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{393,193},{188,196}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>wh_vfx_b_add_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,589},{170,200}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{197,589},{170,200}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>wh_vfx_b_add_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,391},{156,180}}</string>
				<key>offset</key>
				<string>{5,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{563,391},{156,180}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>wh_vfx_b_add_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,791},{160,178}}</string>
				<key>offset</key>
				<string>{7,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{197,791},{160,178}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>wh_vfx_b_add_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,791},{164,176}}</string>
				<key>offset</key>
				<string>{11,-11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{359,791},{164,176}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>189f1129-f67e-4f77-aa5e-5408e042a09a.a9c12.jpg</string>
			<key>size</key>
			<string>{720,970}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>189f1129-f67e-4f77-aa5e-5408e042a09a.a9c12.jpg</string>
		</dict>
	</dict>
</plist>
