<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mh_vfx_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,1},{200,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{204,1},{200,186}}</string>
				<key>sourceSize</key>
				<string>{200,186}</string>
			</dict>
			<key>mh_vfx_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,154},{200,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,154},{200,186}}</string>
				<key>sourceSize</key>
				<string>{200,186}</string>
			</dict>
			<key>sb_vfx_b_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,189},{123,123}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{203,189},{123,123}}</string>
				<key>sourceSize</key>
				<string>{123,123}</string>
			</dict>
			<key>sb_vfx_c_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{328,189},{115,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{328,189},{115,115}}</string>
				<key>sourceSize</key>
				<string>{115,115}</string>
			</dict>
			<key>sb_vfx_d_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{201,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{201,151}}</string>
				<key>sourceSize</key>
				<string>{201,151}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>2a25299a-3a36-48df-98ec-ae2a5c3ca050.3e627.jpg</string>
			<key>size</key>
			<string>{444,341}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>2a25299a-3a36-48df-98ec-ae2a5c3ca050.3e627.jpg</string>
		</dict>
	</dict>
</plist>
