<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ib_vfx_e_add_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,720},{402,59}}</string>
				<key>offset</key>
				<string>{5,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,720},{402,59}}</string>
				<key>sourceSize</key>
				<string>{540,89}</string>
			</dict>
			<key>ib_vfx_e_add_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{402,61}}</string>
				<key>offset</key>
				<string>{5,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{402,61}}</string>
				<key>sourceSize</key>
				<string>{540,89}</string>
			</dict>
			<key>ib_vfx_e_add_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,405},{402,61}}</string>
				<key>offset</key>
				<string>{5,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,405},{402,61}}</string>
				<key>sourceSize</key>
				<string>{540,89}</string>
			</dict>
			<key>ib_vfx_e_add_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,468},{402,61}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,468},{402,61}}</string>
				<key>sourceSize</key>
				<string>{540,89}</string>
			</dict>
			<key>ib_vfx_e_add_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,531},{402,61}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,531},{402,61}}</string>
				<key>sourceSize</key>
				<string>{540,89}</string>
			</dict>
			<key>ib_vfx_e_add_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,316},{400,61}}</string>
				<key>offset</key>
				<string>{5,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{64,316},{400,61}}</string>
				<key>sourceSize</key>
				<string>{540,89}</string>
			</dict>
			<key>ib_vfx_e_add_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,594},{402,61}}</string>
				<key>offset</key>
				<string>{5,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,594},{402,61}}</string>
				<key>sourceSize</key>
				<string>{540,89}</string>
			</dict>
			<key>ib_vfx_e_add_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,657},{402,61}}</string>
				<key>offset</key>
				<string>{5,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,657},{402,61}}</string>
				<key>sourceSize</key>
				<string>{540,89}</string>
			</dict>
			<key>ib_vfx_e_add_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,1},{402,61}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{64,1},{402,61}}</string>
				<key>sourceSize</key>
				<string>{540,89}</string>
			</dict>
			<key>ib_vfx_e_add_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,64},{402,61}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{64,64},{402,61}}</string>
				<key>sourceSize</key>
				<string>{540,89}</string>
			</dict>
			<key>ib_vfx_e_add_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,379},{400,61}}</string>
				<key>offset</key>
				<string>{5,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{405,379},{400,61}}</string>
				<key>sourceSize</key>
				<string>{540,89}</string>
			</dict>
			<key>ib_vfx_e_add_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,127},{402,61}}</string>
				<key>offset</key>
				<string>{5,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{64,127},{402,61}}</string>
				<key>sourceSize</key>
				<string>{540,89}</string>
			</dict>
			<key>ib_vfx_e_add_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,190},{402,61}}</string>
				<key>offset</key>
				<string>{5,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{64,190},{402,61}}</string>
				<key>sourceSize</key>
				<string>{540,89}</string>
			</dict>
			<key>ib_vfx_e_add_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{64,253},{402,61}}</string>
				<key>offset</key>
				<string>{5,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{64,253},{402,61}}</string>
				<key>sourceSize</key>
				<string>{540,89}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>2d97ca20-d603-4f24-bf87-ce1b9daa0a1d.219f5.jpg</string>
			<key>size</key>
			<string>{467,780}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>2d97ca20-d603-4f24-bf87-ce1b9daa0a1d.219f5.jpg</string>
		</dict>
	</dict>
</plist>
