<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>respin_vfx_j_screen_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{136,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{136,272}}</string>
				<key>sourceSize</key>
				<string>{136,272}</string>
			</dict>
			<key>respin_vfx_j_screen_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,275},{136,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,275},{136,272}}</string>
				<key>sourceSize</key>
				<string>{136,272}</string>
			</dict>
			<key>respin_vfx_j_screen_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,1},{136,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{139,1},{136,272}}</string>
				<key>sourceSize</key>
				<string>{136,272}</string>
			</dict>
			<key>respin_vfx_j_screen_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,549},{136,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,549},{136,272}}</string>
				<key>sourceSize</key>
				<string>{136,272}</string>
			</dict>
			<key>respin_vfx_j_screen_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,823},{136,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,823},{136,272}}</string>
				<key>sourceSize</key>
				<string>{136,272}</string>
			</dict>
			<key>respin_vfx_j_screen_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,1},{136,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{277,1},{136,272}}</string>
				<key>sourceSize</key>
				<string>{136,272}</string>
			</dict>
			<key>respin_vfx_j_screen_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,275},{136,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{139,275},{136,272}}</string>
				<key>sourceSize</key>
				<string>{136,272}</string>
			</dict>
			<key>respin_vfx_j_screen_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,549},{136,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{139,549},{136,272}}</string>
				<key>sourceSize</key>
				<string>{136,272}</string>
			</dict>
			<key>respin_vfx_j_screen_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,823},{136,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{275,823},{136,272}}</string>
				<key>sourceSize</key>
				<string>{136,272}</string>
			</dict>
			<key>respin_vfx_j_screen_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,1},{136,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{415,1},{136,272}}</string>
				<key>sourceSize</key>
				<string>{136,272}</string>
			</dict>
			<key>respin_vfx_j_screen_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,275},{136,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{277,275},{136,272}}</string>
				<key>sourceSize</key>
				<string>{136,272}</string>
			</dict>
			<key>respin_vfx_j_screen_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,549},{136,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{277,549},{136,272}}</string>
				<key>sourceSize</key>
				<string>{136,272}</string>
			</dict>
			<key>respin_vfx_j_screen_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,1},{136,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{553,1},{136,272}}</string>
				<key>sourceSize</key>
				<string>{136,272}</string>
			</dict>
			<key>respin_vfx_j_screen_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,1},{136,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{691,1},{136,272}}</string>
				<key>sourceSize</key>
				<string>{136,272}</string>
			</dict>
			<key>respin_vfx_j_screen_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,139},{136,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{691,139},{136,272}}</string>
				<key>sourceSize</key>
				<string>{136,272}</string>
			</dict>
			<key>respin_vfx_j_screen_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,275},{136,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{415,275},{136,272}}</string>
				<key>sourceSize</key>
				<string>{136,272}</string>
			</dict>
			<key>respin_vfx_j_screen_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,549},{136,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{415,549},{136,272}}</string>
				<key>sourceSize</key>
				<string>{136,272}</string>
			</dict>
			<key>respin_vfx_j_screen_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,823},{136,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{549,823},{136,272}}</string>
				<key>sourceSize</key>
				<string>{136,272}</string>
			</dict>
			<key>respin_vfx_j_screen_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,275},{136,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{553,275},{136,272}}</string>
				<key>sourceSize</key>
				<string>{136,272}</string>
			</dict>
			<key>respin_vfx_j_screen_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,549},{136,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{553,549},{136,272}}</string>
				<key>sourceSize</key>
				<string>{136,272}</string>
			</dict>
			<key>respin_vfx_j_screen_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,277},{136,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{691,277},{136,272}}</string>
				<key>sourceSize</key>
				<string>{136,272}</string>
			</dict>
			<key>respin_vfx_j_screen_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,415},{136,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{691,415},{136,272}}</string>
				<key>sourceSize</key>
				<string>{136,272}</string>
			</dict>
			<key>respin_vfx_j_screen_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{691,553},{136,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{691,553},{136,272}}</string>
				<key>sourceSize</key>
				<string>{136,272}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>42081f7a-6941-4b17-8a9d-daa4faa6ba39.c45f2.jpg</string>
			<key>size</key>
			<string>{964,960}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>42081f7a-6941-4b17-8a9d-daa4faa6ba39.c45f2.jpg</string>
		</dict>
	</dict>
</plist>
