<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ib_vfx_c_add_02_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,587},{42,43}}</string>
				<key>offset</key>
				<string>{1,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,587},{42,43}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_02_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,533},{108,81}}</string>
				<key>offset</key>
				<string>{1,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{851,533},{108,81}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_02_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,533},{200,91}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{649,533},{200,91}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_02_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,381},{302,93}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{653,381},{302,93}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_02_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{324,97}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{324,97}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_02_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,100},{324,97}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,100},{324,97}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_02_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,1},{324,97}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{327,1},{324,97}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_02_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,199},{324,97}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,199},{324,97}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_02_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,100},{324,97}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{327,100},{324,97}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_02_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,1},{324,97}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{653,1},{324,97}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_02_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,298},{324,97}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,298},{324,97}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_02_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,199},{324,97}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{327,199},{324,97}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_02_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,100},{324,97}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{653,100},{324,97}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_02_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,397},{324,95}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,397},{324,95}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_02_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,298},{324,95}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{327,298},{324,95}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_02_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,199},{324,93}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{653,199},{324,93}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_02_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,494},{324,91}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,494},{324,91}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_02_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,395},{324,89}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{327,395},{324,89}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_02_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,294},{324,85}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{653,294},{324,85}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_02_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,486},{320,79}}</string>
				<key>offset</key>
				<string>{1,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{327,486},{320,79}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_02_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,567},{312,69}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{327,567},{312,69}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
			<key>ib_vfx_c_add_02_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,476},{302,55}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{653,476},{302,55}}</string>
				<key>sourceSize</key>
				<string>{324,165}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>453bb853-69cf-4cc1-b5fa-35ee196c00b2.86880.jpg</string>
			<key>size</key>
			<string>{978,637}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>453bb853-69cf-4cc1-b5fa-35ee196c00b2.86880.jpg</string>
		</dict>
	</dict>
</plist>
