<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ib_vfx_a_add_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{208,52}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{208,52}}</string>
				<key>sourceSize</key>
				<string>{324,138}</string>
			</dict>
			<key>ib_vfx_a_add_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,1},{218,64}}</string>
				<key>offset</key>
				<string>{-3,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{593,1},{218,64}}</string>
				<key>sourceSize</key>
				<string>{324,138}</string>
			</dict>
			<key>ib_vfx_a_add_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,61},{230,72}}</string>
				<key>offset</key>
				<string>{-4,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,61},{230,72}}</string>
				<key>sourceSize</key>
				<string>{324,138}</string>
			</dict>
			<key>ib_vfx_a_add_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,147},{238,86}}</string>
				<key>offset</key>
				<string>{-4,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,147},{238,86}}</string>
				<key>sourceSize</key>
				<string>{324,138}</string>
			</dict>
			<key>ib_vfx_a_add_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,153},{240,90}}</string>
				<key>offset</key>
				<string>{-4,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{241,153},{240,90}}</string>
				<key>sourceSize</key>
				<string>{324,138}</string>
			</dict>
			<key>ib_vfx_a_add_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,153},{240,92}}</string>
				<key>offset</key>
				<string>{-4,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{483,153},{240,92}}</string>
				<key>sourceSize</key>
				<string>{324,138}</string>
			</dict>
			<key>ib_vfx_a_add_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,245},{242,96}}</string>
				<key>offset</key>
				<string>{-4,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{221,245},{242,96}}</string>
				<key>sourceSize</key>
				<string>{324,138}</string>
			</dict>
			<key>ib_vfx_a_add_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,247},{246,96}}</string>
				<key>offset</key>
				<string>{-6,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{465,247},{246,96}}</string>
				<key>sourceSize</key>
				<string>{324,138}</string>
			</dict>
			<key>ib_vfx_a_add_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,247},{256,98}}</string>
				<key>offset</key>
				<string>{-6,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{713,247},{256,98}}</string>
				<key>sourceSize</key>
				<string>{324,138}</string>
			</dict>
			<key>ib_vfx_a_add_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,345},{256,98}}</string>
				<key>offset</key>
				<string>{4,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{219,345},{256,98}}</string>
				<key>sourceSize</key>
				<string>{324,138}</string>
			</dict>
			<key>ib_vfx_a_add_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,347},{254,100}}</string>
				<key>offset</key>
				<string>{10,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{477,347},{254,100}}</string>
				<key>sourceSize</key>
				<string>{324,138}</string>
			</dict>
			<key>ib_vfx_a_add_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,347},{242,100}}</string>
				<key>offset</key>
				<string>{4,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{733,347},{242,100}}</string>
				<key>sourceSize</key>
				<string>{324,138}</string>
			</dict>
			<key>ib_vfx_a_add_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,445},{250,110}}</string>
				<key>offset</key>
				<string>{8,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{225,445},{250,110}}</string>
				<key>sourceSize</key>
				<string>{324,138}</string>
			</dict>
			<key>ib_vfx_a_add_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,449},{242,116}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{477,449},{242,116}}</string>
				<key>sourceSize</key>
				<string>{324,138}</string>
			</dict>
			<key>ib_vfx_a_add_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,449},{244,126}}</string>
				<key>offset</key>
				<string>{5,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{721,449},{244,126}}</string>
				<key>sourceSize</key>
				<string>{324,138}</string>
			</dict>
			<key>ib_vfx_a_add_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,335},{216,100}}</string>
				<key>offset</key>
				<string>{-9,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,335},{216,100}}</string>
				<key>sourceSize</key>
				<string>{324,138}</string>
			</dict>
			<key>ib_vfx_a_add_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,235},{218,98}}</string>
				<key>offset</key>
				<string>{-7,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,235},{218,98}}</string>
				<key>sourceSize</key>
				<string>{324,138}</string>
			</dict>
			<key>ib_vfx_a_add_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,445},{222,102}}</string>
				<key>offset</key>
				<string>{-5,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,445},{222,102}}</string>
				<key>sourceSize</key>
				<string>{324,138}</string>
			</dict>
			<key>ib_vfx_a_add_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,67},{244,84}}</string>
				<key>offset</key>
				<string>{3,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{461,67},{244,84}}</string>
				<key>sourceSize</key>
				<string>{324,138}</string>
			</dict>
			<key>ib_vfx_a_add_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,67},{250,84}}</string>
				<key>offset</key>
				<string>{6,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{707,67},{250,84}}</string>
				<key>sourceSize</key>
				<string>{324,138}</string>
			</dict>
			<key>ib_vfx_a_add_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,153},{240,92}}</string>
				<key>offset</key>
				<string>{17,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{725,153},{240,92}}</string>
				<key>sourceSize</key>
				<string>{324,138}</string>
			</dict>
			<key>ib_vfx_a_add_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,63},{226,82}}</string>
				<key>offset</key>
				<string>{5,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{233,63},{226,82}}</string>
				<key>sourceSize</key>
				<string>{324,138}</string>
			</dict>
			<key>ib_vfx_a_add_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,1},{230,58}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{211,1},{230,58}}</string>
				<key>sourceSize</key>
				<string>{324,138}</string>
			</dict>
			<key>ib_vfx_a_add_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,1},{148,60}}</string>
				<key>offset</key>
				<string>{-41,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{443,1},{148,60}}</string>
				<key>sourceSize</key>
				<string>{324,138}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>49bd1003-aac4-48c0-8266-f1be72b47341.57e2f.jpg</string>
			<key>size</key>
			<string>{976,576}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>49bd1003-aac4-48c0-8266-f1be72b47341.57e2f.jpg</string>
		</dict>
	</dict>
</plist>
