<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ib_bar_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,41},{756,187}}</string>
				<key>offset</key>
				<string>{0,-21}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,41},{756,187}}</string>
				<key>sourceSize</key>
				<string>{756,228}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>4b0de9a8-a534-4c50-a162-f5b0165720d5.e24ce.png</string>
			<key>size</key>
			<string>{756,228}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>4b0de9a8-a534-4c50-a162-f5b0165720d5.e24ce.png</string>
		</dict>
	</dict>
</plist>
