<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sb_vfx_e_add_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,1359},{400,386}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{933,1359},{400,386}}</string>
				<key>sourceSize</key>
				<string>{432,490}</string>
			</dict>
			<key>sb_vfx_e_add_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,1359},{432,458}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{473,1359},{432,458}}</string>
				<key>sourceSize</key>
				<string>{432,490}</string>
			</dict>
			<key>sb_vfx_e_add_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1415,491},{432,484}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1415,491},{432,484}}</string>
				<key>sourceSize</key>
				<string>{432,490}</string>
			</dict>
			<key>sb_vfx_e_add_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{432,488}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{432,488}}</string>
				<key>sourceSize</key>
				<string>{432,490}</string>
			</dict>
			<key>sb_vfx_e_add_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,491},{432,488}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,491},{432,488}}</string>
				<key>sourceSize</key>
				<string>{432,490}</string>
			</dict>
			<key>sb_vfx_e_add_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,1},{432,488}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{435,1},{432,488}}</string>
				<key>sourceSize</key>
				<string>{432,490}</string>
			</dict>
			<key>sb_vfx_e_add_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,435},{432,488}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{491,435},{432,488}}</string>
				<key>sourceSize</key>
				<string>{432,490}</string>
			</dict>
			<key>sb_vfx_e_add_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,925},{432,488}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,925},{432,488}}</string>
				<key>sourceSize</key>
				<string>{432,490}</string>
			</dict>
			<key>sb_vfx_e_add_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,925},{432,488}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{491,925},{432,488}}</string>
				<key>sourceSize</key>
				<string>{432,490}</string>
			</dict>
			<key>sb_vfx_e_add_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,1},{432,488}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{925,1},{432,488}}</string>
				<key>sourceSize</key>
				<string>{432,490}</string>
			</dict>
			<key>sb_vfx_e_add_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{925,435},{432,488}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{925,435},{432,488}}</string>
				<key>sourceSize</key>
				<string>{432,490}</string>
			</dict>
			<key>sb_vfx_e_add_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{981,869},{432,488}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{981,869},{432,488}}</string>
				<key>sourceSize</key>
				<string>{432,490}</string>
			</dict>
			<key>sb_vfx_e_add_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1415,1},{432,488}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1415,1},{432,488}}</string>
				<key>sourceSize</key>
				<string>{432,490}</string>
			</dict>
			<key>sb_vfx_e_add_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1415,977},{432,484}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1415,977},{432,484}}</string>
				<key>sourceSize</key>
				<string>{432,490}</string>
			</dict>
			<key>sb_vfx_e_add_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1359},{432,470}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1359},{432,470}}</string>
				<key>sourceSize</key>
				<string>{432,490}</string>
			</dict>
			<key>sb_vfx_e_add_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,435},{3,3}}</string>
				<key>offset</key>
				<string>{-215,244}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{435,435},{3,3}}</string>
				<key>sourceSize</key>
				<string>{432,490}</string>
			</dict>
			<key>sb_vfx_e_add_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,435},{3,3}}</string>
				<key>offset</key>
				<string>{-215,244}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{435,435},{3,3}}</string>
				<key>sourceSize</key>
				<string>{432,490}</string>
			</dict>
			<key>sb_vfx_e_add_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,435},{3,3}}</string>
				<key>offset</key>
				<string>{-215,244}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{435,435},{3,3}}</string>
				<key>sourceSize</key>
				<string>{432,490}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>4cdbb077-b9dd-45d5-9605-a80527f9c405.8c873.jpg</string>
			<key>size</key>
			<string>{1848,1792}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>4cdbb077-b9dd-45d5-9605-a80527f9c405.8c873.jpg</string>
		</dict>
	</dict>
</plist>
