<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{909,391}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{909,391}}</string>
				<key>sourceSize</key>
				<string>{909,393}</string>
			</dict>
			<key>ui_02b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,394},{907,697}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,394},{907,697}}</string>
				<key>sourceSize</key>
				<string>{907,697}</string>
			</dict>
			<key>ui_02d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1668,676},{88,269}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1668,676},{88,269}}</string>
				<key>sourceSize</key>
				<string>{88,269}</string>
			</dict>
			<key>ui_02e.png</key>
			<dict>
				<key>frame</key>
				<string>{{910,676},{756,502}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{910,676},{756,502}}</string>
				<key>sourceSize</key>
				<string>{756,502}</string>
			</dict>
			<key>ui_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,1},{786,673}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{912,1},{786,673}}</string>
				<key>sourceSize</key>
				<string>{826,673}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>4fcf682b-2896-4d69-ac21-2a824d001dbc.83fce.png</string>
			<key>size</key>
			<string>{1757,1179}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>4fcf682b-2896-4d69-ac21-2a824d001dbc.83fce.png</string>
		</dict>
	</dict>
</plist>
