<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>respin_vfx_r_add_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,1},{201,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{204,1},{201,191}}</string>
				<key>sourceSize</key>
				<string>{201,191}</string>
			</dict>
			<key>respin_vfx_r_add_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,1},{201,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{407,1},{201,191}}</string>
				<key>sourceSize</key>
				<string>{201,191}</string>
			</dict>
			<key>respin_vfx_r_add_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,1},{201,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{610,1},{201,191}}</string>
				<key>sourceSize</key>
				<string>{201,191}</string>
			</dict>
			<key>respin_vfx_r_add_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,1},{201,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{813,1},{201,191}}</string>
				<key>sourceSize</key>
				<string>{201,191}</string>
			</dict>
			<key>respin_vfx_r_add_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,192},{201,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,192},{201,191}}</string>
				<key>sourceSize</key>
				<string>{201,191}</string>
			</dict>
			<key>respin_vfx_r_add_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,194},{201,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{204,194},{201,191}}</string>
				<key>sourceSize</key>
				<string>{201,191}</string>
			</dict>
			<key>respin_vfx_r_add_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,194},{201,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{407,194},{201,191}}</string>
				<key>sourceSize</key>
				<string>{201,191}</string>
			</dict>
			<key>respin_vfx_r_add_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,194},{201,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{610,194},{201,191}}</string>
				<key>sourceSize</key>
				<string>{201,191}</string>
			</dict>
			<key>respin_vfx_r_add_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{813,204},{201,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{813,204},{201,191}}</string>
				<key>sourceSize</key>
				<string>{201,191}</string>
			</dict>
			<key>respin_vfx_r_add_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,385},{201,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,385},{201,191}}</string>
				<key>sourceSize</key>
				<string>{201,191}</string>
			</dict>
			<key>respin_vfx_r_add_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,387},{201,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{204,387},{201,191}}</string>
				<key>sourceSize</key>
				<string>{201,191}</string>
			</dict>
			<key>respin_vfx_r_add_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{201,189}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{201,189}}</string>
				<key>sourceSize</key>
				<string>{201,191}</string>
			</dict>
			<key>respin_vfx_r_add_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,387},{201,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{407,387},{201,191}}</string>
				<key>sourceSize</key>
				<string>{201,191}</string>
			</dict>
			<key>respin_vfx_r_add_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,387},{201,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{610,387},{201,191}}</string>
				<key>sourceSize</key>
				<string>{201,191}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>5d587142-e50f-4c27-b31e-a73725461da1.39222.jpg</string>
			<key>size</key>
			<string>{1005,579}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>5d587142-e50f-4c27-b31e-a73725461da1.39222.jpg</string>
		</dict>
	</dict>
</plist>
