<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>wh_vfx_a_screen_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{257,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{257,238}}</string>
				<key>sourceSize</key>
				<string>{261,238}</string>
			</dict>
			<key>wh_vfx_a_screen_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,1},{257,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,1},{257,238}}</string>
				<key>sourceSize</key>
				<string>{261,238}</string>
			</dict>
			<key>wh_vfx_a_screen_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,1},{257,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{519,1},{257,238}}</string>
				<key>sourceSize</key>
				<string>{261,238}</string>
			</dict>
			<key>wh_vfx_a_screen_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,1},{257,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{778,1},{257,238}}</string>
				<key>sourceSize</key>
				<string>{261,238}</string>
			</dict>
			<key>wh_vfx_a_screen_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,241},{257,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,241},{257,238}}</string>
				<key>sourceSize</key>
				<string>{261,238}</string>
			</dict>
			<key>wh_vfx_a_screen_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,241},{257,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,241},{257,238}}</string>
				<key>sourceSize</key>
				<string>{261,238}</string>
			</dict>
			<key>wh_vfx_a_screen_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,241},{257,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{519,241},{257,238}}</string>
				<key>sourceSize</key>
				<string>{261,238}</string>
			</dict>
			<key>wh_vfx_a_screen_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,260},{257,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{778,260},{257,238}}</string>
				<key>sourceSize</key>
				<string>{261,238}</string>
			</dict>
			<key>wh_vfx_a_screen_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,481},{257,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,481},{257,238}}</string>
				<key>sourceSize</key>
				<string>{261,238}</string>
			</dict>
			<key>wh_vfx_a_screen_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,481},{257,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,481},{257,238}}</string>
				<key>sourceSize</key>
				<string>{261,238}</string>
			</dict>
			<key>wh_vfx_a_screen_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,481},{257,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{519,481},{257,238}}</string>
				<key>sourceSize</key>
				<string>{261,238}</string>
			</dict>
			<key>wh_vfx_a_screen_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,519},{257,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{778,519},{257,238}}</string>
				<key>sourceSize</key>
				<string>{261,238}</string>
			</dict>
			<key>wh_vfx_a_screen_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,721},{257,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,721},{257,238}}</string>
				<key>sourceSize</key>
				<string>{261,238}</string>
			</dict>
			<key>wh_vfx_a_screen_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,721},{257,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,721},{257,238}}</string>
				<key>sourceSize</key>
				<string>{261,238}</string>
			</dict>
			<key>wh_vfx_a_screen_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{519,721},{257,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{519,721},{257,238}}</string>
				<key>sourceSize</key>
				<string>{261,238}</string>
			</dict>
			<key>wh_vfx_a_screen_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,778},{257,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{778,778},{257,238}}</string>
				<key>sourceSize</key>
				<string>{261,238}</string>
			</dict>
			<key>wh_vfx_a_screen_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,961},{257,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,961},{257,238}}</string>
				<key>sourceSize</key>
				<string>{261,238}</string>
			</dict>
			<key>wh_vfx_a_screen_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,961},{257,238}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{260,961},{257,238}}</string>
				<key>sourceSize</key>
				<string>{261,238}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>5f9eb3f2-f36e-4818-9f60-f00b92f2fbc0.43223.jpg</string>
			<key>size</key>
			<string>{1017,1200}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>5f9eb3f2-f36e-4818-9f60-f00b92f2fbc0.43223.jpg</string>
		</dict>
	</dict>
</plist>
