<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ib_bar_a_mask_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{66,100}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{66,100}}</string>
				<key>sourceSize</key>
				<string>{74,102}</string>
			</dict>
			<key>ib_bar_a_mask_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,1},{66,100}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{69,1},{66,100}}</string>
				<key>sourceSize</key>
				<string>{74,102}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>6f8358ab-ac8b-4eeb-910f-c683b31b0801.5e830.png</string>
			<key>size</key>
			<string>{136,102}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>6f8358ab-ac8b-4eeb-910f-c683b31b0801.5e830.png</string>
		</dict>
	</dict>
</plist>
