<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bw_vfx_a_normal_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,1},{540,930}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{543,1},{540,930}}</string>
				<key>sourceSize</key>
				<string>{540,930}</string>
			</dict>
			<key>bw_vfx_a_normal_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,933},{540,930}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{543,933},{540,930}}</string>
				<key>sourceSize</key>
				<string>{540,930}</string>
			</dict>
			<key>bw_vfx_a_normal_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,1},{540,930}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1085,1},{540,930}}</string>
				<key>sourceSize</key>
				<string>{540,930}</string>
			</dict>
			<key>bw_vfx_k_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1059},{540,1012}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1059},{540,1012}}</string>
				<key>sourceSize</key>
				<string>{540,1170}</string>
			</dict>
			<key>bw_vfx_k_normal_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{540,1056}}</string>
				<key>offset</key>
				<string>{0,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{540,1056}}</string>
				<key>sourceSize</key>
				<string>{540,1170}</string>
			</dict>
			<key>bw_vfx_m_normal_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,933},{324,702}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1085,933},{324,702}}</string>
				<key>sourceSize</key>
				<string>{324,702}</string>
			</dict>
			<key>bw_vfx_m_normal_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1627,1},{324,702}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1627,1},{324,702}}</string>
				<key>sourceSize</key>
				<string>{324,702}</string>
			</dict>
			<key>bw_vfx_m_normal_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1411,933},{324,702}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1411,933},{324,702}}</string>
				<key>sourceSize</key>
				<string>{324,702}</string>
			</dict>
			<key>ui_winscreen_frameB_bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,2358},{827,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{833,2358},{827,127}}</string>
				<key>sourceSize</key>
				<string>{827,127}</string>
			</dict>
			<key>ui_winscreen_frameB_mw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2339},{830,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2339},{830,180}}</string>
				<key>sourceSize</key>
				<string>{830,180}</string>
			</dict>
			<key>ui_winscreen_frameB_smw.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,2170},{822,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{841,2170},{822,186}}</string>
				<key>sourceSize</key>
				<string>{822,186}</string>
			</dict>
			<key>ui_winscreen_frameT_bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,1637},{836,265}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1085,1637},{836,265}}</string>
				<key>sourceSize</key>
				<string>{836,265}</string>
			</dict>
			<key>ui_winscreen_frameT_mw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,2073},{838,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,2073},{838,264}}</string>
				<key>sourceSize</key>
				<string>{838,264}</string>
			</dict>
			<key>ui_winscreen_frameT_smw.png</key>
			<dict>
				<key>frame</key>
				<string>{{841,1904},{843,264}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{841,1904},{843,264}}</string>
				<key>sourceSize</key>
				<string>{843,264}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>6ff9b41e-197b-483a-9823-54c4123a028d.61700.png</string>
			<key>size</key>
			<string>{1952,2520}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>6ff9b41e-197b-483a-9823-54c4123a028d.61700.png</string>
		</dict>
	</dict>
</plist>
