<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ib_vfx_c_add_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,463},{42,44}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,463},{42,44}}</string>
				<key>sourceSize</key>
				<string>{324,144}</string>
			</dict>
			<key>ib_vfx_c_add_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{833,449},{106,74}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{833,449},{106,74}}</string>
				<key>sourceSize</key>
				<string>{324,144}</string>
			</dict>
			<key>ib_vfx_c_add_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{633,449},{198,74}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{633,449},{198,74}}</string>
				<key>sourceSize</key>
				<string>{324,144}</string>
			</dict>
			<key>ib_vfx_c_add_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,439},{304,74}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{327,439},{304,74}}</string>
				<key>sourceSize</key>
				<string>{324,144}</string>
			</dict>
			<key>ib_vfx_c_add_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{324,76}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{324,76}}</string>
				<key>sourceSize</key>
				<string>{324,144}</string>
			</dict>
			<key>ib_vfx_c_add_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,79},{324,76}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,79},{324,76}}</string>
				<key>sourceSize</key>
				<string>{324,144}</string>
			</dict>
			<key>ib_vfx_c_add_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,1},{324,76}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{327,1},{324,76}}</string>
				<key>sourceSize</key>
				<string>{324,144}</string>
			</dict>
			<key>ib_vfx_c_add_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,1},{324,76}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{653,1},{324,76}}</string>
				<key>sourceSize</key>
				<string>{324,144}</string>
			</dict>
			<key>ib_vfx_c_add_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,157},{324,76}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,157},{324,76}}</string>
				<key>sourceSize</key>
				<string>{324,144}</string>
			</dict>
			<key>ib_vfx_c_add_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,79},{324,76}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{327,79},{324,76}}</string>
				<key>sourceSize</key>
				<string>{324,144}</string>
			</dict>
			<key>ib_vfx_c_add_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,79},{324,76}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{653,79},{324,76}}</string>
				<key>sourceSize</key>
				<string>{324,144}</string>
			</dict>
			<key>ib_vfx_c_add_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,235},{324,74}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,235},{324,74}}</string>
				<key>sourceSize</key>
				<string>{324,144}</string>
			</dict>
			<key>ib_vfx_c_add_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,157},{324,74}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{327,157},{324,74}}</string>
				<key>sourceSize</key>
				<string>{324,144}</string>
			</dict>
			<key>ib_vfx_c_add_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,157},{324,74}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{653,157},{324,74}}</string>
				<key>sourceSize</key>
				<string>{324,144}</string>
			</dict>
			<key>ib_vfx_c_add_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,311},{324,74}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,311},{324,74}}</string>
				<key>sourceSize</key>
				<string>{324,144}</string>
			</dict>
			<key>ib_vfx_c_add_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,233},{324,74}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{327,233},{324,74}}</string>
				<key>sourceSize</key>
				<string>{324,144}</string>
			</dict>
			<key>ib_vfx_c_add_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,233},{324,74}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{653,233},{324,74}}</string>
				<key>sourceSize</key>
				<string>{324,144}</string>
			</dict>
			<key>ib_vfx_c_add_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,387},{324,74}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,387},{324,74}}</string>
				<key>sourceSize</key>
				<string>{324,144}</string>
			</dict>
			<key>ib_vfx_c_add_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,309},{324,72}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{327,309},{324,72}}</string>
				<key>sourceSize</key>
				<string>{324,144}</string>
			</dict>
			<key>ib_vfx_c_add_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,309},{324,70}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{653,309},{324,70}}</string>
				<key>sourceSize</key>
				<string>{324,144}</string>
			</dict>
			<key>ib_vfx_c_add_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,381},{324,66}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{653,381},{324,66}}</string>
				<key>sourceSize</key>
				<string>{324,144}</string>
			</dict>
			<key>ib_vfx_c_add_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,383},{324,54}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{327,383},{324,54}}</string>
				<key>sourceSize</key>
				<string>{324,144}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>7aae5a02-6276-448b-ab70-17be7f393c32.c7f4b.jpg</string>
			<key>size</key>
			<string>{978,524}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>7aae5a02-6276-448b-ab70-17be7f393c32.c7f4b.jpg</string>
		</dict>
	</dict>
</plist>
