<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>respin_vfx_p_add_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,470},{56,453}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{407,470},{56,453}}</string>
				<key>sourceSize</key>
				<string>{56,467}</string>
			</dict>
			<key>respin_vfx_p_add_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,470},{56,459}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{291,470},{56,459}}</string>
				<key>sourceSize</key>
				<string>{56,467}</string>
			</dict>
			<key>respin_vfx_p_add_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,466},{56,461}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{465,466},{56,461}}</string>
				<key>sourceSize</key>
				<string>{56,467}</string>
			</dict>
			<key>respin_vfx_p_add_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,1},{56,463}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{465,1},{56,463}}</string>
				<key>sourceSize</key>
				<string>{56,467}</string>
			</dict>
			<key>respin_vfx_p_add_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,470},{56,459}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{349,470},{56,459}}</string>
				<key>sourceSize</key>
				<string>{56,467}</string>
			</dict>
			<key>respin_vfx_p_add_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,470},{56,465}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,470},{56,465}}</string>
				<key>sourceSize</key>
				<string>{56,467}</string>
			</dict>
			<key>respin_vfx_p_add_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{56,467}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{56,467}}</string>
				<key>sourceSize</key>
				<string>{56,467}</string>
			</dict>
			<key>respin_vfx_p_add_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,470},{56,461}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{175,470},{56,461}}</string>
				<key>sourceSize</key>
				<string>{56,467}</string>
			</dict>
			<key>respin_vfx_p_add_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,470},{56,465}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{59,470},{56,465}}</string>
				<key>sourceSize</key>
				<string>{56,467}</string>
			</dict>
			<key>respin_vfx_p_add_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,1},{56,467}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{59,1},{56,467}}</string>
				<key>sourceSize</key>
				<string>{56,467}</string>
			</dict>
			<key>respin_vfx_p_add_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,470},{56,465}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,470},{56,465}}</string>
				<key>sourceSize</key>
				<string>{56,467}</string>
			</dict>
			<key>respin_vfx_p_add_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,1},{56,467}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,1},{56,467}}</string>
				<key>sourceSize</key>
				<string>{56,467}</string>
			</dict>
			<key>respin_vfx_p_add_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,470},{56,461}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{233,470},{56,461}}</string>
				<key>sourceSize</key>
				<string>{56,467}</string>
			</dict>
			<key>respin_vfx_p_add_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,1},{56,467}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{175,1},{56,467}}</string>
				<key>sourceSize</key>
				<string>{56,467}</string>
			</dict>
			<key>respin_vfx_p_add_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,1},{56,467}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{233,1},{56,467}}</string>
				<key>sourceSize</key>
				<string>{56,467}</string>
			</dict>
			<key>respin_vfx_p_add_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,1},{56,467}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{291,1},{56,467}}</string>
				<key>sourceSize</key>
				<string>{56,467}</string>
			</dict>
			<key>respin_vfx_p_add_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,1},{56,467}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{349,1},{56,467}}</string>
				<key>sourceSize</key>
				<string>{56,467}</string>
			</dict>
			<key>respin_vfx_p_add_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{407,1},{56,467}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{407,1},{56,467}}</string>
				<key>sourceSize</key>
				<string>{56,467}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>86bfadc2-4b0c-40a8-8201-fecad5508727.7f39d.jpg</string>
			<key>size</key>
			<string>{522,936}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>86bfadc2-4b0c-40a8-8201-fecad5508727.7f39d.jpg</string>
		</dict>
	</dict>
</plist>
