<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>num_info_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,1},{49,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{258,1},{49,59}}</string>
				<key>sourceSize</key>
				<string>{49,59}</string>
			</dict>
			<key>num_info_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,1},{38,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{409,1},{38,59}}</string>
				<key>sourceSize</key>
				<string>{38,59}</string>
			</dict>
			<key>num_info_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{206,1},{50,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{206,1},{50,59}}</string>
				<key>sourceSize</key>
				<string>{50,59}</string>
			</dict>
			<key>num_info_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,1},{48,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{309,1},{48,59}}</string>
				<key>sourceSize</key>
				<string>{48,59}</string>
			</dict>
			<key>num_info_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,1},{48,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{359,1},{48,59}}</string>
				<key>sourceSize</key>
				<string>{48,59}</string>
			</dict>
			<key>num_info_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,1},{47,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{157,1},{47,60}}</string>
				<key>sourceSize</key>
				<string>{47,60}</string>
			</dict>
			<key>num_info_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,1},{50,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{449,1},{50,58}}</string>
				<key>sourceSize</key>
				<string>{50,58}</string>
			</dict>
			<key>num_info_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{50,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,60}}</string>
				<key>sourceSize</key>
				<string>{50,60}</string>
			</dict>
			<key>num_info_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,1},{50,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{53,1},{50,60}}</string>
				<key>sourceSize</key>
				<string>{50,60}</string>
			</dict>
			<key>num_info_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,1},{50,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{105,1},{50,60}}</string>
				<key>sourceSize</key>
				<string>{50,60}</string>
			</dict>
			<key>num_info_comma.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,1},{22,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{501,1},{22,28}}</string>
				<key>sourceSize</key>
				<string>{22,28}</string>
			</dict>
			<key>num_info_decimal.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,31},{22,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{501,31},{22,23}}</string>
				<key>sourceSize</key>
				<string>{22,23}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>958afe76-9ae4-46aa-9004-0f716957a98b.255c1.png</string>
			<key>size</key>
			<string>{524,62}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>958afe76-9ae4-46aa-9004-0f716957a98b.255c1.png</string>
		</dict>
	</dict>
</plist>
