<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>wild_vfx_d_screen_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,213},{100,70}}</string>
				<key>offset</key>
				<string>{-6,-9}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{179,213},{100,70}}</string>
				<key>sourceSize</key>
				<string>{156,106}</string>
			</dict>
			<key>wild_vfx_d_screen_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,213},{100,70}}</string>
				<key>offset</key>
				<string>{-6,-9}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{251,213},{100,70}}</string>
				<key>sourceSize</key>
				<string>{156,106}</string>
			</dict>
			<key>wild_vfx_d_screen_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,211},{102,70}}</string>
				<key>offset</key>
				<string>{-6,-8}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{395,211},{102,70}}</string>
				<key>sourceSize</key>
				<string>{156,106}</string>
			</dict>
			<key>wild_vfx_d_screen_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,1},{102,70}}</string>
				<key>offset</key>
				<string>{-6,-7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{333,1},{102,70}}</string>
				<key>sourceSize</key>
				<string>{156,106}</string>
			</dict>
			<key>wild_vfx_d_screen_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1},{102,70}}</string>
				<key>offset</key>
				<string>{-6,-6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{405,1},{102,70}}</string>
				<key>sourceSize</key>
				<string>{156,106}</string>
			</dict>
			<key>wild_vfx_d_screen_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,107},{102,78}}</string>
				<key>offset</key>
				<string>{-6,-8}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{329,107},{102,78}}</string>
				<key>sourceSize</key>
				<string>{156,106}</string>
			</dict>
			<key>wild_vfx_d_screen_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,1},{104,84}}</string>
				<key>offset</key>
				<string>{-6,-4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{169,1},{104,84}}</string>
				<key>sourceSize</key>
				<string>{156,106}</string>
			</dict>
			<key>wild_vfx_d_screen_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,107},{104,78}}</string>
				<key>offset</key>
				<string>{-6,-6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{169,107},{104,78}}</string>
				<key>sourceSize</key>
				<string>{156,106}</string>
			</dict>
			<key>wild_vfx_d_screen_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,107},{104,78}}</string>
				<key>offset</key>
				<string>{-6,-5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{249,107},{104,78}}</string>
				<key>sourceSize</key>
				<string>{156,106}</string>
			</dict>
			<key>wild_vfx_d_screen_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,1},{106,76}}</string>
				<key>offset</key>
				<string>{-6,-4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{91,1},{106,76}}</string>
				<key>sourceSize</key>
				<string>{156,106}</string>
			</dict>
			<key>wild_vfx_d_screen_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,109},{106,76}}</string>
				<key>offset</key>
				<string>{-6,-3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{91,109},{106,76}}</string>
				<key>sourceSize</key>
				<string>{156,106}</string>
			</dict>
			<key>wild_vfx_d_screen_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,1},{104,76}}</string>
				<key>offset</key>
				<string>{-6,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{255,1},{104,76}}</string>
				<key>sourceSize</key>
				<string>{156,106}</string>
			</dict>
			<key>wild_vfx_d_screen_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,217},{106,86}}</string>
				<key>offset</key>
				<string>{-7,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{71,217},{106,86}}</string>
				<key>sourceSize</key>
				<string>{156,106}</string>
			</dict>
			<key>wild_vfx_d_screen_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{106,88}}</string>
				<key>offset</key>
				<string>{-7,-4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{106,88}}</string>
				<key>sourceSize</key>
				<string>{156,106}</string>
			</dict>
			<key>wild_vfx_d_screen_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,109},{106,88}}</string>
				<key>offset</key>
				<string>{-8,-3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,109},{106,88}}</string>
				<key>sourceSize</key>
				<string>{156,106}</string>
			</dict>
			<key>wild_vfx_d_screen_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,217},{96,68}}</string>
				<key>offset</key>
				<string>{-5,-13}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,217},{96,68}}</string>
				<key>sourceSize</key>
				<string>{156,106}</string>
			</dict>
			<key>wild_vfx_d_screen_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,213},{98,70}}</string>
				<key>offset</key>
				<string>{-6,-11}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{323,213},{98,70}}</string>
				<key>sourceSize</key>
				<string>{156,106}</string>
			</dict>
			<key>wild_vfx_d_screen_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,105},{98,70}}</string>
				<key>offset</key>
				<string>{-5,-10}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{409,105},{98,70}}</string>
				<key>sourceSize</key>
				<string>{156,106}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>988a65fa-aa9f-4334-bb13-917bbdc28ee6.681e9.jpg</string>
			<key>size</key>
			<string>{480,314}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>988a65fa-aa9f-4334-bb13-917bbdc28ee6.681e9.jpg</string>
		</dict>
	</dict>
</plist>
