<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bw_vfx_b_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{600,600}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{600,600}}</string>
				<key>sourceSize</key>
				<string>{600,600}</string>
			</dict>
			<key>bw_vfx_f_screen_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1581,1},{324,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1581,1},{324,324}}</string>
				<key>sourceSize</key>
				<string>{324,324}</string>
			</dict>
			<key>bw_vfx_f_screen_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1631,1031},{324,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1631,1031},{324,324}}</string>
				<key>sourceSize</key>
				<string>{324,324}</string>
			</dict>
			<key>bw_vfx_f_screen_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1631,1357},{324,324}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1631,1357},{324,324}}</string>
				<key>sourceSize</key>
				<string>{324,324}</string>
			</dict>
			<key>bw_vfx_h_screen_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,603},{324,702}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,603},{324,702}}</string>
				<key>sourceSize</key>
				<string>{324,702}</string>
			</dict>
			<key>bw_vfx_h_screen_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1307},{324,702}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1307},{324,702}}</string>
				<key>sourceSize</key>
				<string>{324,702}</string>
			</dict>
			<key>bw_vfx_h_screen_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,603},{324,702}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{327,603},{324,702}}</string>
				<key>sourceSize</key>
				<string>{324,702}</string>
			</dict>
			<key>bw_vfx_j_screen_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,1307},{324,702}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{327,1307},{324,702}}</string>
				<key>sourceSize</key>
				<string>{324,702}</string>
			</dict>
			<key>bw_vfx_j_screen_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,513},{324,702}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{653,513},{324,702}}</string>
				<key>sourceSize</key>
				<string>{324,702}</string>
			</dict>
			<key>bw_vfx_k_screen_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,1},{324,510}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{603,1},{324,510}}</string>
				<key>sourceSize</key>
				<string>{324,510}</string>
			</dict>
			<key>bw_vfx_k_screen_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,1},{324,510}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{929,1},{324,510}}</string>
				<key>sourceSize</key>
				<string>{324,510}</string>
			</dict>
			<key>bw_vfx_k_screen_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1255,1},{324,510}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1255,1},{324,510}}</string>
				<key>sourceSize</key>
				<string>{324,510}</string>
			</dict>
			<key>bw_vfx_n_add_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,1217},{324,702}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{653,1217},{324,702}}</string>
				<key>sourceSize</key>
				<string>{324,702}</string>
			</dict>
			<key>bw_vfx_n_add_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,513},{324,702}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{979,513},{324,702}}</string>
				<key>sourceSize</key>
				<string>{324,702}</string>
			</dict>
			<key>bw_vfx_n_add_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,1217},{324,702}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{979,1217},{324,702}}</string>
				<key>sourceSize</key>
				<string>{324,702}</string>
			</dict>
			<key>bw_vfx_o_add_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,513},{324,702}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1305,513},{324,702}}</string>
				<key>sourceSize</key>
				<string>{324,702}</string>
			</dict>
			<key>bw_vfx_o_add_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,1217},{324,702}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1305,1217},{324,702}}</string>
				<key>sourceSize</key>
				<string>{324,702}</string>
			</dict>
			<key>bw_vfx_o_add_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1631,327},{324,702}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1631,327},{324,702}}</string>
				<key>sourceSize</key>
				<string>{324,702}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>a190b9aa-1a80-4922-a2cf-61705e0edbbb.66e59.jpg</string>
			<key>size</key>
			<string>{1956,2010}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>a190b9aa-1a80-4922-a2cf-61705e0edbbb.66e59.jpg</string>
		</dict>
	</dict>
</plist>
