<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bw_vfx_c_screen_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,1861},{200,119}}</string>
				<key>offset</key>
				<string>{8,-92}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{255,1861},{200,119}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1800,1223},{238,145}}</string>
				<key>offset</key>
				<string>{12,-79}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1800,1223},{238,145}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1126,1712},{276,167}}</string>
				<key>offset</key>
				<string>{19,-68}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1126,1712},{276,167}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1647,1684},{310,189}}</string>
				<key>offset</key>
				<string>{24,-57}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1647,1684},{310,189}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1697,827},{322,199}}</string>
				<key>offset</key>
				<string>{19,-52}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1697,827},{322,199}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1697,610},{332,215}}</string>
				<key>offset</key>
				<string>{14,-44}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1697,610},{332,215}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1697,1},{340,237}}</string>
				<key>offset</key>
				<string>{10,-33}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1697,1},{340,237}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1295,1712},{350,255}}</string>
				<key>offset</key>
				<string>{5,-24}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1295,1712},{350,255}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{764,1720},{360,267}}</string>
				<key>offset</key>
				<string>{0,-18}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{764,1720},{360,267}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,567},{370,267}}</string>
				<key>offset</key>
				<string>{-4,-18}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{581,567},{370,267}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,836},{370,267}}</string>
				<key>offset</key>
				<string>{-4,-18}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{581,836},{370,267}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1325,567},{370,267}}</string>
				<key>offset</key>
				<string>{-4,-18}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1325,567},{370,267}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,288},{370,275}}</string>
				<key>offset</key>
				<string>{-4,-14}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{953,288},{370,275}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,288},{370,277}}</string>
				<key>offset</key>
				<string>{-4,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{581,288},{370,277}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,1},{370,285}}</string>
				<key>offset</key>
				<string>{-4,-9}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{294,1},{370,285}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,373},{370,285}}</string>
				<key>offset</key>
				<string>{-4,-9}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{294,373},{370,285}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,745},{370,285}}</string>
				<key>offset</key>
				<string>{-4,-9}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{294,745},{370,285}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,1},{370,285}}</string>
				<key>offset</key>
				<string>{-4,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{581,1},{370,285}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{370,291}}</string>
				<key>offset</key>
				<string>{-4,-6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{370,291}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,373},{370,291}}</string>
				<key>offset</key>
				<string>{-4,-6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,373},{370,291}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,745},{370,291}}</string>
				<key>offset</key>
				<string>{-4,-6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,745},{370,291}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1117},{370,289}}</string>
				<key>offset</key>
				<string>{-4,-7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1117},{370,289}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1489},{370,289}}</string>
				<key>offset</key>
				<string>{-4,-7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1489},{370,289}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,1117},{370,287}}</string>
				<key>offset</key>
				<string>{-4,-8}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{292,1117},{370,287}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{292,1489},{370,287}}</string>
				<key>offset</key>
				<string>{-4,-8}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{292,1489},{370,287}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,1},{370,285}}</string>
				<key>offset</key>
				<string>{-4,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{953,1},{370,285}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1325,1},{370,283}}</string>
				<key>offset</key>
				<string>{-4,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1325,1},{370,283}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1325,836},{368,281}}</string>
				<key>offset</key>
				<string>{-5,-11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1325,836},{368,281}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,565},{370,275}}</string>
				<key>offset</key>
				<string>{-4,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{953,565},{370,275}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1325,286},{370,279}}</string>
				<key>offset</key>
				<string>{-4,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1325,286},{370,279}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,1352},{366,285}}</string>
				<key>offset</key>
				<string>{-6,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{581,1352},{366,285}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,842},{368,275}}</string>
				<key>offset</key>
				<string>{-5,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{953,842},{368,275}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,1105},{368,245}}</string>
				<key>offset</key>
				<string>{-5,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{581,1105},{368,245}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{868,1352},{364,249}}</string>
				<key>offset</key>
				<string>{-6,-22}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{868,1352},{364,249}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{1119,1346},{364,217}}</string>
				<key>offset</key>
				<string>{-7,-8}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1119,1346},{364,217}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{951,1119},{354,225}}</string>
				<key>offset</key>
				<string>{-11,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{951,1119},{354,225}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{1338,1332},{362,247}}</string>
				<key>offset</key>
				<string>{-7,-22}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1338,1332},{362,247}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{1338,1119},{354,211}}</string>
				<key>offset</key>
				<string>{-12,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1338,1119},{354,211}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{1587,1332},{350,211}}</string>
				<key>offset</key>
				<string>{-12,-13}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1587,1332},{350,211}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{1695,1028},{344,193}}</string>
				<key>offset</key>
				<string>{-16,-21}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1695,1028},{344,193}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_40.png</key>
			<dict>
				<key>frame</key>
				<string>{{1697,240},{334,187}}</string>
				<key>offset</key>
				<string>{-16,-22}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1697,240},{334,187}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_41.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,1720},{268,181}}</string>
				<key>offset</key>
				<string>{13,-29}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{581,1720},{268,181}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_42.png</key>
			<dict>
				<key>frame</key>
				<string>{{1697,429},{334,179}}</string>
				<key>offset</key>
				<string>{-18,-26}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1697,429},{334,179}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_43.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1861},{252,133}}</string>
				<key>offset</key>
				<string>{5,-52}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1861},{252,133}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_44.png</key>
			<dict>
				<key>frame</key>
				<string>{{1838,1370},{244,165}}</string>
				<key>offset</key>
				<string>{2,-36}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1838,1370},{244,165}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_45.png</key>
			<dict>
				<key>frame</key>
				<string>{{1838,1616},{254,153}}</string>
				<key>offset</key>
				<string>{9,-41}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1838,1616},{254,153}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_46.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,1982},{6,7}}</string>
				<key>offset</key>
				<string>{-69,-92}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{255,1982},{6,7}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
			<key>bw_vfx_c_screen_47.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,1991},{3,3}}</string>
				<key>offset</key>
				<string>{-188,150}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{255,1991},{3,3}}</string>
				<key>sourceSize</key>
				<string>{378,303}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>ac69566a-4e54-49a2-a608-66e2ba6cd64e.6d316.jpg</string>
			<key>size</key>
			<string>{2040,1995}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>ac69566a-4e54-49a2-a608-66e2ba6cd64e.6d316.jpg</string>
		</dict>
	</dict>
</plist>
