<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bw_vfx_g_normal_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1631,1},{324,289}}</string>
				<key>offset</key>
				<string>{0,-31}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1631,1},{324,289}}</string>
				<key>sourceSize</key>
				<string>{324,351}</string>
			</dict>
			<key>bw_vfx_g_normal_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,643},{324,289}}</string>
				<key>offset</key>
				<string>{0,-31}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1305,643},{324,289}}</string>
				<key>sourceSize</key>
				<string>{324,351}</string>
			</dict>
			<key>bw_vfx_g_normal_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,934},{322,289}}</string>
				<key>offset</key>
				<string>{1,-31}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1305,934},{322,289}}</string>
				<key>sourceSize</key>
				<string>{324,351}</string>
			</dict>
			<key>bw_vfx_g_normal_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1594,1305},{324,277}}</string>
				<key>offset</key>
				<string>{0,-37}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1594,1305},{324,277}}</string>
				<key>sourceSize</key>
				<string>{324,351}</string>
			</dict>
			<key>bw_vfx_g_normal_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1631,653},{324,283}}</string>
				<key>offset</key>
				<string>{0,-34}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1631,653},{324,283}}</string>
				<key>sourceSize</key>
				<string>{324,351}</string>
			</dict>
			<key>bw_vfx_g_normal_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,1295},{324,289}}</string>
				<key>offset</key>
				<string>{0,-31}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{979,1295},{324,289}}</string>
				<key>sourceSize</key>
				<string>{324,351}</string>
			</dict>
			<key>bw_vfx_g_normal_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,996},{324,297}}</string>
				<key>offset</key>
				<string>{0,-27}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{979,996},{324,297}}</string>
				<key>sourceSize</key>
				<string>{324,351}</string>
			</dict>
			<key>bw_vfx_g_normal_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,330},{324,311}}</string>
				<key>offset</key>
				<string>{0,-20}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1305,330},{324,311}}</string>
				<key>sourceSize</key>
				<string>{324,351}</string>
			</dict>
			<key>bw_vfx_g_normal_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,679},{324,315}}</string>
				<key>offset</key>
				<string>{0,-18}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{979,679},{324,315}}</string>
				<key>sourceSize</key>
				<string>{324,351}</string>
			</dict>
			<key>bw_vfx_g_normal_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,1038},{324,319}}</string>
				<key>offset</key>
				<string>{0,-16}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{653,1038},{324,319}}</string>
				<key>sourceSize</key>
				<string>{324,351}</string>
			</dict>
			<key>bw_vfx_g_normal_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,1393},{324,325}}</string>
				<key>offset</key>
				<string>{0,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{327,1393},{324,325}}</string>
				<key>sourceSize</key>
				<string>{324,351}</string>
			</dict>
			<key>bw_vfx_g_normal_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,1},{324,327}}</string>
				<key>offset</key>
				<string>{0,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1305,1},{324,327}}</string>
				<key>sourceSize</key>
				<string>{324,351}</string>
			</dict>
			<key>bw_vfx_g_normal_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,346},{324,331}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{979,346},{324,331}}</string>
				<key>sourceSize</key>
				<string>{324,351}</string>
			</dict>
			<key>bw_vfx_g_normal_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,1054},{324,337}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{327,1054},{324,337}}</string>
				<key>sourceSize</key>
				<string>{324,351}</string>
			</dict>
			<key>bw_vfx_g_normal_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{324,351}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{324,351}}</string>
				<key>sourceSize</key>
				<string>{324,351}</string>
			</dict>
			<key>bw_vfx_g_normal_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,354},{324,351}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,354},{324,351}}</string>
				<key>sourceSize</key>
				<string>{324,351}</string>
			</dict>
			<key>bw_vfx_g_normal_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,1},{324,351}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{327,1},{324,351}}</string>
				<key>sourceSize</key>
				<string>{324,351}</string>
			</dict>
			<key>bw_vfx_g_normal_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,707},{324,351}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,707},{324,351}}</string>
				<key>sourceSize</key>
				<string>{324,351}</string>
			</dict>
			<key>bw_vfx_g_normal_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,354},{324,351}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{327,354},{324,351}}</string>
				<key>sourceSize</key>
				<string>{324,351}</string>
			</dict>
			<key>bw_vfx_g_normal_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,1359},{324,311}}</string>
				<key>offset</key>
				<string>{0,-20}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{653,1359},{324,311}}</string>
				<key>sourceSize</key>
				<string>{324,351}</string>
			</dict>
			<key>bw_vfx_g_normal_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,707},{324,345}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{327,707},{324,345}}</string>
				<key>sourceSize</key>
				<string>{324,351}</string>
			</dict>
			<key>bw_vfx_g_normal_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,1},{324,349}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{653,1},{324,349}}</string>
				<key>sourceSize</key>
				<string>{324,351}</string>
			</dict>
			<key>bw_vfx_g_normal_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,352},{324,345}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{653,352},{324,345}}</string>
				<key>sourceSize</key>
				<string>{324,351}</string>
			</dict>
			<key>bw_vfx_g_normal_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1060},{324,349}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1060},{324,349}}</string>
				<key>sourceSize</key>
				<string>{324,351}</string>
			</dict>
			<key>bw_vfx_g_normal_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,699},{324,337}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{653,699},{324,337}}</string>
				<key>sourceSize</key>
				<string>{324,351}</string>
			</dict>
			<key>bw_vfx_g_normal_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,1},{324,343}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{979,1},{324,343}}</string>
				<key>sourceSize</key>
				<string>{324,351}</string>
			</dict>
			<key>bw_vfx_g_normal_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1411},{324,341}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1411},{324,341}}</string>
				<key>sourceSize</key>
				<string>{324,351}</string>
			</dict>
			<key>bw_vfx_g_normal_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,1586},{324,271}}</string>
				<key>offset</key>
				<string>{0,-40}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{979,1586},{324,271}}</string>
				<key>sourceSize</key>
				<string>{324,351}</string>
			</dict>
			<key>bw_vfx_g_normal_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{1586,1584},{324,275}}</string>
				<key>offset</key>
				<string>{0,-38}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1586,1584},{324,275}}</string>
				<key>sourceSize</key>
				<string>{324,351}</string>
			</dict>
			<key>bw_vfx_g_normal_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,1551},{324,279}}</string>
				<key>offset</key>
				<string>{0,-36}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1305,1551},{324,279}}</string>
				<key>sourceSize</key>
				<string>{324,351}</string>
			</dict>
			<key>bw_vfx_g_normal_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1629,979},{324,283}}</string>
				<key>offset</key>
				<string>{0,-34}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1629,979},{324,283}}</string>
				<key>sourceSize</key>
				<string>{324,351}</string>
			</dict>
			<key>bw_vfx_g_normal_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{1305,1225},{324,287}}</string>
				<key>offset</key>
				<string>{0,-32}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1305,1225},{324,287}}</string>
				<key>sourceSize</key>
				<string>{324,351}</string>
			</dict>
			<key>bw_vfx_g_normal_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{1631,327},{324,289}}</string>
				<key>offset</key>
				<string>{0,-31}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1631,327},{324,289}}</string>
				<key>sourceSize</key>
				<string>{324,351}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>b3c9437b-adad-4a16-b6a7-20c5b8927b7d.a7812.png</string>
			<key>size</key>
			<string>{1921,1876}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>b3c9437b-adad-4a16-b6a7-20c5b8927b7d.a7812.png</string>
		</dict>
	</dict>
</plist>
