<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>respin_vfx_n_add_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,760},{288,239}}</string>
				<key>offset</key>
				<string>{-2,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,760},{288,239}}</string>
				<key>sourceSize</key>
				<string>{324,251}</string>
			</dict>
			<key>respin_vfx_n_add_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,507},{288,249}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{291,507},{288,249}}</string>
				<key>sourceSize</key>
				<string>{324,251}</string>
			</dict>
			<key>respin_vfx_n_add_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{288,251}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{288,251}}</string>
				<key>sourceSize</key>
				<string>{324,251}</string>
			</dict>
			<key>respin_vfx_n_add_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,1},{288,251}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{291,1},{288,251}}</string>
				<key>sourceSize</key>
				<string>{324,251}</string>
			</dict>
			<key>respin_vfx_n_add_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,758},{288,241}}</string>
				<key>offset</key>
				<string>{-2,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{291,758},{288,241}}</string>
				<key>sourceSize</key>
				<string>{324,251}</string>
			</dict>
			<key>respin_vfx_n_add_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,1},{288,251}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{581,1},{288,251}}</string>
				<key>sourceSize</key>
				<string>{324,251}</string>
			</dict>
			<key>respin_vfx_n_add_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1001},{288,239}}</string>
				<key>offset</key>
				<string>{-2,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1001},{288,239}}</string>
				<key>sourceSize</key>
				<string>{324,251}</string>
			</dict>
			<key>respin_vfx_n_add_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,254},{288,251}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,254},{288,251}}</string>
				<key>sourceSize</key>
				<string>{324,251}</string>
			</dict>
			<key>respin_vfx_n_add_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,254},{288,251}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{291,254},{288,251}}</string>
				<key>sourceSize</key>
				<string>{324,251}</string>
			</dict>
			<key>respin_vfx_n_add_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,1001},{286,237}}</string>
				<key>offset</key>
				<string>{-2,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{581,1001},{286,237}}</string>
				<key>sourceSize</key>
				<string>{324,251}</string>
			</dict>
			<key>respin_vfx_n_add_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1242},{278,249}}</string>
				<key>offset</key>
				<string>{2,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1242},{278,249}}</string>
				<key>sourceSize</key>
				<string>{324,251}</string>
			</dict>
			<key>respin_vfx_n_add_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,1232},{278,251}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{291,1232},{278,251}}</string>
				<key>sourceSize</key>
				<string>{324,251}</string>
			</dict>
			<key>respin_vfx_n_add_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,1240},{278,237}}</string>
				<key>offset</key>
				<string>{3,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{571,1240},{278,237}}</string>
				<key>sourceSize</key>
				<string>{324,251}</string>
			</dict>
			<key>respin_vfx_n_add_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,507},{288,247}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{581,507},{288,247}}</string>
				<key>sourceSize</key>
				<string>{324,251}</string>
			</dict>
			<key>respin_vfx_n_add_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,254},{288,251}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{581,254},{288,251}}</string>
				<key>sourceSize</key>
				<string>{324,251}</string>
			</dict>
			<key>respin_vfx_n_add_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,756},{288,243}}</string>
				<key>offset</key>
				<string>{-2,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{581,756},{288,243}}</string>
				<key>sourceSize</key>
				<string>{324,251}</string>
			</dict>
			<key>respin_vfx_n_add_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,507},{288,251}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,507},{288,251}}</string>
				<key>sourceSize</key>
				<string>{324,251}</string>
			</dict>
			<key>respin_vfx_n_add_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,1001},{288,229}}</string>
				<key>offset</key>
				<string>{-2,11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{291,1001},{288,229}}</string>
				<key>sourceSize</key>
				<string>{324,251}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>cf0edc54-6151-4d2d-ad06-d3a71700766a.9085a.jpg</string>
			<key>size</key>
			<string>{870,1492}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>cf0edc54-6151-4d2d-ad06-d3a71700766a.9085a.jpg</string>
		</dict>
	</dict>
</plist>
