<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sb_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,359},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,359},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>sb_arrow_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,501},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,501},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>sb_arrow_blur_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,643},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,643},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>sb_arrow_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,785},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,785},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>sb_auto.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{166,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{166,179}}</string>
				<key>sourceSize</key>
				<string>{166,179}</string>
			</dict>
			<key>sb_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,182},{165,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,182},{165,175}}</string>
				<key>sourceSize</key>
				<string>{165,175}</string>
			</dict>
			<key>sb_button_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,927},{105,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,927},{105,77}}</string>
				<key>sourceSize</key>
				<string>{105,77}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>da38eaad-09e5-4694-9ac3-d58a2c639816.2d984.png</string>
			<key>size</key>
			<string>{168,1005}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>da38eaad-09e5-4694-9ac3-d58a2c639816.2d984.png</string>
		</dict>
	</dict>
</plist>
