<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>x10.png</key>
			<dict>
				<key>frame</key>
				<string>{{4,3},{441,278}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,3},{441,278}}</string>
				<key>sourceSize</key>
				<string>{449,283}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>e2eb8dd5-312a-43ce-a1c6-6f1d1cf0e44a.ec318.png</string>
			<key>size</key>
			<string>{449,283}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>e2eb8dd5-312a-43ce-a1c6-6f1d1cf0e44a.ec318.png</string>
		</dict>
	</dict>
</plist>
