<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sb_vfx_f_screen_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,789},{72,78}}</string>
				<key>offset</key>
				<string>{-4,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{553,789},{72,78}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>sb_vfx_f_screen_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,789},{88,92}}</string>
				<key>offset</key>
				<string>{-4,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{463,789},{88,92}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>sb_vfx_f_screen_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,583},{102,106}}</string>
				<key>offset</key>
				<string>{-4,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{513,583},{102,106}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>sb_vfx_f_screen_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,699},{112,116}}</string>
				<key>offset</key>
				<string>{-5,-3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{131,699},{112,116}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>sb_vfx_f_screen_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,689},{122,128}}</string>
				<key>offset</key>
				<string>{-6,-3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,689},{122,128}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>sb_vfx_f_screen_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{141,569},{128,138}}</string>
				<key>offset</key>
				<string>{-6,-3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{141,569},{128,138}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>sb_vfx_f_screen_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,433},{134,142}}</string>
				<key>offset</key>
				<string>{-7,-3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{153,433},{134,142}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>sb_vfx_f_screen_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,295},{136,144}}</string>
				<key>offset</key>
				<string>{-7,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{153,295},{136,144}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>sb_vfx_f_screen_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,295},{138,150}}</string>
				<key>offset</key>
				<string>{-8,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,295},{138,150}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>sb_vfx_f_screen_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,323},{140,152}}</string>
				<key>offset</key>
				<string>{-8,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{461,323},{140,152}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>sb_vfx_f_screen_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,149},{142,156}}</string>
				<key>offset</key>
				<string>{-8,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{323,149},{142,156}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>sb_vfx_f_screen_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,149},{144,158}}</string>
				<key>offset</key>
				<string>{-9,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{163,149},{144,158}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>sb_vfx_f_screen_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,149},{144,160}}</string>
				<key>offset</key>
				<string>{-8,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,149},{144,160}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>sb_vfx_f_screen_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{146,160}}</string>
				<key>offset</key>
				<string>{-8,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{146,160}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>sb_vfx_f_screen_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,1},{146,160}}</string>
				<key>offset</key>
				<string>{-9,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{163,1},{146,160}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>sb_vfx_f_screen_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,1},{146,160}}</string>
				<key>offset</key>
				<string>{-8,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{325,1},{146,160}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>sb_vfx_f_screen_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,293},{136,158}}</string>
				<key>offset</key>
				<string>{-13,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{323,293},{136,158}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>sb_vfx_f_screen_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{481,161},{136,160}}</string>
				<key>offset</key>
				<string>{-14,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{481,161},{136,160}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>sb_vfx_f_screen_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,1},{138,158}}</string>
				<key>offset</key>
				<string>{-13,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{487,1},{138,158}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>sb_vfx_f_screen_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,453},{134,136}}</string>
				<key>offset</key>
				<string>{-14,11}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{297,453},{134,136}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>sb_vfx_f_screen_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,435},{138,134}}</string>
				<key>offset</key>
				<string>{-12,10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,435},{138,134}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>sb_vfx_f_screen_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,571},{136,116}}</string>
				<key>offset</key>
				<string>{-11,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,571},{136,116}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>sb_vfx_f_screen_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,589},{102,116}}</string>
				<key>offset</key>
				<string>{-28,2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{395,589},{102,116}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>sb_vfx_f_screen_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,699},{106,114}}</string>
				<key>offset</key>
				<string>{-25,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{355,699},{106,114}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>sb_vfx_f_screen_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,589},{108,112}}</string>
				<key>offset</key>
				<string>{-26,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{281,589},{108,112}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>sb_vfx_f_screen_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,465},{100,116}}</string>
				<key>offset</key>
				<string>{-26,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{435,465},{100,116}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>sb_vfx_f_screen_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,693},{94,116}}</string>
				<key>offset</key>
				<string>{-23,2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{463,693},{94,116}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>sb_vfx_f_screen_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{249,699},{104,118}}</string>
				<key>offset</key>
				<string>{-28,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{249,699},{104,118}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>sb_vfx_f_screen_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,813},{70,42}}</string>
				<key>offset</key>
				<string>{-41,-37}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{77,813},{70,42}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>sb_vfx_f_screen_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,813},{74,46}}</string>
				<key>offset</key>
				<string>{-42,-36}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,813},{74,46}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>sb_vfx_f_screen_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,465},{86,116}}</string>
				<key>offset</key>
				<string>{-22,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{537,465},{86,116}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>e4da188c-1376-4cc3-96fd-45a5021ea3b0.b1cac.jpg</string>
			<key>size</key>
			<string>{626,882}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>e4da188c-1376-4cc3-96fd-45a5021ea3b0.b1cac.jpg</string>
		</dict>
	</dict>
</plist>
