<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>num_bw_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,131},{99,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{391,131},{99,127}}</string>
				<key>sourceSize</key>
				<string>{99,127}</string>
			</dict>
			<key>num_bw_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{399,1},{74,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{399,1},{74,128}}</string>
				<key>sourceSize</key>
				<string>{74,128}</string>
			</dict>
			<key>num_bw_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,133},{101,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,133},{101,129}}</string>
				<key>sourceSize</key>
				<string>{101,129}</string>
			</dict>
			<key>num_bw_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,1},{98,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{299,1},{98,128}}</string>
				<key>sourceSize</key>
				<string>{98,128}</string>
			</dict>
			<key>num_bw_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,1},{99,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{475,1},{99,127}}</string>
				<key>sourceSize</key>
				<string>{99,127}</string>
			</dict>
			<key>num_bw_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,1},{93,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{102,1},{93,130}}</string>
				<key>sourceSize</key>
				<string>{93,130}</string>
			</dict>
			<key>num_bw_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,133},{101,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{132,133},{101,126}}</string>
				<key>sourceSize</key>
				<string>{101,126}</string>
			</dict>
			<key>num_bw_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{99,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{99,130}}</string>
				<key>sourceSize</key>
				<string>{99,130}</string>
			</dict>
			<key>num_bw_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,132},{99,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{260,132},{99,129}}</string>
				<key>sourceSize</key>
				<string>{99,129}</string>
			</dict>
			<key>num_bw_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,1},{100,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{197,1},{100,129}}</string>
				<key>sourceSize</key>
				<string>{100,129}</string>
			</dict>
			<key>num_bw_comma.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,172},{40,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{520,172},{40,60}}</string>
				<key>sourceSize</key>
				<string>{40,60}</string>
			</dict>
			<key>num_bw_decimal.png</key>
			<dict>
				<key>frame</key>
				<string>{{520,130},{40,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{520,130},{40,49}}</string>
				<key>sourceSize</key>
				<string>{40,49}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>e9492b00-64f4-4e53-b5f3-065852c3e765.62eb6.png</string>
			<key>size</key>
			<string>{575,235}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>e9492b00-64f4-4e53-b5f3-065852c3e765.62eb6.png</string>
		</dict>
	</dict>
</plist>
