<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>respin_vfx_l_screen_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,1383},{158,247}}</string>
				<key>offset</key>
				<string>{-1,7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{703,1383},{158,247}}</string>
				<key>sourceSize</key>
				<string>{270,261}</string>
			</dict>
			<key>respin_vfx_l_screen_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,1383},{166,247}}</string>
				<key>offset</key>
				<string>{-2,6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{454,1383},{166,247}}</string>
				<key>sourceSize</key>
				<string>{270,261}</string>
			</dict>
			<key>respin_vfx_l_screen_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,981},{170,251}}</string>
				<key>offset</key>
				<string>{-2,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{258,981},{170,251}}</string>
				<key>sourceSize</key>
				<string>{270,261}</string>
			</dict>
			<key>respin_vfx_l_screen_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1375},{176,251}}</string>
				<key>offset</key>
				<string>{-3,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1375},{176,251}}</string>
				<key>sourceSize</key>
				<string>{270,261}</string>
			</dict>
			<key>respin_vfx_l_screen_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,795},{180,255}}</string>
				<key>offset</key>
				<string>{-3,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{515,795},{180,255}}</string>
				<key>sourceSize</key>
				<string>{270,261}</string>
			</dict>
			<key>respin_vfx_l_screen_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,815},{182,255}}</string>
				<key>offset</key>
				<string>{-3,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,815},{182,255}}</string>
				<key>sourceSize</key>
				<string>{270,261}</string>
			</dict>
			<key>respin_vfx_l_screen_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,591},{184,259}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{262,591},{184,259}}</string>
				<key>sourceSize</key>
				<string>{270,261}</string>
			</dict>
			<key>respin_vfx_l_screen_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,403},{186,259}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{523,403},{186,259}}</string>
				<key>sourceSize</key>
				<string>{270,261}</string>
			</dict>
			<key>respin_vfx_l_screen_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,207},{188,261}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,207},{188,261}}</string>
				<key>sourceSize</key>
				<string>{270,261}</string>
			</dict>
			<key>respin_vfx_l_screen_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,205},{190,261}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{264,205},{190,261}}</string>
				<key>sourceSize</key>
				<string>{270,261}</string>
			</dict>
			<key>respin_vfx_l_screen_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{262,397},{192,259}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{262,397},{192,259}}</string>
				<key>sourceSize</key>
				<string>{270,261}</string>
			</dict>
			<key>respin_vfx_l_screen_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,1},{196,261}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{790,1},{196,261}}</string>
				<key>sourceSize</key>
				<string>{270,261}</string>
			</dict>
			<key>respin_vfx_l_screen_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,203},{198,261}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{527,203},{198,261}}</string>
				<key>sourceSize</key>
				<string>{270,261}</string>
			</dict>
			<key>respin_vfx_l_screen_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,1},{200,261}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{527,1},{200,261}}</string>
				<key>sourceSize</key>
				<string>{270,261}</string>
			</dict>
			<key>respin_vfx_l_screen_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,1},{202,261}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{264,1},{202,261}}</string>
				<key>sourceSize</key>
				<string>{270,261}</string>
			</dict>
			<key>respin_vfx_l_screen_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{204,261}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{204,261}}</string>
				<key>sourceSize</key>
				<string>{270,261}</string>
			</dict>
			<key>respin_vfx_l_screen_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,397},{206,259}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,397},{206,259}}</string>
				<key>sourceSize</key>
				<string>{270,261}</string>
			</dict>
			<key>respin_vfx_l_screen_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,605},{208,255}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,605},{208,255}}</string>
				<key>sourceSize</key>
				<string>{270,261}</string>
			</dict>
			<key>respin_vfx_l_screen_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{515,977},{200,253}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{515,977},{200,253}}</string>
				<key>sourceSize</key>
				<string>{270,261}</string>
			</dict>
			<key>respin_vfx_l_screen_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,591},{202,255}}</string>
				<key>offset</key>
				<string>{3,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{523,591},{202,255}}</string>
				<key>sourceSize</key>
				<string>{270,261}</string>
			</dict>
			<key>respin_vfx_l_screen_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{784,447},{202,257}}</string>
				<key>offset</key>
				<string>{5,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{784,447},{202,257}}</string>
				<key>sourceSize</key>
				<string>{270,261}</string>
			</dict>
			<key>respin_vfx_l_screen_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,777},{202,255}}</string>
				<key>offset</key>
				<string>{5,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{258,777},{202,255}}</string>
				<key>sourceSize</key>
				<string>{270,261}</string>
			</dict>
			<key>respin_vfx_l_screen_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{780,706},{206,249}}</string>
				<key>offset</key>
				<string>{4,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{780,706},{206,249}}</string>
				<key>sourceSize</key>
				<string>{270,261}</string>
			</dict>
			<key>respin_vfx_l_screen_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,1179},{202,223}}</string>
				<key>offset</key>
				<string>{6,-12}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{538,1179},{202,223}}</string>
				<key>sourceSize</key>
				<string>{270,261}</string>
			</dict>
			<key>respin_vfx_l_screen_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1153},{204,213}}</string>
				<key>offset</key>
				<string>{6,-17}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1153},{204,213}}</string>
				<key>sourceSize</key>
				<string>{270,261}</string>
			</dict>
			<key>respin_vfx_l_screen_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,1153},{204,213}}</string>
				<key>offset</key>
				<string>{6,-16}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{207,1153},{204,213}}</string>
				<key>sourceSize</key>
				<string>{270,261}</string>
			</dict>
			<key>respin_vfx_l_screen_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{770,1167},{206,213}}</string>
				<key>offset</key>
				<string>{6,-16}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{770,1167},{206,213}}</string>
				<key>sourceSize</key>
				<string>{270,261}</string>
			</dict>
			<key>respin_vfx_l_screen_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,957},{208,213}}</string>
				<key>offset</key>
				<string>{7,-16}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{772,957},{208,213}}</string>
				<key>sourceSize</key>
				<string>{270,261}</string>
			</dict>
			<key>respin_vfx_l_screen_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,1368},{198,181}}</string>
				<key>offset</key>
				<string>{0,-17}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{254,1368},{198,181}}</string>
				<key>sourceSize</key>
				<string>{270,261}</string>
			</dict>
			<key>respin_vfx_l_screen_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,264},{196,181}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{790,264},{196,181}}</string>
				<key>sourceSize</key>
				<string>{270,261}</string>
			</dict>
			<key>respin_vfx_l_screen_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,1179},{184,123}}</string>
				<key>offset</key>
				<string>{-7,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{413,1179},{184,123}}</string>
				<key>sourceSize</key>
				<string>{270,261}</string>
			</dict>
			<key>respin_vfx_l_screen_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,1365},{8,81}}</string>
				<key>offset</key>
				<string>{-66,19}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{454,1365},{8,81}}</string>
				<key>sourceSize</key>
				<string>{270,261}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>e9f32080-85fa-4303-a02d-161dd562f82e.633cf.jpg</string>
			<key>size</key>
			<string>{987,1552}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>e9f32080-85fa-4303-a02d-161dd562f82e.633cf.jpg</string>
		</dict>
	</dict>
</plist>
