<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>freespin_won.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{727,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{727,179}}</string>
				<key>sourceSize</key>
				<string>{727,179}</string>
			</dict>
			<key>start_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{730,1},{125,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{730,1},{125,67}}</string>
				<key>sourceSize</key>
				<string>{125,67}</string>
			</dict>
			<key>start.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,182},{129,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{665,182},{129,71}}</string>
				<key>sourceSize</key>
				<string>{129,71}</string>
			</dict>
			<key>freature_loading.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,182},{662,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,182},{662,134}}</string>
				<key>sourceSize</key>
				<string>{662,134}</string>
			</dict>
			<key>bonus_loading.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{798,315}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{798,315}}</string>
				<key>sourceSize</key>
				<string>{798,317}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>bonus_loading.png</string>
			<key>size</key>
			<string>{798,317}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>bonus_loading.png</string>
		</dict>
	</dict>
</plist>
