<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>freespin_won.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{730,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{730,221}}</string>
				<key>sourceSize</key>
				<string>{730,221}</string>
			</dict>
			<key>start_pressed.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,276},{164,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{594,276},{164,46}}</string>
				<key>sourceSize</key>
				<string>{164,46}</string>
			</dict>
			<key>freature_loading.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,224},{591,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,224},{591,153}}</string>
				<key>sourceSize</key>
				<string>{591,153}</string>
			</dict>
			<key>start.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,224},{168,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{594,224},{168,50}}</string>
				<key>sourceSize</key>
				<string>{168,50}</string>
			</dict>
			<key>bonus_loading.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{761,376}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{761,376}}</string>
				<key>sourceSize</key>
				<string>{763,378}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>bonus_loading.png</string>
			<key>size</key>
			<string>{763,378}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>bonus_loading.png</string>
		</dict>
	</dict>
</plist>
