<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>info_message-0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-458,0}</string>
                <key>spriteSize</key>
                <string>{951,71}</string>
                <key>spriteSourceSize</key>
                <string>{1867,71}</string>
                <key>textureRect</key>
                <string>{{1,147},{951,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>info_message-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-403,0}</string>
                <key>spriteSize</key>
                <string>{1061,69}</string>
                <key>spriteSourceSize</key>
                <string>{1867,71}</string>
                <key>textureRect</key>
                <string>{{1,220},{1061,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>info_message-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-79,0}</string>
                <key>spriteSize</key>
                <string>{1709,71}</string>
                <key>spriteSourceSize</key>
                <string>{1867,71}</string>
                <key>textureRect</key>
                <string>{{1,1},{1709,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>info_message-3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-358,0}</string>
                <key>spriteSize</key>
                <string>{1151,71}</string>
                <key>spriteSourceSize</key>
                <string>{1867,71}</string>
                <key>textureRect</key>
                <string>{{1,74},{1151,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>info_message-4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-147,3}</string>
                <key>spriteSize</key>
                <string>{1543,65}</string>
                <key>spriteSourceSize</key>
                <string>{1867,71}</string>
                <key>textureRect</key>
                <string>{{1,291},{1543,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>info_message-5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-453,-3}</string>
                <key>spriteSize</key>
                <string>{961,53}</string>
                <key>spriteSourceSize</key>
                <string>{1867,71}</string>
                <key>textureRect</key>
                <string>{{1,358},{961,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>info_messagecn.png</string>
            <key>size</key>
            <string>{1867,426}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:813d9ae9f77fa0b537caccbc9037543a:ac5401c6906124212ae0d7ff71923e21:21ad163c1aeba961d3c283cb2bcd6f1c$</string>
            <key>textureFileName</key>
            <string>info_messagecn.png</string>
        </dict>
    </dict>
</plist>
