<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>City01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,620},{602,90}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,28},{602,90}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City02.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,620},{614,90}}</string>
                <key>offset</key>
                <string>{7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,29},{614,90}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1868,2},{616,92}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,27},{616,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1242},{616,92}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,27},{616,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City104.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1236},{614,90}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,29},{614,90}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City105.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,620},{614,90}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,28},{614,90}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City106.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1236},{610,90}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,28},{610,90}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City107.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1934},{602,90}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,28},{602,90}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{620,88}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,32},{620,88}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City38.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,2},{620,88}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,32},{620,88}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,2},{620,88}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,32},{620,88}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{620,88}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,32},{620,88}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City44.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,1238},{616,88}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,31},{616,88}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City45.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1236},{614,88}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,31},{614,88}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City46.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,620},{610,88}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,31},{610,88}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City47.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,620},{610,88}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,31},{610,88}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City48.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1230},{608,88}}</string>
                <key>offset</key>
                <string>{5,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,31},{608,88}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City49.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,620},{608,90}}</string>
                <key>offset</key>
                <string>{5,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,29},{608,90}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City50.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1228},{606,88}}</string>
                <key>offset</key>
                <string>{6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,30},{606,88}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City51.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,184},{602,88}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{602,88}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City52.png</key>
            <dict>
                <key>frame</key>
                <string>{{1222,1934},{602,90}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,28},{602,90}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City53.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,92},{602,90}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,28},{602,90}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City54.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,92},{602,90}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,28},{602,90}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City55.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,184},{602,90}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,28},{602,90}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City56.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,620},{602,92}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,27},{602,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City57.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,1224},{602,92}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,27},{602,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City58.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,620},{602,92}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,27},{602,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City59.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1224},{602,92}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,27},{602,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City60.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,620},{602,92}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,27},{602,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City61.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1224},{602,92}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,27},{602,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City62.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,1228},{604,92}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,27},{604,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City63.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,620},{606,92}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,27},{606,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City64.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,1840},{606,92}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,27},{606,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City65.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{608,92}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{608,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City66.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{608,92}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{608,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City67.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,1232},{608,92}}</string>
                <key>offset</key>
                <string>{10,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,27},{608,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City68.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{610,92}}</string>
                <key>offset</key>
                <string>{10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{610,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City69.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{612,92}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,27},{612,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City70.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1860},{614,92}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{614,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City71.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1954},{614,92}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{614,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City72.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{614,92}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,27},{614,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City73.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,620},{616,92}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,27},{616,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Logo1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8dee50377f9c1679b48e0cb6fbdc156e:2/2$</string>
            <key>textureFileName</key>
            <string>Logo1.png</string>
        </dict>
    </dict>
</plist>
