<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>City05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{622,94}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{622,94}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City06.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{622,94}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{622,94}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,2},{622,94}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{622,94}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1874,2},{622,94}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,26},{622,94}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{622,94}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,26},{622,94}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1250},{622,94}}</string>
                <key>offset</key>
                <string>{7,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,26},{622,94}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1312},{620,90}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,29},{620,90}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1404},{620,90}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,29},{620,90}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1496},{620,90}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,29},{620,90}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1588},{620,90}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,29},{620,90}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1874},{622,94}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,26},{622,94}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{622,94}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,26},{622,94}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{622,94}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,26},{622,94}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{622,94}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,26},{622,94}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{622,92}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,28},{622,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{622,92}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,28},{622,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City17.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,626},{622,92}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,28},{622,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City18.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1250},{622,92}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,28},{622,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City19.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,626},{622,92}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,28},{622,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City20.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,1250},{622,92}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,28},{622,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City21.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,626},{622,92}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,28},{622,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City22.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1250},{622,92}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,28},{622,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City23.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,626},{622,92}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,28},{622,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City24.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1250},{622,92}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,28},{622,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City25.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,626},{622,90}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,30},{622,90}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City26.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1250},{622,90}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,30},{622,90}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City27.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,626},{622,90}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,30},{622,90}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City28.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1250},{622,90}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,30},{622,90}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,98},{622,90}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,30},{622,90}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,190},{622,90}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,30},{622,90}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,282},{622,90}}</string>
                <key>offset</key>
                <string>{7,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{622,90}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,374},{622,90}}</string>
                <key>offset</key>
                <string>{7,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{622,90}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1680},{620,90}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,30},{620,90}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1772},{620,90}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,30},{620,90}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1864},{620,90}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,30},{620,90}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1956},{620,90}}</string>
                <key>offset</key>
                <string>{8,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,30},{620,90}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,1188},{620,88}}</string>
                <key>offset</key>
                <string>{7,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,32},{620,88}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City42.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,568},{618,88}}</string>
                <key>offset</key>
                <string>{7,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,31},{618,88}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,568},{618,88}}</string>
                <key>offset</key>
                <string>{7,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,31},{618,88}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City74.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,568},{616,92}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,27},{616,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City75.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,1186},{616,92}}</string>
                <key>offset</key>
                <string>{9,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,27},{616,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City76.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,568},{618,92}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,27},{618,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City77.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,568},{618,92}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,27},{618,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City78.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,568},{618,92}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,27},{618,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City79.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1874},{620,92}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{620,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City80.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,98},{620,92}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{620,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City81.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,192},{620,92}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{620,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City82.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,286},{620,92}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{620,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City83.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,380},{620,92}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{620,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City84.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,466},{620,92}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{620,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City85.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,474},{620,92}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{620,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City86.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,560},{620,92}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{620,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City87.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,626},{620,92}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,27},{620,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City88.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,654},{620,92}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{620,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City89.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,748},{620,92}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{620,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City90.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,842},{620,92}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{620,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City91.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,936},{620,92}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{620,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City92.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1030},{620,92}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{620,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City93.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1124},{620,92}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{620,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City94.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1218},{620,92}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{620,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City95.png</key>
            <dict>
                <key>frame</key>
                <string>{{1870,1248},{620,92}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,27},{620,92}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City96.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1188},{620,90}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,29},{620,90}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City97.png</key>
            <dict>
                <key>frame</key>
                <string>{{750,1188},{620,90}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,29},{620,90}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City98.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,1188},{620,90}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,29},{620,90}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
            <key>City99.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,1188},{620,90}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,29},{620,90}}</string>
                <key>sourceSize</key>
                <string>{640,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Logo0.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8dee50377f9c1679b48e0cb6fbdc156e:1/2$</string>
            <key>textureFileName</key>
            <string>Logo0.png</string>
        </dict>
    </dict>
</plist>
