<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>payline_bg_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,875},{133,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,875},{133,133}}</string>
				<key>sourceSize</key>
				<string>{133,133}</string>
			</dict>
			<key>payline_bg_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,746},{135,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{495,746},{135,135}}</string>
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>
			<key>x10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,591},{492,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,591},{492,282}}</string>
				<key>sourceSize</key>
				<string>{498,286}</string>
			</dict>
			<key>stroke_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,412},{47,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{612,412},{47,53}}</string>
				<key>sourceSize</key>
				<string>{47,53}</string>
			</dict>
			<key>stroke_decimal.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,467},{21,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{667,467},{21,24}}</string>
				<key>sourceSize</key>
				<string>{21,24}</string>
			</dict>
			<key>stroke_comma.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,550},{24,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{453,550},{24,23}}</string>
				<key>sourceSize</key>
				<string>{24,23}</string>
			</dict>
			<key>stroke_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,495},{39,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{453,495},{39,53}}</string>
				<key>sourceSize</key>
				<string>{39,53}</string>
			</dict>
			<key>stroke_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,495},{47,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{398,495},{47,53}}</string>
				<key>sourceSize</key>
				<string>{47,53}</string>
			</dict>
			<key>stroke_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,490},{46,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{629,490},{46,53}}</string>
				<key>sourceSize</key>
				<string>{46,53}</string>
			</dict>
			<key>stroke_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,461},{27,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{612,461},{27,53}}</string>
				<key>sourceSize</key>
				<string>{27,53}</string>
			</dict>
			<key>stroke_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,235},{42,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{676,235},{42,53}}</string>
				<key>sourceSize</key>
				<string>{42,53}</string>
			</dict>
			<key>stroke_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,412},{41,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{667,412},{41,53}}</string>
				<key>sourceSize</key>
				<string>{41,53}</string>
			</dict>
			<key>stroke_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,545},{39,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{629,545},{39,53}}</string>
				<key>sourceSize</key>
				<string>{39,53}</string>
			</dict>
			<key>stroke_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,544},{43,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{398,544},{43,53}}</string>
				<key>sourceSize</key>
				<string>{43,53}</string>
			</dict>
			<key>stroke_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,235},{42,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{621,235},{42,53}}</string>
				<key>sourceSize</key>
				<string>{42,53}</string>
			</dict>
			<key>mf_coin_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,1},{232,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{621,1},{232,106}}</string>
				<key>sourceSize</key>
				<string>{232,106}</string>
			</dict>
			<key>mf_coin_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,495},{249,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{495,495},{249,132}}</string>
				<key>sourceSize</key>
				<string>{249,132}</string>
			</dict>
			<key>yellow_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,655},{35,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{629,655},{35,53}}</string>
				<key>sourceSize</key>
				<string>{35,53}</string>
			</dict>
			<key>stroke_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,412},{47,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{612,412},{47,53}}</string>
				<key>sourceSize</key>
				<string>{47,53}</string>
			</dict>
			<key>yellow_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,890},{32,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{705,890},{32,50}}</string>
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>
			<key>stroke_decimal_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,467},{21,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{667,467},{21,24}}</string>
				<key>sourceSize</key>
				<string>{21,24}</string>
			</dict>
			<key>red_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,875},{35,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{398,875},{35,51}}</string>
				<key>sourceSize</key>
				<string>{35,51}</string>
			</dict>
			<key>stroke_comma_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,550},{24,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{453,550},{24,23}}</string>
				<key>sourceSize</key>
				<string>{24,23}</string>
			</dict>
			<key>stroke_6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,495},{39,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{453,495},{39,53}}</string>
				<key>sourceSize</key>
				<string>{39,53}</string>
			</dict>
			<key>sb_arrow_grey_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,883},{129,127}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{435,883},{129,127}}</string>
				<key>sourceSize</key>
				<string>{145,145}</string>
			</dict>
			<key>sb_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,1},{278,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{398,1},{278,221}}</string>
				<key>sourceSize</key>
				<string>{286,221}</string>
			</dict>
			<key>sb_auto.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,281},{212,212}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{398,281},{212,212}}</string>
				<key>sourceSize</key>
				<string>{216,214}</string>
			</dict>
			<key>red_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,490},{38,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{677,490},{38,51}}</string>
				<key>sourceSize</key>
				<string>{38,51}</string>
			</dict>
			<key>ui_reel_tint.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{588,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{588,395}}</string>
				<key>sourceSize</key>
				<string>{588,395}</string>
			</dict>
			<key>stroke_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,495},{47,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{398,495},{47,53}}</string>
				<key>sourceSize</key>
				<string>{47,53}</string>
			</dict>
			<key>payline_bg_b_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,875},{133,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,875},{133,133}}</string>
				<key>sourceSize</key>
				<string>{133,133}</string>
			</dict>
			<key>stroke_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,490},{46,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{629,490},{46,53}}</string>
				<key>sourceSize</key>
				<string>{46,53}</string>
			</dict>
			<key>yellow_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,640},{38,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{684,640},{38,51}}</string>
				<key>sourceSize</key>
				<string>{38,51}</string>
			</dict>
			<key>sb_arrow_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,875},{129,127}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{267,875},{129,127}}</string>
				<key>sourceSize</key>
				<string>{145,145}</string>
			</dict>
			<key>stroke_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,461},{27,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{612,461},{27,53}}</string>
				<key>sourceSize</key>
				<string>{27,53}</string>
			</dict>
			<key>red_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,731},{37,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{632,731},{37,52}}</string>
				<key>sourceSize</key>
				<string>{37,52}</string>
			</dict>
			<key>stroke_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,235},{42,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{676,235},{42,53}}</string>
				<key>sourceSize</key>
				<string>{42,53}</string>
			</dict>
			<key>red_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,785},{32,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{671,785},{32,52}}</string>
				<key>sourceSize</key>
				<string>{32,52}</string>
			</dict>
			<key>stroke_9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,412},{41,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{667,412},{41,53}}</string>
				<key>sourceSize</key>
				<string>{41,53}</string>
			</dict>
			<key>red_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,412},{25,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{710,412},{25,51}}</string>
				<key>sourceSize</key>
				<string>{25,51}</string>
			</dict>
			<key>red_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,600},{35,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{629,600},{35,53}}</string>
				<key>sourceSize</key>
				<string>{35,53}</string>
			</dict>
			<key>yellow_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,928},{35,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{398,928},{35,51}}</string>
				<key>sourceSize</key>
				<string>{35,51}</string>
			</dict>
			<key>stroke_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,545},{39,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{629,545},{39,53}}</string>
				<key>sourceSize</key>
				<string>{39,53}</string>
			</dict>
			<key>yellow_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,839},{32,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{671,839},{32,52}}</string>
				<key>sourceSize</key>
				<string>{32,52}</string>
			</dict>
			<key>yellow_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,545},{38,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{670,545},{38,52}}</string>
				<key>sourceSize</key>
				<string>{38,52}</string>
			</dict>
			<key>yellow_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,839},{37,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{632,839},{37,52}}</string>
				<key>sourceSize</key>
				<string>{37,52}</string>
			</dict>
			<key>red_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,731},{36,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{671,731},{36,52}}</string>
				<key>sourceSize</key>
				<string>{36,52}</string>
			</dict>
			<key>yellow_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,692},{36,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{683,692},{36,52}}</string>
				<key>sourceSize</key>
				<string>{36,52}</string>
			</dict>
			<key>bg_payline.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,883},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{566,883},{43,43}}</string>
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>
			<key>stroke_8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,544},{43,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{398,544},{43,53}}</string>
				<key>sourceSize</key>
				<string>{43,53}</string>
			</dict>
			<key>x10_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,591},{492,282}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,591},{492,282}}</string>
				<key>sourceSize</key>
				<string>{498,286}</string>
			</dict>
			<key>payline_bg_a_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,746},{135,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{495,746},{135,135}}</string>
				<key>sourceSize</key>
				<string>{135,135}</string>
			</dict>
			<key>yellow_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,785},{37,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{632,785},{37,52}}</string>
				<key>sourceSize</key>
				<string>{37,52}</string>
			</dict>
			<key>sb_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,281},{129,127}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{612,281},{129,127}}</string>
				<key>sourceSize</key>
				<string>{145,145}</string>
			</dict>
			<key>stroke_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,235},{42,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{621,235},{42,53}}</string>
				<key>sourceSize</key>
				<string>{42,53}</string>
			</dict>
			<key>mf_coin_b_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,1},{232,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{621,1},{232,106}}</string>
				<key>sourceSize</key>
				<string>{232,106}</string>
			</dict>
			<key>red_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,838},{32,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{705,838},{32,50}}</string>
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>
			<key>yellow_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,785},{25,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{705,785},{25,51}}</string>
				<key>sourceSize</key>
				<string>{25,51}</string>
			</dict>
			<key>red_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,600},{38,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{666,600},{38,52}}</string>
				<key>sourceSize</key>
				<string>{38,52}</string>
			</dict>
			<key>red_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,692},{37,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{629,692},{37,52}}</string>
				<key>sourceSize</key>
				<string>{37,52}</string>
			</dict>
			<key>mf_coin_a_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{495,495},{249,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{495,495},{249,132}}</string>
				<key>sourceSize</key>
				<string>{249,132}</string>
			</dict>
			<key>sb_arrow_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,875},{129,127}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{136,875},{129,127}}</string>
				<key>sourceSize</key>
				<string>{145,145}</string>
			</dict>
			<key>stroke_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,412},{47,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{612,412},{47,53}}</string>
				<key>sourceSize</key>
				<string>{47,53}</string>
			</dict>
			<key>stroke_6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,495},{39,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{453,495},{39,53}}</string>
				<key>sourceSize</key>
				<string>{39,53}</string>
			</dict>
			<key>sb_arrow_grey_blur_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,883},{129,127}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{435,883},{129,127}}</string>
				<key>sourceSize</key>
				<string>{145,145}</string>
			</dict>
			<key>sb_button_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,1},{278,221}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{398,1},{278,221}}</string>
				<key>sourceSize</key>
				<string>{286,221}</string>
			</dict>
			<key>sb_auto_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,281},{212,212}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{398,281},{212,212}}</string>
				<key>sourceSize</key>
				<string>{216,214}</string>
			</dict>
			<key>stroke_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,495},{47,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{398,495},{47,53}}</string>
				<key>sourceSize</key>
				<string>{47,53}</string>
			</dict>
			<key>stroke_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,490},{46,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{629,490},{46,53}}</string>
				<key>sourceSize</key>
				<string>{46,53}</string>
			</dict>
			<key>sb_arrow_grey_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,875},{129,127}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{267,875},{129,127}}</string>
				<key>sourceSize</key>
				<string>{145,145}</string>
			</dict>
			<key>stroke_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,461},{27,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{612,461},{27,53}}</string>
				<key>sourceSize</key>
				<string>{27,53}</string>
			</dict>
			<key>stroke_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,235},{42,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{676,235},{42,53}}</string>
				<key>sourceSize</key>
				<string>{42,53}</string>
			</dict>
			<key>stroke_9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,412},{41,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{667,412},{41,53}}</string>
				<key>sourceSize</key>
				<string>{41,53}</string>
			</dict>
			<key>stroke_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,545},{39,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{629,545},{39,53}}</string>
				<key>sourceSize</key>
				<string>{39,53}</string>
			</dict>
			<key>stroke_8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,544},{43,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{398,544},{43,53}}</string>
				<key>sourceSize</key>
				<string>{43,53}</string>
			</dict>
			<key>sb_arrow_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,281},{129,127}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{612,281},{129,127}}</string>
				<key>sourceSize</key>
				<string>{145,145}</string>
			</dict>
			<key>stroke_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,235},{42,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{621,235},{42,53}}</string>
				<key>sourceSize</key>
				<string>{42,53}</string>
			</dict>
			<key>sb_arrow_blur_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,875},{129,127}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{136,875},{129,127}}</string>
				<key>sourceSize</key>
				<string>{145,145}</string>
			</dict>
			<key>yellow_8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,655},{35,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{629,655},{35,53}}</string>
				<key>sourceSize</key>
				<string>{35,53}</string>
			</dict>
			<key>stroke_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,412},{47,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{612,412},{47,53}}</string>
				<key>sourceSize</key>
				<string>{47,53}</string>
			</dict>
			<key>yellow_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,890},{32,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{705,890},{32,50}}</string>
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>
			<key>stroke_decimal_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,467},{21,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{667,467},{21,24}}</string>
				<key>sourceSize</key>
				<string>{21,24}</string>
			</dict>
			<key>red_9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,875},{35,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{398,875},{35,51}}</string>
				<key>sourceSize</key>
				<string>{35,51}</string>
			</dict>
			<key>stroke_comma_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,550},{24,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{453,550},{24,23}}</string>
				<key>sourceSize</key>
				<string>{24,23}</string>
			</dict>
			<key>stroke_6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,495},{39,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{453,495},{39,53}}</string>
				<key>sourceSize</key>
				<string>{39,53}</string>
			</dict>
			<key>red_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,490},{38,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{677,490},{38,51}}</string>
				<key>sourceSize</key>
				<string>{38,51}</string>
			</dict>
			<key>ui_reel_tint_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{588,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{588,395}}</string>
				<key>sourceSize</key>
				<string>{588,395}</string>
			</dict>
			<key>stroke_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,495},{47,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{398,495},{47,53}}</string>
				<key>sourceSize</key>
				<string>{47,53}</string>
			</dict>
			<key>stroke_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,490},{46,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{629,490},{46,53}}</string>
				<key>sourceSize</key>
				<string>{46,53}</string>
			</dict>
			<key>yellow_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,640},{38,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{684,640},{38,51}}</string>
				<key>sourceSize</key>
				<string>{38,51}</string>
			</dict>
			<key>stroke_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,461},{27,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{612,461},{27,53}}</string>
				<key>sourceSize</key>
				<string>{27,53}</string>
			</dict>
			<key>red_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,731},{37,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{632,731},{37,52}}</string>
				<key>sourceSize</key>
				<string>{37,52}</string>
			</dict>
			<key>stroke_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,235},{42,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{676,235},{42,53}}</string>
				<key>sourceSize</key>
				<string>{42,53}</string>
			</dict>
			<key>red_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,785},{32,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{671,785},{32,52}}</string>
				<key>sourceSize</key>
				<string>{32,52}</string>
			</dict>
			<key>stroke_9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,412},{41,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{667,412},{41,53}}</string>
				<key>sourceSize</key>
				<string>{41,53}</string>
			</dict>
			<key>red_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,412},{25,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{710,412},{25,51}}</string>
				<key>sourceSize</key>
				<string>{25,51}</string>
			</dict>
			<key>red_8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,600},{35,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{629,600},{35,53}}</string>
				<key>sourceSize</key>
				<string>{35,53}</string>
			</dict>
			<key>yellow_9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,928},{35,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{398,928},{35,51}}</string>
				<key>sourceSize</key>
				<string>{35,51}</string>
			</dict>
			<key>stroke_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,545},{39,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{629,545},{39,53}}</string>
				<key>sourceSize</key>
				<string>{39,53}</string>
			</dict>
			<key>yellow_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,839},{32,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{671,839},{32,52}}</string>
				<key>sourceSize</key>
				<string>{32,52}</string>
			</dict>
			<key>yellow_6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,545},{38,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{670,545},{38,52}}</string>
				<key>sourceSize</key>
				<string>{38,52}</string>
			</dict>
			<key>yellow_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,839},{37,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{632,839},{37,52}}</string>
				<key>sourceSize</key>
				<string>{37,52}</string>
			</dict>
			<key>red_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,731},{36,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{671,731},{36,52}}</string>
				<key>sourceSize</key>
				<string>{36,52}</string>
			</dict>
			<key>yellow_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,692},{36,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{683,692},{36,52}}</string>
				<key>sourceSize</key>
				<string>{36,52}</string>
			</dict>
			<key>bg_payline_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,883},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{566,883},{43,43}}</string>
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>
			<key>stroke_8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,544},{43,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{398,544},{43,53}}</string>
				<key>sourceSize</key>
				<string>{43,53}</string>
			</dict>
			<key>yellow_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,785},{37,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{632,785},{37,52}}</string>
				<key>sourceSize</key>
				<string>{37,52}</string>
			</dict>
			<key>stroke_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{621,235},{42,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{621,235},{42,53}}</string>
				<key>sourceSize</key>
				<string>{42,53}</string>
			</dict>
			<key>red_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,838},{32,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{705,838},{32,50}}</string>
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>
			<key>yellow_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,785},{25,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{705,785},{25,51}}</string>
				<key>sourceSize</key>
				<string>{25,51}</string>
			</dict>
			<key>red_6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{666,600},{38,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{666,600},{38,52}}</string>
				<key>sourceSize</key>
				<string>{38,52}</string>
			</dict>
			<key>red_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,692},{37,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{629,692},{37,52}}</string>
				<key>sourceSize</key>
				<string>{37,52}</string>
			</dict>
			<key>yellow_8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,655},{35,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{629,655},{35,53}}</string>
				<key>sourceSize</key>
				<string>{35,53}</string>
			</dict>
			<key>yellow_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,890},{32,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{705,890},{32,50}}</string>
				<key>sourceSize</key>
				<string>{32,50}</string>
			</dict>
			<key>ui_reel_tint_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{588,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{588,395}}</string>
				<key>sourceSize</key>
				<string>{588,395}</string>
			</dict>
			<key>yellow_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,640},{38,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{684,640},{38,51}}</string>
				<key>sourceSize</key>
				<string>{38,51}</string>
			</dict>
			<key>yellow_9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,928},{35,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{398,928},{35,51}}</string>
				<key>sourceSize</key>
				<string>{35,51}</string>
			</dict>
			<key>yellow_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,839},{32,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{671,839},{32,52}}</string>
				<key>sourceSize</key>
				<string>{32,52}</string>
			</dict>
			<key>yellow_6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,545},{38,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{670,545},{38,52}}</string>
				<key>sourceSize</key>
				<string>{38,52}</string>
			</dict>
			<key>yellow_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,839},{37,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{632,839},{37,52}}</string>
				<key>sourceSize</key>
				<string>{37,52}</string>
			</dict>
			<key>red_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,731},{36,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{671,731},{36,52}}</string>
				<key>sourceSize</key>
				<string>{36,52}</string>
			</dict>
			<key>yellow_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,692},{36,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{683,692},{36,52}}</string>
				<key>sourceSize</key>
				<string>{36,52}</string>
			</dict>
			<key>yellow_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{632,785},{37,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{632,785},{37,52}}</string>
				<key>sourceSize</key>
				<string>{37,52}</string>
			</dict>
			<key>yellow_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,785},{25,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{705,785},{25,51}}</string>
				<key>sourceSize</key>
				<string>{25,51}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>05737d3a-bcdd-4720-b610-0af59983d821.fb91d.png</string>
			<key>size</key>
			<string>{740,1011}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>05737d3a-bcdd-4720-b610-0af59983d821.fb91d.png</string>
		</dict>
	</dict>
</plist>
