<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ps_circle_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,154},{151,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{156,154},{151,153}}</string>
				<key>sourceSize</key>
				<string>{151,153}</string>
			</dict>
			<key>ps_circle_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,462},{151,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,462},{151,153}}</string>
				<key>sourceSize</key>
				<string>{151,153}</string>
			</dict>
			<key>ps_circle_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,615},{151,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,615},{151,153}}</string>
				<key>sourceSize</key>
				<string>{151,153}</string>
			</dict>
			<key>ps_circle_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,466},{151,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{617,466},{151,153}}</string>
				<key>sourceSize</key>
				<string>{151,153}</string>
			</dict>
			<key>ps_circle_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,462},{151,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{156,462},{151,153}}</string>
				<key>sourceSize</key>
				<string>{151,153}</string>
			</dict>
			<key>ps_circle_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,617},{151,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{309,617},{151,153}}</string>
				<key>sourceSize</key>
				<string>{151,153}</string>
			</dict>
			<key>ps_circle_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,1},{151,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{617,1},{151,153}}</string>
				<key>sourceSize</key>
				<string>{151,153}</string>
			</dict>
			<key>ps_circle_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,156},{151,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,156},{151,153}}</string>
				<key>sourceSize</key>
				<string>{151,153}</string>
			</dict>
			<key>ps_circle_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,1},{151,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{309,1},{151,153}}</string>
				<key>sourceSize</key>
				<string>{151,153}</string>
			</dict>
			<key>ps_circle_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,311},{151,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{617,311},{151,153}}</string>
				<key>sourceSize</key>
				<string>{151,153}</string>
			</dict>
			<key>ps_circle_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,156},{151,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{617,156},{151,153}}</string>
				<key>sourceSize</key>
				<string>{151,153}</string>
			</dict>
			<key>ps_circle_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,619},{151,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{462,619},{151,153}}</string>
				<key>sourceSize</key>
				<string>{151,153}</string>
			</dict>
			<key>ps_circle_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,1},{151,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{154,1},{151,153}}</string>
				<key>sourceSize</key>
				<string>{151,153}</string>
			</dict>
			<key>ps_circle_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{151,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{151,153}}</string>
				<key>sourceSize</key>
				<string>{151,153}</string>
			</dict>
			<key>ps_circle_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,621},{151,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{617,621},{151,153}}</string>
				<key>sourceSize</key>
				<string>{151,153}</string>
			</dict>
			<key>ps_circle_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,462},{151,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{309,462},{151,153}}</string>
				<key>sourceSize</key>
				<string>{151,153}</string>
			</dict>
			<key>ps_circle_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,1},{151,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{464,1},{151,153}}</string>
				<key>sourceSize</key>
				<string>{151,153}</string>
			</dict>
			<key>ps_circle_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,309},{151,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{156,309},{151,153}}</string>
				<key>sourceSize</key>
				<string>{151,153}</string>
			</dict>
			<key>ps_circle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,156},{151,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{464,156},{151,153}}</string>
				<key>sourceSize</key>
				<string>{151,153}</string>
			</dict>
			<key>ps_circle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{464,311},{151,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{464,311},{151,153}}</string>
				<key>sourceSize</key>
				<string>{151,153}</string>
			</dict>
			<key>ps_circle_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,466},{151,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{462,466},{151,153}}</string>
				<key>sourceSize</key>
				<string>{151,153}</string>
			</dict>
			<key>ps_circle_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,309},{151,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,309},{151,153}}</string>
				<key>sourceSize</key>
				<string>{151,153}</string>
			</dict>
			<key>ps_circle_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,617},{151,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{154,617},{151,153}}</string>
				<key>sourceSize</key>
				<string>{151,153}</string>
			</dict>
			<key>ps_circle_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,307},{151,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{311,307},{151,153}}</string>
				<key>sourceSize</key>
				<string>{151,153}</string>
			</dict>
			<key>ps_circle_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,154},{151,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{309,154},{151,153}}</string>
				<key>sourceSize</key>
				<string>{151,153}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>0a1f6d0e-06cb-403a-ae19-058729145445.b246c.jpg</string>
			<key>size</key>
			<string>{773,773}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>0a1f6d0e-06cb-403a-ae19-058729145445.b246c.jpg</string>
		</dict>
	</dict>
</plist>
