<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mf_fastspin_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,1},{302,820}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{913,1},{302,820}}</string>
				<key>sourceSize</key>
				<string>{302,820}</string>
			</dict>
			<key>mf_fastspin_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{302,820}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{302,820}}</string>
				<key>sourceSize</key>
				<string>{302,820}</string>
			</dict>
			<key>mf_fastspin_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,1},{302,820}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{609,1},{302,820}}</string>
				<key>sourceSize</key>
				<string>{302,820}</string>
			</dict>
			<key>mf_fastspin_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,1},{302,820}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{305,1},{302,820}}</string>
				<key>sourceSize</key>
				<string>{302,820}</string>
			</dict>
			<key>mf_fastspin_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1217,1},{302,820}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1217,1},{302,820}}</string>
				<key>sourceSize</key>
				<string>{302,820}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>0ca83c81-31af-4e1f-839e-d816db21427d.81667.jpg</string>
			<key>size</key>
			<string>{1520,822}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>0ca83c81-31af-4e1f-839e-d816db21427d.81667.jpg</string>
		</dict>
	</dict>
</plist>
