<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ps_line_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{20,20},{115,17}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{20,20},{115,17}}</string>
				<key>sourceSize</key>
				<string>{127,27}</string>
			</dict>
			<key>ps_line_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,20},{115,17}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{153,20},{115,17}}</string>
				<key>sourceSize</key>
				<string>{127,27}</string>
			</dict>
			<key>ps_line_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{96,20},{115,17}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{96,20},{115,17}}</string>
				<key>sourceSize</key>
				<string>{127,27}</string>
			</dict>
			<key>ps_line_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,1},{115,17}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{118,1},{115,17}}</string>
				<key>sourceSize</key>
				<string>{127,27}</string>
			</dict>
			<key>ps_line_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,137},{115,17}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{118,137},{115,17}}</string>
				<key>sourceSize</key>
				<string>{127,27}</string>
			</dict>
			<key>ps_line_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,20},{115,17}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,20},{115,17}}</string>
				<key>sourceSize</key>
				<string>{127,27}</string>
			</dict>
			<key>ps_line_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,20},{115,17}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{210,20},{115,17}}</string>
				<key>sourceSize</key>
				<string>{127,27}</string>
			</dict>
			<key>ps_line_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,20},{115,17}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{58,20},{115,17}}</string>
				<key>sourceSize</key>
				<string>{127,27}</string>
			</dict>
			<key>ps_line_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,20},{115,17}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{191,20},{115,17}}</string>
				<key>sourceSize</key>
				<string>{127,27}</string>
			</dict>
			<key>ps_line_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,20},{115,17}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{134,20},{115,17}}</string>
				<key>sourceSize</key>
				<string>{127,27}</string>
			</dict>
			<key>ps_line_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,175},{115,17}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{118,175},{115,17}}</string>
				<key>sourceSize</key>
				<string>{127,27}</string>
			</dict>
			<key>ps_line_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,20},{115,17}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{115,20},{115,17}}</string>
				<key>sourceSize</key>
				<string>{127,27}</string>
			</dict>
			<key>ps_line_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,20},{115,17}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{77,20},{115,17}}</string>
				<key>sourceSize</key>
				<string>{127,27}</string>
			</dict>
			<key>ps_line_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{115,17}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{115,17}}</string>
				<key>sourceSize</key>
				<string>{127,27}</string>
			</dict>
			<key>ps_line_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,156},{115,17}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{118,156},{115,17}}</string>
				<key>sourceSize</key>
				<string>{127,27}</string>
			</dict>
			<key>ps_line_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,137},{115,17}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,137},{115,17}}</string>
				<key>sourceSize</key>
				<string>{127,27}</string>
			</dict>
			<key>ps_line_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,20},{115,17}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{172,20},{115,17}}</string>
				<key>sourceSize</key>
				<string>{127,27}</string>
			</dict>
			<key>ps_line_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,194},{115,17}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,194},{115,17}}</string>
				<key>sourceSize</key>
				<string>{127,27}</string>
			</dict>
			<key>ps_line_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,194},{115,17}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{118,194},{115,17}}</string>
				<key>sourceSize</key>
				<string>{127,27}</string>
			</dict>
			<key>ps_line_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,175},{115,17}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,175},{115,17}}</string>
				<key>sourceSize</key>
				<string>{127,27}</string>
			</dict>
			<key>ps_line_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,156},{115,17}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,156},{115,17}}</string>
				<key>sourceSize</key>
				<string>{127,27}</string>
			</dict>
			<key>ps_line_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,20},{115,17}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{39,20},{115,17}}</string>
				<key>sourceSize</key>
				<string>{127,27}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>17c94c68-7b04-4643-a5a8-6159dc03d200.fab13.jpg</string>
			<key>size</key>
			<string>{234,234}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>17c94c68-7b04-4643-a5a8-6159dc03d200.fab13.jpg</string>
		</dict>
	</dict>
</plist>
