<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mf_fastspin_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{302,820}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{302,820}}</string>
				<key>sourceSize</key>
				<string>{302,820}</string>
			</dict>
			<key>mf_fastspin_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,1},{302,820}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{305,1},{302,820}}</string>
				<key>sourceSize</key>
				<string>{302,820}</string>
			</dict>
			<key>mf_fastspin_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1217,823},{302,820}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1217,823},{302,820}}</string>
				<key>sourceSize</key>
				<string>{302,820}</string>
			</dict>
			<key>mf_fastspin_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1521,1},{302,820}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1521,1},{302,820}}</string>
				<key>sourceSize</key>
				<string>{302,820}</string>
			</dict>
			<key>mf_fastspin_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,1},{302,820}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{609,1},{302,820}}</string>
				<key>sourceSize</key>
				<string>{302,820}</string>
			</dict>
			<key>mf_fastspin_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,823},{302,820}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{913,823},{302,820}}</string>
				<key>sourceSize</key>
				<string>{302,820}</string>
			</dict>
			<key>mf_fastspin_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,823},{302,820}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{305,823},{302,820}}</string>
				<key>sourceSize</key>
				<string>{302,820}</string>
			</dict>
			<key>mf_fastspin_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{913,1},{302,820}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{913,1},{302,820}}</string>
				<key>sourceSize</key>
				<string>{302,820}</string>
			</dict>
			<key>mf_fastspin_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1645},{302,820}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1645},{302,820}}</string>
				<key>sourceSize</key>
				<string>{302,820}</string>
			</dict>
			<key>mf_fastspin_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,823},{302,820}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{609,823},{302,820}}</string>
				<key>sourceSize</key>
				<string>{302,820}</string>
			</dict>
			<key>mf_fastspin_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1521,823},{302,820}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1521,823},{302,820}}</string>
				<key>sourceSize</key>
				<string>{302,820}</string>
			</dict>
			<key>mf_fastspin_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1217,1},{302,820}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1217,1},{302,820}}</string>
				<key>sourceSize</key>
				<string>{302,820}</string>
			</dict>
			<key>mf_fastspin_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,823},{302,820}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,823},{302,820}}</string>
				<key>sourceSize</key>
				<string>{302,820}</string>
			</dict>
			<key>mf_fastspin_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,1645},{302,820}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{823,1645},{302,820}}</string>
				<key>sourceSize</key>
				<string>{302,820}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>25b2fa8c-0be3-451d-9ce8-e07e37fa9438.9bde2.jpg</string>
			<key>size</key>
			<string>{1824,1948}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>25b2fa8c-0be3-451d-9ce8-e07e37fa9438.9bde2.jpg</string>
		</dict>
	</dict>
</plist>
