<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ps_pattern_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,357},{198,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{401,357},{198,176}}</string>
				<key>sourceSize</key>
				<string>{202,180}</string>
			</dict>
			<key>ps_pattern_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,179},{198,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{601,179},{198,176}}</string>
				<key>sourceSize</key>
				<string>{202,180}</string>
			</dict>
			<key>ps_pattern_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,535},{198,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{201,535},{198,176}}</string>
				<key>sourceSize</key>
				<string>{202,180}</string>
			</dict>
			<key>ps_pattern_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,1},{198,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{201,1},{198,176}}</string>
				<key>sourceSize</key>
				<string>{202,180}</string>
			</dict>
			<key>ps_pattern_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,357},{198,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{201,357},{198,176}}</string>
				<key>sourceSize</key>
				<string>{202,180}</string>
			</dict>
			<key>ps_pattern_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,179},{198,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{201,179},{198,176}}</string>
				<key>sourceSize</key>
				<string>{202,180}</string>
			</dict>
			<key>ps_pattern_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,713},{198,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,713},{198,176}}</string>
				<key>sourceSize</key>
				<string>{202,180}</string>
			</dict>
			<key>ps_pattern_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,179},{198,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,179},{198,176}}</string>
				<key>sourceSize</key>
				<string>{202,180}</string>
			</dict>
			<key>ps_pattern_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,357},{198,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{601,357},{198,176}}</string>
				<key>sourceSize</key>
				<string>{202,180}</string>
			</dict>
			<key>ps_pattern_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,1},{198,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{601,1},{198,176}}</string>
				<key>sourceSize</key>
				<string>{202,180}</string>
			</dict>
			<key>ps_pattern_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,1},{198,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{401,1},{198,176}}</string>
				<key>sourceSize</key>
				<string>{202,180}</string>
			</dict>
			<key>ps_pattern_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,535},{198,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{601,535},{198,176}}</string>
				<key>sourceSize</key>
				<string>{202,180}</string>
			</dict>
			<key>ps_pattern_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,535},{198,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,535},{198,176}}</string>
				<key>sourceSize</key>
				<string>{202,180}</string>
			</dict>
			<key>ps_pattern_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,179},{198,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{401,179},{198,176}}</string>
				<key>sourceSize</key>
				<string>{202,180}</string>
			</dict>
			<key>ps_pattern_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{198,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{198,176}}</string>
				<key>sourceSize</key>
				<string>{202,180}</string>
			</dict>
			<key>ps_pattern_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,713},{198,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{201,713},{198,176}}</string>
				<key>sourceSize</key>
				<string>{202,180}</string>
			</dict>
			<key>ps_pattern_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,357},{198,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,357},{198,176}}</string>
				<key>sourceSize</key>
				<string>{202,180}</string>
			</dict>
			<key>ps_pattern_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,535},{198,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{401,535},{198,176}}</string>
				<key>sourceSize</key>
				<string>{202,180}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>4a00b46b-4218-4733-abec-742a73a16799.3c5bf.jpg</string>
			<key>size</key>
			<string>{890,890}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>4a00b46b-4218-4733-abec-742a73a16799.3c5bf.jpg</string>
		</dict>
	</dict>
</plist>
