<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mf_mtp_coin_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1033,1367},{98,106}}</string>
				<key>offset</key>
				<string>{8,31}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1033,1367},{98,106}}</string>
				<key>sourceSize</key>
				<string>{610,576}</string>
			</dict>
			<key>mf_mtp_coin_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{568,540}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{568,540}}</string>
				<key>sourceSize</key>
				<string>{610,576}</string>
			</dict>
			<key>mf_mtp_coin_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,571},{554,530}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{539,571},{554,530}}</string>
				<key>sourceSize</key>
				<string>{610,576}</string>
			</dict>
			<key>mf_mtp_coin_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1495,1},{546,518}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1495,1},{546,518}}</string>
				<key>sourceSize</key>
				<string>{610,576}</string>
			</dict>
			<key>mf_mtp_coin_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,1677},{186,186}}</string>
				<key>offset</key>
				<string>{10,22}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{605,1677},{186,186}}</string>
				<key>sourceSize</key>
				<string>{610,576}</string>
			</dict>
			<key>mf_mtp_coin_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,1975},{3,3}}</string>
				<key>offset</key>
				<string>{-303,286}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{345,1975},{3,3}}</string>
				<key>sourceSize</key>
				<string>{610,576}</string>
			</dict>
			<key>mf_mtp_coin_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,571},{566,536}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,571},{566,536}}</string>
				<key>sourceSize</key>
				<string>{610,576}</string>
			</dict>
			<key>mf_mtp_coin_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1039,1},{454,550}}</string>
				<key>offset</key>
				<string>{-68,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1039,1},{454,550}}</string>
				<key>sourceSize</key>
				<string>{610,576}</string>
			</dict>
			<key>mf_mtp_coin_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,1127},{492,548}}</string>
				<key>offset</key>
				<string>{-47,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{539,1127},{492,548}}</string>
				<key>sourceSize</key>
				<string>{610,576}</string>
			</dict>
			<key>mf_mtp_coin_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1465,1009},{534,508}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1465,1009},{534,508}}</string>
				<key>sourceSize</key>
				<string>{610,576}</string>
			</dict>
			<key>mf_mtp_coin_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1701},{342,316}}</string>
				<key>offset</key>
				<string>{13,18}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1701},{342,316}}</string>
				<key>sourceSize</key>
				<string>{610,576}</string>
			</dict>
			<key>mf_mtp_coin_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1071,553},{446,398}}</string>
				<key>offset</key>
				<string>{18,11}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1071,553},{446,398}}</string>
				<key>sourceSize</key>
				<string>{610,576}</string>
			</dict>
			<key>mf_mtp_coin_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1033,1519},{518,496}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1033,1519},{518,496}}</string>
				<key>sourceSize</key>
				<string>{610,576}</string>
			</dict>
			<key>mf_mtp_coin_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1495,521},{486,546}}</string>
				<key>offset</key>
				<string>{-46,-3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1495,521},{486,546}}</string>
				<key>sourceSize</key>
				<string>{610,576}</string>
			</dict>
			<key>mf_mtp_coin_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1553,1519},{496,486}}</string>
				<key>offset</key>
				<string>{-2,5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1553,1519},{496,486}}</string>
				<key>sourceSize</key>
				<string>{610,576}</string>
			</dict>
			<key>mf_mtp_coin_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,1701},{272,258}}</string>
				<key>offset</key>
				<string>{12,19}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{345,1701},{272,258}}</string>
				<key>sourceSize</key>
				<string>{610,576}</string>
			</dict>
			<key>mf_mtp_coin_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,1},{494,550}}</string>
				<key>offset</key>
				<string>{-48,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{543,1},{494,550}}</string>
				<key>sourceSize</key>
				<string>{610,576}</string>
			</dict>
			<key>mf_mtp_coin_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1139},{560,536}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1139},{560,536}}</string>
				<key>sourceSize</key>
				<string>{610,576}</string>
			</dict>
			<key>mf_mtp_coin_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1071,1001},{392,364}}</string>
				<key>offset</key>
				<string>{16,16}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1071,1001},{392,364}}</string>
				<key>sourceSize</key>
				<string>{610,576}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>56ddd818-73d8-464a-84fe-163509ba5379.3f342.jpg</string>
			<key>size</key>
			<string>{2042,2018}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>56ddd818-73d8-464a-84fe-163509ba5379.3f342.jpg</string>
		</dict>
	</dict>
</plist>
