<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sb_auto_sweep_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,198},{204,195}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{207,198},{204,195}}</string>
				<key>sourceSize</key>
				<string>{214,203}</string>
			</dict>
			<key>sb_auto_sweep_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,395},{204,195}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{207,395},{204,195}}</string>
				<key>sourceSize</key>
				<string>{214,203}</string>
			</dict>
			<key>sb_auto_sweep_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{204,195}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{204,195}}</string>
				<key>sourceSize</key>
				<string>{214,203}</string>
			</dict>
			<key>sb_auto_sweep_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,1},{204,195}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{207,1},{204,195}}</string>
				<key>sourceSize</key>
				<string>{214,203}</string>
			</dict>
			<key>sb_auto_sweep_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,592},{204,195}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,592},{204,195}}</string>
				<key>sourceSize</key>
				<string>{214,203}</string>
			</dict>
			<key>sb_auto_sweep_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,592},{204,195}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{413,592},{204,195}}</string>
				<key>sourceSize</key>
				<string>{214,203}</string>
			</dict>
			<key>sb_auto_sweep_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,395},{204,195}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,395},{204,195}}</string>
				<key>sourceSize</key>
				<string>{214,203}</string>
			</dict>
			<key>sb_auto_sweep_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,198},{204,195}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{413,198},{204,195}}</string>
				<key>sourceSize</key>
				<string>{214,203}</string>
			</dict>
			<key>sb_auto_sweep_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,592},{204,195}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{207,592},{204,195}}</string>
				<key>sourceSize</key>
				<string>{214,203}</string>
			</dict>
			<key>sb_auto_sweep_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,198},{204,195}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,198},{204,195}}</string>
				<key>sourceSize</key>
				<string>{214,203}</string>
			</dict>
			<key>sb_auto_sweep_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,1},{204,195}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{413,1},{204,195}}</string>
				<key>sourceSize</key>
				<string>{214,203}</string>
			</dict>
			<key>sb_auto_sweep_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,395},{204,195}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{413,395},{204,195}}</string>
				<key>sourceSize</key>
				<string>{214,203}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>57cacd3c-4b47-4fba-a709-6ff26e485366.0aa03.jpg</string>
			<key>size</key>
			<string>{788,788}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>57cacd3c-4b47-4fba-a709-6ff26e485366.0aa03.jpg</string>
		</dict>
	</dict>
</plist>
