<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ib_bar_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{738,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{738,94}}</string>
				<key>sourceSize</key>
				<string>{738,94}</string>
			</dict>
			<key>ib_bar_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,195},{756,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,195},{756,134}}</string>
				<key>sourceSize</key>
				<string>{756,134}</string>
			</dict>
			<key>ib_bar_a_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,1},{96,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{741,1},{96,95}}</string>
				<key>sourceSize</key>
				<string>{96,95}</string>
			</dict>
			<key>ib_bar_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,98},{754,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,98},{754,95}}</string>
				<key>sourceSize</key>
				<string>{754,95}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>5fe10df1-bf2b-415f-b621-73fcd1010116.6578c.png</string>
			<key>size</key>
			<string>{838,330}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>5fe10df1-bf2b-415f-b621-73fcd1010116.6578c.png</string>
		</dict>
	</dict>
</plist>
