<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mf_reel_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,1106},{192,489}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{308,1106},{192,489}}</string>
				<key>sourceSize</key>
				<string>{192,489}</string>
			</dict>
			<key>mf_side_glow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,716},{305,799}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,716},{305,799}}</string>
				<key>sourceSize</key>
				<string>{305,799}</string>
			</dict>
			<key>ps_back_glow.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,1106},{226,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{502,1106},{226,204}}</string>
				<key>sourceSize</key>
				<string>{226,204}</string>
			</dict>
			<key>mf_text_shine.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,369},{756,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,369},{756,345}}</string>
				<key>sourceSize</key>
				<string>{756,345}</string>
			</dict>
			<key>ps_back_glow_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,1106},{226,204}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{502,1106},{226,204}}</string>
				<key>sourceSize</key>
				<string>{226,204}</string>
			</dict>
			<key>wc_shine.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,716},{389,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{308,716},{389,388}}</string>
				<key>sourceSize</key>
				<string>{389,388}</string>
			</dict>
			<key>mf_reel_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,1106},{192,489}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{308,1106},{192,489}}</string>
				<key>sourceSize</key>
				<string>{192,489}</string>
			</dict>
			<key>mf_side_glow_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,716},{305,799}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,716},{305,799}}</string>
				<key>sourceSize</key>
				<string>{305,799}</string>
			</dict>
			<key>mf_text_shine_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,369},{756,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,369},{756,345}}</string>
				<key>sourceSize</key>
				<string>{756,345}</string>
			</dict>
			<key>mf_btm_glow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{756,366}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{756,366}}</string>
				<key>sourceSize</key>
				<string>{756,366}</string>
			</dict>
			<key>mf_text_shine_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,369},{756,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,369},{756,345}}</string>
				<key>sourceSize</key>
				<string>{756,345}</string>
			</dict>
			<key>mf_text_shine_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,369},{756,345}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,369},{756,345}}</string>
				<key>sourceSize</key>
				<string>{756,345}</string>
			</dict>
			<key>mf_btm_glow_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{756,366}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{756,366}}</string>
				<key>sourceSize</key>
				<string>{756,366}</string>
			</dict>
			<key>wc_shine_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{308,716},{389,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{308,716},{389,388}}</string>
				<key>sourceSize</key>
				<string>{389,388}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>698d7d77-c596-4972-8356-d9a61584d21c.022de.jpg</string>
			<key>size</key>
			<string>{758,1596}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>698d7d77-c596-4972-8356-d9a61584d21c.022de.jpg</string>
		</dict>
	</dict>
</plist>
