<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sb_pattern_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,474},{279,184}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{450,474},{279,184}}</string>
				<key>sourceSize</key>
				<string>{295,184}</string>
			</dict>
			<key>sb_pattern_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,187},{293,184}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,187},{293,184}}</string>
				<key>sourceSize</key>
				<string>{295,184}</string>
			</dict>
			<key>sb_pattern_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{295,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{295,184}}</string>
				<key>sourceSize</key>
				<string>{295,184}</string>
			</dict>
			<key>sb_pattern_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,482},{199,154}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,482},{199,154}}</string>
				<key>sourceSize</key>
				<string>{295,184}</string>
			</dict>
			<key>sb_pattern_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,482},{291,184}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{157,482},{291,184}}</string>
				<key>sourceSize</key>
				<string>{295,184}</string>
			</dict>
			<key>sb_pattern_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,187},{283,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{559,187},{283,184}}</string>
				<key>sourceSize</key>
				<string>{295,184}</string>
			</dict>
			<key>sb_pattern_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,187},{287,184}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{187,187},{287,184}}</string>
				<key>sourceSize</key>
				<string>{295,184}</string>
			</dict>
			<key>sb_pattern_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{298,1},{295,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{298,1},{295,184}}</string>
				<key>sourceSize</key>
				<string>{295,184}</string>
			</dict>
			<key>sb_pattern_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,187},{285,184}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{373,187},{285,184}}</string>
				<key>sourceSize</key>
				<string>{295,184}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>723ed5af-bc50-43d0-bc6d-5f453901d2d1.8b644.jpg</string>
			<key>size</key>
			<string>{744,744}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>723ed5af-bc50-43d0-bc6d-5f453901d2d1.8b644.jpg</string>
		</dict>
	</dict>
</plist>
