<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ib_num_particle_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,481},{478,226}}</string>
				<key>offset</key>
				<string>{-11,5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{229,481},{478,226}}</string>
				<key>sourceSize</key>
				<string>{510,284}</string>
			</dict>
			<key>ib_num_particle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,1},{476,224}}</string>
				<key>offset</key>
				<string>{-12,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{459,1},{476,224}}</string>
				<key>sourceSize</key>
				<string>{510,284}</string>
			</dict>
			<key>ib_num_particle_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,479},{474,194}}</string>
				<key>offset</key>
				<string>{-13,23}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{881,479},{474,194}}</string>
				<key>sourceSize</key>
				<string>{510,284}</string>
			</dict>
			<key>ib_num_particle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,481},{476,226}}</string>
				<key>offset</key>
				<string>{-11,5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{457,481},{476,226}}</string>
				<key>sourceSize</key>
				<string>{510,284}</string>
			</dict>
			<key>ib_num_particle_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,957},{344,72}}</string>
				<key>offset</key>
				<string>{-26,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{849,957},{344,72}}</string>
				<key>sourceSize</key>
				<string>{510,284}</string>
			</dict>
			<key>ib_num_particle_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,961},{376,108}}</string>
				<key>offset</key>
				<string>{-23,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,961},{376,108}}</string>
				<key>sourceSize</key>
				<string>{510,284}</string>
			</dict>
			<key>ib_num_particle_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1301,473},{466,212}}</string>
				<key>offset</key>
				<string>{-13,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1301,473},{466,212}}</string>
				<key>sourceSize</key>
				<string>{510,284}</string>
			</dict>
			<key>ib_num_particle_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,479},{476,194}}</string>
				<key>offset</key>
				<string>{-13,23}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{685,479},{476,194}}</string>
				<key>sourceSize</key>
				<string>{510,284}</string>
			</dict>
			<key>ib_num_particle_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1519,407},{440,184}}</string>
				<key>offset</key>
				<string>{-16,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1519,407},{440,184}}</string>
				<key>sourceSize</key>
				<string>{510,284}</string>
			</dict>
			<key>ib_num_particle_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{911,1},{474,192}}</string>
				<key>offset</key>
				<string>{-14,22}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{911,1},{474,192}}</string>
				<key>sourceSize</key>
				<string>{510,284}</string>
			</dict>
			<key>ib_num_particle_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,481},{478,226}}</string>
				<key>offset</key>
				<string>{-11,5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,481},{478,226}}</string>
				<key>sourceSize</key>
				<string>{510,284}</string>
			</dict>
			<key>ib_num_particle_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1105,1},{472,192}}</string>
				<key>offset</key>
				<string>{-15,22}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1105,1},{472,192}}</string>
				<key>sourceSize</key>
				<string>{510,284}</string>
			</dict>
			<key>ib_num_particle_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1515,593},{424,164}}</string>
				<key>offset</key>
				<string>{-18,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1515,593},{424,164}}</string>
				<key>sourceSize</key>
				<string>{510,284}</string>
			</dict>
			<key>ib_num_particle_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,1},{476,224}}</string>
				<key>offset</key>
				<string>{-12,8}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{685,1},{476,224}}</string>
				<key>sourceSize</key>
				<string>{510,284}</string>
			</dict>
			<key>ib_num_particle_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,1},{478,226}}</string>
				<key>offset</key>
				<string>{-12,7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{231,1},{478,226}}</string>
				<key>sourceSize</key>
				<string>{510,284}</string>
			</dict>
			<key>ib_num_particle_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1519,209},{452,196}}</string>
				<key>offset</key>
				<string>{-14,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1519,209},{452,196}}</string>
				<key>sourceSize</key>
				<string>{510,284}</string>
			</dict>
			<key>ib_num_particle_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1515,759},{402,140}}</string>
				<key>offset</key>
				<string>{-20,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1515,759},{402,140}}</string>
				<key>sourceSize</key>
				<string>{510,284}</string>
			</dict>
			<key>ib_num_particle_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1519,1},{460,206}}</string>
				<key>offset</key>
				<string>{-14,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1519,1},{460,206}}</string>
				<key>sourceSize</key>
				<string>{510,284}</string>
			</dict>
			<key>ib_num_particle_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1299,1},{470,218}}</string>
				<key>offset</key>
				<string>{-12,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1299,1},{470,218}}</string>
				<key>sourceSize</key>
				<string>{510,284}</string>
			</dict>
			<key>ib_num_particle_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1195,951},{468,142}}</string>
				<key>offset</key>
				<string>{-17,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1195,951},{468,142}}</string>
				<key>sourceSize</key>
				<string>{510,284}</string>
			</dict>
			<key>ib_num_particle_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{478,228}}</string>
				<key>offset</key>
				<string>{-12,6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{478,228}}</string>
				<key>sourceSize</key>
				<string>{510,284}</string>
			</dict>
			<key>ib_num_particle_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1077,477},{472,222}}</string>
				<key>offset</key>
				<string>{-11,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1077,477},{472,222}}</string>
				<key>sourceSize</key>
				<string>{510,284}</string>
			</dict>
			<key>ib_num_particle_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{379,961},{468,106}}</string>
				<key>offset</key>
				<string>{-18,16}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{379,961},{468,106}}</string>
				<key>sourceSize</key>
				<string>{510,284}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>7d1514ec-c76a-40dc-8225-72fd32714e86.b4aca.jpg</string>
			<key>size</key>
			<string>{1980,1094}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>7d1514ec-c76a-40dc-8225-72fd32714e86.b4aca.jpg</string>
		</dict>
	</dict>
</plist>
