<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mf_reel_glow_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,600},{319,597}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{643,600},{319,597}}</string>
				<key>sourceSize</key>
				<string>{319,597}</string>
			</dict>
			<key>mf_reel_glow_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1199},{319,597}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1199},{319,597}}</string>
				<key>sourceSize</key>
				<string>{319,597}</string>
			</dict>
			<key>mf_reel_glow_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1199},{319,597}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{643,1199},{319,597}}</string>
				<key>sourceSize</key>
				<string>{319,597}</string>
			</dict>
			<key>mf_reel_glow_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,1199},{319,597}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{964,1199},{319,597}}</string>
				<key>sourceSize</key>
				<string>{319,597}</string>
			</dict>
			<key>mf_reel_glow_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1606,1199},{319,597}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1606,1199},{319,597}}</string>
				<key>sourceSize</key>
				<string>{319,597}</string>
			</dict>
			<key>mf_reel_glow_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,600},{319,597}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,600},{319,597}}</string>
				<key>sourceSize</key>
				<string>{319,597}</string>
			</dict>
			<key>mf_reel_glow_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,1199},{319,597}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{322,1199},{319,597}}</string>
				<key>sourceSize</key>
				<string>{319,597}</string>
			</dict>
			<key>mf_reel_glow_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,1},{319,597}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{322,1},{319,597}}</string>
				<key>sourceSize</key>
				<string>{319,597}</string>
			</dict>
			<key>mf_reel_glow_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1285,1199},{319,597}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1285,1199},{319,597}}</string>
				<key>sourceSize</key>
				<string>{319,597}</string>
			</dict>
			<key>mf_reel_glow_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1606,1},{319,597}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1606,1},{319,597}}</string>
				<key>sourceSize</key>
				<string>{319,597}</string>
			</dict>
			<key>mf_reel_glow_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1285,1},{319,597}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1285,1},{319,597}}</string>
				<key>sourceSize</key>
				<string>{319,597}</string>
			</dict>
			<key>mf_reel_glow_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,1},{319,597}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{964,1},{319,597}}</string>
				<key>sourceSize</key>
				<string>{319,597}</string>
			</dict>
			<key>mf_reel_glow_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{319,597}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{319,597}}</string>
				<key>sourceSize</key>
				<string>{319,597}</string>
			</dict>
			<key>mf_reel_glow_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,1},{319,597}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{643,1},{319,597}}</string>
				<key>sourceSize</key>
				<string>{319,597}</string>
			</dict>
			<key>mf_reel_glow_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,600},{319,597}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{322,600},{319,597}}</string>
				<key>sourceSize</key>
				<string>{319,597}</string>
			</dict>
			<key>mf_reel_glow_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1606,600},{319,597}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1606,600},{319,597}}</string>
				<key>sourceSize</key>
				<string>{319,597}</string>
			</dict>
			<key>mf_reel_glow_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1285,600},{319,597}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1285,600},{319,597}}</string>
				<key>sourceSize</key>
				<string>{319,597}</string>
			</dict>
			<key>mf_reel_glow_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{964,600},{319,597}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{964,600},{319,597}}</string>
				<key>sourceSize</key>
				<string>{319,597}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>82a2561a-656b-4bde-aeae-f7189e9694dc.1410e.jpg</string>
			<key>size</key>
			<string>{1926,1797}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>82a2561a-656b-4bde-aeae-f7189e9694dc.1410e.jpg</string>
		</dict>
	</dict>
</plist>
