<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bw_firework_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,493},{480,505}}</string>
				<key>offset</key>
				<string>{8,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1009,493},{480,505}}</string>
				<key>sourceSize</key>
				<string>{540,527}</string>
			</dict>
			<key>bw_firework_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,1},{506,511}}</string>
				<key>offset</key>
				<string>{9,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{501,1},{506,511}}</string>
				<key>sourceSize</key>
				<string>{540,527}</string>
			</dict>
			<key>bw_firework_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,514},{3,3}}</string>
				<key>offset</key>
				<string>{-268,262}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1004,514},{3,3}}</string>
				<key>sourceSize</key>
				<string>{540,527}</string>
			</dict>
			<key>bw_firework_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,514},{460,501}}</string>
				<key>offset</key>
				<string>{-19,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{501,514},{460,501}}</string>
				<key>sourceSize</key>
				<string>{540,527}</string>
			</dict>
			<key>bw_firework_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,524},{496,519}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,524},{496,519}}</string>
				<key>sourceSize</key>
				<string>{540,527}</string>
			</dict>
			<key>bw_firework_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1516,508},{500,501}}</string>
				<key>offset</key>
				<string>{1,6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1516,508},{500,501}}</string>
				<key>sourceSize</key>
				<string>{540,527}</string>
			</dict>
			<key>bw_firework_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1812,1671},{110,121}}</string>
				<key>offset</key>
				<string>{16,17}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1812,1671},{110,121}}</string>
				<key>sourceSize</key>
				<string>{540,527}</string>
			</dict>
			<key>bw_firework_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1562},{404,495}}</string>
				<key>offset</key>
				<string>{10,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1562},{404,495}}</string>
				<key>sourceSize</key>
				<string>{540,527}</string>
			</dict>
			<key>bw_firework_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,975},{404,475}}</string>
				<key>offset</key>
				<string>{10,-13}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1004,975},{404,475}}</string>
				<key>sourceSize</key>
				<string>{540,527}</string>
			</dict>
			<key>bw_firework_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1812,1456},{210,213}}</string>
				<key>offset</key>
				<string>{16,16}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1812,1456},{210,213}}</string>
				<key>sourceSize</key>
				<string>{540,527}</string>
			</dict>
			<key>bw_firework_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{498,1440},{466,489}}</string>
				<key>offset</key>
				<string>{8,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{498,1440},{466,489}}</string>
				<key>sourceSize</key>
				<string>{540,527}</string>
			</dict>
			<key>bw_firework_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1045},{494,515}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1045},{494,515}}</string>
				<key>sourceSize</key>
				<string>{540,527}</string>
			</dict>
			<key>bw_firework_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1386,1456},{424,437}}</string>
				<key>offset</key>
				<string>{7,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1386,1456},{424,437}}</string>
				<key>sourceSize</key>
				<string>{540,527}</string>
			</dict>
			<key>bw_firework_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,976},{462,495}}</string>
				<key>offset</key>
				<string>{-19,5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{499,976},{462,495}}</string>
				<key>sourceSize</key>
				<string>{540,527}</string>
			</dict>
			<key>bw_firework_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,1440},{418,495}}</string>
				<key>offset</key>
				<string>{3,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{966,1440},{418,495}}</string>
				<key>sourceSize</key>
				<string>{540,527}</string>
			</dict>
			<key>bw_firework_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{498,521}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{498,521}}</string>
				<key>sourceSize</key>
				<string>{540,527}</string>
			</dict>
			<key>bw_firework_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1481,1010},{444,465}}</string>
				<key>offset</key>
				<string>{9,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1481,1010},{444,465}}</string>
				<key>sourceSize</key>
				<string>{540,527}</string>
			</dict>
			<key>bw_firework_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1530,1},{498,505}}</string>
				<key>offset</key>
				<string>{9,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1530,1},{498,505}}</string>
				<key>sourceSize</key>
				<string>{540,527}</string>
			</dict>
			<key>bw_firework_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,1},{490,519}}</string>
				<key>offset</key>
				<string>{9,-4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1009,1},{490,519}}</string>
				<key>sourceSize</key>
				<string>{540,527}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>8932ec24-6a13-4b64-a4cf-65d3a41193da.a5f69.jpg</string>
			<key>size</key>
			<string>{2029,1967}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>8932ec24-6a13-4b64-a4cf-65d3a41193da.a5f69.jpg</string>
		</dict>
	</dict>
</plist>
