<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ib_coin_a_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,710},{667,97}}</string>
				<key>offset</key>
				<string>{18,-13}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,710},{667,97}}</string>
				<key>sourceSize</key>
				<string>{753,125}</string>
			</dict>
			<key>ib_coin_a_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,304},{669,97}}</string>
				<key>offset</key>
				<string>{14,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,304},{669,97}}</string>
				<key>sourceSize</key>
				<string>{753,125}</string>
			</dict>
			<key>ib_coin_a_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,710},{661,85}}</string>
				<key>offset</key>
				<string>{16,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{300,710},{661,85}}</string>
				<key>sourceSize</key>
				<string>{753,125}</string>
			</dict>
			<key>ib_coin_a_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,609},{667,99}}</string>
				<key>offset</key>
				<string>{18,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,609},{667,99}}</string>
				<key>sourceSize</key>
				<string>{753,125}</string>
			</dict>
			<key>ib_coin_a_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{671,99}}</string>
				<key>offset</key>
				<string>{12,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{671,99}}</string>
				<key>sourceSize</key>
				<string>{753,125}</string>
			</dict>
			<key>ib_coin_a_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,710},{663,99}}</string>
				<key>offset</key>
				<string>{15,-12}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{100,710},{663,99}}</string>
				<key>sourceSize</key>
				<string>{753,125}</string>
			</dict>
			<key>ib_coin_a_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,203},{669,99}}</string>
				<key>offset</key>
				<string>{14,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,203},{669,99}}</string>
				<key>sourceSize</key>
				<string>{753,125}</string>
			</dict>
			<key>ib_coin_a_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,1238},{655,65}}</string>
				<key>offset</key>
				<string>{17,-29}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{300,1238},{655,65}}</string>
				<key>sourceSize</key>
				<string>{753,125}</string>
			</dict>
			<key>ib_coin_a_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,403},{667,101}}</string>
				<key>offset</key>
				<string>{14,-11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,403},{667,101}}</string>
				<key>sourceSize</key>
				<string>{753,125}</string>
			</dict>
			<key>ib_coin_a_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,1145},{655,91}}</string>
				<key>offset</key>
				<string>{18,-16}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{300,1145},{655,91}}</string>
				<key>sourceSize</key>
				<string>{753,125}</string>
			</dict>
			<key>ib_coin_a_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,1050},{655,93}}</string>
				<key>offset</key>
				<string>{15,-15}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{300,1050},{655,93}}</string>
				<key>sourceSize</key>
				<string>{753,125}</string>
			</dict>
			<key>ib_coin_a_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1379},{11,15}}</string>
				<key>offset</key>
				<string>{298,-54}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1379},{11,15}}</string>
				<key>sourceSize</key>
				<string>{753,125}</string>
			</dict>
			<key>ib_coin_a_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{201,710},{663,97}}</string>
				<key>offset</key>
				<string>{12,-13}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{201,710},{663,97}}</string>
				<key>sourceSize</key>
				<string>{753,125}</string>
			</dict>
			<key>ib_coin_a_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,797},{659,87}}</string>
				<key>offset</key>
				<string>{16,-18}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{300,797},{659,87}}</string>
				<key>sourceSize</key>
				<string>{753,125}</string>
			</dict>
			<key>ib_coin_a_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,102},{671,99}}</string>
				<key>offset</key>
				<string>{15,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,102},{671,99}}</string>
				<key>sourceSize</key>
				<string>{753,125}</string>
			</dict>
			<key>ib_coin_a_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,1},{669,101}}</string>
				<key>offset</key>
				<string>{17,-11}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{674,1},{669,101}}</string>
				<key>sourceSize</key>
				<string>{753,125}</string>
			</dict>
			<key>ib_coin_a_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,1},{571,53}}</string>
				<key>offset</key>
				<string>{-20,-35}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{915,1},{571,53}}</string>
				<key>sourceSize</key>
				<string>{753,125}</string>
			</dict>
			<key>ib_coin_a_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,1},{649,69}}</string>
				<key>offset</key>
				<string>{16,-27}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{777,1},{649,69}}</string>
				<key>sourceSize</key>
				<string>{753,125}</string>
			</dict>
			<key>ib_coin_a_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,886},{659,81}}</string>
				<key>offset</key>
				<string>{14,-21}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{300,886},{659,81}}</string>
				<key>sourceSize</key>
				<string>{753,125}</string>
			</dict>
			<key>ib_coin_a_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,506},{667,101}}</string>
				<key>offset</key>
				<string>{16,-11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,506},{667,101}}</string>
				<key>sourceSize</key>
				<string>{753,125}</string>
			</dict>
			<key>ib_coin_a_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,1305},{655,43}}</string>
				<key>offset</key>
				<string>{17,-40}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{300,1305},{655,43}}</string>
				<key>sourceSize</key>
				<string>{753,125}</string>
			</dict>
			<key>ib_coin_a_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{848,1},{579,65}}</string>
				<key>offset</key>
				<string>{-19,-29}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{848,1},{579,65}}</string>
				<key>sourceSize</key>
				<string>{753,125}</string>
			</dict>
			<key>ib_coin_a_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,1350},{517,43}}</string>
				<key>offset</key>
				<string>{-1,-40}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{300,1350},{517,43}}</string>
				<key>sourceSize</key>
				<string>{753,125}</string>
			</dict>
			<key>ib_coin_a_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{300,969},{657,79}}</string>
				<key>offset</key>
				<string>{18,-22}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{300,969},{657,79}}</string>
				<key>sourceSize</key>
				<string>{753,125}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>a6dd72cc-4d23-4a89-8dce-76a7237f1424.55a6b.png</string>
			<key>size</key>
			<string>{969,1395}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>a6dd72cc-4d23-4a89-8dce-76a7237f1424.55a6b.png</string>
		</dict>
	</dict>
</plist>
