<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mf_trans_glow_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1001},{756,189}}</string>
				<key>offset</key>
				<string>{0,-41}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1001},{756,189}}</string>
				<key>sourceSize</key>
				<string>{756,271}</string>
			</dict>
			<key>mf_trans_glow_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,256},{756,253}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,256},{756,253}}</string>
				<key>sourceSize</key>
				<string>{756,271}</string>
			</dict>
			<key>mf_trans_glow_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1147},{462,189}}</string>
				<key>offset</key>
				<string>{8,-41}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,1147},{462,189}}</string>
				<key>sourceSize</key>
				<string>{756,271}</string>
			</dict>
			<key>mf_trans_glow_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,511},{756,253}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,511},{756,253}}</string>
				<key>sourceSize</key>
				<string>{756,271}</string>
			</dict>
			<key>mf_trans_glow_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1221,1},{468,177}}</string>
				<key>offset</key>
				<string>{8,-47}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1221,1},{468,177}}</string>
				<key>sourceSize</key>
				<string>{756,271}</string>
			</dict>
			<key>mf_trans_glow_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,759},{484,195}}</string>
				<key>offset</key>
				<string>{5,-38}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,759},{484,195}}</string>
				<key>sourceSize</key>
				<string>{756,271}</string>
			</dict>
			<key>mf_trans_glow_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1192},{720,187}}</string>
				<key>offset</key>
				<string>{14,-42}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1192},{720,187}}</string>
				<key>sourceSize</key>
				<string>{756,271}</string>
			</dict>
			<key>mf_trans_glow_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{998,1},{756,221}}</string>
				<key>offset</key>
				<string>{0,-25}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{998,1},{756,221}}</string>
				<key>sourceSize</key>
				<string>{756,271}</string>
			</dict>
			<key>mf_trans_glow_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{756,253}}</string>
				<key>offset</key>
				<string>{0,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{756,253}}</string>
				<key>sourceSize</key>
				<string>{756,271}</string>
			</dict>
			<key>mf_trans_glow_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1},{756,237}}</string>
				<key>offset</key>
				<string>{0,-17}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{759,1},{756,237}}</string>
				<key>sourceSize</key>
				<string>{756,271}</string>
			</dict>
			<key>mf_trans_glow_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,956},{466,189}}</string>
				<key>offset</key>
				<string>{8,-41}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,956},{466,189}}</string>
				<key>sourceSize</key>
				<string>{756,271}</string>
			</dict>
			<key>mf_trans_glow_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,766},{756,233}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,766},{756,233}}</string>
				<key>sourceSize</key>
				<string>{756,271}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>afd8126c-493a-4509-b639-6084fb5df409.14617.jpg</string>
			<key>size</key>
			<string>{1399,1399}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>afd8126c-493a-4509-b639-6084fb5df409.14617.jpg</string>
		</dict>
	</dict>
</plist>
