<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1034,1865}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{1034,1865}}</string>
				<key>sourceSize</key>
				<string>{1034,1865}</string>
			</dict>
			<key>ui_reel_side.png</key>
			<dict>
				<key>frame</key>
				<string>{{1037,690},{197,495}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1037,690},{197,495}}</string>
				<key>sourceSize</key>
				<string>{197,495}</string>
			</dict>
			<key>ui_reel_mid.png</key>
			<dict>
				<key>frame</key>
				<string>{{1037,1},{200,687}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1037,1},{200,687}}</string>
				<key>sourceSize</key>
				<string>{200,687}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>b3a4df6f-955d-49a9-a316-e4e843f71180.3fe6c.jpg</string>
			<key>size</key>
			<string>{1238,1867}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>b3a4df6f-955d-49a9-a316-e4e843f71180.3fe6c.jpg</string>
		</dict>
	</dict>
</plist>
