<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mf_mtp_coin_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{486,436}}</string>
				<key>offset</key>
				<string>{21,10}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{486,436}}</string>
				<key>sourceSize</key>
				<string>{610,576}</string>
			</dict>
			<key>mf_mtp_coin_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,1},{516,464}}</string>
				<key>offset</key>
				<string>{22,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{439,1},{516,464}}</string>
				<key>sourceSize</key>
				<string>{610,576}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>b3ddb974-d4d7-477c-a6ae-ae09710e49eb.1ddad.jpg</string>
			<key>size</key>
			<string>{956,488}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>b3ddb974-d4d7-477c-a6ae-ae09710e49eb.1ddad.jpg</string>
		</dict>
	</dict>
</plist>
