<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui_bg_lantern_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,190},{540,189}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{543,190},{540,189}}</string>
				<key>sourceSize</key>
				<string>{540,203}</string>
			</dict>
			<key>ui_bg_lantern_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,960},{540,195}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,960},{540,195}}</string>
				<key>sourceSize</key>
				<string>{540,203}</string>
			</dict>
			<key>ui_bg_lantern_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{540,187}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{540,187}}</string>
				<key>sourceSize</key>
				<string>{540,203}</string>
			</dict>
			<key>ui_bg_lantern_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,1},{540,187}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1085,1},{540,187}}</string>
				<key>sourceSize</key>
				<string>{540,203}</string>
			</dict>
			<key>ui_bg_lantern_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,763},{540,195}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,763},{540,195}}</string>
				<key>sourceSize</key>
				<string>{540,203}</string>
			</dict>
			<key>ui_bg_lantern_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,964},{540,197}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{543,964},{540,197}}</string>
				<key>sourceSize</key>
				<string>{540,203}</string>
			</dict>
			<key>ui_bg_lantern_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,574},{540,193}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1085,574},{540,193}}</string>
				<key>sourceSize</key>
				<string>{540,203}</string>
			</dict>
			<key>ui_bg_lantern_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,381},{540,191}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1085,381},{540,191}}</string>
				<key>sourceSize</key>
				<string>{540,203}</string>
			</dict>
			<key>ui_bg_lantern_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1627,1},{540,197}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1627,1},{540,197}}</string>
				<key>sourceSize</key>
				<string>{540,203}</string>
			</dict>
			<key>ui_bg_lantern_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,767},{540,195}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{543,767},{540,195}}</string>
				<key>sourceSize</key>
				<string>{540,203}</string>
			</dict>
			<key>ui_bg_lantern_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,190},{540,187}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,190},{540,187}}</string>
				<key>sourceSize</key>
				<string>{540,203}</string>
			</dict>
			<key>ui_bg_lantern_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,769},{540,195}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1085,769},{540,195}}</string>
				<key>sourceSize</key>
				<string>{540,203}</string>
			</dict>
			<key>ui_bg_lantern_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1085,190},{540,189}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1085,190},{540,189}}</string>
				<key>sourceSize</key>
				<string>{540,203}</string>
			</dict>
			<key>ui_bg_lantern_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,381},{540,189}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{543,381},{540,189}}</string>
				<key>sourceSize</key>
				<string>{540,203}</string>
			</dict>
			<key>ui_bg_lantern_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,570},{540,191}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,570},{540,191}}</string>
				<key>sourceSize</key>
				<string>{540,203}</string>
			</dict>
			<key>ui_bg_lantern_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1826,1},{540,193}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1826,1},{540,193}}</string>
				<key>sourceSize</key>
				<string>{540,203}</string>
			</dict>
			<key>ui_bg_lantern_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1627,543},{540,195}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1627,543},{540,195}}</string>
				<key>sourceSize</key>
				<string>{540,203}</string>
			</dict>
			<key>ui_bg_lantern_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,572},{540,193}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{543,572},{540,193}}</string>
				<key>sourceSize</key>
				<string>{540,203}</string>
			</dict>
			<key>ui_bg_lantern_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,379},{540,189}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,379},{540,189}}</string>
				<key>sourceSize</key>
				<string>{540,203}</string>
			</dict>
			<key>ui_bg_lantern_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,1},{540,187}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{543,1},{540,187}}</string>
				<key>sourceSize</key>
				<string>{540,203}</string>
			</dict>
			<key>ui_bg_lantern_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1824,543},{540,195}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1824,543},{540,195}}</string>
				<key>sourceSize</key>
				<string>{540,203}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>bd633f47-7c1b-4b47-95f6-4e2ee0576020.1d09f.png</string>
			<key>size</key>
			<string>{2020,1162}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>bd633f47-7c1b-4b47-95f6-4e2ee0576020.1d09f.png</string>
		</dict>
	</dict>
</plist>
