<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ib_sweep_a_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{756,114}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{756,114}}</string>
				<key>sourceSize</key>
				<string>{756,132}</string>
			</dict>
			<key>ib_sweep_a_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,349},{756,114}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,349},{756,114}}</string>
				<key>sourceSize</key>
				<string>{756,132}</string>
			</dict>
			<key>ib_sweep_a_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,581},{756,114}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,581},{756,114}}</string>
				<key>sourceSize</key>
				<string>{756,132}</string>
			</dict>
			<key>ib_sweep_a_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,697},{756,114}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,697},{756,114}}</string>
				<key>sourceSize</key>
				<string>{756,132}</string>
			</dict>
			<key>ib_sweep_a_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,929},{756,114}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,929},{756,114}}</string>
				<key>sourceSize</key>
				<string>{756,132}</string>
			</dict>
			<key>ib_sweep_a_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1517,1},{756,114}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1517,1},{756,114}}</string>
				<key>sourceSize</key>
				<string>{756,132}</string>
			</dict>
			<key>ib_sweep_a_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{756,114}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{756,114}}</string>
				<key>sourceSize</key>
				<string>{756,132}</string>
			</dict>
			<key>ib_sweep_a_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,465},{756,114}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,465},{756,114}}</string>
				<key>sourceSize</key>
				<string>{756,132}</string>
			</dict>
			<key>ib_sweep_a_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,697},{756,114}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,697},{756,114}}</string>
				<key>sourceSize</key>
				<string>{756,132}</string>
			</dict>
			<key>ib_sweep_a_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1045},{756,114}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1045},{756,114}}</string>
				<key>sourceSize</key>
				<string>{756,132}</string>
			</dict>
			<key>ib_sweep_a_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,117},{756,114}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,117},{756,114}}</string>
				<key>sourceSize</key>
				<string>{756,132}</string>
			</dict>
			<key>ib_sweep_a_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1749,1},{756,114}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1749,1},{756,114}}</string>
				<key>sourceSize</key>
				<string>{756,132}</string>
			</dict>
			<key>ib_sweep_a_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1045},{756,114}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,1045},{756,114}}</string>
				<key>sourceSize</key>
				<string>{756,132}</string>
			</dict>
			<key>ib_sweep_a_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,349},{756,114}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,349},{756,114}}</string>
				<key>sourceSize</key>
				<string>{756,132}</string>
			</dict>
			<key>ib_sweep_a_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,233},{756,114}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,233},{756,114}}</string>
				<key>sourceSize</key>
				<string>{756,132}</string>
			</dict>
			<key>ib_sweep_a_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,929},{756,114}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,929},{756,114}}</string>
				<key>sourceSize</key>
				<string>{756,132}</string>
			</dict>
			<key>ib_sweep_a_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,581},{756,114}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,581},{756,114}}</string>
				<key>sourceSize</key>
				<string>{756,132}</string>
			</dict>
			<key>ib_sweep_a_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,117},{756,114}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,117},{756,114}}</string>
				<key>sourceSize</key>
				<string>{756,132}</string>
			</dict>
			<key>ib_sweep_a_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,465},{756,114}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,465},{756,114}}</string>
				<key>sourceSize</key>
				<string>{756,132}</string>
			</dict>
			<key>ib_sweep_a_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,813},{756,114}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,813},{756,114}}</string>
				<key>sourceSize</key>
				<string>{756,132}</string>
			</dict>
			<key>ib_sweep_a_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1},{756,114}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,1},{756,114}}</string>
				<key>sourceSize</key>
				<string>{756,132}</string>
			</dict>
			<key>ib_sweep_a_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,233},{756,114}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,233},{756,114}}</string>
				<key>sourceSize</key>
				<string>{756,132}</string>
			</dict>
			<key>ib_sweep_a_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{756,114}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{756,114}}</string>
				<key>sourceSize</key>
				<string>{756,132}</string>
			</dict>
			<key>ib_sweep_a_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{756,114}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{756,114}}</string>
				<key>sourceSize</key>
				<string>{756,132}</string>
			</dict>
			<key>ib_sweep_a_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,813},{756,114}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,813},{756,114}}</string>
				<key>sourceSize</key>
				<string>{756,132}</string>
			</dict>
			<key>ib_sweep_a_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1633,1},{756,114}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1633,1},{756,114}}</string>
				<key>sourceSize</key>
				<string>{756,132}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>d4acfc8e-051a-456f-a30a-4a8fa23e67be.5aedc.jpg</string>
			<key>size</key>
			<string>{1864,1160}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>d4acfc8e-051a-456f-a30a-4a8fa23e67be.5aedc.jpg</string>
		</dict>
	</dict>
</plist>
