<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ib_coin_b_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,1247},{656,120}}</string>
				<key>offset</key>
				<string>{-50,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{761,1247},{656,120}}</string>
				<key>sourceSize</key>
				<string>{756,144}</string>
			</dict>
			<key>ib_coin_b_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,731},{730,130}}</string>
				<key>offset</key>
				<string>{13,-7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{133,731},{730,130}}</string>
				<key>sourceSize</key>
				<string>{756,144}</string>
			</dict>
			<key>ib_coin_b_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,147},{756,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,147},{756,144}}</string>
				<key>sourceSize</key>
				<string>{756,144}</string>
			</dict>
			<key>ib_coin_b_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{756,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{756,144}}</string>
				<key>sourceSize</key>
				<string>{756,144}</string>
			</dict>
			<key>ib_coin_b_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,731},{732,130}}</string>
				<key>offset</key>
				<string>{12,-7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,731},{732,130}}</string>
				<key>sourceSize</key>
				<string>{756,144}</string>
			</dict>
			<key>ib_coin_b_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,731},{728,128}}</string>
				<key>offset</key>
				<string>{14,-8}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{265,731},{728,128}}</string>
				<key>sourceSize</key>
				<string>{756,144}</string>
			</dict>
			<key>ib_coin_b_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,729},{684,108}}</string>
				<key>offset</key>
				<string>{14,-18}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{761,729},{684,108}}</string>
				<key>sourceSize</key>
				<string>{756,144}</string>
			</dict>
			<key>ib_coin_b_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1659,1},{756,136}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1659,1},{756,136}}</string>
				<key>sourceSize</key>
				<string>{756,144}</string>
			</dict>
			<key>ib_coin_b_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,977},{756,134}}</string>
				<key>offset</key>
				<string>{0,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{761,977},{756,134}}</string>
				<key>sourceSize</key>
				<string>{756,144}</string>
			</dict>
			<key>ib_coin_b_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1},{756,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,1},{756,144}}</string>
				<key>sourceSize</key>
				<string>{756,144}</string>
			</dict>
			<key>ib_coin_b_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1519,759},{660,120}}</string>
				<key>offset</key>
				<string>{-48,-12}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1519,759},{660,120}}</string>
				<key>sourceSize</key>
				<string>{756,144}</string>
			</dict>
			<key>ib_coin_b_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1517,1},{756,140}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1517,1},{756,140}}</string>
				<key>sourceSize</key>
				<string>{756,144}</string>
			</dict>
			<key>ib_coin_b_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1741,759},{658,96}}</string>
				<key>offset</key>
				<string>{14,-24}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1741,759},{658,96}}</string>
				<key>sourceSize</key>
				<string>{756,144}</string>
			</dict>
			<key>ib_coin_b_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1419,1185},{78,68}}</string>
				<key>offset</key>
				<string>{-339,-38}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1419,1185},{78,68}}</string>
				<key>sourceSize</key>
				<string>{756,144}</string>
			</dict>
			<key>ib_coin_b_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1741,1419},{44,46}}</string>
				<key>offset</key>
				<string>{-255,-35}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1741,1419},{44,46}}</string>
				<key>sourceSize</key>
				<string>{756,144}</string>
			</dict>
			<key>ib_coin_b_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1419,1113},{78,70}}</string>
				<key>offset</key>
				<string>{-339,-37}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1419,1113},{78,70}}</string>
				<key>sourceSize</key>
				<string>{756,144}</string>
			</dict>
			<key>ib_coin_b_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,293},{756,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,293},{756,144}}</string>
				<key>sourceSize</key>
				<string>{756,144}</string>
			</dict>
			<key>ib_coin_b_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,585},{756,142}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,585},{756,142}}</string>
				<key>sourceSize</key>
				<string>{756,144}</string>
			</dict>
			<key>ib_coin_b_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,439},{756,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,439},{756,144}}</string>
				<key>sourceSize</key>
				<string>{756,144}</string>
			</dict>
			<key>ib_coin_b_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,585},{756,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,585},{756,144}}</string>
				<key>sourceSize</key>
				<string>{756,144}</string>
			</dict>
			<key>ib_coin_b_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,1369},{608,80}}</string>
				<key>offset</key>
				<string>{0,-32}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{761,1369},{608,80}}</string>
				<key>sourceSize</key>
				<string>{756,144}</string>
			</dict>
			<key>ib_coin_b_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,731},{726,124}}</string>
				<key>offset</key>
				<string>{15,-10}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{395,731},{726,124}}</string>
				<key>sourceSize</key>
				<string>{756,144}</string>
			</dict>
			<key>ib_coin_b_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,439},{756,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,439},{756,144}}</string>
				<key>sourceSize</key>
				<string>{756,144}</string>
			</dict>
			<key>ib_coin_b_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,839},{756,136}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{761,839},{756,136}}</string>
				<key>sourceSize</key>
				<string>{756,144}</string>
			</dict>
			<key>ib_coin_b_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{1447,759},{78,70}}</string>
				<key>offset</key>
				<string>{-339,-37}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1447,759},{78,70}}</string>
				<key>sourceSize</key>
				<string>{756,144}</string>
			</dict>
			<key>ib_coin_b_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,731},{720,120}}</string>
				<key>offset</key>
				<string>{18,-12}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{521,731},{720,120}}</string>
				<key>sourceSize</key>
				<string>{756,144}</string>
			</dict>
			<key>ib_coin_b_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,147},{756,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,147},{756,144}}</string>
				<key>sourceSize</key>
				<string>{756,144}</string>
			</dict>
			<key>ib_coin_b_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,1113},{656,132}}</string>
				<key>offset</key>
				<string>{-50,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{761,1113},{656,132}}</string>
				<key>sourceSize</key>
				<string>{756,144}</string>
			</dict>
			<key>ib_coin_b_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,293},{756,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,293},{756,144}}</string>
				<key>sourceSize</key>
				<string>{756,144}</string>
			</dict>
			<key>ib_coin_b_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1641,759},{660,98}}</string>
				<key>offset</key>
				<string>{-48,-23}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1641,759},{660,98}}</string>
				<key>sourceSize</key>
				<string>{756,144}</string>
			</dict>
			<key>ib_coin_b_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{643,731},{714,116}}</string>
				<key>offset</key>
				<string>{21,-14}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{643,731},{714,116}}</string>
				<key>sourceSize</key>
				<string>{756,144}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>ddea9f74-178d-497a-8790-d06f3e79479e.a1108.png</string>
			<key>size</key>
			<string>{1838,1464}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>ddea9f74-178d-497a-8790-d06f3e79479e.a1108.png</string>
		</dict>
	</dict>
</plist>
