<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bw_coin_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,1},{62,80}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{245,1},{62,80}}</string>
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>bw_coin_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,1},{78,82}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{83,1},{78,82}}</string>
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>bw_coin_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{381,1},{54,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{381,1},{54,78}}</string>
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>bw_coin_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,1},{70,78}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{309,1},{70,78}}</string>
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>bw_coin_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,1},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{163,1},{80,80}}</string>
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>bw_coin_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{82,80}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{82,80}}</string>
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>e275f88f-9204-47c4-9c84-81a9c20b8398.fbb63.png</string>
			<key>size</key>
			<string>{436,84}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>e275f88f-9204-47c4-9c84-81a9c20b8398.fbb63.png</string>
		</dict>
	</dict>
</plist>
