<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bw_confetti_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,696},{466,387}}</string>
				<key>offset</key>
				<string>{10,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{459,696},{466,387}}</string>
				<key>sourceSize</key>
				<string>{510,517}</string>
			</dict>
			<key>bw_confetti_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,356},{410,387}}</string>
				<key>offset</key>
				<string>{21,56}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{933,356},{410,387}}</string>
				<key>sourceSize</key>
				<string>{510,517}</string>
			</dict>
			<key>bw_confetti_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1077},{452,399}}</string>
				<key>offset</key>
				<string>{11,-22}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1077},{452,399}}</string>
				<key>sourceSize</key>
				<string>{510,517}</string>
			</dict>
			<key>bw_confetti_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1359,761},{446,391}}</string>
				<key>offset</key>
				<string>{21,42}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1359,761},{446,391}}</string>
				<key>sourceSize</key>
				<string>{510,517}</string>
			</dict>
			<key>bw_confetti_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{124,125}}</string>
				<key>offset</key>
				<string>{9,74}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{124,125}}</string>
				<key>sourceSize</key>
				<string>{510,517}</string>
			</dict>
			<key>bw_confetti_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,1154},{448,405}}</string>
				<key>offset</key>
				<string>{15,-32}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{919,1154},{448,405}}</string>
				<key>sourceSize</key>
				<string>{510,517}</string>
			</dict>
			<key>bw_confetti_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1369,1},{384,373}}</string>
				<key>offset</key>
				<string>{20,61}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1369,1},{384,373}}</string>
				<key>sourceSize</key>
				<string>{510,517}</string>
			</dict>
			<key>bw_confetti_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,1},{308,311}}</string>
				<key>offset</key>
				<string>{14,70}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{700,1},{308,311}}</string>
				<key>sourceSize</key>
				<string>{510,517}</string>
			</dict>
			<key>bw_confetti_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1013,1},{354,353}}</string>
				<key>offset</key>
				<string>{17,65}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1013,1},{354,353}}</string>
				<key>sourceSize</key>
				<string>{510,517}</string>
			</dict>
			<key>bw_confetti_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{469,311},{462,383}}</string>
				<key>offset</key>
				<string>{17,28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{469,311},{462,383}}</string>
				<key>sourceSize</key>
				<string>{510,517}</string>
			</dict>
			<key>bw_confetti_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1369,1154},{438,409}}</string>
				<key>offset</key>
				<string>{26,-42}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1369,1154},{438,409}}</string>
				<key>sourceSize</key>
				<string>{510,517}</string>
			</dict>
			<key>bw_confetti_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,1},{236,239}}</string>
				<key>offset</key>
				<string>{10,74}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{128,1},{236,239}}</string>
				<key>sourceSize</key>
				<string>{510,517}</string>
			</dict>
			<key>bw_confetti_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1345,376},{466,383}}</string>
				<key>offset</key>
				<string>{11,11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1345,376},{466,383}}</string>
				<key>sourceSize</key>
				<string>{510,517}</string>
			</dict>
			<key>bw_confetti_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,761},{430,391}}</string>
				<key>offset</key>
				<string>{21,49}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{927,761},{430,391}}</string>
				<key>sourceSize</key>
				<string>{510,517}</string>
			</dict>
			<key>bw_confetti_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,688},{456,387}}</string>
				<key>offset</key>
				<string>{20,35}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,688},{456,387}}</string>
				<key>sourceSize</key>
				<string>{510,517}</string>
			</dict>
			<key>bw_confetti_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,1},{302,329}}</string>
				<key>offset</key>
				<string>{-40,-93}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{369,1},{302,329}}</string>
				<key>sourceSize</key>
				<string>{510,517}</string>
			</dict>
			<key>bw_confetti_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,305},{466,381}}</string>
				<key>offset</key>
				<string>{14,20}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,305},{466,381}}</string>
				<key>sourceSize</key>
				<string>{510,517}</string>
			</dict>
			<key>bw_confetti_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,1085},{462,393}}</string>
				<key>offset</key>
				<string>{10,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{455,1085},{462,393}}</string>
				<key>sourceSize</key>
				<string>{510,517}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>ef8e3e53-86a0-45c8-8828-5c11ff8e5694.0d3b1.png</string>
			<key>size</key>
			<string>{1812,1564}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>ef8e3e53-86a0-45c8-8828-5c11ff8e5694.0d3b1.png</string>
		</dict>
	</dict>
</plist>
