<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ib_sweep_b_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1269,1},{756,168}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1269,1},{756,168}}</string>
				<key>sourceSize</key>
				<string>{756,172}</string>
			</dict>
			<key>ib_sweep_b_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1439,759},{756,168}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1439,759},{756,168}}</string>
				<key>sourceSize</key>
				<string>{756,172}</string>
			</dict>
			<key>ib_sweep_b_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,1},{756,168}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{171,1},{756,168}}</string>
				<key>sourceSize</key>
				<string>{756,172}</string>
			</dict>
			<key>ib_sweep_b_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,851},{756,168}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{511,851},{756,168}}</string>
				<key>sourceSize</key>
				<string>{756,172}</string>
			</dict>
			<key>ib_sweep_b_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,171},{756,168}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{511,171},{756,168}}</string>
				<key>sourceSize</key>
				<string>{756,172}</string>
			</dict>
			<key>ib_sweep_b_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,1021},{756,168}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{511,1021},{756,168}}</string>
				<key>sourceSize</key>
				<string>{756,172}</string>
			</dict>
			<key>ib_sweep_b_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,1},{756,168}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{341,1},{756,168}}</string>
				<key>sourceSize</key>
				<string>{756,172}</string>
			</dict>
			<key>ib_sweep_b_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1609,1},{756,168}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1609,1},{756,168}}</string>
				<key>sourceSize</key>
				<string>{756,172}</string>
			</dict>
			<key>ib_sweep_b_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,759},{756,168}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,759},{756,168}}</string>
				<key>sourceSize</key>
				<string>{756,172}</string>
			</dict>
			<key>ib_sweep_b_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,681},{756,168}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{511,681},{756,168}}</string>
				<key>sourceSize</key>
				<string>{756,172}</string>
			</dict>
			<key>ib_sweep_b_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1779,759},{756,168}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1779,759},{756,168}}</string>
				<key>sourceSize</key>
				<string>{756,172}</string>
			</dict>
			<key>ib_sweep_b_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,1191},{756,168}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{511,1191},{756,168}}</string>
				<key>sourceSize</key>
				<string>{756,172}</string>
			</dict>
			<key>ib_sweep_b_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1439,1},{756,168}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1439,1},{756,168}}</string>
				<key>sourceSize</key>
				<string>{756,172}</string>
			</dict>
			<key>ib_sweep_b_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1779,1},{756,168}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1779,1},{756,168}}</string>
				<key>sourceSize</key>
				<string>{756,172}</string>
			</dict>
			<key>ib_sweep_b_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,1361},{756,168}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{511,1361},{756,168}}</string>
				<key>sourceSize</key>
				<string>{756,172}</string>
			</dict>
			<key>ib_sweep_b_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,511},{756,168}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{511,511},{756,168}}</string>
				<key>sourceSize</key>
				<string>{756,172}</string>
			</dict>
			<key>ib_sweep_b_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1269,759},{756,168}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1269,759},{756,168}}</string>
				<key>sourceSize</key>
				<string>{756,172}</string>
			</dict>
			<key>ib_sweep_b_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,341},{756,168}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{511,341},{756,168}}</string>
				<key>sourceSize</key>
				<string>{756,172}</string>
			</dict>
			<key>ib_sweep_b_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1609,759},{756,168}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1609,759},{756,168}}</string>
				<key>sourceSize</key>
				<string>{756,172}</string>
			</dict>
			<key>ib_sweep_b_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{511,1},{756,168}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{511,1},{756,168}}</string>
				<key>sourceSize</key>
				<string>{756,172}</string>
			</dict>
			<key>ib_sweep_b_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{756,168}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{756,168}}</string>
				<key>sourceSize</key>
				<string>{756,172}</string>
			</dict>
			<key>ib_sweep_b_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,759},{756,168}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{171,759},{756,168}}</string>
				<key>sourceSize</key>
				<string>{756,172}</string>
			</dict>
			<key>ib_sweep_b_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,759},{756,168}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{341,759},{756,168}}</string>
				<key>sourceSize</key>
				<string>{756,172}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>f28a0e43-fb75-47c5-a06b-ac91a39ad432.5ee80.jpg</string>
			<key>size</key>
			<string>{1948,1530}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>f28a0e43-fb75-47c5-a06b-ac91a39ad432.5ee80.jpg</string>
		</dict>
	</dict>
</plist>
