<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>win_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{1205,155},{262,66}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1205,155},{262,66}}</string>
				<key>sourceSize</key>
				<string>{270,100}</string>
			</dict>
			<key>totalwin_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{1370,69},{190,84}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1370,69},{190,84}}</string>
				<key>sourceSize</key>
				<string>{206,100}</string>
			</dict>
			<key>info1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,69},{1367,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,69},{1367,72}}</string>
				<key>sourceSize</key>
				<string>{1387,100}</string>
			</dict>
			<key>info2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1531,66}}</string>
				<key>offset</key>
				<string>{3,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{1531,66}}</string>
				<key>sourceSize</key>
				<string>{1547,100}</string>
			</dict>
			<key>Info4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,143},{1202,82}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,143},{1202,82}}</string>
				<key>sourceSize</key>
				<string>{1220,100}</string>
			</dict>
			<key>info3.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,227},{753,72}}</string>
				<key>offset</key>
				<string>{-5,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{870,227},{753,72}}</string>
				<key>sourceSize</key>
				<string>{775,100}</string>
			</dict>
			<key>info5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,227},{867,66}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,227},{867,66}}</string>
				<key>sourceSize</key>
				<string>{883,100}</string>
			</dict>
			<key>info0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,295},{844,66}}</string>
				<key>offset</key>
				<string>{-7,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,295},{844,66}}</string>
				<key>sourceSize</key>
				<string>{872,100}</string>
			</dict>
			<key>1024ways.png</key>
			<dict>
				<key>frame</key>
				<string>{{847,301},{390,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{847,301},{390,54}}</string>
				<key>sourceSize</key>
				<string>{390,54}</string>
			</dict>
			<key>info_message.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1619,358}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{1619,358}}</string>
				<key>sourceSize</key>
				<string>{1624,362}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>info_message.png</string>
			<key>size</key>
			<string>{1624,362}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>info_message.png</string>
		</dict>
	</dict>
</plist>
