<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mg_ganesha_react_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,1},{374,494}}</string>
				<key>offset</key>
				<string>{-6,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{793,1},{374,494}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_react_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1127,971},{364,464}}</string>
				<key>offset</key>
				<string>{-1,-15}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1127,971},{364,464}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_react_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1227,1437},{364,460}}</string>
				<key>offset</key>
				<string>{-1,-17}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1227,1437},{364,460}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_react_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{1169,1},{368,492}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1169,1},{368,492}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_react_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{779,499},{366,470}}</string>
				<key>offset</key>
				<string>{-2,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{779,499},{366,470}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_react_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{1147,497},{364,464}}</string>
				<key>offset</key>
				<string>{-1,-15}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1147,497},{364,464}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_react_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,993},{370,494}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{385,993},{370,494}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_react_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1493,963},{364,462}}</string>
				<key>offset</key>
				<string>{-1,-16}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1493,963},{364,462}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_react_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{1513,495},{364,464}}</string>
				<key>offset</key>
				<string>{-1,-15}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1513,495},{364,464}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_react_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,497},{400,494}}</string>
				<key>offset</key>
				<string>{-8,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,497},{400,494}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_react_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,993},{368,480}}</string>
				<key>offset</key>
				<string>{-3,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{757,993},{368,480}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_react_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,993},{382,494}}</string>
				<key>offset</key>
				<string>{-10,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,993},{382,494}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_react_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{757,1475},{364,468}}</string>
				<key>offset</key>
				<string>{-1,-13}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{757,1475},{364,468}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_react_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{400,494}}</string>
				<key>offset</key>
				<string>{-6,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{400,494}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_react_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,1},{388,496}}</string>
				<key>offset</key>
				<string>{-5,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{403,1},{388,496}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_react_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{403,499},{374,492}}</string>
				<key>offset</key>
				<string>{-6,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{403,499},{374,492}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_react_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1539,1},{364,486}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1539,1},{364,486}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>706f6b24-eb70-4fea-b7eb-80c86a66679e.2e44e.png</string>
			<key>size</key>
			<string>{1904,1840}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>706f6b24-eb70-4fea-b7eb-80c86a66679e.2e44e.png</string>
		</dict>
	</dict>
</plist>
