<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mg_ganesha_win_b_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,733},{372,462}}</string>
				<key>offset</key>
				<string>{-5,-13}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{463,733},{372,462}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_win_b_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,1},{364,472}}</string>
				<key>offset</key>
				<string>{-1,-11}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{471,1},{364,472}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_win_b_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{927,733},{374,462}}</string>
				<key>offset</key>
				<string>{-6,-13}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{927,733},{374,462}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_win_b_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{1433,367},{364,466}}</string>
				<key>offset</key>
				<string>{-1,-14}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1433,367},{364,466}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_win_b_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,733},{366,460}}</string>
				<key>offset</key>
				<string>{-2,-16}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,733},{366,460}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_win_b_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{364,468}}</string>
				<key>offset</key>
				<string>{-1,-13}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{364,468}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_win_b_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{1391,733},{378,458}}</string>
				<key>offset</key>
				<string>{-8,-16}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1391,733},{378,458}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_win_b_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{485,367},{364,484}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{485,367},{364,484}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_win_b_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,367},{364,482}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,367},{364,482}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_win_b_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,1},{364,476}}</string>
				<key>offset</key>
				<string>{-1,-9}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{945,1},{364,476}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_win_b_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,367},{364,460}}</string>
				<key>offset</key>
				<string>{-1,-17}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{971,367},{364,460}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_win_b_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1423,1},{364,480}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1423,1},{364,480}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>8d392636-4e6e-4411-a978-c24441a504cc.f6874.png</string>
			<key>size</key>
			<string>{1904,1112}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>8d392636-4e6e-4411-a978-c24441a504cc.f6874.png</string>
		</dict>
	</dict>
</plist>
