<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mg_ganesha_intro_013.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,473},{364,468}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,473},{364,468}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_intro_007.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,367},{368,460}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{829,367},{368,460}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_intro_015.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,943},{364,468}}</string>
				<key>offset</key>
				<string>{-1,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,943},{364,468}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_intro_005.png</key>
			<dict>
				<key>frame</key>
				<string>{{1291,373},{364,460}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1291,373},{364,460}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_intro_010.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,739},{364,460}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{367,739},{364,460}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_intro_001.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,1103},{364,456}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{829,1103},{364,456}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_intro_014.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{364,470}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{364,470}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_intro_009.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,367},{370,460}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{367,367},{370,460}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_intro_012.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,1},{364,466}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{367,1},{364,466}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_intro_011.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,1},{364,462}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{835,1},{364,462}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_intro_016.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1413},{364,468}}</string>
				<key>offset</key>
				<string>{-1,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1413},{364,468}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_intro_000.png</key>
			<dict>
				<key>frame</key>
				<string>{{1291,739},{364,458}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1291,739},{364,458}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_intro_003.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,1471},{364,450}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{733,1471},{364,450}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_intro_006.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,737},{364,460}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{829,737},{364,460}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_intro_002.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,1471},{364,452}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{367,1471},{364,452}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_intro_004.png</key>
			<dict>
				<key>frame</key>
				<string>{{367,1105},{364,456}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{367,1105},{364,456}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
			<key>mg_ganesha_intro_008.png</key>
			<dict>
				<key>frame</key>
				<string>{{1299,1},{370,460}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1299,1},{370,460}}</string>
				<key>sourceSize</key>
				<string>{500,528}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>9d79aaed-4ad6-48fe-b59c-d43217b8260b.6e7f0.png</string>
			<key>size</key>
			<string>{1760,1924}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>9d79aaed-4ad6-48fe-b59c-d43217b8260b.6e7f0.png</string>
		</dict>
	</dict>
</plist>
