<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>smw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,260},{535,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,260},{535,214}}</string>
				<key>sourceSize</key>
				<string>{535,214}</string>
			</dict>
			<key>bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{502,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{502,124}}</string>
				<key>sourceSize</key>
				<string>{502,124}</string>
			</dict>
			<key>mw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,127},{553,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,127},{553,131}}</string>
				<key>sourceSize</key>
				<string>{553,131}</string>
			</dict>
			<key>bigwin_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{553,473}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{553,473}}</string>
				<key>sourceSize</key>
				<string>{555,475}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>bigwin_text.png</string>
			<key>size</key>
			<string>{555,475}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>bigwin_text.png</string>
		</dict>
	</dict>
</plist>
