<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>info0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1277,74}}</string>
				<key>offset</key>
				<string>{-10,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{1277,74}}</string>
				<key>sourceSize</key>
				<string>{1303,100}</string>
			</dict>
			<key>info2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,77},{1221,76}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,77},{1221,76}}</string>
				<key>sourceSize</key>
				<string>{1227,100}</string>
			</dict>
			<key>info6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,313},{877,76}}</string>
				<key>offset</key>
				<string>{-4,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,313},{877,76}}</string>
				<key>sourceSize</key>
				<string>{887,100}</string>
			</dict>
			<key>2000ways.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,1},{311,50}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1280,1},{311,50}}</string>
				<key>sourceSize</key>
				<string>{321,50}</string>
			</dict>
			<key>info3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,239},{1086,72}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,239},{1086,72}}</string>
				<key>sourceSize</key>
				<string>{1094,100}</string>
			</dict>
			<key>info4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1080,155},{601,76}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1080,155},{601,76}}</string>
				<key>sourceSize</key>
				<string>{609,100}</string>
			</dict>
			<key>totalwin_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,53},{255,76}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1280,53},{255,76}}</string>
				<key>sourceSize</key>
				<string>{261,100}</string>
			</dict>
			<key>Info5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,155},{1077,82}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,155},{1077,82}}</string>
				<key>sourceSize</key>
				<string>{1085,100}</string>
			</dict>
			<key>info1.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,313},{860,76}}</string>
				<key>offset</key>
				<string>{-5,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{880,313},{860,76}}</string>
				<key>sourceSize</key>
				<string>{874,100}</string>
			</dict>
			<key>win_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{1089,233},{125,74}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1089,233},{125,74}}</string>
				<key>sourceSize</key>
				<string>{129,100}</string>
			</dict>
			<key>info_message.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,0},{1736,387}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{1736,387}}</string>
				<key>sourceSize</key>
				<string>{1741,390}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>info_message.png</string>
			<key>size</key>
			<string>{1741,390}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>info_message.png</string>
		</dict>
	</dict>
</plist>
