<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fast_line_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,529},{42,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,529},{42,144}}</string>
				<key>sourceSize</key>
				<string>{42,144}</string>
			</dict>
			<key>fast_line_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,573},{42,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,573},{42,144}}</string>
				<key>sourceSize</key>
				<string>{42,144}</string>
			</dict>
			<key>fast_line_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,45},{42,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,45},{42,144}}</string>
				<key>sourceSize</key>
				<string>{42,144}</string>
			</dict>
			<key>fast_line_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,133},{42,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,133},{42,144}}</string>
				<key>sourceSize</key>
				<string>{42,144}</string>
			</dict>
			<key>fast_line_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,661},{42,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,661},{42,144}}</string>
				<key>sourceSize</key>
				<string>{42,144}</string>
			</dict>
			<key>fast_line_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,177},{42,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,177},{42,144}}</string>
				<key>sourceSize</key>
				<string>{42,144}</string>
			</dict>
			<key>fast_line_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,585},{42,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{147,585},{42,144}}</string>
				<key>sourceSize</key>
				<string>{42,144}</string>
			</dict>
			<key>fast_line_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,585},{42,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{191,585},{42,144}}</string>
				<key>sourceSize</key>
				<string>{42,144}</string>
			</dict>
			<key>fast_line_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,265},{42,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,265},{42,144}}</string>
				<key>sourceSize</key>
				<string>{42,144}</string>
			</dict>
			<key>fast_line_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,1},{42,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{147,1},{42,144}}</string>
				<key>sourceSize</key>
				<string>{42,144}</string>
			</dict>
			<key>fast_line_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{45,731},{42,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{45,731},{42,144}}</string>
				<key>sourceSize</key>
				<string>{42,144}</string>
			</dict>
			<key>fast_line_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,731},{42,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,731},{42,144}}</string>
				<key>sourceSize</key>
				<string>{42,144}</string>
			</dict>
			<key>fast_line_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,89},{42,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,89},{42,144}}</string>
				<key>sourceSize</key>
				<string>{42,144}</string>
			</dict>
			<key>fast_line_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,1},{42,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{191,1},{42,144}}</string>
				<key>sourceSize</key>
				<string>{42,144}</string>
			</dict>
			<key>fast_line_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,731},{42,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{177,731},{42,144}}</string>
				<key>sourceSize</key>
				<string>{42,144}</string>
			</dict>
			<key>fast_line_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,309},{42,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,309},{42,144}}</string>
				<key>sourceSize</key>
				<string>{42,144}</string>
			</dict>
			<key>fast_line_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,353},{42,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,353},{42,144}}</string>
				<key>sourceSize</key>
				<string>{42,144}</string>
			</dict>
			<key>fast_line_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,397},{42,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,397},{42,144}}</string>
				<key>sourceSize</key>
				<string>{42,144}</string>
			</dict>
			<key>fast_line_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,439},{42,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{191,439},{42,144}}</string>
				<key>sourceSize</key>
				<string>{42,144}</string>
			</dict>
			<key>fast_line_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,617},{42,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,617},{42,144}}</string>
				<key>sourceSize</key>
				<string>{42,144}</string>
			</dict>
			<key>fast_line_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,439},{42,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{147,439},{42,144}}</string>
				<key>sourceSize</key>
				<string>{42,144}</string>
			</dict>
			<key>fast_line_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{42,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{42,144}}</string>
				<key>sourceSize</key>
				<string>{42,144}</string>
			</dict>
			<key>fast_line_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,485},{42,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,485},{42,144}}</string>
				<key>sourceSize</key>
				<string>{42,144}</string>
			</dict>
			<key>fast_line_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,293},{42,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{147,293},{42,144}}</string>
				<key>sourceSize</key>
				<string>{42,144}</string>
			</dict>
			<key>fast_line_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,147},{42,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{147,147},{42,144}}</string>
				<key>sourceSize</key>
				<string>{42,144}</string>
			</dict>
			<key>fast_line_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{89,731},{42,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{89,731},{42,144}}</string>
				<key>sourceSize</key>
				<string>{42,144}</string>
			</dict>
			<key>fast_line_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,441},{42,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,441},{42,144}}</string>
				<key>sourceSize</key>
				<string>{42,144}</string>
			</dict>
			<key>fast_line_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,731},{42,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,731},{42,144}}</string>
				<key>sourceSize</key>
				<string>{42,144}</string>
			</dict>
			<key>fast_line_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,293},{42,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{191,293},{42,144}}</string>
				<key>sourceSize</key>
				<string>{42,144}</string>
			</dict>
			<key>fast_line_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,221},{42,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,221},{42,144}}</string>
				<key>sourceSize</key>
				<string>{42,144}</string>
			</dict>
			<key>fast_line_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{191,147},{42,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{191,147},{42,144}}</string>
				<key>sourceSize</key>
				<string>{42,144}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1f9b4d4b-d02e-4c2e-9460-dfc14f65e8dc.62773.jpg</string>
			<key>size</key>
			<string>{234,876}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1f9b4d4b-d02e-4c2e-9460-dfc14f65e8dc.62773.jpg</string>
		</dict>
	</dict>
</plist>
