<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>particle_out_b_info_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,515},{496,72}}</string>
				<key>offset</key>
				<string>{13,-22}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{505,515},{496,72}}</string>
				<key>sourceSize</key>
				<string>{540,138}</string>
			</dict>
			<key>particle_out_b_info_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,677},{484,30}}</string>
				<key>offset</key>
				<string>{13,-49}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{507,677},{484,30}}</string>
				<key>sourceSize</key>
				<string>{540,138}</string>
			</dict>
			<key>particle_out_b_info_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,1},{494,80}}</string>
				<key>offset</key>
				<string>{17,-16}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{509,1},{494,80}}</string>
				<key>sourceSize</key>
				<string>{540,138}</string>
			</dict>
			<key>particle_out_b_info_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{506,86}}</string>
				<key>offset</key>
				<string>{17,15}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{506,86}}</string>
				<key>sourceSize</key>
				<string>{540,138}</string>
			</dict>
			<key>particle_out_b_info_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,435},{500,84}}</string>
				<key>offset</key>
				<string>{17,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,435},{500,84}}</string>
				<key>sourceSize</key>
				<string>{540,138}</string>
			</dict>
			<key>particle_out_b_info_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,269},{496,84}}</string>
				<key>offset</key>
				<string>{17,-11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{507,269},{496,84}}</string>
				<key>sourceSize</key>
				<string>{540,138}</string>
			</dict>
			<key>particle_out_b_info_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,605},{502,80}}</string>
				<key>offset</key>
				<string>{17,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,605},{502,80}}</string>
				<key>sourceSize</key>
				<string>{540,138}</string>
			</dict>
			<key>particle_out_b_info_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,213},{484,54}}</string>
				<key>offset</key>
				<string>{14,-31}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{509,213},{484,54}}</string>
				<key>sourceSize</key>
				<string>{540,138}</string>
			</dict>
			<key>particle_out_b_info_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,355},{500,76}}</string>
				<key>offset</key>
				<string>{13,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{501,355},{500,76}}</string>
				<key>sourceSize</key>
				<string>{540,138}</string>
			</dict>
			<key>particle_out_b_info_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,589},{482,46}}</string>
				<key>offset</key>
				<string>{13,-34}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{505,589},{482,46}}</string>
				<key>sourceSize</key>
				<string>{540,138}</string>
			</dict>
			<key>particle_out_b_info_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,263},{504,82}}</string>
				<key>offset</key>
				<string>{17,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,263},{504,82}}</string>
				<key>sourceSize</key>
				<string>{540,138}</string>
			</dict>
			<key>particle_out_b_info_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,151},{488,60}}</string>
				<key>offset</key>
				<string>{14,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{509,151},{488,60}}</string>
				<key>sourceSize</key>
				<string>{540,138}</string>
			</dict>
			<key>particle_out_b_info_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,89},{506,86}}</string>
				<key>offset</key>
				<string>{17,18}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,89},{506,86}}</string>
				<key>sourceSize</key>
				<string>{540,138}</string>
			</dict>
			<key>particle_out_b_info_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,521},{502,82}}</string>
				<key>offset</key>
				<string>{17,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,521},{502,82}}</string>
				<key>sourceSize</key>
				<string>{540,138}</string>
			</dict>
			<key>particle_out_b_info_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,769},{476,20}}</string>
				<key>offset</key>
				<string>{7,-58}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,769},{476,20}}</string>
				<key>sourceSize</key>
				<string>{540,138}</string>
			</dict>
			<key>particle_out_b_info_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,433},{500,80}}</string>
				<key>offset</key>
				<string>{17,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{503,433},{500,80}}</string>
				<key>sourceSize</key>
				<string>{540,138}</string>
			</dict>
			<key>particle_out_b_info_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,709},{324,88}}</string>
				<key>offset</key>
				<string>{53,22}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{507,709},{324,88}}</string>
				<key>sourceSize</key>
				<string>{540,138}</string>
			</dict>
			<key>particle_out_b_info_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,177},{506,84}}</string>
				<key>offset</key>
				<string>{17,11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,177},{506,84}}</string>
				<key>sourceSize</key>
				<string>{540,138}</string>
			</dict>
			<key>particle_out_b_info_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,347},{498,86}}</string>
				<key>offset</key>
				<string>{17,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,347},{498,86}}</string>
				<key>sourceSize</key>
				<string>{540,138}</string>
			</dict>
			<key>particle_out_b_info_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,83},{492,66}}</string>
				<key>offset</key>
				<string>{14,-25}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{509,83},{492,66}}</string>
				<key>sourceSize</key>
				<string>{540,138}</string>
			</dict>
			<key>particle_out_b_info_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,687},{504,80}}</string>
				<key>offset</key>
				<string>{17,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,687},{504,80}}</string>
				<key>sourceSize</key>
				<string>{540,138}</string>
			</dict>
			<key>particle_out_b_info_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,637},{480,38}}</string>
				<key>offset</key>
				<string>{11,-40}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{505,637},{480,38}}</string>
				<key>sourceSize</key>
				<string>{540,138}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>a4668a66-1711-4bf0-a281-b475d79494ef.de9f2.jpg</string>
			<key>size</key>
			<string>{1004,798}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>a4668a66-1711-4bf0-a281-b475d79494ef.de9f2.jpg</string>
		</dict>
	</dict>
</plist>
