<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>particle_c_free_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,130},{77,125}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{315,130},{77,125}}</string>
				<key>sourceSize</key>
				<string>{77,135}</string>
			</dict>
			<key>particle_c_free_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{77,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{77,135}}</string>
				<key>sourceSize</key>
				<string>{77,135}</string>
			</dict>
			<key>particle_c_free_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,1},{77,127}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{394,1},{77,127}}</string>
				<key>sourceSize</key>
				<string>{77,135}</string>
			</dict>
			<key>particle_c_free_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,157},{59,125}}</string>
				<key>offset</key>
				<string>{8,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{473,157},{59,125}}</string>
				<key>sourceSize</key>
				<string>{77,135}</string>
			</dict>
			<key>particle_c_free_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,78},{77,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{473,78},{77,125}}</string>
				<key>sourceSize</key>
				<string>{77,135}</string>
			</dict>
			<key>particle_c_free_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{600,128},{65,125}}</string>
				<key>offset</key>
				<string>{5,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{600,128},{65,125}}</string>
				<key>sourceSize</key>
				<string>{77,135}</string>
			</dict>
			<key>particle_c_free_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{604,1},{61,125}}</string>
				<key>offset</key>
				<string>{7,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{604,1},{61,125}}</string>
				<key>sourceSize</key>
				<string>{77,135}</string>
			</dict>
			<key>particle_c_free_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,138},{75,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,138},{75,135}}</string>
				<key>sourceSize</key>
				<string>{77,135}</string>
			</dict>
			<key>particle_c_free_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,1},{75,129}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{473,1},{75,129}}</string>
				<key>sourceSize</key>
				<string>{77,135}</string>
			</dict>
			<key>particle_c_free_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,132},{73,121}}</string>
				<key>offset</key>
				<string>{1,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{157,132},{73,121}}</string>
				<key>sourceSize</key>
				<string>{77,135}</string>
			</dict>
			<key>particle_c_free_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,130},{77,125}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{394,130},{77,125}}</string>
				<key>sourceSize</key>
				<string>{77,135}</string>
			</dict>
			<key>particle_c_free_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,1},{77,127}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{315,1},{77,127}}</string>
				<key>sourceSize</key>
				<string>{77,135}</string>
			</dict>
			<key>particle_c_free_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,1},{77,127}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{236,1},{77,127}}</string>
				<key>sourceSize</key>
				<string>{77,135}</string>
			</dict>
			<key>particle_c_free_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,130},{77,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{236,130},{77,125}}</string>
				<key>sourceSize</key>
				<string>{77,135}</string>
			</dict>
			<key>particle_c_free_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,1},{77,129}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{157,1},{77,129}}</string>
				<key>sourceSize</key>
				<string>{77,135}</string>
			</dict>
			<key>particle_c_free_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,1},{75,135}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{80,1},{75,135}}</string>
				<key>sourceSize</key>
				<string>{77,135}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>d58e70dd-216e-447b-ad53-871a49fa8a0c.4c21d.jpg</string>
			<key>size</key>
			<string>{666,256}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>d58e70dd-216e-447b-ad53-871a49fa8a0c.4c21d.jpg</string>
		</dict>
	</dict>
</plist>
