<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>particle_out_fast_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{236,333},{89,223}}</string>
				<key>offset</key>
				<string>{-8,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{236,333},{89,223}}</string>
				<key>sourceSize</key>
				<string>{107,237}</string>
			</dict>
			<key>particle_out_fast_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,147},{83,237}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,147},{83,237}}</string>
				<key>sourceSize</key>
				<string>{107,237}</string>
			</dict>
			<key>particle_out_fast_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,1},{69,237}}</string>
				<key>offset</key>
				<string>{-17,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{240,1},{69,237}}</string>
				<key>sourceSize</key>
				<string>{107,237}</string>
			</dict>
			<key>particle_out_fast_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,505},{101,221}}</string>
				<key>offset</key>
				<string>{-1,6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,505},{101,221}}</string>
				<key>sourceSize</key>
				<string>{107,237}</string>
			</dict>
			<key>particle_out_fast_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,153},{83,237}}</string>
				<key>offset</key>
				<string>{-10,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{240,153},{83,237}}</string>
				<key>sourceSize</key>
				<string>{107,237}</string>
			</dict>
			<key>particle_out_fast_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,70},{75,237}}</string>
				<key>offset</key>
				<string>{-15,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,70},{75,237}}</string>
				<key>sourceSize</key>
				<string>{107,237}</string>
			</dict>
			<key>particle_out_fast_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,256},{87,223}}</string>
				<key>offset</key>
				<string>{-7,2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{686,256},{87,223}}</string>
				<key>sourceSize</key>
				<string>{107,237}</string>
			</dict>
			<key>particle_out_fast_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,424},{91,223}}</string>
				<key>offset</key>
				<string>{-8,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{226,424},{91,223}}</string>
				<key>sourceSize</key>
				<string>{107,237}</string>
			</dict>
			<key>particle_out_fast_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,424},{101,221}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{451,424},{101,221}}</string>
				<key>sourceSize</key>
				<string>{107,237}</string>
			</dict>
			<key>particle_out_fast_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{67,237}}</string>
				<key>offset</key>
				<string>{-17,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{67,237}}</string>
				<key>sourceSize</key>
				<string>{107,237}</string>
			</dict>
			<key>particle_out_fast_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,1},{73,237}}</string>
				<key>offset</key>
				<string>{-15,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{479,1},{73,237}}</string>
				<key>sourceSize</key>
				<string>{107,237}</string>
			</dict>
			<key>particle_out_fast_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,84},{83,231}}</string>
				<key>offset</key>
				<string>{-10,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{718,84},{83,231}}</string>
				<key>sourceSize</key>
				<string>{107,237}</string>
			</dict>
			<key>particle_out_fast_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,345},{89,233}}</string>
				<key>offset</key>
				<string>{-7,2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{686,345},{89,233}}</string>
				<key>sourceSize</key>
				<string>{107,237}</string>
			</dict>
			<key>particle_out_fast_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{222,238},{85,225}}</string>
				<key>offset</key>
				<string>{-10,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{222,238},{85,225}}</string>
				<key>sourceSize</key>
				<string>{107,237}</string>
			</dict>
			<key>particle_out_fast_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,169},{85,235}}</string>
				<key>offset</key>
				<string>{-8,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{706,169},{85,235}}</string>
				<key>sourceSize</key>
				<string>{107,237}</string>
			</dict>
			<key>particle_out_fast_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,232},{85,219}}</string>
				<key>offset</key>
				<string>{-7,5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,232},{85,219}}</string>
				<key>sourceSize</key>
				<string>{107,237}</string>
			</dict>
			<key>particle_out_fast_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,1},{81,229}}</string>
				<key>offset</key>
				<string>{-10,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{718,1},{81,229}}</string>
				<key>sourceSize</key>
				<string>{107,237}</string>
			</dict>
			<key>particle_out_fast_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,414},{89,223}}</string>
				<key>offset</key>
				<string>{-8,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,414},{89,223}}</string>
				<key>sourceSize</key>
				<string>{107,237}</string>
			</dict>
			<key>particle_out_fast_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,159},{85,225}}</string>
				<key>offset</key>
				<string>{-9,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{479,159},{85,225}}</string>
				<key>sourceSize</key>
				<string>{107,237}</string>
			</dict>
			<key>particle_out_fast_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,529},{95,237}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{702,529},{95,237}}</string>
				<key>sourceSize</key>
				<string>{107,237}</string>
			</dict>
			<key>particle_out_fast_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,325},{87,233}}</string>
				<key>offset</key>
				<string>{-7,2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,325},{87,233}}</string>
				<key>sourceSize</key>
				<string>{107,237}</string>
			</dict>
			<key>particle_out_fast_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,76},{81,237}}</string>
				<key>offset</key>
				<string>{-12,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{479,76},{81,237}}</string>
				<key>sourceSize</key>
				<string>{107,237}</string>
			</dict>
			<key>particle_out_fast_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,436},{91,237}}</string>
				<key>offset</key>
				<string>{-6,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{674,436},{91,237}}</string>
				<key>sourceSize</key>
				<string>{107,237}</string>
			</dict>
			<key>particle_out_fast_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,333},{89,223}}</string>
				<key>offset</key>
				<string>{-8,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{461,333},{89,223}}</string>
				<key>sourceSize</key>
				<string>{107,237}</string>
			</dict>
			<key>particle_out_fast_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,246},{85,235}}</string>
				<key>offset</key>
				<string>{-9,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{449,246},{85,235}}</string>
				<key>sourceSize</key>
				<string>{107,237}</string>
			</dict>
			<key>particle_out_fast_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,72},{79,237}}</string>
				<key>offset</key>
				<string>{-12,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{240,72},{79,237}}</string>
				<key>sourceSize</key>
				<string>{107,237}</string>
			</dict>
			<key>particle_out_fast_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{463,529},{95,237}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{463,529},{95,237}}</string>
				<key>sourceSize</key>
				<string>{107,237}</string>
			</dict>
			<key>particle_out_fast_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{224,527},{91,237}}</string>
				<key>offset</key>
				<string>{-7,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{224,527},{91,237}}</string>
				<key>sourceSize</key>
				<string>{107,237}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>e730f00d-8a01-4b64-956a-03b11c2c48ee.79e7c.jpg</string>
			<key>size</key>
			<string>{950,625}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>e730f00d-8a01-4b64-956a-03b11c2c48ee.79e7c.jpg</string>
		</dict>
	</dict>
</plist>
