<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>smw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{584,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{584,216}}</string>
				<key>sourceSize</key>
				<string>{584,216}</string>
			</dict>
			<key>bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,1},{395,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{965,1},{395,206}}</string>
				<key>sourceSize</key>
				<string>{395,206}</string>
			</dict>
			<key>mw.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,1},{376,216}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{587,1},{376,216}}</string>
				<key>sourceSize</key>
				<string>{376,216}</string>
			</dict>
			<key>bigwin_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1359,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1359,218}}</string>
				<key>sourceSize</key>
				<string>{1361,218}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>bigwin_text.png</string>
			<key>size</key>
			<string>{1361,218}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>bigwin_text.png</string>
		</dict>
	</dict>
</plist>
