<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>info3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,311},{727,70}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,311},{727,70}}</string>
				<key>sourceSize</key>
				<string>{745,100}</string>
			</dict>
			<key>info1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{2014,76}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{2014,76}}</string>
				<key>sourceSize</key>
				<string>{2034,100}</string>
			</dict>
			<key>info0.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,239},{905,70}}</string>
				<key>offset</key>
				<string>{-8,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{931,239},{905,70}}</string>
				<key>sourceSize</key>
				<string>{931,100}</string>
			</dict>
			<key>1024ways.png</key>
			<dict>
				<key>frame</key>
				<string>{{1924,79},{251,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1924,79},{251,57}}</string>
				<key>sourceSize</key>
				<string>{251,57}</string>
			</dict>
			<key>Info4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,155},{1188,82}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,155},{1188,82}}</string>
				<key>sourceSize</key>
				<string>{1210,100}</string>
			</dict>
			<key>totalwin_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{1666,79},{178,90}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1666,79},{178,90}}</string>
				<key>sourceSize</key>
				<string>{200,100}</string>
			</dict>
			<key>info2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,79},{1663,74}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,79},{1663,74}}</string>
				<key>sourceSize</key>
				<string>{1677,100}</string>
			</dict>
			<key>info5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,239},{928,70}}</string>
				<key>offset</key>
				<string>{-1,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,239},{928,70}}</string>
				<key>sourceSize</key>
				<string>{942,100}</string>
			</dict>
			<key>win_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{1846,79},{265,76}}</string>
				<key>offset</key>
				<string>{-2,-11}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1846,79},{265,76}}</string>
				<key>sourceSize</key>
				<string>{273,100}</string>
			</dict>
			<key>info_message.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{2012,378}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{2012,378}}</string>
				<key>sourceSize</key>
				<string>{2016,382}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>info_message.png</string>
			<key>size</key>
			<string>{2016,382}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>info_message.png</string>
		</dict>
	</dict>
</plist>
