<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fm.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{653,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{653,76}}</string>
				<key>sourceSize</key>
				<string>{653,76}</string>
			</dict>
			<key>start.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,300},{164,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,300},{164,86}}</string>
				<key>sourceSize</key>
				<string>{164,86}</string>
			</dict>
			<key>fsw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,79},{501,219}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,79},{501,219}}</string>
				<key>sourceSize</key>
				<string>{501,219}</string>
			</dict>
			<key>start_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,300},{164,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{167,300},{164,86}}</string>
				<key>sourceSize</key>
				<string>{164,86}</string>
			</dict>
			<key>bonus_transition_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2},{653,385}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{653,385}}</string>
				<key>sourceSize</key>
				<string>{655,387}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>bonus_transition_text.png</string>
			<key>size</key>
			<string>{655,387}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>bonus_transition_text.png</string>
		</dict>
	</dict>
</plist>
