<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>info_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,168},{1575,53}}</string>
				<key>offset</key>
				<string>{-5,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,168},{1575,53}}</string>
				<key>sourceSize</key>
				<string>{1585,77}</string>
			</dict>
			<key>info_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,1},{972,45}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{932,1},{972,45}}</string>
				<key>sourceSize</key>
				<string>{980,77}</string>
			</dict>
			<key>info_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{542,95},{539,71}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{542,95},{539,71}}</string>
				<key>sourceSize</key>
				<string>{541,77}</string>
			</dict>
			<key>info_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,95},{539,71}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,95},{539,71}}</string>
				<key>sourceSize</key>
				<string>{541,77}</string>
			</dict>
			<key>info_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,48},{1217,45}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,48},{1217,45}}</string>
				<key>sourceSize</key>
				<string>{1225,77}</string>
			</dict>
			<key>info_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{929,45}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{929,45}}</string>
				<key>sourceSize</key>
				<string>{939,77}</string>
			</dict>
			<key>info_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1220,48},{524,71}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1220,48},{524,71}}</string>
				<key>sourceSize</key>
				<string>{526,77}</string>
			</dict>
			<key>info_board_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2},{1903,218}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,2},{1903,218}}</string>
				<key>sourceSize</key>
				<string>{1905,222}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>info_board_text.png</string>
			<key>size</key>
			<string>{1905,222}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>info_board_text.png</string>
		</dict>
	</dict>
</plist>
