<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Denglong01_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,1537},{723,101}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{724,1537},{723,101}}</string>
				<key>sourceSize</key>
				<string>{723,104}</string>
			</dict>
			<key>Denglong01_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1333},{722,101}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1333},{722,101}}</string>
				<key>sourceSize</key>
				<string>{723,104}</string>
			</dict>
			<key>Denglong01_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,624},{721,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,624},{721,100}}</string>
				<key>sourceSize</key>
				<string>{723,104}</string>
			</dict>
			<key>Denglong01_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1129},{721,101}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1129},{721,101}}</string>
				<key>sourceSize</key>
				<string>{723,104}</string>
			</dict>
			<key>Denglong01_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,826},{721,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,826},{721,100}}</string>
				<key>sourceSize</key>
				<string>{723,104}</string>
			</dict>
			<key>Denglong01_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1537},{723,101}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1537},{723,101}}</string>
				<key>sourceSize</key>
				<string>{723,104}</string>
			</dict>
			<key>Denglong01_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1231},{722,101}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1231},{722,101}}</string>
				<key>sourceSize</key>
				<string>{723,104}</string>
			</dict>
			<key>Denglong01_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,1132},{723,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{723,1132},{723,99}}</string>
				<key>sourceSize</key>
				<string>{723,104}</string>
			</dict>
			<key>Denglong01_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,524},{722,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,524},{722,99}}</string>
				<key>sourceSize</key>
				<string>{723,104}</string>
			</dict>
			<key>Denglong01_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,1333},{722,101}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{723,1333},{722,101}}</string>
				<key>sourceSize</key>
				<string>{723,104}</string>
			</dict>
			<key>Denglong01_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,1232},{723,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{723,1232},{723,100}}</string>
				<key>sourceSize</key>
				<string>{723,104}</string>
			</dict>
			<key>Denglong01_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1028},{722,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1028},{722,100}}</string>
				<key>sourceSize</key>
				<string>{723,104}</string>
			</dict>
			<key>Denglong01_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,1639},{723,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{724,1639},{723,101}}</string>
				<key>sourceSize</key>
				<string>{723,104}</string>
			</dict>
			<key>Denglong01_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1435},{722,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1435},{722,101}}</string>
				<key>sourceSize</key>
				<string>{723,104}</string>
			</dict>
			<key>Denglong01_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,1946},{723,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{724,1946},{723,102}}</string>
				<key>sourceSize</key>
				<string>{723,104}</string>
			</dict>
			<key>Denglong01_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1946},{723,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1946},{723,102}}</string>
				<key>sourceSize</key>
				<string>{723,104}</string>
			</dict>
			<key>Denglong01_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{724,1741},{723,101}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{724,1741},{723,101}}</string>
				<key>sourceSize</key>
				<string>{723,104}</string>
			</dict>
			<key>Denglong01_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1741},{723,101}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1741},{723,101}}</string>
				<key>sourceSize</key>
				<string>{723,104}</string>
			</dict>
			<key>Denglong01_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{722,1844},{723,101}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{722,1844},{723,101}}</string>
				<key>sourceSize</key>
				<string>{723,104}</string>
			</dict>
			<key>Denglong01_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1639},{723,101}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1639},{723,101}}</string>
				<key>sourceSize</key>
				<string>{723,104}</string>
			</dict>
			<key>Denglong01_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,1435},{722,101}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{723,1435},{722,101}}</string>
				<key>sourceSize</key>
				<string>{723,104}</string>
			</dict>
			<key>Denglong01_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1843},{721,102}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1843},{721,102}}</string>
				<key>sourceSize</key>
				<string>{723,104}</string>
			</dict>
			<key>Denglong01_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,725},{721,100}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,725},{721,100}}</string>
				<key>sourceSize</key>
				<string>{723,104}</string>
			</dict>
			<key>Denglong01_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,927},{721,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,927},{721,100}}</string>
				<key>sourceSize</key>
				<string>{723,104}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>Atlas_Denglong01.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>Atlas_Denglong01.png</string>
		</dict>
	</dict>
</plist>
