<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>IconFree_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,485},{166,131}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{168,485},{166,131}}</string>
				<key>sourceSize</key>
				<string>{168,140}</string>
			</dict>
			<key>IconFree_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,748},{166,135}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{673,748},{166,135}}</string>
				<key>sourceSize</key>
				<string>{168,140}</string>
			</dict>
			<key>IconFree_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,335},{167,135}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,335},{167,135}}</string>
				<key>sourceSize</key>
				<string>{168,140}</string>
			</dict>
			<key>IconFree_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,752},{167,131}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{840,752},{167,131}}</string>
				<key>sourceSize</key>
				<string>{168,140}</string>
			</dict>
			<key>IconFree_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,748},{168,135}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{168,748},{168,135}}</string>
				<key>sourceSize</key>
				<string>{168,140}</string>
			</dict>
			<key>IconFree_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,748},{167,135}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{505,748},{167,135}}</string>
				<key>sourceSize</key>
				<string>{168,140}</string>
			</dict>
			<key>IconFree_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,748},{167,135}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{337,748},{167,135}}</string>
				<key>sourceSize</key>
				<string>{168,140}</string>
			</dict>
			<key>IconFree_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,63},{167,135}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,63},{167,135}}</string>
				<key>sourceSize</key>
				<string>{168,140}</string>
			</dict>
			<key>IconFree_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{504,887},{167,137}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{504,887},{167,137}}</string>
				<key>sourceSize</key>
				<string>{168,140}</string>
			</dict>
			<key>IconFree_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,746},{167,137}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,746},{167,137}}</string>
				<key>sourceSize</key>
				<string>{168,140}</string>
			</dict>
			<key>IconFree_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,887},{167,137}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{672,887},{167,137}}</string>
				<key>sourceSize</key>
				<string>{168,140}</string>
			</dict>
			<key>IconFree_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,887},{167,137}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{840,887},{167,137}}</string>
				<key>sourceSize</key>
				<string>{168,140}</string>
			</dict>
			<key>IconFree_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,471},{165,137}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,471},{165,137}}</string>
				<key>sourceSize</key>
				<string>{168,140}</string>
			</dict>
			<key>IconFree_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,609},{167,136}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,609},{167,136}}</string>
				<key>sourceSize</key>
				<string>{168,140}</string>
			</dict>
			<key>IconFree_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,199},{167,135}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,199},{167,135}}</string>
				<key>sourceSize</key>
				<string>{168,140}</string>
			</dict>
			<key>IconFree_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,354},{167,130}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{168,354},{167,130}}</string>
				<key>sourceSize</key>
				<string>{168,140}</string>
			</dict>
			<key>IconFree_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,223},{166,130}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{168,223},{166,130}}</string>
				<key>sourceSize</key>
				<string>{168,140}</string>
			</dict>
			<key>IconFree_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,92},{166,130}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{168,92},{166,130}}</string>
				<key>sourceSize</key>
				<string>{168,140}</string>
			</dict>
			<key>IconFree_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,617},{168,130}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{168,617},{168,130}}</string>
				<key>sourceSize</key>
				<string>{168,140}</string>
			</dict>
			<key>IconFree_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,885},{167,139}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{336,885},{167,139}}</string>
				<key>sourceSize</key>
				<string>{168,140}</string>
			</dict>
			<key>IconFree_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,884},{167,140}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{168,884},{167,140}}</string>
				<key>sourceSize</key>
				<string>{168,140}</string>
			</dict>
			<key>IconFree_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,884},{167,140}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,884},{167,140}}</string>
				<key>sourceSize</key>
				<string>{168,140}</string>
			</dict>
			<key>IconFree2_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,260},{165,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{337,260},{165,121}}</string>
				<key>sourceSize</key>
				<string>{169,121}</string>
			</dict>
			<key>IconFree2_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,626},{168,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{337,626},{168,121}}</string>
				<key>sourceSize</key>
				<string>{169,121}</string>
			</dict>
			<key>IconFree2_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,626},{167,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{674,626},{167,121}}</string>
				<key>sourceSize</key>
				<string>{169,121}</string>
			</dict>
			<key>IconFree2_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,626},{167,121}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{506,626},{167,121}}</string>
				<key>sourceSize</key>
				<string>{169,121}</string>
			</dict>
			<key>IconFree2_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,504},{167,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{337,504},{167,121}}</string>
				<key>sourceSize</key>
				<string>{169,121}</string>
			</dict>
			<key>IconFree2_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{842,626},{167,121}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{842,626},{167,121}}</string>
				<key>sourceSize</key>
				<string>{169,121}</string>
			</dict>
			<key>IconFree2_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,382},{166,121}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{337,382},{166,121}}</string>
				<key>sourceSize</key>
				<string>{169,121}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>Atlas_Game03.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>Atlas_Game03.png</string>
		</dict>
	</dict>
</plist>
