<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Denglong02_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1801},{713,117}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1801},{713,117}}</string>
				<key>sourceSize</key>
				<string>{716,130}</string>
			</dict>
			<key>Denglong02_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,302},{712,112}}</string>
				<key>offset</key>
				<string>{0,9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,302},{712,112}}</string>
				<key>sourceSize</key>
				<string>{716,130}</string>
			</dict>
			<key>Denglong02_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1683},{712,117}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1683},{712,117}}</string>
				<key>sourceSize</key>
				<string>{716,130}</string>
			</dict>
			<key>Denglong02_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1566},{713,116}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1566},{713,116}}</string>
				<key>sourceSize</key>
				<string>{716,130}</string>
			</dict>
			<key>Denglong02_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1449},{712,116}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1449},{712,116}}</string>
				<key>sourceSize</key>
				<string>{716,130}</string>
			</dict>
			<key>Denglong02_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1919},{713,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1919},{713,129}}</string>
				<key>sourceSize</key>
				<string>{716,130}</string>
			</dict>
			<key>Denglong02_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,1684},{713,116}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{713,1684},{713,116}}</string>
				<key>sourceSize</key>
				<string>{716,130}</string>
			</dict>
			<key>Denglong02_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,1337},{713,111}}</string>
				<key>offset</key>
				<string>{0,9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{714,1337},{713,111}}</string>
				<key>sourceSize</key>
				<string>{716,130}</string>
			</dict>
			<key>Denglong02_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,189},{712,112}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,189},{712,112}}</string>
				<key>sourceSize</key>
				<string>{716,130}</string>
			</dict>
			<key>Denglong02_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1101},{713,115}}</string>
				<key>offset</key>
				<string>{2,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1101},{713,115}}</string>
				<key>sourceSize</key>
				<string>{716,130}</string>
			</dict>
			<key>Denglong02_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,415},{713,112}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,415},{713,112}}</string>
				<key>sourceSize</key>
				<string>{716,130}</string>
			</dict>
			<key>Denglong02_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,1566},{712,116}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{714,1566},{712,116}}</string>
				<key>sourceSize</key>
				<string>{716,130}</string>
			</dict>
			<key>Denglong02_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,870},{713,114}}</string>
				<key>offset</key>
				<string>{2,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,870},{713,114}}</string>
				<key>sourceSize</key>
				<string>{716,130}</string>
			</dict>
			<key>Denglong02_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{713,1450},{714,115}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{713,1450},{714,115}}</string>
				<key>sourceSize</key>
				<string>{716,130}</string>
			</dict>
			<key>Denglong02_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,1931},{713,117}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{714,1931},{713,117}}</string>
				<key>sourceSize</key>
				<string>{716,130}</string>
			</dict>
			<key>Denglong02_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,1801},{712,117}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{714,1801},{712,117}}</string>
				<key>sourceSize</key>
				<string>{716,130}</string>
			</dict>
			<key>Denglong02_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1333},{713,115}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1333},{713,115}}</string>
				<key>sourceSize</key>
				<string>{716,130}</string>
			</dict>
			<key>Denglong02_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,985},{711,115}}</string>
				<key>offset</key>
				<string>{1,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,985},{711,115}}</string>
				<key>sourceSize</key>
				<string>{716,130}</string>
			</dict>
			<key>Denglong02_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,528},{713,112}}</string>
				<key>offset</key>
				<string>{0,9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,528},{713,112}}</string>
				<key>sourceSize</key>
				<string>{716,130}</string>
			</dict>
			<key>Denglong02_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,641},{713,113}}</string>
				<key>offset</key>
				<string>{0,9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,641},{713,113}}</string>
				<key>sourceSize</key>
				<string>{716,130}</string>
			</dict>
			<key>Denglong02_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,77},{713,111}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,77},{713,111}}</string>
				<key>sourceSize</key>
				<string>{716,130}</string>
			</dict>
			<key>Denglong02_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,1226},{713,110}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{714,1226},{713,110}}</string>
				<key>sourceSize</key>
				<string>{716,130}</string>
			</dict>
			<key>Denglong02_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,755},{712,114}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,755},{712,114}}</string>
				<key>sourceSize</key>
				<string>{716,130}</string>
			</dict>
			<key>Denglong02_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1217},{713,115}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1217},{713,115}}</string>
				<key>sourceSize</key>
				<string>{716,130}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>Atlas_Denglong02.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>Atlas_Denglong02.png</string>
		</dict>
	</dict>
</plist>
