<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Deng_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,1747},{161,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{862,1747},{161,150}}</string>
				<key>sourceSize</key>
				<string>{162,151}</string>
			</dict>
			<key>Deng_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,1576},{162,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{698,1576},{162,149}}</string>
				<key>sourceSize</key>
				<string>{162,151}</string>
			</dict>
			<key>Deng_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,1104},{162,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{347,1104},{162,148}}</string>
				<key>sourceSize</key>
				<string>{162,151}</string>
			</dict>
			<key>Deng_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,1254},{162,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{510,1254},{162,148}}</string>
				<key>sourceSize</key>
				<string>{162,151}</string>
			</dict>
			<key>Deng_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,1105},{162,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{510,1105},{162,148}}</string>
				<key>sourceSize</key>
				<string>{162,151}</string>
			</dict>
			<key>Deng_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,1898},{162,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{699,1898},{162,150}}</string>
				<key>sourceSize</key>
				<string>{162,151}</string>
			</dict>
			<key>Deng_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,1254},{162,148}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{673,1254},{162,148}}</string>
				<key>sourceSize</key>
				<string>{162,151}</string>
			</dict>
			<key>Deng_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,1105},{162,148}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{673,1105},{162,148}}</string>
				<key>sourceSize</key>
				<string>{162,151}</string>
			</dict>
			<key>Deng_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,932},{162,147}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{163,932},{162,147}}</string>
				<key>sourceSize</key>
				<string>{162,151}</string>
			</dict>
			<key>Deng_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,932},{161,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{489,932},{161,147}}</string>
				<key>sourceSize</key>
				<string>{162,151}</string>
			</dict>
			<key>Deng_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,1254},{162,148}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{836,1254},{162,148}}</string>
				<key>sourceSize</key>
				<string>{162,151}</string>
			</dict>
			<key>Deng_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,1105},{162,148}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{836,1105},{162,148}}</string>
				<key>sourceSize</key>
				<string>{162,151}</string>
			</dict>
			<key>Deng_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,931},{162,148}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,931},{162,148}}</string>
				<key>sourceSize</key>
				<string>{162,151}</string>
			</dict>
			<key>Deng_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{862,1898},{162,150}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{862,1898},{162,150}}</string>
				<key>sourceSize</key>
				<string>{162,151}</string>
			</dict>
			<key>Deng_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,1576},{162,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{861,1576},{162,149}}</string>
				<key>sourceSize</key>
				<string>{162,151}</string>
			</dict>
			<key>Deng_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{326,932},{162,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{326,932},{162,147}}</string>
				<key>sourceSize</key>
				<string>{162,151}</string>
			</dict>
			<key>Deng_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,1747},{162,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{699,1747},{162,150}}</string>
				<key>sourceSize</key>
				<string>{162,151}</string>
			</dict>
			<key>Deng_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,1426},{162,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{698,1426},{162,149}}</string>
				<key>sourceSize</key>
				<string>{162,151}</string>
			</dict>
			<key>Deng_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,1426},{162,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{861,1426},{162,149}}</string>
				<key>sourceSize</key>
				<string>{162,151}</string>
			</dict>
			<key>Deng_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,1253},{162,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{347,1253},{162,149}}</string>
				<key>sourceSize</key>
				<string>{162,151}</string>
			</dict>
			<key>Jinhou_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1080},{346,322}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1080},{346,322}}</string>
				<key>sourceSize</key>
				<string>{350,327}</string>
			</dict>
			<key>Jinhou_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1403},{347,322}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1403},{347,322}}</string>
				<key>sourceSize</key>
				<string>{350,327}</string>
			</dict>
			<key>Jinhou_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,1405},{349,320}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{348,1405},{349,320}}</string>
				<key>sourceSize</key>
				<string>{350,327}</string>
			</dict>
			<key>Jinhou_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1726},{348,322}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1726},{348,322}}</string>
				<key>sourceSize</key>
				<string>{350,327}</string>
			</dict>
			<key>Jinhou_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,1727},{349,321}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{349,1727},{349,321}}</string>
				<key>sourceSize</key>
				<string>{350,327}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>Atlas_Game04.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>Atlas_Game04.png</string>
		</dict>
	</dict>
</plist>
