<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>info_bns.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,170},{604,50}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,170},{604,50}}</string>
				<key>sourceSize</key>
				<string>{622,70}</string>
			</dict>
			<key>info_main1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,120},{799,50}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,120},{799,50}}</string>
				<key>sourceSize</key>
				<string>{809,70}</string>
			</dict>
			<key>info_main2.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,50},{372,52}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{573,50},{372,52}}</string>
				<key>sourceSize</key>
				<string>{378,70}</string>
			</dict>
			<key>info_main3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{955,50}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{955,50}}</string>
				<key>sourceSize</key>
				<string>{959,70}</string>
			</dict>
			<key>info_respin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,50},{3,3}}</string>
				<key>offset</key>
				<string>{-2,34}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{945,50},{3,3}}</string>
				<key>sourceSize</key>
				<string>{7,70}</string>
			</dict>
			<key>info_respin2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,50},{573,70}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,50},{573,70}}</string>
				<key>sourceSize</key>
				<string>{595,70}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>infoboard_text.png</string>
			<key>size</key>
			<string>{955,220}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>infoboard_text.png</string>
		</dict>
	</dict>
</plist>
