<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>button.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,0},{400,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{400,138}}</string>
				<key>sourceSize</key>
				<string>{402,139}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1831da2f-ccfd-4346-a560-3b11fa9f876c.0a7ff.png</string>
			<key>size</key>
			<string>{402,139}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1831da2f-ccfd-4346-a560-3b11fa9f876c.0a7ff.png</string>
		</dict>
	</dict>
</plist>
