<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>wh_vfx_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{205,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{205,205}}</string>
				<key>sourceSize</key>
				<string>{205,205}</string>
			</dict>
			<key>wh_vfx_b_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{205,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{205,205}}</string>
				<key>sourceSize</key>
				<string>{205,205}</string>
			</dict>
			<key>wh_vfx_b_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{205,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{205,205}}</string>
				<key>sourceSize</key>
				<string>{205,205}</string>
			</dict>
			<key>wh_vfx_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,1},{85,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{208,1},{85,85}}</string>
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>wh_vfx_b_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{205,205}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{205,205}}</string>
				<key>sourceSize</key>
				<string>{205,205}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1ae6bcba-fc27-4c1e-aaaf-271fe2b83fab.92bf1.jpg</string>
			<key>size</key>
			<string>{294,207}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1ae6bcba-fc27-4c1e-aaaf-271fe2b83fab.92bf1.jpg</string>
		</dict>
	</dict>
</plist>
