<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>multiplier_vfx_a_bonus_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{155,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{155,129}}</string>
				<key>sourceSize</key>
				<string>{155,129}</string>
			</dict>
			<key>multiplier_vfx_a_bonus_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,132},{155,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,132},{155,129}}</string>
				<key>sourceSize</key>
				<string>{155,129}</string>
			</dict>
			<key>multiplier_vfx_a_bonus_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,158},{155,113}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{158,158},{155,113}}</string>
				<key>sourceSize</key>
				<string>{155,129}</string>
			</dict>
			<key>multiplier_vfx_a_bonus_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,374},{155,109}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,374},{155,109}}</string>
				<key>sourceSize</key>
				<string>{155,129}</string>
			</dict>
			<key>multiplier_vfx_a_bonus_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,315},{155,109}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{158,315},{155,109}}</string>
				<key>sourceSize</key>
				<string>{155,129}</string>
			</dict>
			<key>multiplier_vfx_a_bonus_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,263},{155,109}}</string>
				<key>offset</key>
				<string>{0,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,263},{155,109}}</string>
				<key>sourceSize</key>
				<string>{155,129}</string>
			</dict>
			<key>multiplier_vfx_a_bonus_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,1},{155,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{158,1},{155,129}}</string>
				<key>sourceSize</key>
				<string>{155,129}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>37dbbdcd-960d-4fbf-b51b-81bef6f49405.4584e.jpg</string>
			<key>size</key>
			<string>{288,484}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>37dbbdcd-960d-4fbf-b51b-81bef6f49405.4584e.jpg</string>
		</dict>
	</dict>
</plist>
