<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>spin_button_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,1},{175,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{208,1},{175,191}}</string>
				<key>sourceSize</key>
				<string>{175,191}</string>
			</dict>
			<key>spin_button_blur_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{1229,1},{161,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1229,1},{161,160}}</string>
				<key>sourceSize</key>
				<string>{161,160}</string>
			</dict>
			<key>spin_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{905,1},{161,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{905,1},{161,160}}</string>
				<key>sourceSize</key>
				<string>{161,160}</string>
			</dict>
			<key>auto_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,1},{174,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{553,1},{174,179}}</string>
				<key>sourceSize</key>
				<string>{174,179}</string>
			</dict>
			<key>spin_vfx_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,1},{166,180}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{385,1},{166,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>
			<key>footer_rope.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{205,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{205,200}}</string>
				<key>sourceSize</key>
				<string>{205,200}</string>
			</dict>
			<key>spin_button_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{1391,1},{161,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1391,1},{161,160}}</string>
				<key>sourceSize</key>
				<string>{161,160}</string>
			</dict>
			<key>spin_button_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{1067,1},{161,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1067,1},{161,160}}</string>
				<key>sourceSize</key>
				<string>{161,160}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>7bbc4fc9-ccdd-41f8-93fb-156861c8702b.3ab32.png</string>
			<key>size</key>
			<string>{1552,202}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>7bbc4fc9-ccdd-41f8-93fb-156861c8702b.3ab32.png</string>
		</dict>
	</dict>
</plist>
