<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mhover_vfx_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{336,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{336,149}}</string>
				<key>sourceSize</key>
				<string>{336,149}</string>
			</dict>
			<key>mhover_vfx_02_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{336,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{336,149}}</string>
				<key>sourceSize</key>
				<string>{336,149}</string>
			</dict>
			<key>spin_vfx_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,152},{244,244}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,152},{244,244}}</string>
				<key>sourceSize</key>
				<string>{244,244}</string>
			</dict>
			<key>mhover_vfx_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,1},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{339,1},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>mhover_vfx_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,153},{150,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{247,153},{150,150}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>b99a358c-9e20-4f29-a122-9570adbcfca2.b4294.jpg</string>
			<key>size</key>
			<string>{490,397}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>b99a358c-9e20-4f29-a122-9570adbcfca2.b4294.jpg</string>
		</dict>
	</dict>
</plist>
