<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>tw_vfx_f_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{286,1},{285,368}}</string>
				<key>offset</key>
				<string>{-9,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{286,1},{285,368}}</string>
				<key>sourceSize</key>
				<string>{385,412}</string>
			</dict>
			<key>tw_vfx_f_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,395},{283,372}}</string>
				<key>offset</key>
				<string>{-6,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{278,395},{283,372}}</string>
				<key>sourceSize</key>
				<string>{385,412}</string>
			</dict>
			<key>tw_vfx_f_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,371},{275,378}}</string>
				<key>offset</key>
				<string>{-4,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{563,371},{275,378}}</string>
				<key>sourceSize</key>
				<string>{385,412}</string>
			</dict>
			<key>tw_vfx_f_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,1},{277,350}}</string>
				<key>offset</key>
				<string>{-7,-25}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{860,1},{277,350}}</string>
				<key>sourceSize</key>
				<string>{385,412}</string>
			</dict>
			<key>tw_vfx_f_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{283,392}}</string>
				<key>offset</key>
				<string>{-10,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{283,392}}</string>
				<key>sourceSize</key>
				<string>{385,412}</string>
			</dict>
			<key>tw_vfx_f_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1113,353},{249,386}}</string>
				<key>offset</key>
				<string>{-29,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1113,353},{249,386}}</string>
				<key>sourceSize</key>
				<string>{385,412}</string>
			</dict>
			<key>tw_vfx_f_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1187,741},{265,340}}</string>
				<key>offset</key>
				<string>{-10,-29}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1187,741},{265,340}}</string>
				<key>sourceSize</key>
				<string>{385,412}</string>
			</dict>
			<key>tw_vfx_f_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,395},{275,386}}</string>
				<key>offset</key>
				<string>{-4,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,395},{275,386}}</string>
				<key>sourceSize</key>
				<string>{385,412}</string>
			</dict>
			<key>tw_vfx_f_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,769},{243,400}}</string>
				<key>offset</key>
				<string>{-21,2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{387,769},{243,400}}</string>
				<key>sourceSize</key>
				<string>{385,412}</string>
			</dict>
			<key>tw_vfx_f_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,783},{227,384}}</string>
				<key>offset</key>
				<string>{-28,-3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,783},{227,384}}</string>
				<key>sourceSize</key>
				<string>{385,412}</string>
			</dict>
			<key>tw_vfx_f_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{840,359},{271,358}}</string>
				<key>offset</key>
				<string>{-6,-16}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{840,359},{271,358}}</string>
				<key>sourceSize</key>
				<string>{385,412}</string>
			</dict>
			<key>tw_vfx_f_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1364,343},{227,384}}</string>
				<key>offset</key>
				<string>{-28,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1364,343},{227,384}}</string>
				<key>sourceSize</key>
				<string>{385,412}</string>
			</dict>
			<key>tw_vfx_f_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,751},{261,396}}</string>
				<key>offset</key>
				<string>{-13,-3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{789,751},{261,396}}</string>
				<key>sourceSize</key>
				<string>{385,412}</string>
			</dict>
			<key>tw_vfx_f_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1139,1},{277,340}}</string>
				<key>offset</key>
				<string>{-10,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1139,1},{277,340}}</string>
				<key>sourceSize</key>
				<string>{385,412}</string>
			</dict>
			<key>tw_vfx_f_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,1},{285,356}}</string>
				<key>offset</key>
				<string>{-12,-14}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{573,1},{285,356}}</string>
				<key>sourceSize</key>
				<string>{385,412}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>c0814a80-bb90-4bf4-8de3-f50f94f084d9.db224.jpg</string>
			<key>size</key>
			<string>{1592,1013}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>c0814a80-bb90-4bf4-8de3-f50f94f084d9.db224.jpg</string>
		</dict>
	</dict>
</plist>
