<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bw_vfx_b_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,321},{78,167}}</string>
				<key>offset</key>
				<string>{-2,18}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,321},{78,167}}</string>
				<key>sourceSize</key>
				<string>{102,221}</string>
			</dict>
			<key>bw_vfx_b_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,321},{78,167}}</string>
				<key>offset</key>
				<string>{-2,18}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{170,321},{78,167}}</string>
				<key>sourceSize</key>
				<string>{102,221}</string>
			</dict>
			<key>bw_vfx_b_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{76,167}}</string>
				<key>offset</key>
				<string>{-1,18}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{76,167}}</string>
				<key>sourceSize</key>
				<string>{102,221}</string>
			</dict>
			<key>bw_vfx_b_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,79},{78,167}}</string>
				<key>offset</key>
				<string>{-3,18}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,79},{78,167}}</string>
				<key>sourceSize</key>
				<string>{102,221}</string>
			</dict>
			<key>bw_vfx_b_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,401},{80,169}}</string>
				<key>offset</key>
				<string>{-2,17}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,401},{80,169}}</string>
				<key>sourceSize</key>
				<string>{102,221}</string>
			</dict>
			<key>bw_vfx_b_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,161},{78,167}}</string>
				<key>offset</key>
				<string>{-1,17}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{170,161},{78,167}}</string>
				<key>sourceSize</key>
				<string>{102,221}</string>
			</dict>
			<key>bw_vfx_b_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,159},{78,167}}</string>
				<key>offset</key>
				<string>{-2,18}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,159},{78,167}}</string>
				<key>sourceSize</key>
				<string>{102,221}</string>
			</dict>
			<key>bw_vfx_b_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,1},{78,167}}</string>
				<key>offset</key>
				<string>{-2,18}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{339,1},{78,167}}</string>
				<key>sourceSize</key>
				<string>{102,221}</string>
			</dict>
			<key>bw_vfx_b_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,161},{78,165}}</string>
				<key>offset</key>
				<string>{-1,17}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{339,161},{78,165}}</string>
				<key>sourceSize</key>
				<string>{102,221}</string>
			</dict>
			<key>bw_vfx_b_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,241},{78,165}}</string>
				<key>offset</key>
				<string>{-1,17}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{168,241},{78,165}}</string>
				<key>sourceSize</key>
				<string>{102,221}</string>
			</dict>
			<key>bw_vfx_b_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,241},{78,165}}</string>
				<key>offset</key>
				<string>{-2,17}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{335,241},{78,165}}</string>
				<key>sourceSize</key>
				<string>{102,221}</string>
			</dict>
			<key>bw_vfx_b_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,239},{78,165}}</string>
				<key>offset</key>
				<string>{-1,17}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,239},{78,165}}</string>
				<key>sourceSize</key>
				<string>{102,221}</string>
			</dict>
			<key>bw_vfx_b_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,81},{78,167}}</string>
				<key>offset</key>
				<string>{-3,18}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{170,81},{78,167}}</string>
				<key>sourceSize</key>
				<string>{102,221}</string>
			</dict>
			<key>bw_vfx_b_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{172,401},{80,169}}</string>
				<key>offset</key>
				<string>{-1,17}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{172,401},{80,169}}</string>
				<key>sourceSize</key>
				<string>{102,221}</string>
			</dict>
			<key>bw_vfx_b_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,81},{78,167}}</string>
				<key>offset</key>
				<string>{-2,18}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{339,81},{78,167}}</string>
				<key>sourceSize</key>
				<string>{102,221}</string>
			</dict>
			<key>bw_vfx_b_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,321},{78,167}}</string>
				<key>offset</key>
				<string>{-2,18}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{339,321},{78,167}}</string>
				<key>sourceSize</key>
				<string>{102,221}</string>
			</dict>
			<key>bw_vfx_b_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,401},{80,167}}</string>
				<key>offset</key>
				<string>{-1,18}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{343,401},{80,167}}</string>
				<key>sourceSize</key>
				<string>{102,221}</string>
			</dict>
			<key>bw_vfx_b_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,1},{78,167}}</string>
				<key>offset</key>
				<string>{-2,18}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{170,1},{78,167}}</string>
				<key>sourceSize</key>
				<string>{102,221}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>c63e12c0-b0e6-4a1d-aefa-552c576bef9f.127d3.png</string>
			<key>size</key>
			<string>{511,482}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>c63e12c0-b0e6-4a1d-aefa-552c576bef9f.127d3.png</string>
		</dict>
	</dict>
</plist>
