<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>nudge_vfx_b_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,142},{79,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,142},{79,139}}</string>
				<key>sourceSize</key>
				<string>{79,139}</string>
			</dict>
			<key>nudge_vfx_b_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,142},{79,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,142},{79,139}}</string>
				<key>sourceSize</key>
				<string>{79,139}</string>
			</dict>
			<key>nudge_vfx_b_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,283},{77,139}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{242,283},{77,139}}</string>
				<key>sourceSize</key>
				<string>{79,139}</string>
			</dict>
			<key>nudge_vfx_b_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,142},{77,139}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{244,142},{77,139}}</string>
				<key>sourceSize</key>
				<string>{79,139}</string>
			</dict>
			<key>nudge_vfx_b_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,283},{75,139}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{321,283},{75,139}}</string>
				<key>sourceSize</key>
				<string>{79,139}</string>
			</dict>
			<key>nudge_vfx_b_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,424},{79,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{142,424},{79,139}}</string>
				<key>sourceSize</key>
				<string>{79,139}</string>
			</dict>
			<key>nudge_vfx_b_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,283},{77,139}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{163,283},{77,139}}</string>
				<key>sourceSize</key>
				<string>{79,139}</string>
			</dict>
			<key>nudge_vfx_b_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,1},{79,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{244,1},{79,139}}</string>
				<key>sourceSize</key>
				<string>{79,139}</string>
			</dict>
			<key>nudge_vfx_b_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,142},{77,137}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{400,142},{77,137}}</string>
				<key>sourceSize</key>
				<string>{79,139}</string>
			</dict>
			<key>nudge_vfx_b_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,281},{57,115}}</string>
				<key>offset</key>
				<string>{3,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{465,281},{57,115}}</string>
				<key>sourceSize</key>
				<string>{79,139}</string>
			</dict>
			<key>nudge_vfx_b_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,283},{65,135}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{398,283},{65,135}}</string>
				<key>sourceSize</key>
				<string>{79,139}</string>
			</dict>
			<key>nudge_vfx_b_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,283},{79,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,283},{79,139}}</string>
				<key>sourceSize</key>
				<string>{79,139}</string>
			</dict>
			<key>nudge_vfx_b_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,424},{79,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,424},{79,139}}</string>
				<key>sourceSize</key>
				<string>{79,139}</string>
			</dict>
			<key>nudge_vfx_b_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,142},{75,139}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{323,142},{75,139}}</string>
				<key>sourceSize</key>
				<string>{79,139}</string>
			</dict>
			<key>nudge_vfx_b_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,1},{79,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,1},{79,139}}</string>
				<key>sourceSize</key>
				<string>{79,139}</string>
			</dict>
			<key>nudge_vfx_b_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,142},{79,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{163,142},{79,139}}</string>
				<key>sourceSize</key>
				<string>{79,139}</string>
			</dict>
			<key>nudge_vfx_b_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{79,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{79,139}}</string>
				<key>sourceSize</key>
				<string>{79,139}</string>
			</dict>
			<key>nudge_vfx_b_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,1},{79,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{163,1},{79,139}}</string>
				<key>sourceSize</key>
				<string>{79,139}</string>
			</dict>
			<key>nudge_vfx_b_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{82,283},{79,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{82,283},{79,139}}</string>
				<key>sourceSize</key>
				<string>{79,139}</string>
			</dict>
			<key>nudge_vfx_b_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,424},{71,139}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{283,424},{71,139}}</string>
				<key>sourceSize</key>
				<string>{79,139}</string>
			</dict>
			<key>nudge_vfx_b_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,1},{75,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{404,1},{75,139}}</string>
				<key>sourceSize</key>
				<string>{79,139}</string>
			</dict>
			<key>nudge_vfx_b_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,1},{77,139}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{325,1},{77,139}}</string>
				<key>sourceSize</key>
				<string>{79,139}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>d1a81a14-7454-41a1-8760-b7e6ce31f25b.21f61.png</string>
			<key>size</key>
			<string>{523,504}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>d1a81a14-7454-41a1-8760-b7e6ce31f25b.21f61.png</string>
		</dict>
	</dict>
</plist>
