<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>wh_vfx_c_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,158},{140,153}}</string>
				<key>offset</key>
				<string>{7,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{311,158},{140,153}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,788},{100,135}}</string>
				<key>offset</key>
				<string>{6,-13}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{160,788},{100,135}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,267},{122,155}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{453,267},{122,155}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{154,155}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{154,155}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,315},{152,155}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,315},{152,155}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,315},{152,153}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{155,315},{152,153}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,629},{94,157}}</string>
				<key>offset</key>
				<string>{9,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{143,629},{94,157}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,725},{140,137}}</string>
				<key>offset</key>
				<string>{6,7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{503,725},{140,137}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,158},{154,155}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,158},{154,155}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,1},{140,159}}</string>
				<key>offset</key>
				<string>{5,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{467,1},{140,159}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,470},{140,153}}</string>
				<key>offset</key>
				<string>{7,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{155,470},{140,153}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,1},{152,155}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{313,1},{152,155}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,158},{152,155}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{157,158},{152,155}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,313},{140,135}}</string>
				<key>offset</key>
				<string>{5,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{311,313},{140,135}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,629},{140,157}}</string>
				<key>offset</key>
				<string>{8,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,629},{140,157}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,487},{94,155}}</string>
				<key>offset</key>
				<string>{9,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{453,487},{94,155}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,143},{122,155}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{467,143},{122,155}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,589},{140,143}}</string>
				<key>offset</key>
				<string>{6,11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{361,589},{140,143}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,625},{120,155}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{239,625},{120,155}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,391},{94,155}}</string>
				<key>offset</key>
				<string>{9,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{453,391},{94,155}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,472},{152,155}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,472},{152,155}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,734},{140,137}}</string>
				<key>offset</key>
				<string>{6,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{361,734},{140,137}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,450},{142,137}}</string>
				<key>offset</key>
				<string>{6,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{309,450},{142,137}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,1},{154,155}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{157,1},{154,155}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,583},{140,137}}</string>
				<key>offset</key>
				<string>{6,8}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{503,583},{140,137}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,788},{118,157}}</string>
				<key>offset</key>
				<string>{-4,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,788},{118,157}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_17_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,158},{140,153}}</string>
				<key>offset</key>
				<string>{7,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{311,158},{140,153}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_08_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,788},{100,135}}</string>
				<key>offset</key>
				<string>{6,-13}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{160,788},{100,135}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_04_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,267},{122,155}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{453,267},{122,155}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_00_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{154,155}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{154,155}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_20_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,315},{152,155}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,315},{152,155}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_19_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,315},{152,153}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{155,315},{152,153}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_07_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{143,629},{94,157}}</string>
				<key>offset</key>
				<string>{9,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{143,629},{94,157}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_15_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,725},{140,137}}</string>
				<key>offset</key>
				<string>{6,7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{503,725},{140,137}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_23_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,158},{154,155}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,158},{154,155}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_10_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,1},{140,159}}</string>
				<key>offset</key>
				<string>{5,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{467,1},{140,159}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_18_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,470},{140,153}}</string>
				<key>offset</key>
				<string>{7,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{155,470},{140,153}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_22_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{313,1},{152,155}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{313,1},{152,155}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_21_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,158},{152,155}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{157,158},{152,155}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_11_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,313},{140,135}}</string>
				<key>offset</key>
				<string>{5,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{311,313},{140,135}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_02_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,629},{140,157}}</string>
				<key>offset</key>
				<string>{8,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,629},{140,157}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_06_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,487},{94,155}}</string>
				<key>offset</key>
				<string>{9,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{453,487},{94,155}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_03_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{467,143},{122,155}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{467,143},{122,155}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_12_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,589},{140,143}}</string>
				<key>offset</key>
				<string>{6,11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{361,589},{140,143}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_01_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{239,625},{120,155}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{239,625},{120,155}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_05_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,391},{94,155}}</string>
				<key>offset</key>
				<string>{9,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{453,391},{94,155}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_25_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,472},{152,155}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,472},{152,155}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_14_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,734},{140,137}}</string>
				<key>offset</key>
				<string>{6,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{361,734},{140,137}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_16_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,450},{142,137}}</string>
				<key>offset</key>
				<string>{6,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{309,450},{142,137}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_24_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,1},{154,155}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{157,1},{154,155}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_13_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,583},{140,137}}</string>
				<key>offset</key>
				<string>{6,8}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{503,583},{140,137}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
			<key>wh_vfx_c_09_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,788},{118,157}}</string>
				<key>offset</key>
				<string>{-4,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,788},{118,157}}</string>
				<key>sourceSize</key>
				<string>{194,195}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>d2ebc6f0-8677-4f4e-82e9-7d72c83fdc32.e5c71.jpg</string>
			<key>size</key>
			<string>{641,907}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>d2ebc6f0-8677-4f4e-82e9-7d72c83fdc32.e5c71.jpg</string>
		</dict>
	</dict>
</plist>
