<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>6_mult.png</key>
			<dict>
				<key>frame</key>
				<string>{{35,77},{32,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{35,77},{32,36}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>5_mult.png</key>
			<dict>
				<key>frame</key>
				<string>{{71,1},{30,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{71,1},{30,36}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>0_mult.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{36,36}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>8_mult.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,39},{34,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,39},{34,36}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>1_mult.png</key>
			<dict>
				<key>frame</key>
				<string>{{103,1},{16,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{103,1},{16,36}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>4_mult.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,1},{30,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,1},{30,36}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>2_mult.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,77},{32,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,77},{32,36}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>3_mult.png</key>
			<dict>
				<key>frame</key>
				<string>{{37,39},{30,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{37,39},{30,36}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>percentage.png</key>
			<dict>
				<key>frame</key>
				<string>{{101,39},{28,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{101,39},{28,30}}</string>
				<key>sourceSize</key>
				<string>{28,30}</string>
			</dict>
			<key>7_mult.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,77},{28,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{69,77},{28,36}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
			<key>9_mult.png</key>
			<dict>
				<key>frame</key>
				<string>{{69,39},{30,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{69,39},{30,36}}</string>
				<key>sourceSize</key>
				<string>{42,42}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>ed2f09de-301f-42eb-9024-2003d2856723.67501.png</string>
			<key>size</key>
			<string>{130,114}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>ed2f09de-301f-42eb-9024-2003d2856723.67501.png</string>
		</dict>
	</dict>
</plist>
