<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bw_vfx_f_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,381},{84,101}}</string>
				<key>offset</key>
				<string>{-3,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{177,381},{84,101}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_f_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,183},{86,105}}</string>
				<key>offset</key>
				<string>{-3,-9}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{315,183},{86,105}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_f_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,370},{88,115}}</string>
				<key>offset</key>
				<string>{-3,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,370},{88,115}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_f_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,269},{86,105}}</string>
				<key>offset</key>
				<string>{-2,-9}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{202,269},{86,105}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_f_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,1},{48,43}}</string>
				<key>offset</key>
				<string>{0,-41}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{446,1},{48,43}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_f_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,124},{88,121}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,124},{88,121}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_f_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,91},{62,69}}</string>
				<key>offset</key>
				<string>{0,-28}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{440,91},{62,69}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_f_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{329,1},{88,115}}</string>
				<key>offset</key>
				<string>{-3,-4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{329,1},{88,115}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_f_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,282},{86,97}}</string>
				<key>offset</key>
				<string>{-2,-14}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{416,282},{86,97}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_f_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,271},{86,105}}</string>
				<key>offset</key>
				<string>{-4,-9}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{309,271},{86,105}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_f_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,93},{92,111}}</string>
				<key>offset</key>
				<string>{-3,-6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{91,93},{92,111}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_f_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,1},{88,117}}</string>
				<key>offset</key>
				<string>{-3,-4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{210,1},{88,117}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_f_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,247},{88,121}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,247},{88,121}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_f_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,91},{86,115}}</string>
				<key>offset</key>
				<string>{-5,-5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{210,91},{86,115}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_f_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,359},{68,75}}</string>
				<key>offset</key>
				<string>{-2,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{343,359},{68,75}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_f_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,187},{86,109}}</string>
				<key>offset</key>
				<string>{-2,-7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{91,187},{86,109}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_f_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,1},{90,117}}</string>
				<key>offset</key>
				<string>{-4,-4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{91,1},{90,117}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_f_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,381},{84,103}}</string>
				<key>offset</key>
				<string>{-3,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{91,381},{84,103}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_f_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,275},{86,105}}</string>
				<key>offset</key>
				<string>{-4,-8}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{91,275},{86,105}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_f_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,183},{82,97}}</string>
				<key>offset</key>
				<string>{-1,-14}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{422,183},{82,97}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_f_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,381},{78,99}}</string>
				<key>offset</key>
				<string>{-3,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{263,381},{78,99}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_f_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,179},{88,109}}</string>
				<key>offset</key>
				<string>{-3,-8}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{204,179},{88,109}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_f_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,91},{90,111}}</string>
				<key>offset</key>
				<string>{-5,-7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{327,91},{90,111}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_f_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{88,121}}</string>
				<key>offset</key>
				<string>{-3,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{88,121}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_f_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,381},{84,91}}</string>
				<key>offset</key>
				<string>{-1,-17}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{413,381},{84,91}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>fa533bab-47c6-47be-9053-27c4d913d0ef.3da46.png</string>
			<key>size</key>
			<string>{505,486}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>fa533bab-47c6-47be-9053-27c4d913d0ef.3da46.png</string>
		</dict>
	</dict>
</plist>
