<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>smw_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,1},{539,336}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{716,1},{539,336}}</string>
				<key>sourceSize</key>
				<string>{539,336}</string>
			</dict>
			<key>bw_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{713,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{713,187}}</string>
				<key>sourceSize</key>
				<string>{713,187}</string>
			</dict>
			<key>mw_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,190},{667,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,190},{667,182}}</string>
				<key>sourceSize</key>
				<string>{667,182}</string>
			</dict>
			<key>big_win_texture.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,0},{1254,373}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{1254,373}}</string>
				<key>sourceSize</key>
				<string>{1256,373}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>big_win_texture.png</string>
			<key>size</key>
			<string>{1256,373}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>big_win_texture.png</string>
		</dict>
	</dict>
</plist>
