<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ic_paytable.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1113},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1113},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_chip.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,1023},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{185,1023},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ic_coupon.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,1085},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{185,1085},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>wallet_notification.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,713},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{203,713},{18,18}}</string>
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>ic_wallet_open.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,1333},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{173,1333},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ic_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,1271},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{173,1271},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>setting_info_footer_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{3,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{3,305}}</string>
				<key>sourceSize</key>
				<string>{3,305}</string>
			</dict>
			<key>ic_rollover.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,1209},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,1209},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ic_free_game.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,1147},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,1147},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ic_smartbot.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,111},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{142,111},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{6,233},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,233},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>btn_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{6,123},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,123},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>btn_minus.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,1},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,1},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_paytable_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1113},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1113},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>btn_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,563},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,563},{90,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>ic_toast_turbo_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,613},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{203,613},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>ic_soundoff_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,245},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{116,245},{24,24}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>bg_round_solid.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,1427},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,1427},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>btn_turbo_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,655},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,655},{90,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>ic_toast_turbo_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,663},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{203,663},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>bg_tooltip_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,123},{120,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{116,123},{120,24}}</string>
				<key>sourceSize</key>
				<string>{120,24}</string>
			</dict>
			<key>bg_tooltip_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{6,1},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>bg_round_border.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,1443},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{66,1443},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ic_soundoff.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,221},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{142,221},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_soundon.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,343},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,343},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_exit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,343},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,343},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>btn_menu_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,563},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,563},{90,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>center_turbo_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,839},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,839},{90,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>center_turbo_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,931},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,931},{90,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>turbo_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,1169},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,1169},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>ic_smartbot_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,111},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{142,111},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_nav_medium_sound_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,673},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,673},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>center_turbo_off_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,839},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,839},{90,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>ic_nav_return.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,893},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,893},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_nav_medium_sound_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,783},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,783},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>menu_close_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,1023},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,1023},{72,72}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>btn_turbo_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,655},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,655},{90,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>center_turbo_on_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,931},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,931},{90,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>turbo_shadow_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,1169},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,1169},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>ic_nav_lobby.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,563},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,563},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_nav_smartbot.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1003},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1003},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_soundoff_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,221},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{142,221},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_soundon_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,343},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,343},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>center_autoplay.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,747},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,747},{90,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>auto_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1443},{66,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1443},{66,63}}</string>
				<key>sourceSize</key>
				<string>{66,63}</string>
			</dict>
			<key>auto_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,1097},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,1097},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>ic_chip_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,1023},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{185,1023},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>rounded_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,1395},{54,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{190,1395},{54,54}}</string>
				<key>sourceSize</key>
				<string>{54,54}</string>
			</dict>
			<key>ic_close_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{6,233},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,233},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_nav_medium_sound_off_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,673},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,673},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_smartbot_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,111},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{142,111},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_soundoff_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,221},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{142,221},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>center_turbo_off_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,839},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,839},{90,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>ic_coupon_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,1085},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{185,1085},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>wallet_notification_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,713},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{203,713},{18,18}}</string>
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>ic_nav_return_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,893},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,893},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_wallet_open_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,1333},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{173,1333},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>btn_menu_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,563},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,563},{90,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>auto_spin_count_normal_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,1241},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,1241},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ic_spin_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,1271},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{173,1271},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>setting_info_footer_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{3,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{3,305}}</string>
				<key>sourceSize</key>
				<string>{3,305}</string>
			</dict>
			<key>ic_nav_medium_sound_on_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,783},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,783},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_toast_turbo_off_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,613},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{203,613},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>ic_soundoff_off_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,245},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{116,245},{24,24}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>auto_spin_count_normal_btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,1303},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,1303},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>bg_round_solid_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,1427},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,1427},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>center_autoplay_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,747},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,747},{90,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>ic_radio_selected.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,563},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{203,563},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>ic_rollover_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,1209},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,1209},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ic_soundon_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,343},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,343},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_exit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,343},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,343},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>menu_close_button_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,1023},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,1023},{72,72}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>ic_nav_calender.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,453},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,453},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_paytable_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1113},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1113},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>btn_turbo_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,655},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,655},{90,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>center_turbo_on_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,931},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,931},{90,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>auto_spin_count_select_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,1365},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,1365},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>auto_arrow_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1443},{66,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1443},{66,63}}</string>
				<key>sourceSize</key>
				<string>{66,63}</string>
			</dict>
			<key>btn_minus_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,1},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,1},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_toast_turbo_on_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,663},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{203,663},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>auto_shadow_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,1097},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,1097},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>ic_rule.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1223},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1223},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>bg_tooltip_arrow_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,123},{120,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{116,123},{120,24}}</string>
				<key>sourceSize</key>
				<string>{120,24}</string>
			</dict>
			<key>ic_free_game_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,1147},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,1147},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>icon_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,453},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,453},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>btn_add_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{6,123},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,123},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>bg_tooltip_box_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{6,1},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>turbo_shadow_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,1169},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,1169},{70,70}}</string>
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>bg_round_border_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,1443},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{66,1443},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ic_nav_lobby_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,563},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,563},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_slider.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1333},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1333},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_nav_smartbot_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1003},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1003},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_exit_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,343},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,343},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_rule_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1223},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1223},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>menu_close_button_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,1023},{72,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,1023},{72,72}}</string>
				<key>sourceSize</key>
				<string>{72,72}</string>
			</dict>
			<key>ic_rule_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1223},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1223},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>
			<key>ic_chip_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,1023},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{185,1023},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ic_coupon_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,1085},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{185,1085},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>wallet_notification_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,713},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{203,713},{18,18}}</string>
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>ic_wallet_open_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,1333},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{173,1333},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ic_spin_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,1271},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{173,1271},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>setting_info_footer_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{3,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{3,305}}</string>
				<key>sourceSize</key>
				<string>{3,305}</string>
			</dict>
			<key>bg_round_solid_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,1427},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,1427},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ic_rollover_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,1209},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,1209},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ic_free_game_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,1147},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{183,1147},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>ic_toast_turbo_off_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,613},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{203,613},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>ic_soundoff_off_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,245},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{116,245},{24,24}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>
			<key>bg_round_solid_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,1427},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,1427},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>btn_turbo_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,655},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{111,655},{90,90}}</string>
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>ic_toast_turbo_on_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,663},{48,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{203,663},{48,48}}</string>
				<key>sourceSize</key>
				<string>{48,48}</string>
			</dict>
			<key>bg_tooltip_arrow_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,123},{120,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{116,123},{120,24}}</string>
				<key>sourceSize</key>
				<string>{120,24}</string>
			</dict>
			<key>bg_tooltip_box_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{6,1},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{6,1},{120,120}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>bg_round_border_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{66,1443},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{66,1443},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>setting_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{246,1508}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{246,1508}}</string>
				<key>sourceSize</key>
				<string>{252,1510}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>setting_menu.png</string>
			<key>size</key>
			<string>{252,1510}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>setting_menu.png</string>
		</dict>
	</dict>
</plist>
