<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>smw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1354,508},{510,273}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1354,508},{510,273}}</string>
				<key>sourceSize</key>
				<string>{510,273}</string>
			</dict>
			<key>info_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,59},{1425,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,59},{1425,56}}</string>
				<key>sourceSize</key>
				<string>{1425,56}</string>
			</dict>
			<key>info_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,117},{1155,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,117},{1155,76}}</string>
				<key>sourceSize</key>
				<string>{1155,76}</string>
			</dict>
			<key>total_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,642},{729,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,642},{729,165}}</string>
				<key>sourceSize</key>
				<string>{729,165}</string>
			</dict>
			<key>mw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1430,1},{463,272}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1430,1},{463,272}}</string>
				<key>sourceSize</key>
				<string>{463,272}</string>
			</dict>
			<key>collect.png</key>
			<dict>
				<key>frame</key>
				<string>{{1158,117},{263,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1158,117},{263,76}}</string>
				<key>sourceSize</key>
				<string>{263,76}</string>
			</dict>
			<key>bonus_loading_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,428},{694,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,428},{694,212}}</string>
				<key>sourceSize</key>
				<string>{694,212}</string>
			</dict>
			<key>logo_on_temple.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,195},{445,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{734,195},{445,295}}</string>
				<key>sourceSize</key>
				<string>{445,295}</string>
			</dict>
			<key>info_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1202,430},{709,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1202,430},{709,76}}</string>
				<key>sourceSize</key>
				<string>{709,76}</string>
			</dict>
			<key>free_spins_won.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,195},{731,231}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,195},{731,231}}</string>
				<key>sourceSize</key>
				<string>{731,231}</string>
			</dict>
			<key>start.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,195},{223,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1181,195},{223,69}}</string>
				<key>sourceSize</key>
				<string>{223,69}</string>
			</dict>
			<key>win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,887},{137,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,887},{137,50}}</string>
				<key>sourceSize</key>
				<string>{137,50}</string>
			</dict>
			<key>bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,623},{620,199}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{732,623},{620,199}}</string>
				<key>sourceSize</key>
				<string>{620,199}</string>
			</dict>
			<key>info_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1427,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{1427,56}}</string>
				<key>sourceSize</key>
				<string>{1427,56}</string>
			</dict>
			<key>last_free_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,275},{649,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1181,275},{649,153}}</string>
				<key>sourceSize</key>
				<string>{649,153}</string>
			</dict>
			<key>info_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,809},{711,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,809},{711,76}}</string>
				<key>sourceSize</key>
				<string>{711,76}</string>
			</dict>
			<key>free_spins_remaining.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,492},{503,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{697,492},{503,129}}</string>
				<key>sourceSize</key>
				<string>{503,129}</string>
			</dict>
			<key>info_total_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1670,783},{216,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1670,783},{216,80}}</string>
				<key>sourceSize</key>
				<string>{216,80}</string>
			</dict>
			<key>5ofakind.png</key>
			<dict>
				<key>frame</key>
				<string>{{1405,783},{263,164}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1405,783},{263,164}}</string>
				<key>sourceSize</key>
				<string>{263,164}</string>
			</dict>
			<key>info_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,824},{689,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{714,824},{689,76}}</string>
				<key>sourceSize</key>
				<string>{689,76}</string>
			</dict>
			<key>general_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1910,944}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1910,944}}</string>
				<key>sourceSize</key>
				<string>{1912,948}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>general_text.png</string>
			<key>size</key>
			<string>{1912,948}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>general_text.png</string>
		</dict>
	</dict>
</plist>
