<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>collect.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,1},{251,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{667,1},{251,80}}</string>
				<key>sourceSize</key>
				<string>{251,80}</string>
			</dict>
			<key>fs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,121},{542,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,121},{542,66}}</string>
				<key>sourceSize</key>
				<string>{542,66}</string>
			</dict>
			<key>collect_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{667,83},{251,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{667,83},{251,80}}</string>
				<key>sourceSize</key>
				<string>{251,80}</string>
			</dict>
			<key>tw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{664,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{664,118}}</string>
				<key>sourceSize</key>
				<string>{664,118}</string>
			</dict>
			<key>total_win_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{919,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{919,188}}</string>
				<key>sourceSize</key>
				<string>{919,188}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>total_win_text.png</string>
			<key>size</key>
			<string>{919,188}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>total_win_text.png</string>
		</dict>
	</dict>
</plist>
