<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>info3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1017,305},{798,64}}</string>
				<key>offset</key>
				<string>{-3,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1017,305},{798,64}}</string>
				<key>sourceSize</key>
				<string>{824,100}</string>
			</dict>
			<key>info5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,233},{1103,70}}</string>
				<key>offset</key>
				<string>{-5,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,233},{1103,70}}</string>
				<key>sourceSize</key>
				<string>{1129,100}</string>
			</dict>
			<key>Info4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,149},{1412,82}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,149},{1412,82}}</string>
				<key>sourceSize</key>
				<string>{1438,100}</string>
			</dict>
			<key>win_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{1106,233},{306,66}}</string>
				<key>offset</key>
				<string>{1,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1106,233},{306,66}}</string>
				<key>sourceSize</key>
				<string>{318,100}</string>
			</dict>
			<key>1024ways.png</key>
			<dict>
				<key>frame</key>
				<string>{{1415,177},{331,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1415,177},{331,76}}</string>
				<key>sourceSize</key>
				<string>{331,76}</string>
			</dict>
			<key>totalwin_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{1458,77},{219,98}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1458,77},{219,98}}</string>
				<key>sourceSize</key>
				<string>{237,100}</string>
			</dict>
			<key>info2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1843,74}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{1843,74}}</string>
				<key>sourceSize</key>
				<string>{1869,100}</string>
			</dict>
			<key>info0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,305},{1014,70}}</string>
				<key>offset</key>
				<string>{-6,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,305},{1014,70}}</string>
				<key>sourceSize</key>
				<string>{1038,100}</string>
			</dict>
			<key>info1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,77},{1455,70}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,77},{1455,70}}</string>
				<key>sourceSize</key>
				<string>{1483,100}</string>
			</dict>
			<key>info_message.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1840,372}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{1840,372}}</string>
				<key>sourceSize</key>
				<string>{1845,376}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>info_message.png</string>
			<key>size</key>
			<string>{1845,376}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>info_message.png</string>
		</dict>
	</dict>
</plist>
