<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>5ofakind.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,1199},{479,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{488,1199},{479,128}}</string>
				<key>sourceSize</key>
				<string>{479,128}</string>
			</dict>
			<key>info_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1427,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{1427,46}}</string>
				<key>sourceSize</key>
				<string>{1427,46}</string>
			</dict>
			<key>last_free_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,1396},{636,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{79,1396},{636,53}}</string>
				<key>sourceSize</key>
				<string>{636,53}</string>
			</dict>
			<key>info_total_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,1851},{153,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{134,1851},{153,57}}</string>
				<key>sourceSize</key>
				<string>{153,57}</string>
			</dict>
			<key>mw.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,1279},{454,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{212,1279},{454,274}}</string>
				<key>sourceSize</key>
				<string>{454,274}</string>
			</dict>
			<key>info_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1430},{567,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1430},{567,76}}</string>
				<key>sourceSize</key>
				<string>{567,76}</string>
			</dict>
			<key>smw.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,1},{704,252}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{170,1},{704,252}}</string>
				<key>sourceSize</key>
				<string>{704,252}</string>
			</dict>
			<key>info_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{404,707},{565,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{404,707},{565,76}}</string>
				<key>sourceSize</key>
				<string>{565,76}</string>
			</dict>
			<key>bonus_loading_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,1},{687,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{424,1},{687,175}}</string>
				<key>sourceSize</key>
				<string>{687,175}</string>
			</dict>
			<key>logo_on_temple.png</key>
			<dict>
				<key>frame</key>
				<string>{{212,1735},{445,295}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{212,1735},{445,295}}</string>
				<key>sourceSize</key>
				<string>{445,295}</string>
			</dict>
			<key>info_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{49,1},{1393,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{49,1},{1393,76}}</string>
				<key>sourceSize</key>
				<string>{1393,76}</string>
			</dict>
			<key>collect.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,1735},{250,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{659,1735},{250,52}}</string>
				<key>sourceSize</key>
				<string>{250,52}</string>
			</dict>
			<key>info_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{134,1304},{545,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{134,1304},{545,76}}</string>
				<key>sourceSize</key>
				<string>{545,76}</string>
			</dict>
			<key>info_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,1},{1301,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{127,1},{1301,41}}</string>
				<key>sourceSize</key>
				<string>{1301,41}</string>
			</dict>
			<key>free_spins_remaining.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,1199},{450,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{618,1199},{450,103}}</string>
				<key>sourceSize</key>
				<string>{450,103}</string>
			</dict>
			<key>bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,690},{507,258}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{482,690},{507,258}}</string>
				<key>sourceSize</key>
				<string>{507,258}</string>
			</dict>
			<key>win.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,1199},{157,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{723,1199},{157,31}}</string>
				<key>sourceSize</key>
				<string>{157,31}</string>
			</dict>
			<key>start.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,1680},{174,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{488,1680},{174,53}}</string>
				<key>sourceSize</key>
				<string>{174,53}</string>
			</dict>
			<key>total_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{601,1},{678,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{601,1},{678,162}}</string>
				<key>sourceSize</key>
				<string>{678,162}</string>
			</dict>
			<key>free_spins_won.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,707},{570,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{170,707},{570,232}}</string>
				<key>sourceSize</key>
				<string>{570,232}</string>
			</dict>
			<key>general_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,0},{757,2033}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,0},{757,2033}}</string>
				<key>sourceSize</key>
				<string>{764,2033}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>general_text.png</string>
			<key>size</key>
			<string>{764,2033}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>general_text.png</string>
		</dict>
	</dict>
</plist>
