<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>s_scatter.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{156,198}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{156,198}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>s_scatter_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,1},{114,146}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{159,1},{114,146}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>scatter_symbol.png</key>
			<dict>
				<key>frame</key>
				<string>{{3,3},{269,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{269,195}}</string>
				<key>sourceSize</key>
				<string>{274,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>scatter_symbol.png</string>
			<key>size</key>
			<string>{274,200}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>scatter_symbol.png</string>
		</dict>
	</dict>
</plist>
