<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>BG_FreeLinkResult.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1626},{667,422}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1626},{667,422}}</string>
				<key>sourceSize</key>
				<string>{667,422}</string>
			</dict>
			<key>BG_FreeLinkShine01.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,1056},{567,151}}</string>
				<key>offset</key>
				<string>{7,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{894,1056},{567,151}}</string>
				<key>sourceSize</key>
				<string>{581,151}</string>
			</dict>
			<key>BG_FreeLinkShine02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1462,1059},{556,148}}</string>
				<key>offset</key>
				<string>{-12,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1462,1059},{556,148}}</string>
				<key>sourceSize</key>
				<string>{581,151}</string>
			</dict>
			<key>BGColider.png</key>
			<dict>
				<key>frame</key>
				<string>{{1983,1449},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1983,1449},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>Bottom_BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1845,1514},{78,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1845,1514},{78,111}}</string>
				<key>sourceSize</key>
				<string>{78,111}</string>
			</dict>
			<key>Btn_Add.png</key>
			<dict>
				<key>frame</key>
				<string>{{1910,1741},{101,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1910,1741},{101,99}}</string>
				<key>sourceSize</key>
				<string>{101,99}</string>
			</dict>
			<key>Btn_Auto.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,880},{280,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,880},{280,134}}</string>
				<key>sourceSize</key>
				<string>{280,134}</string>
			</dict>
			<key>Btn_BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1463,1675},{386,373}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1463,1675},{386,373}}</string>
				<key>sourceSize</key>
				<string>{386,373}</string>
			</dict>
			<key>Btn_Help.png</key>
			<dict>
				<key>frame</key>
				<string>{{1419,1649},{33,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1419,1649},{33,73}}</string>
				<key>sourceSize</key>
				<string>{33,73}</string>
			</dict>
			<key>Btn_Home.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,943},{513,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{894,943},{513,112}}</string>
				<key>sourceSize</key>
				<string>{513,112}</string>
			</dict>
			<key>Btn_Next.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,654},{243,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,654},{243,112}}</string>
				<key>sourceSize</key>
				<string>{243,112}</string>
			</dict>
			<key>Btn_Prev.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,767},{244,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,767},{244,112}}</string>
				<key>sourceSize</key>
				<string>{244,112}</string>
			</dict>
			<key>Btn_Return.png</key>
			<dict>
				<key>frame</key>
				<string>{{1621,1414},{223,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1621,1414},{223,211}}</string>
				<key>sourceSize</key>
				<string>{226,213}</string>
			</dict>
			<key>Btn_Spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1015},{386,373}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1015},{386,373}}</string>
				<key>sourceSize</key>
				<string>{386,373}</string>
			</dict>
			<key>Btn_Spinleft.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,509},{331,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,509},{331,67}}</string>
				<key>sourceSize</key>
				<string>{331,67}</string>
			</dict>
			<key>Btn_Stop.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,418},{215,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,418},{215,90}}</string>
				<key>sourceSize</key>
				<string>{215,90}</string>
			</dict>
			<key>Btn_Sub.png</key>
			<dict>
				<key>frame</key>
				<string>{{1910,1641},{97,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1910,1641},{97,99}}</string>
				<key>sourceSize</key>
				<string>{97,99}</string>
			</dict>
			<key>Entries.png</key>
			<dict>
				<key>frame</key>
				<string>{{1363,1408},{95,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1363,1408},{95,21}}</string>
				<key>sourceSize</key>
				<string>{95,21}</string>
			</dict>
			<key>Fire_Boom.png</key>
			<dict>
				<key>frame</key>
				<string>{{1998,1570},{48,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1998,1570},{48,55}}</string>
				<key>sourceSize</key>
				<string>{48,55}</string>
			</dict>
			<key>Fire_LightBall.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,817},{64,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{245,817},{64,62}}</string>
				<key>sourceSize</key>
				<string>{64,62}</string>
			</dict>
			<key>Item_BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1850,1626},{59,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1850,1626},{59,41}}</string>
				<key>sourceSize</key>
				<string>{59,41}</string>
			</dict>
			<key>MajorBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1401,1217},{506,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1401,1217},{506,171}}</string>
				<key>sourceSize</key>
				<string>{506,171}</string>
			</dict>
			<key>MegaBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,1037},{506,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{387,1037},{506,170}}</string>
				<key>sourceSize</key>
				<string>{506,170}</string>
			</dict>
			<key>MiniBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,1208},{506,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{387,1208},{506,180}}</string>
				<key>sourceSize</key>
				<string>{506,180}</string>
			</dict>
			<key>MinorBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,1216},{506,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{894,1216},{506,172}}</string>
				<key>sourceSize</key>
				<string>{506,172}</string>
			</dict>
			<key>Music_Off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1845,1445},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1845,1445},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>Music_On.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,700},{58,66}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{244,700},{58,66}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>Sound_Off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1914,1445},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1914,1445},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>Sound_On.png</key>
			<dict>
				<key>frame</key>
				<string>{{310,817},{64,62}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{310,817},{64,62}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>Spin_BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1267,1648},{76,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1267,1648},{76,74}}</string>
				<key>sourceSize</key>
				<string>{76,74}</string>
			</dict>
			<key>Tip_FearuteComplete.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,979},{465,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{387,979},{465,57}}</string>
				<key>sourceSize</key>
				<string>{465,57}</string>
			</dict>
			<key>Tip_Freelink0.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,1630},{380,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{668,1630},{380,37}}</string>
				<key>sourceSize</key>
				<string>{380,46}</string>
			</dict>
			<key>Tip_Freelink1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,381},{364,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,381},{364,36}}</string>
				<key>sourceSize</key>
				<string>{380,46}</string>
			</dict>
			<key>Tip_Freelink2.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,1392},{363,37}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{999,1392},{363,37}}</string>
				<key>sourceSize</key>
				<string>{380,46}</string>
			</dict>
			<key>Tip_Freelink3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1463,1631},{368,43}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1463,1631},{368,43}}</string>
				<key>sourceSize</key>
				<string>{380,46}</string>
			</dict>
			<key>Tips01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,577},{297,76}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,577},{297,76}}</string>
				<key>sourceSize</key>
				<string>{598,76}</string>
			</dict>
			<key>Tips02.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,1668},{598,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{668,1668},{598,54}}</string>
				<key>sourceSize</key>
				<string>{598,76}</string>
			</dict>
			<key>Tips03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1408,1002},{521,53}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1408,1002},{521,53}}</string>
				<key>sourceSize</key>
				<string>{598,76}</string>
			</dict>
			<key>Top_BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1850,1668},{59,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1850,1668},{59,172}}</string>
				<key>sourceSize</key>
				<string>{59,172}</string>
			</dict>
			<key>UI_BallFly.png</key>
			<dict>
				<key>frame</key>
				<string>{{1924,1518},{73,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1924,1518},{73,107}}</string>
				<key>sourceSize</key>
				<string>{73,107}</string>
			</dict>
			<key>UI_NumLock01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1049,1629},{189,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1049,1629},{189,38}}</string>
				<key>sourceSize</key>
				<string>{189,38}</string>
			</dict>
			<key>UI_NumLock02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1344,1653},{74,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1344,1653},{74,69}}</string>
				<key>sourceSize</key>
				<string>{74,69}</string>
			</dict>
			<key>UI_NumLock03.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,973},{102,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{281,973},{102,41}}</string>
				<key>sourceSize</key>
				<string>{102,41}</string>
			</dict>
			<key>UI_NumLock04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1998,1519},{46,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1998,1519},{46,50}}</string>
				<key>sourceSize</key>
				<string>{46,50}</string>
			</dict>
			<key>UI_RedBallBG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1850,1922},{190,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1850,1922},{190,126}}</string>
				<key>sourceSize</key>
				<string>{190,126}</string>
			</dict>
			<key>UI_TItle.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,1723},{794,325}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{668,1723},{794,325}}</string>
				<key>sourceSize</key>
				<string>{794,325}</string>
			</dict>
			<key>UI_WhiteColider.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,908},{64,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{281,908},{64,64}}</string>
				<key>sourceSize</key>
				<string>{64,64}</string>
			</dict>
			<key>UI_Winner.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1389},{998,236}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1389},{998,236}}</string>
				<key>sourceSize</key>
				<string>{999,237}</string>
			</dict>
			<key>UI_WinnerShine.png</key>
			<dict>
				<key>frame</key>
				<string>{{999,1430},{621,195}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{999,1430},{621,195}}</string>
				<key>sourceSize</key>
				<string>{621,195}</string>
			</dict>
			<key>Win_BG.png</key>
			<dict>
				<key>frame</key>
				<string>{{1850,1841},{197,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1850,1841},{197,80}}</string>
				<key>sourceSize</key>
				<string>{197,80}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>Atlas_GameUI.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>Atlas_GameUI.png</string>
		</dict>
	</dict>
</plist>
