<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>BG_FreeNum.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,1397},{206,651}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,1397},{206,651}}</string>
				<key>sourceSize</key>
				<string>{206,651}</string>
			</dict>
			<key>BGColider02.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,1343},{43,705}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{88,1343},{43,705}}</string>
				<key>sourceSize</key>
				<string>{43,705}</string>
			</dict>
			<key>Free_Zhuangshi01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,835},{13,1213}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,835},{13,1213}}</string>
				<key>sourceSize</key>
				<string>{13,1213}</string>
			</dict>
			<key>Free_Zhuangshi02.png</key>
			<dict>
				<key>frame</key>
				<string>{{14,1324},{73,724}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,1324},{73,724}}</string>
				<key>sourceSize</key>
				<string>{73,724}</string>
			</dict>
			<key>FreeTimes_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,1339},{60,57}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{132,1339},{60,57}}</string>
				<key>sourceSize</key>
				<string>{61,57}</string>
			</dict>
			<key>FreeTimes_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,1343},{52,53}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{193,1343},{52,53}}</string>
				<key>sourceSize</key>
				<string>{61,57}</string>
			</dict>
			<key>FreeTimes_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,1344},{61,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{373,1344},{61,51}}</string>
				<key>sourceSize</key>
				<string>{61,57}</string>
			</dict>
			<key>FreeTimes_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,1343},{47,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{246,1343},{47,53}}</string>
				<key>sourceSize</key>
				<string>{61,57}</string>
			</dict>
			<key>FreeTimes_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,1344},{42,52}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{294,1344},{42,52}}</string>
				<key>sourceSize</key>
				<string>{61,57}</string>
			</dict>
			<key>Jinhou_10x.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,1449},{211,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{701,1449},{211,101}}</string>
				<key>sourceSize</key>
				<string>{213,101}</string>
			</dict>
			<key>Jinhou_15x.png</key>
			<dict>
				<key>frame</key>
				<string>{{14,974},{192,100}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,974},{192,100}}</string>
				<key>sourceSize</key>
				<string>{213,101}</string>
			</dict>
			<key>Jinhou_25x.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,1348},{213,100}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{701,1348},{213,100}}</string>
				<key>sourceSize</key>
				<string>{213,101}</string>
			</dict>
			<key>Jinhou_2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,1350},{152,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{537,1350},{152,99}}</string>
				<key>sourceSize</key>
				<string>{213,101}</string>
			</dict>
			<key>Jinhou_3x.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,1845},{144,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{865,1845},{144,101}}</string>
				<key>sourceSize</key>
				<string>{213,101}</string>
			</dict>
			<key>Jinhou_5x.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,1450},{147,100}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{537,1450},{147,100}}</string>
				<key>sourceSize</key>
				<string>{213,101}</string>
			</dict>
			<key>Jinhou_8x.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,1947},{150,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{865,1947},{150,101}}</string>
				<key>sourceSize</key>
				<string>{213,101}</string>
			</dict>
			<key>Pick01.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,1800},{163,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{537,1800},{163,248}}</string>
				<key>sourceSize</key>
				<string>{163,248}</string>
			</dict>
			<key>Pick01_Gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,1800},{163,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{701,1800},{163,248}}</string>
				<key>sourceSize</key>
				<string>{163,248}</string>
			</dict>
			<key>Pick02.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,1551},{163,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{537,1551},{163,248}}</string>
				<key>sourceSize</key>
				<string>{163,248}</string>
			</dict>
			<key>Pick02_Gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,1551},{163,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{701,1551},{163,248}}</string>
				<key>sourceSize</key>
				<string>{163,248}</string>
			</dict>
			<key>Pick03.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,1075},{163,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{342,1075},{163,248}}</string>
				<key>sourceSize</key>
				<string>{163,248}</string>
			</dict>
			<key>Pick03_Gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{14,1075},{163,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,1075},{163,248}}</string>
				<key>sourceSize</key>
				<string>{163,248}</string>
			</dict>
			<key>Pick04.png</key>
			<dict>
				<key>frame</key>
				<string>{{178,1075},{163,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{178,1075},{163,248}}</string>
				<key>sourceSize</key>
				<string>{163,248}</string>
			</dict>
			<key>Pick04_Gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,1800},{163,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{373,1800},{163,248}}</string>
				<key>sourceSize</key>
				<string>{163,248}</string>
			</dict>
			<key>Pick05.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,1075},{163,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{506,1075},{163,248}}</string>
				<key>sourceSize</key>
				<string>{163,248}</string>
			</dict>
			<key>Pick05_Gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,1075},{163,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{670,1075},{163,248}}</string>
				<key>sourceSize</key>
				<string>{163,248}</string>
			</dict>
			<key>Pick06.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,1396},{104,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{373,1396},{104,154}}</string>
				<key>sourceSize</key>
				<string>{104,154}</string>
			</dict>
			<key>Pick06_Gray.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,1077},{163,246}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{834,1077},{163,246}}</string>
				<key>sourceSize</key>
				<string>{163,248}</string>
			</dict>
			<key>Pick06_Result.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,1551},{163,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{373,1551},{163,248}}</string>
				<key>sourceSize</key>
				<string>{163,248}</string>
			</dict>
			<key>PIckOne.png</key>
			<dict>
				<key>frame</key>
				<string>{{207,993},{394,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{207,993},{394,81}}</string>
				<key>sourceSize</key>
				<string>{394,81}</string>
			</dict>
			<key>Times_10x.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,1324},{31,18}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{88,1324},{31,18}}</string>
				<key>sourceSize</key>
				<string>{32,21}</string>
			</dict>
			<key>Times_15x.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,1325},{27,17}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{217,1325},{27,17}}</string>
				<key>sourceSize</key>
				<string>{32,21}</string>
			</dict>
			<key>Times_25x.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,1325},{32,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{246,1325},{32,17}}</string>
				<key>sourceSize</key>
				<string>{32,21}</string>
			</dict>
			<key>Times_2x.png</key>
			<dict>
				<key>frame</key>
				<string>{{294,1326},{24,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{294,1326},{24,17}}</string>
				<key>sourceSize</key>
				<string>{32,21}</string>
			</dict>
			<key>Times_3x.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,1641},{24,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{339,1641},{24,21}}</string>
				<key>sourceSize</key>
				<string>{32,21}</string>
			</dict>
			<key>Times_5x.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,1619},{23,21}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{339,1619},{23,21}}</string>
				<key>sourceSize</key>
				<string>{32,21}</string>
			</dict>
			<key>Times_8x.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,1324},{23,18}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{193,1324},{23,18}}</string>
				<key>sourceSize</key>
				<string>{32,21}</string>
			</dict>
			<key>Tip_Free01.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,1042},{203,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{602,1042},{203,32}}</string>
				<key>sourceSize</key>
				<string>{203,32}</string>
			</dict>
			<key>Tip_Free02.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,1520},{40,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{478,1520},{40,30}}</string>
				<key>sourceSize</key>
				<string>{40,30}</string>
			</dict>
			<key>Tip_Free03.png</key>
			<dict>
				<key>frame</key>
				<string>{{14,919},{481,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,919},{481,54}}</string>
				<key>sourceSize</key>
				<string>{481,54}</string>
			</dict>
			<key>Tip_Free04.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,1663},{33,385}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{339,1663},{33,385}}</string>
				<key>sourceSize</key>
				<string>{33,385}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>Atlas_Free.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>Atlas_Free.png</string>
		</dict>
	</dict>
</plist>
