<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>FreeZC_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,3},{41,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{228,3},{41,18}}</string>
				<key>sourceSize</key>
				<string>{41,18}</string>
			</dict>
			<key>FreeZC_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,1},{50,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{532,1},{50,27}}</string>
				<key>sourceSize</key>
				<string>{50,27}</string>
			</dict>
			<key>FreeZC_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,29},{67,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{532,29},{67,25}}</string>
				<key>sourceSize</key>
				<string>{67,25}</string>
			</dict>
			<key>FreeZC_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,55},{102,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{532,55},{102,29}}</string>
				<key>sourceSize</key>
				<string>{102,29}</string>
			</dict>
			<key>FreeZC_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,22},{110,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{228,22},{110,29}}</string>
				<key>sourceSize</key>
				<string>{110,29}</string>
			</dict>
			<key>FreeZC_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,15},{122,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,15},{122,29}}</string>
				<key>sourceSize</key>
				<string>{122,29}</string>
			</dict>
			<key>FreeZC_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1643,1138},{170,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1643,1138},{170,49}}</string>
				<key>sourceSize</key>
				<string>{170,49}</string>
			</dict>
			<key>FreeZC_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1643,1188},{176,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1643,1188},{176,54}}</string>
				<key>sourceSize</key>
				<string>{176,54}</string>
			</dict>
			<key>FreeZC_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1814,1261},{188,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1814,1261},{188,57}}</string>
				<key>sourceSize</key>
				<string>{188,57}</string>
			</dict>
			<key>FreeZC_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1355,976},{200,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1355,976},{200,65}}</string>
				<key>sourceSize</key>
				<string>{200,65}</string>
			</dict>
			<key>FreeZC_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,107},{220,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{690,107},{220,77}}</string>
				<key>sourceSize</key>
				<string>{220,77}</string>
			</dict>
			<key>FreeZC_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,45},{227,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,45},{227,77}}</string>
				<key>sourceSize</key>
				<string>{227,77}</string>
			</dict>
			<key>FreeZC_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,185},{224,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{690,185},{224,78}}</string>
				<key>sourceSize</key>
				<string>{224,78}</string>
			</dict>
			<key>FreeZC_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,29},{197,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{690,29},{197,77}}</string>
				<key>sourceSize</key>
				<string>{197,77}</string>
			</dict>
			<key>FreeZC_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1643,1243},{170,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1643,1243},{170,75}}</string>
				<key>sourceSize</key>
				<string>{170,75}</string>
			</dict>
			<key>FreeZC_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,156},{144,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{532,156},{144,75}}</string>
				<key>sourceSize</key>
				<string>{144,75}</string>
			</dict>
			<key>FreeZC_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,85},{144,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{532,85},{144,70}}</string>
				<key>sourceSize</key>
				<string>{144,70}</string>
			</dict>
			<key>FreeZC_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,11},{97,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{123,11},{97,33}}</string>
				<key>sourceSize</key>
				<string>{97,33}</string>
			</dict>
			<key>FreeZC_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{228,52},{99,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{228,52},{99,70}}</string>
				<key>sourceSize</key>
				<string>{99,70}</string>
			</dict>
			<key>FreeZC_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,24},{175,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{356,24},{175,207}}</string>
				<key>sourceSize</key>
				<string>{175,207}</string>
			</dict>
			<key>FreeZC_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1355,1042},{287,276}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1355,1042},{287,276}}</string>
				<key>sourceSize</key>
				<string>{287,276}</string>
			</dict>
			<key>ia_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,264},{329,348}}</string>
				<key>offset</key>
				<string>{1,-18}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{690,264},{329,348}}</string>
				<key>sourceSize</key>
				<string>{356,454}</string>
			</dict>
			<key>ia_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,967},{331,351}}</string>
				<key>offset</key>
				<string>{1,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{690,967},{331,351}}</string>
				<key>sourceSize</key>
				<string>{356,454}</string>
			</dict>
			<key>ia_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1689,1678},{332,370}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1689,1678},{332,370}}</string>
				<key>sourceSize</key>
				<string>{356,454}</string>
			</dict>
			<key>ia_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1355,1679},{333,369}}</string>
				<key>offset</key>
				<string>{1,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1355,1679},{333,369}}</string>
				<key>sourceSize</key>
				<string>{356,454}</string>
			</dict>
			<key>ia_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1021,1679},{333,369}}</string>
				<key>offset</key>
				<string>{1,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1021,1679},{333,369}}</string>
				<key>sourceSize</key>
				<string>{356,454}</string>
			</dict>
			<key>ia_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,1674},{333,374}}</string>
				<key>offset</key>
				<string>{1,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{356,1674},{333,374}}</string>
				<key>sourceSize</key>
				<string>{356,454}</string>
			</dict>
			<key>ia_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,499},{333,377}}</string>
				<key>offset</key>
				<string>{1,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,499},{333,377}}</string>
				<key>sourceSize</key>
				<string>{356,454}</string>
			</dict>
			<key>ia_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1697,1323},{332,350}}</string>
				<key>offset</key>
				<string>{1,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1697,1323},{332,350}}</string>
				<key>sourceSize</key>
				<string>{356,454}</string>
			</dict>
			<key>ia_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1022,969},{332,349}}</string>
				<key>offset</key>
				<string>{0,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1022,969},{332,349}}</string>
				<key>sourceSize</key>
				<string>{356,454}</string>
			</dict>
			<key>ia_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,1319},{338,354}}</string>
				<key>offset</key>
				<string>{0,-20}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{690,1319},{338,354}}</string>
				<key>sourceSize</key>
				<string>{356,454}</string>
			</dict>
			<key>ia_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1363,1322},{333,351}}</string>
				<key>offset</key>
				<string>{1,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1363,1322},{333,351}}</string>
				<key>sourceSize</key>
				<string>{356,454}</string>
			</dict>
			<key>ia_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,950},{333,357}}</string>
				<key>offset</key>
				<string>{1,-22}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{356,950},{333,357}}</string>
				<key>sourceSize</key>
				<string>{356,454}</string>
			</dict>
			<key>ia_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,1308},{333,365}}</string>
				<key>offset</key>
				<string>{1,-26}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{356,1308},{333,365}}</string>
				<key>sourceSize</key>
				<string>{356,454}</string>
			</dict>
			<key>ia_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,1675},{330,373}}</string>
				<key>offset</key>
				<string>{0,-31}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{690,1675},{330,373}}</string>
				<key>sourceSize</key>
				<string>{356,454}</string>
			</dict>
			<key>ia_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,123},{333,375}}</string>
				<key>offset</key>
				<string>{1,-31}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,123},{333,375}}</string>
				<key>sourceSize</key>
				<string>{356,454}</string>
			</dict>
			<key>ia_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,232},{333,354}}</string>
				<key>offset</key>
				<string>{1,-21}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{356,232},{333,354}}</string>
				<key>sourceSize</key>
				<string>{356,454}</string>
			</dict>
			<key>ia_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1029,1319},{333,354}}</string>
				<key>offset</key>
				<string>{1,-15}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1029,1319},{333,354}}</string>
				<key>sourceSize</key>
				<string>{356,454}</string>
			</dict>
			<key>ia_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{690,613},{329,353}}</string>
				<key>offset</key>
				<string>{1,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{690,613},{329,353}}</string>
				<key>sourceSize</key>
				<string>{356,454}</string>
			</dict>
			<key>ia_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,587},{328,362}}</string>
				<key>offset</key>
				<string>{0,11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{356,587},{328,362}}</string>
				<key>sourceSize</key>
				<string>{356,454}</string>
			</dict>
			<key>ia_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,877},{341,379}}</string>
				<key>offset</key>
				<string>{1,18}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,877},{341,379}}</string>
				<key>sourceSize</key>
				<string>{356,454}</string>
			</dict>
			<key>ia_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1257},{355,395}}</string>
				<key>offset</key>
				<string>{1,24}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1257},{355,395}}</string>
				<key>sourceSize</key>
				<string>{356,454}</string>
			</dict>
			<key>ia_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1653},{355,395}}</string>
				<key>offset</key>
				<string>{1,22}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1653},{355,395}}</string>
				<key>sourceSize</key>
				<string>{356,454}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>Atlas_FreeZhuanChang.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>Atlas_FreeZhuanChang.png</string>
		</dict>
	</dict>
</plist>
