<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Fire_Win_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1136,837},{156,589}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1136,837},{156,589}}</string>
				<key>sourceSize</key>
				<string>{199,625}</string>
			</dict>
			<key>Fire_Win_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,235},{162,593}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{965,235},{162,593}}</string>
				<key>sourceSize</key>
				<string>{199,625}</string>
			</dict>
			<key>Fire_Win_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,829},{170,597}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{965,829},{170,597}}</string>
				<key>sourceSize</key>
				<string>{199,625}</string>
			</dict>
			<key>Fire_Win_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,221},{172,601}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{790,221},{172,601}}</string>
				<key>sourceSize</key>
				<string>{199,625}</string>
			</dict>
			<key>Fire_Win_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1750,1442},{178,606}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1750,1442},{178,606}}</string>
				<key>sourceSize</key>
				<string>{199,625}</string>
			</dict>
			<key>Fire_Win_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1374,1432},{188,616}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1374,1432},{188,616}}</string>
				<key>sourceSize</key>
				<string>{199,625}</string>
			</dict>
			<key>Fire_Win_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,178},{191,623}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{595,178},{191,623}}</string>
				<key>sourceSize</key>
				<string>{199,625}</string>
			</dict>
			<key>Fire_Win_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1182,1427},{191,621}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1182,1427},{191,621}}</string>
				<key>sourceSize</key>
				<string>{199,625}</string>
			</dict>
			<key>Fire_Win_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,1427},{195,621}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{595,1427},{195,621}}</string>
				<key>sourceSize</key>
				<string>{199,625}</string>
			</dict>
			<key>Fire_Win_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,1427},{196,621}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{398,1427},{196,621}}</string>
				<key>sourceSize</key>
				<string>{199,625}</string>
			</dict>
			<key>Fire_Win_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,182},{195,623}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{398,182},{195,623}}</string>
				<key>sourceSize</key>
				<string>{199,625}</string>
			</dict>
			<key>Fire_Win_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,802},{194,624}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{595,802},{194,624}}</string>
				<key>sourceSize</key>
				<string>{199,625}</string>
			</dict>
			<key>Fire_Win_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,800},{196,624}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{200,800},{196,624}}</string>
				<key>sourceSize</key>
				<string>{199,625}</string>
			</dict>
			<key>Fire_Win_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1423},{199,625}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1423},{199,625}}</string>
				<key>sourceSize</key>
				<string>{199,625}</string>
			</dict>
			<key>Fire_Win_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,1425},{197,623}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{200,1425},{197,623}}</string>
				<key>sourceSize</key>
				<string>{199,625}</string>
			</dict>
			<key>Fire_Win_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,798},{198,624}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,798},{198,624}}</string>
				<key>sourceSize</key>
				<string>{199,625}</string>
			</dict>
			<key>Fire_Win_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,806},{196,620}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{398,806},{196,620}}</string>
				<key>sourceSize</key>
				<string>{199,625}</string>
			</dict>
			<key>Fire_Win_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{791,1430},{195,618}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{791,1430},{195,618}}</string>
				<key>sourceSize</key>
				<string>{199,625}</string>
			</dict>
			<key>Fire_Win_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,180},{197,619}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{200,180},{197,619}}</string>
				<key>sourceSize</key>
				<string>{199,625}</string>
			</dict>
			<key>Fire_Win_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{987,1429},{194,619}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{987,1429},{194,619}}</string>
				<key>sourceSize</key>
				<string>{199,625}</string>
			</dict>
			<key>Fire_Win_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,177},{198,620}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,177},{198,620}}</string>
				<key>sourceSize</key>
				<string>{199,625}</string>
			</dict>
			<key>Fire_Win_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1563,1437},{186,611}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1563,1437},{186,611}}</string>
				<key>sourceSize</key>
				<string>{199,625}</string>
			</dict>
			<key>Fire_Win_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,823},{174,603}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{790,823},{174,603}}</string>
				<key>sourceSize</key>
				<string>{199,625}</string>
			</dict>
			<key>Fire_Win02_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1293,988},{128,86}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1293,988},{128,86}}</string>
				<key>sourceSize</key>
				<string>{129,87}</string>
			</dict>
			<key>Fire_Win02_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,94},{128,87}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{398,94},{128,87}}</string>
				<key>sourceSize</key>
				<string>{129,87}</string>
			</dict>
			<key>Fire_Win02_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,147},{128,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{965,147},{128,87}}</string>
				<key>sourceSize</key>
				<string>{129,87}</string>
			</dict>
			<key>Fire_Win02_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,133},{128,87}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{790,133},{128,87}}</string>
				<key>sourceSize</key>
				<string>{129,87}</string>
			</dict>
			<key>Fire_Win02_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,92},{128,87}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{200,92},{128,87}}</string>
				<key>sourceSize</key>
				<string>{129,87}</string>
			</dict>
			<key>Fire_Win02_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,90},{128,87}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{595,90},{128,87}}</string>
				<key>sourceSize</key>
				<string>{129,87}</string>
			</dict>
			<key>Fire_Win02_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,6},{128,87}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{398,6},{128,87}}</string>
				<key>sourceSize</key>
				<string>{129,87}</string>
			</dict>
			<key>Fire_Win02_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1293,1075},{128,87}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1293,1075},{128,87}}</string>
				<key>sourceSize</key>
				<string>{129,87}</string>
			</dict>
			<key>Fire_Win02_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,4},{128,87}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{200,4},{128,87}}</string>
				<key>sourceSize</key>
				<string>{129,87}</string>
			</dict>
			<key>Fire_Win02_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,2},{128,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{595,2},{128,87}}</string>
				<key>sourceSize</key>
				<string>{129,87}</string>
			</dict>
			<key>Fire_Win02_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,89},{128,87}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,89},{128,87}}</string>
				<key>sourceSize</key>
				<string>{129,87}</string>
			</dict>
			<key>Fire_Win02_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1},{128,87}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{128,87}}</string>
				<key>sourceSize</key>
				<string>{129,87}</string>
			</dict>
			<key>Fire_Win02_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,59},{128,87}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{965,59},{128,87}}</string>
				<key>sourceSize</key>
				<string>{129,87}</string>
			</dict>
			<key>Fire_Win02_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1293,1251},{128,87}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1293,1251},{128,87}}</string>
				<key>sourceSize</key>
				<string>{129,87}</string>
			</dict>
			<key>Fire_Win02_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1293,1339},{128,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1293,1339},{128,87}}</string>
				<key>sourceSize</key>
				<string>{129,87}</string>
			</dict>
			<key>Fire_Win02_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1293,1163},{128,87}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1293,1163},{128,87}}</string>
				<key>sourceSize</key>
				<string>{129,87}</string>
			</dict>
			<key>Fire_Win02_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{790,45},{128,87}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{790,45},{128,87}}</string>
				<key>sourceSize</key>
				<string>{129,87}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>Atlas_FireWin.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>Atlas_FireWin.png</string>
		</dict>
	</dict>
</plist>
