<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>info_bns.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,112},{435,54}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{474,112},{435,54}}</string>
				<key>sourceSize</key>
				<string>{445,70}</string>
			</dict>
			<key>info_main1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,56},{615,56}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,56},{615,56}}</string>
				<key>sourceSize</key>
				<string>{623,70}</string>
			</dict>
			<key>info_main2.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,56},{358,52}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{615,56},{358,52}}</string>
				<key>sourceSize</key>
				<string>{364,70}</string>
			</dict>
			<key>info_main3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{732,56}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{732,56}}</string>
				<key>sourceSize</key>
				<string>{742,70}</string>
			</dict>
			<key>info_respin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,0},{223,52}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{732,0},{223,52}}</string>
				<key>sourceSize</key>
				<string>{231,70}</string>
			</dict>
			<key>info_respin2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,112},{474,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,112},{474,70}}</string>
				<key>sourceSize</key>
				<string>{476,70}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>infoboard_text.png</string>
			<key>size</key>
			<string>{973,182}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>infoboard_text.png</string>
		</dict>
	</dict>
</plist>
