<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>info4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,323},{1295,76}}</string>
				<key>offset</key>
				<string>{-8,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,323},{1295,76}}</string>
				<key>sourceSize</key>
				<string>{1311,100}</string>
			</dict>
			<key>win_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{1719,165},{306,66}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1719,165},{306,66}}</string>
				<key>sourceSize</key>
				<string>{316,100}</string>
			</dict>
			<key>totalwin_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{1497,165},{220,98}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1497,165},{220,98}}</string>
				<key>sourceSize</key>
				<string>{230,100}</string>
			</dict>
			<key>info3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,85},{1974,78}}</string>
				<key>offset</key>
				<string>{-6,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,85},{1974,78}}</string>
				<key>sourceSize</key>
				<string>{1986,100}</string>
			</dict>
			<key>info0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,165},{1494,72}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,165},{1494,72}}</string>
				<key>sourceSize</key>
				<string>{1504,100}</string>
			</dict>
			<key>info1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,479},{1081,76}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,479},{1081,76}}</string>
				<key>sourceSize</key>
				<string>{1083,100}</string>
			</dict>
			<key>Info5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,239},{1476,82}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,239},{1476,82}}</string>
				<key>sourceSize</key>
				<string>{1488,100}</string>
			</dict>
			<key>info2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1927,82}}</string>
				<key>offset</key>
				<string>{-5,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{1927,82}}</string>
				<key>sourceSize</key>
				<string>{1937,100}</string>
			</dict>
			<key>2000ways.png</key>
			<dict>
				<key>frame</key>
				<string>{{1099,473},{623,50}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1099,473},{623,50}}</string>
				<key>sourceSize</key>
				<string>{633,50}</string>
			</dict>
			<key>info6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,401},{1096,76}}</string>
				<key>offset</key>
				<string>{-5,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,401},{1096,76}}</string>
				<key>sourceSize</key>
				<string>{1106,100}</string>
			</dict>
			<key>info_message.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,3},{1973,551}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,3},{1973,551}}</string>
				<key>sourceSize</key>
				<string>{1976,556}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>info_message.png</string>
			<key>size</key>
			<string>{1976,556}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>info_message.png</string>
		</dict>
	</dict>
</plist>
