<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>info_bns.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,0},{319,44}}</string>
				<key>offset</key>
				<string>{-2,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{68,0},{319,44}}</string>
				<key>sourceSize</key>
				<string>{329,70}</string>
			</dict>
			<key>info_main1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,319},{521,60}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{0,319},{521,60}}</string>
				<key>sourceSize</key>
				<string>{525,70}</string>
			</dict>
			<key>info_main2.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,829},{321,50}}</string>
				<key>offset</key>
				<string>{1,-4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{60,829},{321,50}}</string>
				<key>sourceSize</key>
				<string>{329,70}</string>
			</dict>
			<key>info_main3.png</key>
			<dict>
				<key>frame</key>
				<string>{{60,319},{510,50}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{60,319},{510,50}}</string>
				<key>sourceSize</key>
				<string>{518,70}</string>
			</dict>
			<key>info_respin1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,840},{134,56}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{0,840},{134,56}}</string>
				<key>sourceSize</key>
				<string>{140,70}</string>
			</dict>
			<key>info_respin2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{319,68}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{0,0},{319,68}}</string>
				<key>sourceSize</key>
				<string>{329,70}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>infoboard_text.png</string>
			<key>size</key>
			<string>{112,1150}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>infoboard_text.png</string>
		</dict>
	</dict>
</plist>
