<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>info_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,459},{452,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{940,459},{452,78}}</string>
				<key>sourceSize</key>
				<string>{456,80}</string>
			</dict>
			<key>info_total_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,305},{106,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{662,305},{106,36}}</string>
				<key>sourceSize</key>
				<string>{106,36}</string>
			</dict>
			<key>collect.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,305},{117,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{541,305},{117,59}}</string>
				<key>sourceSize</key>
				<string>{117,59}</string>
			</dict>
			<key>info_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,582},{430,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{472,582},{430,78}}</string>
				<key>sourceSize</key>
				<string>{434,80}</string>
			</dict>
			<key>smw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,81},{696,222}}</string>
				<key>offset</key>
				<string>{4,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,81},{696,222}}</string>
				<key>sourceSize</key>
				<string>{708,240}</string>
			</dict>
			<key>info_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,459},{638,46}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,459},{638,46}}</string>
				<key>sourceSize</key>
				<string>{644,80}</string>
			</dict>
			<key>mw.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,662},{359,240}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{472,662},{359,240}}</string>
				<key>sourceSize</key>
				<string>{359,240}</string>
			</dict>
			<key>start.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,305},{117,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{602,305},{117,58}}</string>
				<key>sourceSize</key>
				<string>{117,58}</string>
			</dict>
			<key>5ofakind.png</key>
			<dict>
				<key>frame</key>
				<string>{{49,451},{455,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{49,451},{455,136}}</string>
				<key>sourceSize</key>
				<string>{455,136}</string>
			</dict>
			<key>total_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{49,913},{371,170}}</string>
				<key>offset</key>
				<string>{13,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{49,913},{371,170}}</string>
				<key>sourceSize</key>
				<string>{403,172}</string>
			</dict>
			<key>last_free_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,1},{456,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{950,1},{456,72}}</string>
				<key>sourceSize</key>
				<string>{456,72}</string>
			</dict>
			<key>bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,662},{354,206}}</string>
				<key>offset</key>
				<string>{7,-13}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{714,662},{354,206}}</string>
				<key>sourceSize</key>
				<string>{374,240}</string>
			</dict>
			<key>info_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{698,78}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{698,78}}</string>
				<key>sourceSize</key>
				<string>{702,80}</string>
			</dict>
			<key>free_spins_remaining.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,441},{397,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{541,441},{397,59}}</string>
				<key>sourceSize</key>
				<string>{397,59}</string>
			</dict>
			<key>free_spins_won.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,1},{438,247}}</string>
				<key>offset</key>
				<string>{-12,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{701,1},{438,247}}</string>
				<key>sourceSize</key>
				<string>{464,249}</string>
			</dict>
			<key>bonus_loading_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,305},{538,144}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,305},{538,144}}</string>
				<key>sourceSize</key>
				<string>{538,144}</string>
			</dict>
			<key>logo_on_temple.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,451},{451,237}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{187,451},{451,237}}</string>
				<key>sourceSize</key>
				<string>{455,237}</string>
			</dict>
			<key>win.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,1023},{72,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{472,1023},{72,36}}</string>
				<key>sourceSize</key>
				<string>{72,36}</string>
			</dict>
			<key>info_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,502},{448,78}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{472,502},{448,78}}</string>
				<key>sourceSize</key>
				<string>{454,80}</string>
			</dict>
			<key>info_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,451},{623,44}}</string>
				<key>offset</key>
				<string>{-1,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{426,451},{623,44}}</string>
				<key>sourceSize</key>
				<string>{627,80}</string>
			</dict>
			<key>general_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1023,1096}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1023,1096}}</string>
				<key>sourceSize</key>
				<string>{1023,1098}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>general_text.png</string>
			<key>size</key>
			<string>{1023,1098}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>general_text.png</string>
		</dict>
	</dict>
</plist>
