<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mj_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,111},{105,122}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,140}</string>
			</dict>
			<key>mj_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,2},{105,123}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,140}</string>
			</dict>
			<key>mj_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,2},{105,123}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,140}</string>
			</dict>
			<key>mj_100_jin.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,830},{104,122}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,140}</string>
			</dict>
			<key>mj_1000.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{127,119}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,140}</string>
			</dict>
			<key>mj_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{894,111},{105,122}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,140}</string>
			</dict>
			<key>mj_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,2},{105,123}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,140}</string>
			</dict>
			<key>mj_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,220},{105,122}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,140}</string>
			</dict>
			<key>mj_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,2},{105,123}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,140}</string>
			</dict>
			<key>mj_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,2},{105,123}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,140}</string>
			</dict>
			<key>mj_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{768,2},{105,123}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,140}</string>
			</dict>
			<key>mj_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,234},{105,122}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,140}</string>
			</dict>
			<key>mj_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,343},{105,122}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,140}</string>
			</dict>
			<key>mj_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,452},{105,122}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,140}</string>
			</dict>
			<key>mj_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,578},{105,122}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,140}</string>
			</dict>
			<key>mj_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,704},{105,122}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,140}</string>
			</dict>
			<key>mj_200.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,2},{105,123}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,140}</string>
			</dict>
			<key>mj_200_jin.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,472},{103,122}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,140}</string>
			</dict>
			<key>mj_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,111},{105,123}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,140}</string>
			</dict>
			<key>mj_300.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,830},{104,122}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,140}</string>
			</dict>
			<key>mj_300_jin.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,125},{105,123}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,140}</string>
			</dict>
			<key>mj_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,830},{105,122}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,140}</string>
			</dict>
			<key>mj_400.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,111},{105,123}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,140}</string>
			</dict>
			<key>mj_400_jin.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,346},{104,122}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,140}</string>
			</dict>
			<key>mj_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,111},{105,123}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,140}</string>
			</dict>
			<key>mj_500.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,452},{105,122}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,140}</string>
			</dict>
			<key>mj_500_jin.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,111},{105,123}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,140}</string>
			</dict>
			<key>mj_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,111},{105,123}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,140}</string>
			</dict>
			<key>mj_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,220},{104,122}}</string>
				<key>offset</key>
				<string>{1,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,140}</string>
			</dict>
			<key>mj_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,578},{105,122}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,140}</string>
			</dict>
			<key>mj_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,704},{105,122}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,140}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>bg_normal_symbol.png</string>
			<key>realTextureFileName</key>
			<string>bg_normal_symbol.png</string>
			<key>size</key>
			<string>{1020,954}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1020</integer>
			<key>height</key>
			<integer>954</integer>
		</dict>
	</dict>
</plist>