<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>collect_button_glow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1203,1822},{143,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1203,1822},{143,52}}</string>
				<key>sourceSize</key>
				<string>{143,52}</string>
			</dict>
			<key>solid_c_bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1610,1038},{108,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1610,1038},{108,57}}</string>
				<key>sourceSize</key>
				<string>{108,57}</string>
			</dict>
			<key>solid_a_total.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,1923},{108,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{595,1923},{108,151}}</string>
				<key>sourceSize</key>
				<string>{108,151}</string>
			</dict>
			<key>solid_a_bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,1952},{97,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1200,1952},{97,75}}</string>
				<key>sourceSize</key>
				<string>{97,75}</string>
			</dict>
			<key>light_b_01_bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1517,256},{162,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1517,256},{162,253}}</string>
				<key>sourceSize</key>
				<string>{162,253}</string>
			</dict>
			<key>light_a_02_bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1610,1148},{92,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1610,1148},{92,64}}</string>
				<key>sourceSize</key>
				<string>{92,64}</string>
			</dict>
			<key>light_a_01_bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1517,1},{162,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1517,1},{162,253}}</string>
				<key>sourceSize</key>
				<string>{162,253}</string>
			</dict>
			<key>light_b_02_bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1610,1242},{92,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1610,1242},{92,64}}</string>
				<key>sourceSize</key>
				<string>{92,64}</string>
			</dict>
			<key>light_c_01_bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1517,511},{162,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1517,511},{162,253}}</string>
				<key>sourceSize</key>
				<string>{162,253}</string>
			</dict>
			<key>light_c_02_bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1299,1967},{92,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1299,1967},{92,64}}</string>
				<key>sourceSize</key>
				<string>{92,64}</string>
			</dict>
			<key>solid_b_bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1418,1879},{97,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1418,1879},{97,75}}</string>
				<key>sourceSize</key>
				<string>{97,75}</string>
			</dict>
			<key>solid_c_bw_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1610,1038},{108,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1610,1038},{108,57}}</string>
				<key>sourceSize</key>
				<string>{108,57}</string>
			</dict>
			<key>leaf_bg_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{756,1638}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{756,1638}}</string>
				<key>sourceSize</key>
				<string>{756,1638}</string>
			</dict>
			<key>loading.png</key>
			<dict>
				<key>frame</key>
				<string>{{1517,1439},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1517,1439},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>
			<key>collect_button_glow_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1203,1822},{143,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1203,1822},{143,52}}</string>
				<key>sourceSize</key>
				<string>{143,52}</string>
			</dict>
			<key>flare_a_mystery.png</key>
			<dict>
				<key>frame</key>
				<string>{{1481,1742},{83,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1481,1742},{83,83}}</string>
				<key>sourceSize</key>
				<string>{83,83}</string>
			</dict>
			<key>glow_d_bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{1393,1978},{51,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1393,1978},{51,51}}</string>
				<key>sourceSize</key>
				<string>{51,51}</string>
			</dict>
			<key>glow_a_mystery.png</key>
			<dict>
				<key>frame</key>
				<string>{{1495,1914},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1495,1914},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>glow_b_mystery.png</key>
			<dict>
				<key>frame</key>
				<string>{{1581,1880},{63,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1581,1880},{63,63}}</string>
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>
			<key>glow_01_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{1581,1811},{61,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1581,1811},{61,67}}</string>
				<key>sourceSize</key>
				<string>{61,67}</string>
			</dict>
			<key>flare_a_mystery_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1481,1742},{83,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1481,1742},{83,83}}</string>
				<key>sourceSize</key>
				<string>{83,83}</string>
			</dict>
			<key>glow_02_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{1415,1817},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1415,1817},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>glow_03_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{1331,1880},{85,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1331,1880},{85,85}}</string>
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>glow_04_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{1203,1614},{206,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1203,1614},{206,206}}</string>
				<key>sourceSize</key>
				<string>{206,206}</string>
			</dict>
			<key>frame_glow_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{1348,1822},{56,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1348,1822},{56,65}}</string>
				<key>sourceSize</key>
				<string>{56,65}</string>
			</dict>
			<key>glow_a_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,1882},{143,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{939,1882},{143,143}}</string>
				<key>sourceSize</key>
				<string>{143,143}</string>
			</dict>
			<key>glow_b_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1495,1827},{85,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1495,1827},{85,84}}</string>
				<key>sourceSize</key>
				<string>{85,84}</string>
			</dict>
			<key>glow_b_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1566,1703},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1566,1703},{106,106}}</string>
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>fast_glow_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1517,1038},{91,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1517,1038},{91,306}}</string>
				<key>sourceSize</key>
				<string>{91,306}</string>
			</dict>
			<key>glow_reel_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,1641},{324,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{609,1641},{324,280}}</string>
				<key>sourceSize</key>
				<string>{324,280}</string>
			</dict>
			<key>light_b_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,1614},{266,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{935,1614},{266,266}}</string>
				<key>sourceSize</key>
				<string>{266,266}</string>
			</dict>
			<key>background_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,592},{756,509}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,592},{756,509}}</string>
				<key>sourceSize</key>
				<string>{756,509}</string>
			</dict>
			<key>solid_b_total.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1614},{21,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{759,1614},{21,26}}</string>
				<key>sourceSize</key>
				<string>{21,26}</string>
			</dict>
			<key>background_bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1103},{756,509}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,1103},{756,509}}</string>
				<key>sourceSize</key>
				<string>{756,509}</string>
			</dict>
			<key>solid_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,1923},{189,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{748,1923},{189,78}}</string>
				<key>sourceSize</key>
				<string>{189,78}</string>
			</dict>
			<key>info_blur_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1517,1346},{162,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1517,1346},{162,91}}</string>
				<key>sourceSize</key>
				<string>{162,91}</string>
			</dict>
			<key>fast_glow_01_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1517,1038},{91,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1517,1038},{91,306}}</string>
				<key>sourceSize</key>
				<string>{91,306}</string>
			</dict>
			<key>glow_01_free_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1581,1811},{61,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1581,1811},{61,67}}</string>
				<key>sourceSize</key>
				<string>{61,67}</string>
			</dict>
			<key>leaf_bg_free_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{756,1638}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{756,1638}}</string>
				<key>sourceSize</key>
				<string>{756,1638}</string>
			</dict>
			<key>info_blur_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1517,766},{270,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1517,766},{270,153}}</string>
				<key>sourceSize</key>
				<string>{270,153}</string>
			</dict>
			<key>flare_a_mystery_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1481,1742},{83,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1481,1742},{83,83}}</string>
				<key>sourceSize</key>
				<string>{83,83}</string>
			</dict>
			<key>loading_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1517,1439},{148,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1517,1439},{148,148}}</string>
				<key>sourceSize</key>
				<string>{148,148}</string>
			</dict>
			<key>solid_a_bw_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,1952},{97,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1200,1952},{97,75}}</string>
				<key>sourceSize</key>
				<string>{97,75}</string>
			</dict>
			<key>glow_02_free_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1415,1817},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1415,1817},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>light_b_01_bw_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1517,256},{162,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1517,256},{162,253}}</string>
				<key>sourceSize</key>
				<string>{162,253}</string>
			</dict>
			<key>s_scatter_bg_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1865},{158,433}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1865},{158,433}}</string>
				<key>sourceSize</key>
				<string>{158,433}</string>
			</dict>
			<key>light_a_02_bw_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1610,1148},{92,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1610,1148},{92,64}}</string>
				<key>sourceSize</key>
				<string>{92,64}</string>
			</dict>
			<key>glow_reel_free_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,1641},{324,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{609,1641},{324,280}}</string>
				<key>sourceSize</key>
				<string>{324,280}</string>
			</dict>
			<key>glow_a_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,1865},{157,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{436,1865},{157,157}}</string>
				<key>sourceSize</key>
				<string>{157,157}</string>
			</dict>
			<key>light_b_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{935,1614},{266,266}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{935,1614},{266,266}}</string>
				<key>sourceSize</key>
				<string>{266,266}</string>
			</dict>
			<key>solid_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{1084,1882},{114,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1084,1882},{114,117}}</string>
				<key>sourceSize</key>
				<string>{114,117}</string>
			</dict>
			<key>light_a_01_bw_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1517,1},{162,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1517,1},{162,253}}</string>
				<key>sourceSize</key>
				<string>{162,253}</string>
			</dict>
			<key>background_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1},{756,589}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,1},{756,589}}</string>
				<key>sourceSize</key>
				<string>{756,589}</string>
			</dict>
			<key>glow_d_bonus_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1393,1978},{51,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1393,1978},{51,51}}</string>
				<key>sourceSize</key>
				<string>{51,51}</string>
			</dict>
			<key>light_b_02_bw_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1610,1242},{92,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1610,1242},{92,64}}</string>
				<key>sourceSize</key>
				<string>{92,64}</string>
			</dict>
			<key>background_a_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,592},{756,509}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,592},{756,509}}</string>
				<key>sourceSize</key>
				<string>{756,509}</string>
			</dict>
			<key>glow_03_free_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1331,1880},{85,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1331,1880},{85,85}}</string>
				<key>sourceSize</key>
				<string>{85,85}</string>
			</dict>
			<key>glow_a_mystery_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1495,1914},{68,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1495,1914},{68,68}}</string>
				<key>sourceSize</key>
				<string>{68,68}</string>
			</dict>
			<key>solid_a_5_kind.png</key>
			<dict>
				<key>frame</key>
				<string>{{1566,1589},{94,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1566,1589},{94,112}}</string>
				<key>sourceSize</key>
				<string>{94,112}</string>
			</dict>
			<key>light_c_01_bw_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1517,511},{162,253}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1517,511},{162,253}}</string>
				<key>sourceSize</key>
				<string>{162,253}</string>
			</dict>
			<key>solid_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1411,1614},{201,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1411,1614},{201,68}}</string>
				<key>sourceSize</key>
				<string>{201,68}</string>
			</dict>
			<key>glow_a_spin_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,1882},{143,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{939,1882},{143,143}}</string>
				<key>sourceSize</key>
				<string>{143,143}</string>
			</dict>
			<key>collect_button_glow_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1203,1822},{143,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1203,1822},{143,52}}</string>
				<key>sourceSize</key>
				<string>{143,52}</string>
			</dict>
			<key>solid_b_total_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1614},{21,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{759,1614},{21,26}}</string>
				<key>sourceSize</key>
				<string>{21,26}</string>
			</dict>
			<key>glow_04_free_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1203,1614},{206,206}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1203,1614},{206,206}}</string>
				<key>sourceSize</key>
				<string>{206,206}</string>
			</dict>
			<key>light_c_02_bw_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1299,1967},{92,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1299,1967},{92,64}}</string>
				<key>sourceSize</key>
				<string>{92,64}</string>
			</dict>
			<key>frame_glow_free_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1348,1822},{56,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1348,1822},{56,65}}</string>
				<key>sourceSize</key>
				<string>{56,65}</string>
			</dict>
			<key>glow_b_mystery_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1581,1880},{63,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1581,1880},{63,63}}</string>
				<key>sourceSize</key>
				<string>{63,63}</string>
			</dict>
			<key>symbol_flare_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1481,1614},{126,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1481,1614},{126,83}}</string>
				<key>sourceSize</key>
				<string>{126,83}</string>
			</dict>
			<key>glow_b_win_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1495,1827},{85,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1495,1827},{85,84}}</string>
				<key>sourceSize</key>
				<string>{85,84}</string>
			</dict>
			<key>s_scatter_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1641},{222,606}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1641},{222,606}}</string>
				<key>sourceSize</key>
				<string>{222,606}</string>
			</dict>
			<key>solid_b_bw_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1418,1879},{97,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1418,1879},{97,75}}</string>
				<key>sourceSize</key>
				<string>{97,75}</string>
			</dict>
			<key>solid_c_bw_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1610,1038},{108,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1610,1038},{108,57}}</string>
				<key>sourceSize</key>
				<string>{108,57}</string>
			</dict>
			<key>solid_a_total_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,1923},{108,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{595,1923},{108,151}}</string>
				<key>sourceSize</key>
				<string>{108,151}</string>
			</dict>
			<key>glow_b_spin_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1566,1703},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1566,1703},{106,106}}</string>
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>symbol_glow_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1203,1876},{74,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1203,1876},{74,126}}</string>
				<key>sourceSize</key>
				<string>{74,126}</string>
			</dict>
			<key>background_bonus_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1103},{756,509}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,1103},{756,509}}</string>
				<key>sourceSize</key>
				<string>{756,509}</string>
			</dict>
			<key>glow_a_win_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,1865},{157,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{436,1865},{157,157}}</string>
				<key>sourceSize</key>
				<string>{157,157}</string>
			</dict>
			<key>solid_c_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1084,1882},{114,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1084,1882},{114,117}}</string>
				<key>sourceSize</key>
				<string>{114,117}</string>
			</dict>
			<key>glow_b_win_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1495,1827},{85,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1495,1827},{85,84}}</string>
				<key>sourceSize</key>
				<string>{85,84}</string>
			</dict>
			<key>symbol_flare_a_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1481,1614},{126,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1481,1614},{126,83}}</string>
				<key>sourceSize</key>
				<string>{126,83}</string>
			</dict>
			<key>s_scatter_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1641},{222,606}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1641},{222,606}}</string>
				<key>sourceSize</key>
				<string>{222,606}</string>
			</dict>
			<key>symbol_glow_01_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1203,1876},{74,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1203,1876},{74,126}}</string>
				<key>sourceSize</key>
				<string>{74,126}</string>
			</dict>
			<key>solid_a_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{748,1923},{189,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{748,1923},{189,78}}</string>
				<key>sourceSize</key>
				<string>{189,78}</string>
			</dict>
			<key>solid_a_5_kind_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1566,1589},{94,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1566,1589},{94,112}}</string>
				<key>sourceSize</key>
				<string>{94,112}</string>
			</dict>
			<key>info_blur_a_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1517,1346},{162,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1517,1346},{162,91}}</string>
				<key>sourceSize</key>
				<string>{162,91}</string>
			</dict>
			<key>info_blur_b_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1517,766},{270,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1517,766},{270,153}}</string>
				<key>sourceSize</key>
				<string>{270,153}</string>
			</dict>
			<key>solid_b_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1411,1614},{201,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1411,1614},{201,68}}</string>
				<key>sourceSize</key>
				<string>{201,68}</string>
			</dict>
			<key>symbol_flare_a_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1481,1614},{126,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1481,1614},{126,83}}</string>
				<key>sourceSize</key>
				<string>{126,83}</string>
			</dict>
			<key>s_scatter_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1641},{222,606}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1641},{222,606}}</string>
				<key>sourceSize</key>
				<string>{222,606}</string>
			</dict>
			<key>symbol_glow_01_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1203,1876},{74,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1203,1876},{74,126}}</string>
				<key>sourceSize</key>
				<string>{74,126}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>1697ae4c-26bf-4cb8-9a7e-898bdb85d60f.ca363.jpg</string>
			<key>size</key>
			<string>{1680,2032}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>1697ae4c-26bf-4cb8-9a7e-898bdb85d60f.ca363.jpg</string>
		</dict>
	</dict>
</plist>
