<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>particle_fast_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{398,300},{92,295}}</string>
				<key>offset</key>
				<string>{-6,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{398,300},{92,295}}</string>
				<key>sourceSize</key>
				<string>{104,337}</string>
			</dict>
			<key>particle_fast_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,433},{92,287}}</string>
				<key>offset</key>
				<string>{-5,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,433},{92,287}}</string>
				<key>sourceSize</key>
				<string>{104,337}</string>
			</dict>
			<key>particle_fast_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{302,276},{94,263}}</string>
				<key>offset</key>
				<string>{-1,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{302,276},{94,263}}</string>
				<key>sourceSize</key>
				<string>{104,337}</string>
			</dict>
			<key>particle_fast_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,105},{76,301}}</string>
				<key>offset</key>
				<string>{2,18}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,105},{76,301}}</string>
				<key>sourceSize</key>
				<string>{104,337}</string>
			</dict>
			<key>particle_fast_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,621},{92,263}}</string>
				<key>offset</key>
				<string>{1,-18}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{187,621},{92,263}}</string>
				<key>sourceSize</key>
				<string>{104,337}</string>
			</dict>
			<key>particle_fast_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,1},{68,297}}</string>
				<key>offset</key>
				<string>{4,11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{422,1},{68,297}}</string>
				<key>sourceSize</key>
				<string>{104,337}</string>
			</dict>
			<key>particle_fast_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,259},{78,299}}</string>
				<key>offset</key>
				<string>{0,19}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,259},{78,299}}</string>
				<key>sourceSize</key>
				<string>{104,337}</string>
			</dict>
			<key>particle_fast_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{375,597},{90,257}}</string>
				<key>offset</key>
				<string>{4,-26}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{375,597},{90,257}}</string>
				<key>sourceSize</key>
				<string>{104,337}</string>
			</dict>
			<key>particle_fast_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,183},{74,301}}</string>
				<key>offset</key>
				<string>{3,16}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,183},{74,301}}</string>
				<key>sourceSize</key>
				<string>{104,337}</string>
			</dict>
			<key>particle_fast_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,339},{92,291}}</string>
				<key>offset</key>
				<string>{-6,2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,339},{92,291}}</string>
				<key>sourceSize</key>
				<string>{104,337}</string>
			</dict>
			<key>particle_fast_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,527},{92,279}}</string>
				<key>offset</key>
				<string>{-4,-7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,527},{92,279}}</string>
				<key>sourceSize</key>
				<string>{104,337}</string>
			</dict>
			<key>particle_fast_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,621},{90,265}}</string>
				<key>offset</key>
				<string>{3,-24}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{95,621},{90,265}}</string>
				<key>sourceSize</key>
				<string>{104,337}</string>
			</dict>
			<key>particle_fast_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,1},{102,273}}</string>
				<key>offset</key>
				<string>{-1,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{318,1},{102,273}}</string>
				<key>sourceSize</key>
				<string>{104,337}</string>
			</dict>
			<key>particle_fast_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{281,621},{92,261}}</string>
				<key>offset</key>
				<string>{1,-23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{281,621},{92,261}}</string>
				<key>sourceSize</key>
				<string>{104,337}</string>
			</dict>
			<key>particle_fast_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,621},{92,271}}</string>
				<key>offset</key>
				<string>{-1,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,621},{92,271}}</string>
				<key>sourceSize</key>
				<string>{104,337}</string>
			</dict>
			<key>particle_fast_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{102,315}}</string>
				<key>offset</key>
				<string>{-1,11}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{102,315}}</string>
				<key>sourceSize</key>
				<string>{104,337}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>50862a66-95f5-43f6-abb4-84964df5d2e9.fbcc5.jpg</string>
			<key>size</key>
			<string>{491,893}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>50862a66-95f5-43f6-abb4-84964df5d2e9.fbcc5.jpg</string>
		</dict>
	</dict>
</plist>
