<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>info_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,171},{38,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{603,171},{38,48}}</string>
				<key>sourceSize</key>
				<string>{38,48}</string>
			</dict>
			<key>info_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,84},{39,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{562,84},{39,50}}</string>
				<key>sourceSize</key>
				<string>{39,50}</string>
			</dict>
			<key>info_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,49},{39,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{612,49},{39,50}}</string>
				<key>sourceSize</key>
				<string>{39,50}</string>
			</dict>
			<key>info_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,156},{39,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{653,156},{39,48}}</string>
				<key>sourceSize</key>
				<string>{39,48}</string>
			</dict>
			<key>info_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,130},{39,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{603,130},{39,48}}</string>
				<key>sourceSize</key>
				<string>{39,48}</string>
			</dict>
			<key>info_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,63},{39,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{664,63},{39,50}}</string>
				<key>sourceSize</key>
				<string>{39,50}</string>
			</dict>
			<key>info_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,90},{38,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{603,90},{38,49}}</string>
				<key>sourceSize</key>
				<string>{38,49}</string>
			</dict>
			<key>info_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,211},{38,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{568,211},{38,48}}</string>
				<key>sourceSize</key>
				<string>{38,48}</string>
			</dict>
			<key>info_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,136},{33,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{568,136},{33,48}}</string>
				<key>sourceSize</key>
				<string>{33,48}</string>
			</dict>
			<key>info_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,115},{39,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{654,115},{39,48}}</string>
				<key>sourceSize</key>
				<string>{39,48}</string>
			</dict>
			<key>bigwin_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,1},{99,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{202,1},{99,141}}</string>
				<key>sourceSize</key>
				<string>{99,141}</string>
			</dict>
			<key>bigwin_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,1},{102,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{98,1},{102,142}}</string>
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>bigwin_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,1},{90,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{303,1},{90,141}}</string>
				<key>sourceSize</key>
				<string>{90,141}</string>
			</dict>
			<key>bigwin_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,146},{104,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,146},{104,139}}</string>
				<key>sourceSize</key>
				<string>{104,139}</string>
			</dict>
			<key>bigwin_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,143},{93,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{427,143},{93,139}}</string>
				<key>sourceSize</key>
				<string>{93,139}</string>
			</dict>
			<key>bigwin_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,1},{74,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{486,1},{74,140}}</string>
				<key>sourceSize</key>
				<string>{74,140}</string>
			</dict>
			<key>bigwin_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{95,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{95,143}}</string>
				<key>sourceSize</key>
				<string>{95,143}</string>
			</dict>
			<key>bigwin_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,1},{89,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{395,1},{89,140}}</string>
				<key>sourceSize</key>
				<string>{89,140}</string>
			</dict>
			<key>bigwin_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,145},{102,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{142,145},{102,141}}</string>
				<key>sourceSize</key>
				<string>{102,141}</string>
			</dict>
			<key>bigwin_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,144},{99,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{285,144},{99,140}}</string>
				<key>sourceSize</key>
				<string>{99,140}</string>
			</dict>
			<key>bigwin_6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,1},{99,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{202,1},{99,141}}</string>
				<key>sourceSize</key>
				<string>{99,141}</string>
			</dict>
			<key>bigwin_9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,1},{102,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{98,1},{102,142}}</string>
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>bigwin_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,1},{90,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{303,1},{90,141}}</string>
				<key>sourceSize</key>
				<string>{90,141}</string>
			</dict>
			<key>bigwin_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,146},{104,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,146},{104,139}}</string>
				<key>sourceSize</key>
				<string>{104,139}</string>
			</dict>
			<key>bigwin_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,143},{93,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{427,143},{93,139}}</string>
				<key>sourceSize</key>
				<string>{93,139}</string>
			</dict>
			<key>bigwin_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,1},{74,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{486,1},{74,140}}</string>
				<key>sourceSize</key>
				<string>{74,140}</string>
			</dict>
			<key>bigwin_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{95,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{95,143}}</string>
				<key>sourceSize</key>
				<string>{95,143}</string>
			</dict>
			<key>bigwin_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,1},{89,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{395,1},{89,140}}</string>
				<key>sourceSize</key>
				<string>{89,140}</string>
			</dict>
			<key>bigwin_8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,145},{102,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{142,145},{102,141}}</string>
				<key>sourceSize</key>
				<string>{102,141}</string>
			</dict>
			<key>bigwin_comma.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1},{48,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{562,1},{48,81}}</string>
				<key>sourceSize</key>
				<string>{48,81}</string>
			</dict>
			<key>bigwin_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,144},{99,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{285,144},{99,140}}</string>
				<key>sourceSize</key>
				<string>{99,140}</string>
			</dict>
			<key>bigwin_decimal.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,1},{46,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{612,1},{46,62}}</string>
				<key>sourceSize</key>
				<string>{46,62}</string>
			</dict>
			<key>bigwin_6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,1},{99,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{202,1},{99,141}}</string>
				<key>sourceSize</key>
				<string>{99,141}</string>
			</dict>
			<key>bigwin_9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,1},{102,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{98,1},{102,142}}</string>
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>bigwin_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,1},{90,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{303,1},{90,141}}</string>
				<key>sourceSize</key>
				<string>{90,141}</string>
			</dict>
			<key>bigwin_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,146},{104,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,146},{104,139}}</string>
				<key>sourceSize</key>
				<string>{104,139}</string>
			</dict>
			<key>bigwin_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,143},{93,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{427,143},{93,139}}</string>
				<key>sourceSize</key>
				<string>{93,139}</string>
			</dict>
			<key>bigwin_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,1},{74,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{486,1},{74,140}}</string>
				<key>sourceSize</key>
				<string>{74,140}</string>
			</dict>
			<key>bigwin_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{95,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{95,143}}</string>
				<key>sourceSize</key>
				<string>{95,143}</string>
			</dict>
			<key>bigwin_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,1},{89,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{395,1},{89,140}}</string>
				<key>sourceSize</key>
				<string>{89,140}</string>
			</dict>
			<key>bigwin_8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,145},{102,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{142,145},{102,141}}</string>
				<key>sourceSize</key>
				<string>{102,141}</string>
			</dict>
			<key>bigwin_comma_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1},{48,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{562,1},{48,81}}</string>
				<key>sourceSize</key>
				<string>{48,81}</string>
			</dict>
			<key>bigwin_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,144},{99,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{285,144},{99,140}}</string>
				<key>sourceSize</key>
				<string>{99,140}</string>
			</dict>
			<key>bigwin_decimal_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,1},{46,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{612,1},{46,62}}</string>
				<key>sourceSize</key>
				<string>{46,62}</string>
			</dict>
			<key>bigwin_6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,1},{99,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{202,1},{99,141}}</string>
				<key>sourceSize</key>
				<string>{99,141}</string>
			</dict>
			<key>info_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,171},{38,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{603,171},{38,48}}</string>
				<key>sourceSize</key>
				<string>{38,48}</string>
			</dict>
			<key>info_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,84},{39,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{562,84},{39,50}}</string>
				<key>sourceSize</key>
				<string>{39,50}</string>
			</dict>
			<key>bigwin_9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,1},{102,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{98,1},{102,142}}</string>
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>info_6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,49},{39,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{612,49},{39,50}}</string>
				<key>sourceSize</key>
				<string>{39,50}</string>
			</dict>
			<key>payline_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,211},{17,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{636,211},{17,20}}</string>
				<key>sourceSize</key>
				<string>{17,20}</string>
			</dict>
			<key>info_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,156},{39,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{653,156},{39,48}}</string>
				<key>sourceSize</key>
				<string>{39,48}</string>
			</dict>
			<key>info_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,130},{39,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{603,130},{39,48}}</string>
				<key>sourceSize</key>
				<string>{39,48}</string>
			</dict>
			<key>bigwin_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,1},{90,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{303,1},{90,141}}</string>
				<key>sourceSize</key>
				<string>{90,141}</string>
			</dict>
			<key>bigwin_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,146},{104,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,146},{104,139}}</string>
				<key>sourceSize</key>
				<string>{104,139}</string>
			</dict>
			<key>payline_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,186},{16,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{568,186},{16,21}}</string>
				<key>sourceSize</key>
				<string>{16,21}</string>
			</dict>
			<key>info_decimal.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,23},{20,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{676,23},{20,22}}</string>
				<key>sourceSize</key>
				<string>{20,22}</string>
			</dict>
			<key>info_8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,63},{39,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{664,63},{39,50}}</string>
				<key>sourceSize</key>
				<string>{39,50}</string>
			</dict>
			<key>bigwin_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,143},{93,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{427,143},{93,139}}</string>
				<key>sourceSize</key>
				<string>{93,139}</string>
			</dict>
			<key>info_9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,90},{38,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{603,90},{38,49}}</string>
				<key>sourceSize</key>
				<string>{38,49}</string>
			</dict>
			<key>bigwin_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,1},{74,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{486,1},{74,140}}</string>
				<key>sourceSize</key>
				<string>{74,140}</string>
			</dict>
			<key>bigwin_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{95,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{95,143}}</string>
				<key>sourceSize</key>
				<string>{95,143}</string>
			</dict>
			<key>bigwin_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,1},{89,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{395,1},{89,140}}</string>
				<key>sourceSize</key>
				<string>{89,140}</string>
			</dict>
			<key>info_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,211},{38,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{568,211},{38,48}}</string>
				<key>sourceSize</key>
				<string>{38,48}</string>
			</dict>
			<key>payline_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,197},{17,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{655,197},{17,20}}</string>
				<key>sourceSize</key>
				<string>{17,20}</string>
			</dict>
			<key>bigwin_8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,145},{102,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{142,145},{102,141}}</string>
				<key>sourceSize</key>
				<string>{102,141}</string>
			</dict>
			<key>bigwin_comma_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,1},{48,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{562,1},{48,81}}</string>
				<key>sourceSize</key>
				<string>{48,81}</string>
			</dict>
			<key>payline_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,234},{16,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{618,234},{16,21}}</string>
				<key>sourceSize</key>
				<string>{16,21}</string>
			</dict>
			<key>payline_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,219},{16,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{663,219},{16,20}}</string>
				<key>sourceSize</key>
				<string>{16,20}</string>
			</dict>
			<key>payline_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,45},{16,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{676,45},{16,21}}</string>
				<key>sourceSize</key>
				<string>{16,21}</string>
			</dict>
			<key>bigwin_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,144},{99,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{285,144},{99,140}}</string>
				<key>sourceSize</key>
				<string>{99,140}</string>
			</dict>
			<key>payline_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,186},{14,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{586,186},{14,21}}</string>
				<key>sourceSize</key>
				<string>{14,21}</string>
			</dict>
			<key>bigwin_decimal_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,1},{46,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{612,1},{46,62}}</string>
				<key>sourceSize</key>
				<string>{46,62}</string>
			</dict>
			<key>info_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,136},{33,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{568,136},{33,48}}</string>
				<key>sourceSize</key>
				<string>{33,48}</string>
			</dict>
			<key>payline_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,197},{16,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{674,197},{16,20}}</string>
				<key>sourceSize</key>
				<string>{16,20}</string>
			</dict>
			<key>payline_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,233},{17,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{641,233},{17,20}}</string>
				<key>sourceSize</key>
				<string>{17,20}</string>
			</dict>
			<key>payline_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,211},{16,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{618,211},{16,21}}</string>
				<key>sourceSize</key>
				<string>{16,21}</string>
			</dict>
			<key>info_comma.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,1},{20,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{676,1},{20,30}}</string>
				<key>sourceSize</key>
				<string>{20,30}</string>
			</dict>
			<key>info_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,115},{39,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{654,115},{39,48}}</string>
				<key>sourceSize</key>
				<string>{39,48}</string>
			</dict>
			<key>bigwin_6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,1},{99,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{202,1},{99,141}}</string>
				<key>sourceSize</key>
				<string>{99,141}</string>
			</dict>
			<key>info_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,171},{38,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{603,171},{38,48}}</string>
				<key>sourceSize</key>
				<string>{38,48}</string>
			</dict>
			<key>info_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,84},{39,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{562,84},{39,50}}</string>
				<key>sourceSize</key>
				<string>{39,50}</string>
			</dict>
			<key>bigwin_9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{98,1},{102,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{98,1},{102,142}}</string>
				<key>sourceSize</key>
				<string>{102,142}</string>
			</dict>
			<key>info_6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,49},{39,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{612,49},{39,50}}</string>
				<key>sourceSize</key>
				<string>{39,50}</string>
			</dict>
			<key>info_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,156},{39,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{653,156},{39,48}}</string>
				<key>sourceSize</key>
				<string>{39,48}</string>
			</dict>
			<key>info_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,130},{39,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{603,130},{39,48}}</string>
				<key>sourceSize</key>
				<string>{39,48}</string>
			</dict>
			<key>bigwin_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,1},{90,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{303,1},{90,141}}</string>
				<key>sourceSize</key>
				<string>{90,141}</string>
			</dict>
			<key>bigwin_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,146},{104,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,146},{104,139}}</string>
				<key>sourceSize</key>
				<string>{104,139}</string>
			</dict>
			<key>info_8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,63},{39,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{664,63},{39,50}}</string>
				<key>sourceSize</key>
				<string>{39,50}</string>
			</dict>
			<key>bigwin_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{427,143},{93,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{427,143},{93,139}}</string>
				<key>sourceSize</key>
				<string>{93,139}</string>
			</dict>
			<key>info_9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,90},{38,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{603,90},{38,49}}</string>
				<key>sourceSize</key>
				<string>{38,49}</string>
			</dict>
			<key>bigwin_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,1},{74,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{486,1},{74,140}}</string>
				<key>sourceSize</key>
				<string>{74,140}</string>
			</dict>
			<key>bigwin_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{95,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{95,143}}</string>
				<key>sourceSize</key>
				<string>{95,143}</string>
			</dict>
			<key>bigwin_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,1},{89,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{395,1},{89,140}}</string>
				<key>sourceSize</key>
				<string>{89,140}</string>
			</dict>
			<key>info_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,211},{38,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{568,211},{38,48}}</string>
				<key>sourceSize</key>
				<string>{38,48}</string>
			</dict>
			<key>bigwin_8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,145},{102,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{142,145},{102,141}}</string>
				<key>sourceSize</key>
				<string>{102,141}</string>
			</dict>
			<key>bigwin_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,144},{99,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{285,144},{99,140}}</string>
				<key>sourceSize</key>
				<string>{99,140}</string>
			</dict>
			<key>info_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,136},{33,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{568,136},{33,48}}</string>
				<key>sourceSize</key>
				<string>{33,48}</string>
			</dict>
			<key>info_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,115},{39,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{654,115},{39,48}}</string>
				<key>sourceSize</key>
				<string>{39,48}</string>
			</dict>
			<key>info_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,171},{38,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{603,171},{38,48}}</string>
				<key>sourceSize</key>
				<string>{38,48}</string>
			</dict>
			<key>info_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,84},{39,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{562,84},{39,50}}</string>
				<key>sourceSize</key>
				<string>{39,50}</string>
			</dict>
			<key>info_6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,49},{39,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{612,49},{39,50}}</string>
				<key>sourceSize</key>
				<string>{39,50}</string>
			</dict>
			<key>info_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,156},{39,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{653,156},{39,48}}</string>
				<key>sourceSize</key>
				<string>{39,48}</string>
			</dict>
			<key>info_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,130},{39,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{603,130},{39,48}}</string>
				<key>sourceSize</key>
				<string>{39,48}</string>
			</dict>
			<key>info_8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,63},{39,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{664,63},{39,50}}</string>
				<key>sourceSize</key>
				<string>{39,50}</string>
			</dict>
			<key>info_9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,90},{38,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{603,90},{38,49}}</string>
				<key>sourceSize</key>
				<string>{38,49}</string>
			</dict>
			<key>info_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,211},{38,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{568,211},{38,48}}</string>
				<key>sourceSize</key>
				<string>{38,48}</string>
			</dict>
			<key>info_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,136},{33,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{568,136},{33,48}}</string>
				<key>sourceSize</key>
				<string>{33,48}</string>
			</dict>
			<key>info_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,115},{39,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{654,115},{39,48}}</string>
				<key>sourceSize</key>
				<string>{39,48}</string>
			</dict>
			<key>info_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,171},{38,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{603,171},{38,48}}</string>
				<key>sourceSize</key>
				<string>{38,48}</string>
			</dict>
			<key>info_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,84},{39,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{562,84},{39,50}}</string>
				<key>sourceSize</key>
				<string>{39,50}</string>
			</dict>
			<key>info_6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,49},{39,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{612,49},{39,50}}</string>
				<key>sourceSize</key>
				<string>{39,50}</string>
			</dict>
			<key>payline_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,211},{17,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{636,211},{17,20}}</string>
				<key>sourceSize</key>
				<string>{17,20}</string>
			</dict>
			<key>info_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,156},{39,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{653,156},{39,48}}</string>
				<key>sourceSize</key>
				<string>{39,48}</string>
			</dict>
			<key>info_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,130},{39,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{603,130},{39,48}}</string>
				<key>sourceSize</key>
				<string>{39,48}</string>
			</dict>
			<key>payline_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,186},{16,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{568,186},{16,21}}</string>
				<key>sourceSize</key>
				<string>{16,21}</string>
			</dict>
			<key>info_decimal_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,23},{20,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{676,23},{20,22}}</string>
				<key>sourceSize</key>
				<string>{20,22}</string>
			</dict>
			<key>info_8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,63},{39,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{664,63},{39,50}}</string>
				<key>sourceSize</key>
				<string>{39,50}</string>
			</dict>
			<key>info_9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,90},{38,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{603,90},{38,49}}</string>
				<key>sourceSize</key>
				<string>{38,49}</string>
			</dict>
			<key>info_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,211},{38,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{568,211},{38,48}}</string>
				<key>sourceSize</key>
				<string>{38,48}</string>
			</dict>
			<key>payline_8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,197},{17,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{655,197},{17,20}}</string>
				<key>sourceSize</key>
				<string>{17,20}</string>
			</dict>
			<key>payline_9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,234},{16,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{618,234},{16,21}}</string>
				<key>sourceSize</key>
				<string>{16,21}</string>
			</dict>
			<key>payline_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,219},{16,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{663,219},{16,20}}</string>
				<key>sourceSize</key>
				<string>{16,20}</string>
			</dict>
			<key>payline_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,45},{16,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{676,45},{16,21}}</string>
				<key>sourceSize</key>
				<string>{16,21}</string>
			</dict>
			<key>payline_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{586,186},{14,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{586,186},{14,21}}</string>
				<key>sourceSize</key>
				<string>{14,21}</string>
			</dict>
			<key>info_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,136},{33,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{568,136},{33,48}}</string>
				<key>sourceSize</key>
				<string>{33,48}</string>
			</dict>
			<key>payline_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,197},{16,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{674,197},{16,20}}</string>
				<key>sourceSize</key>
				<string>{16,20}</string>
			</dict>
			<key>payline_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,233},{17,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{641,233},{17,20}}</string>
				<key>sourceSize</key>
				<string>{17,20}</string>
			</dict>
			<key>payline_6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,211},{16,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{618,211},{16,21}}</string>
				<key>sourceSize</key>
				<string>{16,21}</string>
			</dict>
			<key>info_comma_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,1},{20,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{676,1},{20,30}}</string>
				<key>sourceSize</key>
				<string>{20,30}</string>
			</dict>
			<key>info_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,115},{39,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{654,115},{39,48}}</string>
				<key>sourceSize</key>
				<string>{39,48}</string>
			</dict>
			<key>info_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,171},{38,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{603,171},{38,48}}</string>
				<key>sourceSize</key>
				<string>{38,48}</string>
			</dict>
			<key>info_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,84},{39,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{562,84},{39,50}}</string>
				<key>sourceSize</key>
				<string>{39,50}</string>
			</dict>
			<key>info_6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,49},{39,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{612,49},{39,50}}</string>
				<key>sourceSize</key>
				<string>{39,50}</string>
			</dict>
			<key>info_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,156},{39,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{653,156},{39,48}}</string>
				<key>sourceSize</key>
				<string>{39,48}</string>
			</dict>
			<key>info_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,130},{39,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{603,130},{39,48}}</string>
				<key>sourceSize</key>
				<string>{39,48}</string>
			</dict>
			<key>info_8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,63},{39,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{664,63},{39,50}}</string>
				<key>sourceSize</key>
				<string>{39,50}</string>
			</dict>
			<key>info_9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,90},{38,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{603,90},{38,49}}</string>
				<key>sourceSize</key>
				<string>{38,49}</string>
			</dict>
			<key>info_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,211},{38,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{568,211},{38,48}}</string>
				<key>sourceSize</key>
				<string>{38,48}</string>
			</dict>
			<key>info_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,136},{33,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{568,136},{33,48}}</string>
				<key>sourceSize</key>
				<string>{33,48}</string>
			</dict>
			<key>info_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,115},{39,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{654,115},{39,48}}</string>
				<key>sourceSize</key>
				<string>{39,48}</string>
			</dict>
			<key>info_3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,171},{38,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{603,171},{38,48}}</string>
				<key>sourceSize</key>
				<string>{38,48}</string>
			</dict>
			<key>info_2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,84},{39,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{562,84},{39,50}}</string>
				<key>sourceSize</key>
				<string>{39,50}</string>
			</dict>
			<key>info_6_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,49},{39,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{612,49},{39,50}}</string>
				<key>sourceSize</key>
				<string>{39,50}</string>
			</dict>
			<key>info_7_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{653,156},{39,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{653,156},{39,48}}</string>
				<key>sourceSize</key>
				<string>{39,48}</string>
			</dict>
			<key>info_4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,130},{39,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{603,130},{39,48}}</string>
				<key>sourceSize</key>
				<string>{39,48}</string>
			</dict>
			<key>info_decimal_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,23},{20,22}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{676,23},{20,22}}</string>
				<key>sourceSize</key>
				<string>{20,22}</string>
			</dict>
			<key>info_8_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,63},{39,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{664,63},{39,50}}</string>
				<key>sourceSize</key>
				<string>{39,50}</string>
			</dict>
			<key>info_9_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,90},{38,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{603,90},{38,49}}</string>
				<key>sourceSize</key>
				<string>{38,49}</string>
			</dict>
			<key>info_5_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,211},{38,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{568,211},{38,48}}</string>
				<key>sourceSize</key>
				<string>{38,48}</string>
			</dict>
			<key>info_1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,136},{33,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{568,136},{33,48}}</string>
				<key>sourceSize</key>
				<string>{33,48}</string>
			</dict>
			<key>info_comma_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,1},{20,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{676,1},{20,30}}</string>
				<key>sourceSize</key>
				<string>{20,30}</string>
			</dict>
			<key>info_0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{654,115},{39,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{654,115},{39,48}}</string>
				<key>sourceSize</key>
				<string>{39,48}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>54c0c7af-5373-45f2-a173-4aef47c67678.5a937.png</string>
			<key>size</key>
			<string>{707,251}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>54c0c7af-5373-45f2-a173-4aef47c67678.5a937.png</string>
		</dict>
	</dict>
</plist>
