<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>freespin_star_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,1},{179,191}}</string>
				<key>offset</key>
				<string>{37,28}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{200,1},{179,191}}</string>
				<key>sourceSize</key>
				<string>{275,275}</string>
			</dict>
			<key>freespin_star_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,182},{181,173}}</string>
				<key>offset</key>
				<string>{20,25}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{200,182},{181,173}}</string>
				<key>sourceSize</key>
				<string>{275,275}</string>
			</dict>
			<key>freespin_star_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,1},{95,91}}</string>
				<key>offset</key>
				<string>{3,12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{393,1},{95,91}}</string>
				<key>sourceSize</key>
				<string>{275,275}</string>
			</dict>
			<key>freespin_star_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,94},{57,65}}</string>
				<key>offset</key>
				<string>{-4,12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{393,94},{57,65}}</string>
				<key>sourceSize</key>
				<string>{275,275}</string>
			</dict>
			<key>freespin_star_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,190},{191,181}}</string>
				<key>offset</key>
				<string>{22,26}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,190},{191,181}}</string>
				<key>sourceSize</key>
				<string>{275,275}</string>
			</dict>
			<key>freespin_star_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,357},{169,165}}</string>
				<key>offset</key>
				<string>{18,24}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{194,357},{169,165}}</string>
				<key>sourceSize</key>
				<string>{275,275}</string>
			</dict>
			<key>freespin_star_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{197,187}}</string>
				<key>offset</key>
				<string>{24,27}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{197,187}}</string>
				<key>sourceSize</key>
				<string>{275,275}</string>
			</dict>
			<key>freespin_star_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,182},{121,119}}</string>
				<key>offset</key>
				<string>{8,17}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{383,182},{121,119}}</string>
				<key>sourceSize</key>
				<string>{275,275}</string>
			</dict>
			<key>freespin_star_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,373},{15,15}}</string>
				<key>offset</key>
				<string>{94,-35}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{177,373},{15,15}}</string>
				<key>sourceSize</key>
				<string>{275,275}</string>
			</dict>
			<key>freespin_star_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,357},{143,137}}</string>
				<key>offset</key>
				<string>{12,19}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{361,357},{143,137}}</string>
				<key>sourceSize</key>
				<string>{275,275}</string>
			</dict>
			<key>freespin_star_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,373},{15,17}}</string>
				<key>offset</key>
				<string>{91,-34}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{160,373},{15,17}}</string>
				<key>sourceSize</key>
				<string>{275,275}</string>
			</dict>
			<key>freespin_star_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,373},{157,153}}</string>
				<key>offset</key>
				<string>{16,22}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,373},{157,153}}</string>
				<key>sourceSize</key>
				<string>{275,275}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>615759b8-3169-4d4d-b419-c2b25b339c01.29aa2.jpg</string>
			<key>size</key>
			<string>{503,527}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>615759b8-3169-4d4d-b419-c2b25b339c01.29aa2.jpg</string>
		</dict>
	</dict>
</plist>
