<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mg_temple.png</key>
			<dict>
				<key>frame</key>
				<string>{{1163,715},{876,712}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1163,715},{876,712}}</string>
				<key>sourceSize</key>
				<string>{1080,712}</string>
			</dict>
			<key>fire_stick_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,1975},{41,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{560,1975},{41,109}}</string>
				<key>sourceSize</key>
				<string>{41,109}</string>
			</dict>
			<key>vine_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{1130,1488},{31,661}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1130,1488},{31,661}}</string>
				<key>sourceSize</key>
				<string>{39,661}</string>
			</dict>
			<key>vine_r.png</key>
			<dict>
				<key>frame</key>
				<string>{{1130,1429},{57,680}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1130,1429},{57,680}}</string>
				<key>sourceSize</key>
				<string>{57,680}</string>
			</dict>
			<key>vine_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1336},{378,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,1336},{378,78}}</string>
				<key>sourceSize</key>
				<string>{378,78}</string>
			</dict>
			<key>fire_stick_l.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,1632},{41,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{973,1632},{41,122}}</string>
				<key>sourceSize</key>
				<string>{41,122}</string>
			</dict>
			<key>collect_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{1130,1746},{332,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1130,1746},{332,120}}</string>
				<key>sourceSize</key>
				<string>{332,120}</string>
			</dict>
			<key>leaf_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1675},{344,557}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1675},{344,557}}</string>
				<key>sourceSize</key>
				<string>{344,557}</string>
			</dict>
			<key>leaf_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1422},{251,970}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1422},{251,970}}</string>
				<key>sourceSize</key>
				<string>{251,970}</string>
			</dict>
			<key>leaf_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,1675},{236,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{560,1675},{236,568}}</string>
				<key>sourceSize</key>
				<string>{236,568}</string>
			</dict>
			<key>collect_button_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1130,1746},{332,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1130,1746},{332,120}}</string>
				<key>sourceSize</key>
				<string>{332,120}</string>
			</dict>
			<key>leaf_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1130,1521},{223,459}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1130,1521},{223,459}}</string>
				<key>sourceSize</key>
				<string>{223,459}</string>
			</dict>
			<key>lemur_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1},{402,1333}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,1},{402,1333}}</string>
				<key>sourceSize</key>
				<string>{402,1333}</string>
			</dict>
			<key>glow_c_mystery.png</key>
			<dict>
				<key>frame</key>
				<string>{{1366,1868},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1366,1868},{88,88}}</string>
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>free_frame_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1591,1521},{185,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1591,1521},{185,211}}</string>
				<key>sourceSize</key>
				<string>{185,211}</string>
			</dict>
			<key>free_frame_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1812,1429},{185,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1812,1429},{185,211}}</string>
				<key>sourceSize</key>
				<string>{185,211}</string>
			</dict>
			<key>line_win_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,1913},{164,89}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{944,1913},{164,89}}</string>
				<key>sourceSize</key>
				<string>{172,95}</string>
			</dict>
			<key>badge.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,1975},{31,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{806,1975},{31,28}}</string>
				<key>sourceSize</key>
				<string>{31,28}</string>
			</dict>
			<key>arrow_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{1878,1873},{122,122}}</string>
				<key>offset</key>
				<string>{2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1878,1873},{122,122}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>arrow_blur_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{1902,1749},{122,122}}</string>
				<key>offset</key>
				<string>{2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1902,1749},{122,122}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>auto_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1456,1901},{84,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1456,1901},{84,78}}</string>
				<key>sourceSize</key>
				<string>{84,78}</string>
			</dict>
			<key>base.png</key>
			<dict>
				<key>frame</key>
				<string>{{1464,1746},{162,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1464,1746},{162,153}}</string>
				<key>sourceSize</key>
				<string>{162,153}</string>
			</dict>
			<key>arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{1778,1749},{122,122}}</string>
				<key>offset</key>
				<string>{2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1778,1749},{122,122}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>arrow_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{1754,1873},{122,122}}</string>
				<key>offset</key>
				<string>{2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1754,1873},{122,122}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>vine_top_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1336},{378,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,1336},{378,78}}</string>
				<key>sourceSize</key>
				<string>{378,78}</string>
			</dict>
			<key>mg_temple_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1163,715},{876,712}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1163,715},{876,712}}</string>
				<key>sourceSize</key>
				<string>{1080,712}</string>
			</dict>
			<key>bg_temple.png</key>
			<dict>
				<key>frame</key>
				<string>{{1163,1},{876,712}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1163,1},{876,712}}</string>
				<key>sourceSize</key>
				<string>{1080,712}</string>
			</dict>
			<key>footer_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1109,1416},{11,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1109,1416},{11,153}}</string>
				<key>sourceSize</key>
				<string>{11,153}</string>
			</dict>
			<key>background_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{756,1419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{756,1419}}</string>
				<key>sourceSize</key>
				<string>{756,1419}</string>
			</dict>
			<key>footer_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1416},{14,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,1416},{14,4}}</string>
				<key>sourceSize</key>
				<string>{14,4}</string>
			</dict>
			<key>frame_a_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,1975},{31,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{671,1975},{31,94}}</string>
				<key>sourceSize</key>
				<string>{31,94}</string>
			</dict>
			<key>arrow_grey_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1878,1873},{122,122}}</string>
				<key>offset</key>
				<string>{2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1878,1873},{122,122}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>info_c_lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1225,1959},{34,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1225,1959},{34,30}}</string>
				<key>sourceSize</key>
				<string>{34,30}</string>
			</dict>
			<key>leaf_d_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1675},{344,557}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1675},{344,557}}</string>
				<key>sourceSize</key>
				<string>{344,557}</string>
			</dict>
			<key>leaf_a_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1422},{251,970}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1422},{251,970}}</string>
				<key>sourceSize</key>
				<string>{251,970}</string>
			</dict>
			<key>info_f_lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1257,1868},{107,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1257,1868},{107,103}}</string>
				<key>sourceSize</key>
				<string>{107,103}</string>
			</dict>
			<key>line_win_bg_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{944,1913},{164,89}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{944,1913},{164,89}}</string>
				<key>sourceSize</key>
				<string>{172,95}</string>
			</dict>
			<key>fire_stick_r_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,1975},{41,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{560,1975},{41,109}}</string>
				<key>sourceSize</key>
				<string>{41,109}</string>
			</dict>
			<key>leaf_c_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,1675},{236,568}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{560,1675},{236,568}}</string>
				<key>sourceSize</key>
				<string>{236,568}</string>
			</dict>
			<key>info_i_lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1165,1959},{58,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1165,1959},{58,52}}</string>
				<key>sourceSize</key>
				<string>{58,52}</string>
			</dict>
			<key>info_g_lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1628,1734},{129,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1628,1734},{129,148}}</string>
				<key>sourceSize</key>
				<string>{129,148}</string>
			</dict>
			<key>fast_mask.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,2018},{94,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{560,2018},{94,1}}</string>
				<key>sourceSize</key>
				<string>{94,1}</string>
			</dict>
			<key>vine_l_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1130,1488},{31,661}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1130,1488},{31,661}}</string>
				<key>sourceSize</key>
				<string>{39,661}</string>
			</dict>
			<key>arrow_blur_grey_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1902,1749},{122,122}}</string>
				<key>offset</key>
				<string>{2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1902,1749},{122,122}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>info_c_lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2002,1873},{71,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2002,1873},{71,37}}</string>
				<key>sourceSize</key>
				<string>{71,37}</string>
			</dict>
			<key>info_e_lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,1913},{106,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{836,1913},{106,106}}</string>
				<key>sourceSize</key>
				<string>{106,106}</string>
			</dict>
			<key>vine_r_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1130,1429},{57,680}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1130,1429},{57,680}}</string>
				<key>sourceSize</key>
				<string>{57,680}</string>
			</dict>
			<key>info_d_lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1972,1616},{112,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1972,1616},{112,52}}</string>
				<key>sourceSize</key>
				<string>{112,52}</string>
			</dict>
			<key>info_g_lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1366,1958},{88,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1366,1958},{88,47}}</string>
				<key>sourceSize</key>
				<string>{88,47}</string>
			</dict>
			<key>info_f_lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1542,1901},{80,67}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1542,1901},{80,67}}</string>
				<key>sourceSize</key>
				<string>{80,67}</string>
			</dict>
			<key>frame_a_win_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,1975},{31,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{671,1975},{31,94}}</string>
				<key>sourceSize</key>
				<string>{31,94}</string>
			</dict>
			<key>vine_top_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1336},{378,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,1336},{378,78}}</string>
				<key>sourceSize</key>
				<string>{378,78}</string>
			</dict>
			<key>auto_spin_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1456,1901},{84,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1456,1901},{84,78}}</string>
				<key>sourceSize</key>
				<string>{84,78}</string>
			</dict>
			<key>free_frame_a_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1591,1521},{185,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1591,1521},{185,211}}</string>
				<key>sourceSize</key>
				<string>{185,211}</string>
			</dict>
			<key>info_e_lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2002,1946},{44,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{2002,1946},{44,36}}</string>
				<key>sourceSize</key>
				<string>{44,36}</string>
			</dict>
			<key>info_a_lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1110,1973},{53,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1110,1973},{53,46}}</string>
				<key>sourceSize</key>
				<string>{53,46}</string>
			</dict>
			<key>infoboard_mask_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,1416},{134,214}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{973,1416},{134,214}}</string>
				<key>sourceSize</key>
				<string>{134,214}</string>
			</dict>
			<key>info_a_lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1130,1868},{89,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1130,1868},{89,125}}</string>
				<key>sourceSize</key>
				<string>{89,125}</string>
			</dict>
			<key>fire_stick_l_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,1632},{41,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{973,1632},{41,122}}</string>
				<key>sourceSize</key>
				<string>{41,122}</string>
			</dict>
			<key>info_h_lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1257,1973},{42,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1257,1973},{42,41}}</string>
				<key>sourceSize</key>
				<string>{42,41}</string>
			</dict>
			<key>footer_b_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1109,1416},{11,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1109,1416},{11,153}}</string>
				<key>sourceSize</key>
				<string>{11,153}</string>
			</dict>
			<key>free_frame_b_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1812,1429},{185,211}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1812,1429},{185,211}}</string>
				<key>sourceSize</key>
				<string>{185,211}</string>
			</dict>
			<key>base_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1464,1746},{162,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1464,1746},{162,153}}</string>
				<key>sourceSize</key>
				<string>{162,153}</string>
			</dict>
			<key>badge_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,1975},{31,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{806,1975},{31,28}}</string>
				<key>sourceSize</key>
				<string>{31,28}</string>
			</dict>
			<key>infoboard_mask_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1778,1616},{131,192}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1778,1616},{131,192}}</string>
				<key>sourceSize</key>
				<string>{131,194}</string>
			</dict>
			<key>info_d_lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{767,1975},{44,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{767,1975},{44,37}}</string>
				<key>sourceSize</key>
				<string>{44,37}</string>
			</dict>
			<key>collect_button_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1130,1746},{332,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1130,1746},{332,120}}</string>
				<key>sourceSize</key>
				<string>{332,120}</string>
			</dict>
			<key>mg_temple_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1163,715},{876,712}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1163,715},{876,712}}</string>
				<key>sourceSize</key>
				<string>{1080,712}</string>
			</dict>
			<key>glow_c_mystery_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1366,1868},{88,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1366,1868},{88,88}}</string>
				<key>sourceSize</key>
				<string>{88,88}</string>
			</dict>
			<key>leaf_b_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1130,1521},{223,459}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1130,1521},{223,459}}</string>
				<key>sourceSize</key>
				<string>{223,459}</string>
			</dict>
			<key>info_b_lvl2.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,1913},{274,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{560,1913},{274,60}}</string>
				<key>sourceSize</key>
				<string>{274,60}</string>
			</dict>
			<key>background_b_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{756,1419}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{756,1419}}</string>
				<key>sourceSize</key>
				<string>{756,1419}</string>
			</dict>
			<key>lemur_free_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1},{402,1333}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,1},{402,1333}}</string>
				<key>sourceSize</key>
				<string>{402,1333}</string>
			</dict>
			<key>bg_temple_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1163,1},{876,712}}</string>
				<key>offset</key>
				<string>{4,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1163,1},{876,712}}</string>
				<key>sourceSize</key>
				<string>{1080,712}</string>
			</dict>
			<key>footer_a_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1416},{14,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,1416},{14,4}}</string>
				<key>sourceSize</key>
				<string>{14,4}</string>
			</dict>
			<key>info_h_lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1628,1865},{124,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1628,1865},{124,154}}</string>
				<key>sourceSize</key>
				<string>{124,154}</string>
			</dict>
			<key>info_b_lvl3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1456,1981},{64,38}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1456,1981},{64,38}}</string>
				<key>sourceSize</key>
				<string>{64,38}</string>
			</dict>
			<key>arrow_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1778,1749},{122,122}}</string>
				<key>offset</key>
				<string>{2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1778,1749},{122,122}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>arrow_blur_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1754,1873},{122,122}}</string>
				<key>offset</key>
				<string>{2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1754,1873},{122,122}}</string>
				<key>sourceSize</key>
				<string>{130,130}</string>
			</dict>
			<key>fire_stick_r_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,1975},{41,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{560,1975},{41,109}}</string>
				<key>sourceSize</key>
				<string>{41,109}</string>
			</dict>
			<key>vine_r_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1130,1429},{57,680}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1130,1429},{57,680}}</string>
				<key>sourceSize</key>
				<string>{57,680}</string>
			</dict>
			<key>fire_stick_l_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,1632},{41,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{973,1632},{41,122}}</string>
				<key>sourceSize</key>
				<string>{41,122}</string>
			</dict>
			<key>fast_mask_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,2018},{94,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{560,2018},{94,1}}</string>
				<key>sourceSize</key>
				<string>{94,1}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>6e7a341c-39a7-4f8f-bbc5-3c6e0a74394e.8ef26.png</string>
			<key>size</key>
			<string>{2040,2020}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>6e7a341c-39a7-4f8f-bbc5-3c6e0a74394e.8ef26.png</string>
		</dict>
	</dict>
</plist>
