<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>leaf_particle_5_kind_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,1245},{262,234}}</string>
				<key>offset</key>
				<string>{-5,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{417,1245},{262,234}}</string>
				<key>sourceSize</key>
				<string>{432,376}</string>
			</dict>
			<key>leaf_particle_5_kind_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1271},{208,184}}</string>
				<key>offset</key>
				<string>{-6,7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1271},{208,184}}</string>
				<key>sourceSize</key>
				<string>{432,376}</string>
			</dict>
			<key>leaf_particle_5_kind_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,413},{394,352}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{715,413},{394,352}}</string>
				<key>sourceSize</key>
				<string>{432,376}</string>
			</dict>
			<key>leaf_particle_5_kind_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{677,1},{410,368}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{677,1},{410,368}}</string>
				<key>sourceSize</key>
				<string>{432,376}</string>
			</dict>
			<key>leaf_particle_5_kind_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,425},{422,336}}</string>
				<key>offset</key>
				<string>{-2,-20}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,425},{422,336}}</string>
				<key>sourceSize</key>
				<string>{432,376}</string>
			</dict>
			<key>leaf_particle_5_kind_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1723,321},{306,268}}</string>
				<key>offset</key>
				<string>{-4,6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1723,321},{306,268}}</string>
				<key>sourceSize</key>
				<string>{432,376}</string>
			</dict>
			<key>leaf_particle_5_kind_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1723,1},{318,278}}</string>
				<key>offset</key>
				<string>{-4,6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1723,1},{318,278}}</string>
				<key>sourceSize</key>
				<string>{432,376}</string>
			</dict>
			<key>leaf_particle_5_kind_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{422,336}}</string>
				<key>offset</key>
				<string>{-2,-20}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{422,336}}</string>
				<key>sourceSize</key>
				<string>{432,376}</string>
			</dict>
			<key>leaf_particle_5_kind_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1209,1193},{292,258}}</string>
				<key>offset</key>
				<string>{-4,6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1209,1193},{292,258}}</string>
				<key>sourceSize</key>
				<string>{432,376}</string>
			</dict>
			<key>leaf_particle_5_kind_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,421},{414,374}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{339,421},{414,374}}</string>
				<key>sourceSize</key>
				<string>{432,376}</string>
			</dict>
			<key>leaf_particle_5_kind_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1717,795},{328,288}}</string>
				<key>offset</key>
				<string>{-3,7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1717,795},{328,288}}</string>
				<key>sourceSize</key>
				<string>{432,376}</string>
			</dict>
			<key>leaf_particle_5_kind_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,1081},{104,100}}</string>
				<key>offset</key>
				<string>{-6,7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1407,1081},{104,100}}</string>
				<key>sourceSize</key>
				<string>{432,376}</string>
			</dict>
			<key>leaf_particle_5_kind_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,837},{402,358}}</string>
				<key>offset</key>
				<string>{-3,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{705,837},{402,358}}</string>
				<key>sourceSize</key>
				<string>{432,376}</string>
			</dict>
			<key>leaf_particle_5_kind_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,1241},{278,246}}</string>
				<key>offset</key>
				<string>{-5,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{929,1241},{278,246}}</string>
				<key>sourceSize</key>
				<string>{432,376}</string>
			</dict>
			<key>leaf_particle_5_kind_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1811,1275},{130,126}}</string>
				<key>offset</key>
				<string>{-7,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1811,1275},{130,126}}</string>
				<key>sourceSize</key>
				<string>{432,376}</string>
			</dict>
			<key>leaf_particle_5_kind_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,1271},{228,202}}</string>
				<key>offset</key>
				<string>{-6,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{187,1271},{228,202}}</string>
				<key>sourceSize</key>
				<string>{432,376}</string>
			</dict>
			<key>leaf_particle_5_kind_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1811,1125},{158,148}}</string>
				<key>offset</key>
				<string>{-6,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1811,1125},{158,148}}</string>
				<key>sourceSize</key>
				<string>{432,376}</string>
			</dict>
			<key>leaf_particle_5_kind_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,837},{406,364}}</string>
				<key>offset</key>
				<string>{-3,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{339,837},{406,364}}</string>
				<key>sourceSize</key>
				<string>{432,376}</string>
			</dict>
			<key>leaf_particle_5_kind_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,731},{348,308}}</string>
				<key>offset</key>
				<string>{-3,7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1407,731},{348,308}}</string>
				<key>sourceSize</key>
				<string>{432,376}</string>
			</dict>
			<key>leaf_particle_5_kind_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,1},{418,336}}</string>
				<key>offset</key>
				<string>{-2,-19}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{339,1},{418,336}}</string>
				<key>sourceSize</key>
				<string>{432,376}</string>
			</dict>
			<key>leaf_particle_5_kind_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1403,371},{358,316}}</string>
				<key>offset</key>
				<string>{-3,6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1403,371},{358,316}}</string>
				<key>sourceSize</key>
				<string>{432,376}</string>
			</dict>
			<key>leaf_particle_5_kind_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,849},{420,336}}</string>
				<key>offset</key>
				<string>{-1,-20}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,849},{420,336}}</string>
				<key>sourceSize</key>
				<string>{432,376}</string>
			</dict>
			<key>leaf_particle_5_kind_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1395,1},{368,326}}</string>
				<key>offset</key>
				<string>{-4,6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1395,1},{368,326}}</string>
				<key>sourceSize</key>
				<string>{432,376}</string>
			</dict>
			<key>leaf_particle_5_kind_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1047,1},{388,346}}</string>
				<key>offset</key>
				<string>{-3,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1047,1},{388,346}}</string>
				<key>sourceSize</key>
				<string>{432,376}</string>
			</dict>
			<key>leaf_particle_5_kind_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1469,1187},{340,298}}</string>
				<key>offset</key>
				<string>{-4,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1469,1187},{340,298}}</string>
				<key>sourceSize</key>
				<string>{432,376}</string>
			</dict>
			<key>leaf_particle_5_kind_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1721,629},{184,164}}</string>
				<key>offset</key>
				<string>{-6,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1721,629},{184,164}}</string>
				<key>sourceSize</key>
				<string>{432,376}</string>
			</dict>
			<key>leaf_particle_5_kind_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,1245},{246,218}}</string>
				<key>offset</key>
				<string>{-5,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{681,1245},{246,218}}</string>
				<key>sourceSize</key>
				<string>{432,376}</string>
			</dict>
			<key>leaf_particle_5_kind_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1065,809},{382,340}}</string>
				<key>offset</key>
				<string>{-3,5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1065,809},{382,340}}</string>
				<key>sourceSize</key>
				<string>{432,376}</string>
			</dict>
			<key>leaf_particle_5_kind_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1069,391},{376,332}}</string>
				<key>offset</key>
				<string>{-3,5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1069,391},{376,332}}</string>
				<key>sourceSize</key>
				<string>{432,376}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>7569d8b2-0fae-4197-981a-338c709c5c1e.84eb9.jpg</string>
			<key>size</key>
			<string>{2006,1488}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>7569d8b2-0fae-4197-981a-338c709c5c1e.84eb9.jpg</string>
		</dict>
	</dict>
</plist>
