<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>symbol_shinning_b_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,113},{70,108}}</string>
				<key>offset</key>
				<string>{-17,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{117,113},{70,108}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>symbol_shinning_b_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,247},{38,76}}</string>
				<key>offset</key>
				<string>{-33,17}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,247},{38,76}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>symbol_shinning_b_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{94,114}}</string>
				<key>offset</key>
				<string>{3,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{94,114}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>symbol_shinning_b_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,1},{10,14}}</string>
				<key>offset</key>
				<string>{-37,36}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{211,1},{10,14}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>symbol_shinning_b_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,239},{46,88}}</string>
				<key>offset</key>
				<string>{29,-9}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{123,239},{46,88}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>symbol_shinning_b_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,97},{78,114}}</string>
				<key>offset</key>
				<string>{12,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,97},{78,114}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>symbol_shinning_b_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,185},{52,102}}</string>
				<key>offset</key>
				<string>{-25,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{113,185},{52,102}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>symbol_shinning_b_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,177},{68,110}}</string>
				<key>offset</key>
				<string>{18,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,177},{68,110}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>symbol_shinning_b_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,1},{92,110}}</string>
				<key>offset</key>
				<string>{-6,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{117,1},{92,110}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
			<key>symbol_shinning_b_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,247},{24,42}}</string>
				<key>offset</key>
				<string>{35,-29}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{79,247},{24,42}}</string>
				<key>sourceSize</key>
				<string>{120,120}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>7bac7eb5-492a-4059-9fb2-2a37c671c7fd.e4e81.jpg</string>
			<key>size</key>
			<string>{226,286}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>7bac7eb5-492a-4059-9fb2-2a37c671c7fd.e4e81.jpg</string>
		</dict>
	</dict>
</plist>
