<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>particle_leaf_mystery_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,1},{84,86}}</string>
				<key>offset</key>
				<string>{6,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{521,1},{84,86}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>particle_leaf_mystery_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,225},{42,14}}</string>
				<key>offset</key>
				<string>{11,85}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{465,225},{42,14}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>particle_leaf_mystery_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{118,140}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{118,140}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>particle_leaf_mystery_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,121},{100,102}}</string>
				<key>offset</key>
				<string>{6,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{465,121},{100,102}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>particle_leaf_mystery_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,131},{118,118}}</string>
				<key>offset</key>
				<string>{-21,21}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{345,131},{118,118}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>particle_leaf_mystery_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,1},{88,132}}</string>
				<key>offset</key>
				<string>{-38,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{121,1},{88,132}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>particle_leaf_mystery_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,143},{108,130}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{113,143},{108,130}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>particle_leaf_mystery_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,131},{98,122}}</string>
				<key>offset</key>
				<string>{-24,22}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{245,131},{98,122}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>particle_leaf_mystery_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,1},{96,118}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{423,1},{96,118}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>particle_leaf_mystery_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,143},{110,112}}</string>
				<key>offset</key>
				<string>{-18,20}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,143},{110,112}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>particle_leaf_mystery_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,1},{102,128}}</string>
				<key>offset</key>
				<string>{-27,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{319,1},{102,128}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>particle_leaf_mystery_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,1},{128,106}}</string>
				<key>offset</key>
				<string>{-4,19}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{211,1},{128,106}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>particle_leaf_mystery_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,89},{68,70}}</string>
				<key>offset</key>
				<string>{5,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{567,89},{68,70}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>particle_leaf_mystery_01_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{521,1},{84,86}}</string>
				<key>offset</key>
				<string>{6,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{521,1},{84,86}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>particle_leaf_mystery_12_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,225},{42,14}}</string>
				<key>offset</key>
				<string>{11,85}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{465,225},{42,14}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>particle_leaf_mystery_05_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{118,140}}</string>
				<key>offset</key>
				<string>{-3,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{118,140}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>particle_leaf_mystery_02_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,121},{100,102}}</string>
				<key>offset</key>
				<string>{6,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{465,121},{100,102}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>particle_leaf_mystery_08_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,131},{118,118}}</string>
				<key>offset</key>
				<string>{-21,21}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{345,131},{118,118}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>particle_leaf_mystery_11_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,1},{88,132}}</string>
				<key>offset</key>
				<string>{-38,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{121,1},{88,132}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>particle_leaf_mystery_04_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{113,143},{108,130}}</string>
				<key>offset</key>
				<string>{-2,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{113,143},{108,130}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>particle_leaf_mystery_09_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,131},{98,122}}</string>
				<key>offset</key>
				<string>{-24,22}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{245,131},{98,122}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>particle_leaf_mystery_03_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,1},{96,118}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{423,1},{96,118}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>particle_leaf_mystery_07_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,143},{110,112}}</string>
				<key>offset</key>
				<string>{-18,20}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,143},{110,112}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>particle_leaf_mystery_10_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,1},{102,128}}</string>
				<key>offset</key>
				<string>{-27,23}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{319,1},{102,128}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>particle_leaf_mystery_06_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,1},{128,106}}</string>
				<key>offset</key>
				<string>{-4,19}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{211,1},{128,106}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
			<key>particle_leaf_mystery_00_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,89},{68,70}}</string>
				<key>offset</key>
				<string>{5,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{567,89},{68,70}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>a45fb2d4-b928-4dcc-9d2a-9c62fc79749a.f44e5.png</string>
			<key>size</key>
			<string>{636,256}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>a45fb2d4-b928-4dcc-9d2a-9c62fc79749a.f44e5.png</string>
		</dict>
	</dict>
</plist>
