<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>glow_a_fast_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,729},{165,362}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{502,729},{165,362}}</string>
				<key>sourceSize</key>
				<string>{169,362}</string>
			</dict>
			<key>glow_a_fast_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1821},{165,362}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1821},{165,362}}</string>
				<key>sourceSize</key>
				<string>{169,362}</string>
			</dict>
			<key>glow_a_fast_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,1455},{165,360}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{834,1455},{165,360}}</string>
				<key>sourceSize</key>
				<string>{169,362}</string>
			</dict>
			<key>glow_a_fast_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,365},{165,362}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{168,365},{165,362}}</string>
				<key>sourceSize</key>
				<string>{169,362}</string>
			</dict>
			<key>glow_a_fast_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,1821},{165,362}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{365,1821},{165,362}}</string>
				<key>sourceSize</key>
				<string>{169,362}</string>
			</dict>
			<key>glow_a_fast_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1457},{165,362}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1457},{165,362}}</string>
				<key>sourceSize</key>
				<string>{169,362}</string>
			</dict>
			<key>glow_a_fast_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,1093},{165,362}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{335,1093},{165,362}}</string>
				<key>sourceSize</key>
				<string>{169,362}</string>
			</dict>
			<key>glow_a_fast_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{165,362}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{165,362}}</string>
				<key>sourceSize</key>
				<string>{169,362}</string>
			</dict>
			<key>glow_a_fast_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,365},{165,362}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{669,365},{165,362}}</string>
				<key>sourceSize</key>
				<string>{169,362}</string>
			</dict>
			<key>glow_a_fast_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,729},{165,362}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,729},{165,362}}</string>
				<key>sourceSize</key>
				<string>{169,362}</string>
			</dict>
			<key>glow_a_fast_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,1093},{165,362}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{168,1093},{165,362}}</string>
				<key>sourceSize</key>
				<string>{169,362}</string>
			</dict>
			<key>glow_a_fast_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,729},{163,362}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{836,729},{163,362}}</string>
				<key>sourceSize</key>
				<string>{169,362}</string>
			</dict>
			<key>glow_a_fast_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,365},{163,362}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{836,365},{163,362}}</string>
				<key>sourceSize</key>
				<string>{169,362}</string>
			</dict>
			<key>glow_a_fast_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,365},{165,362}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,365},{165,362}}</string>
				<key>sourceSize</key>
				<string>{169,362}</string>
			</dict>
			<key>glow_a_fast_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,365},{165,362}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{502,365},{165,362}}</string>
				<key>sourceSize</key>
				<string>{169,362}</string>
			</dict>
			<key>glow_a_fast_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,729},{165,362}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{168,729},{165,362}}</string>
				<key>sourceSize</key>
				<string>{169,362}</string>
			</dict>
			<key>glow_a_fast_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,1457},{165,362}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{168,1457},{165,362}}</string>
				<key>sourceSize</key>
				<string>{169,362}</string>
			</dict>
			<key>glow_a_fast_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,1},{165,362}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{168,1},{165,362}}</string>
				<key>sourceSize</key>
				<string>{169,362}</string>
			</dict>
			<key>glow_a_fast_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,1457},{165,362}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{335,1457},{165,362}}</string>
				<key>sourceSize</key>
				<string>{169,362}</string>
			</dict>
			<key>glow_a_fast_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,1457},{165,362}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{502,1457},{165,362}}</string>
				<key>sourceSize</key>
				<string>{169,362}</string>
			</dict>
			<key>glow_a_fast_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,1},{165,362}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{669,1},{165,362}}</string>
				<key>sourceSize</key>
				<string>{169,362}</string>
			</dict>
			<key>glow_a_fast_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,1093},{165,360}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{834,1093},{165,360}}</string>
				<key>sourceSize</key>
				<string>{169,362}</string>
			</dict>
			<key>glow_a_fast_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,1},{165,362}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{335,1},{165,362}}</string>
				<key>sourceSize</key>
				<string>{169,362}</string>
			</dict>
			<key>glow_a_fast_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,1093},{165,362}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{502,1093},{165,362}}</string>
				<key>sourceSize</key>
				<string>{169,362}</string>
			</dict>
			<key>glow_a_fast_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,1},{165,362}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{502,1},{165,362}}</string>
				<key>sourceSize</key>
				<string>{169,362}</string>
			</dict>
			<key>glow_a_fast_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,729},{165,362}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{335,729},{165,362}}</string>
				<key>sourceSize</key>
				<string>{169,362}</string>
			</dict>
			<key>glow_a_fast_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,1},{163,362}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{836,1},{163,362}}</string>
				<key>sourceSize</key>
				<string>{169,362}</string>
			</dict>
			<key>glow_a_fast_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1093},{165,362}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1093},{165,362}}</string>
				<key>sourceSize</key>
				<string>{169,362}</string>
			</dict>
			<key>glow_a_fast_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,729},{165,362}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{669,729},{165,362}}</string>
				<key>sourceSize</key>
				<string>{169,362}</string>
			</dict>
			<key>glow_a_fast_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,365},{165,362}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{335,365},{165,362}}</string>
				<key>sourceSize</key>
				<string>{169,362}</string>
			</dict>
			<key>glow_a_fast_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{669,1093},{163,362}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{669,1093},{163,362}}</string>
				<key>sourceSize</key>
				<string>{169,362}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>b3381a43-deee-4138-8276-88991a45a86b.cc1e7.jpg</string>
			<key>size</key>
			<string>{1000,1987}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>b3381a43-deee-4138-8276-88991a45a86b.cc1e7.jpg</string>
		</dict>
	</dict>
</plist>
