<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>freespin_vfx_a_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{741,1},{172,182}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{741,1},{172,182}}</string>
				<key>sourceSize</key>
				<string>{180,210}</string>
			</dict>
			<key>freespin_vfx_a_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,523},{174,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{563,523},{174,186}}</string>
				<key>sourceSize</key>
				<string>{180,210}</string>
			</dict>
			<key>freespin_vfx_a_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,1},{172,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{187,1},{172,184}}</string>
				<key>sourceSize</key>
				<string>{180,210}</string>
			</dict>
			<key>freespin_vfx_a_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,175},{172,184}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{187,175},{172,184}}</string>
				<key>sourceSize</key>
				<string>{180,210}</string>
			</dict>
			<key>freespin_vfx_a_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,175},{172,184}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,175},{172,184}}</string>
				<key>sourceSize</key>
				<string>{180,210}</string>
			</dict>
			<key>freespin_vfx_a_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,1},{172,182}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{373,1},{172,182}}</string>
				<key>sourceSize</key>
				<string>{180,210}</string>
			</dict>
			<key>freespin_vfx_a_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,349},{172,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{187,349},{172,184}}</string>
				<key>sourceSize</key>
				<string>{180,210}</string>
			</dict>
			<key>freespin_vfx_a_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{377,523},{174,184}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{377,523},{174,184}}</string>
				<key>sourceSize</key>
				<string>{180,210}</string>
			</dict>
			<key>freespin_vfx_a_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,349},{172,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{745,349},{172,186}}</string>
				<key>sourceSize</key>
				<string>{180,210}</string>
			</dict>
			<key>freespin_vfx_a_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,175},{172,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{559,175},{172,184}}</string>
				<key>sourceSize</key>
				<string>{180,210}</string>
			</dict>
			<key>freespin_vfx_a_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{172,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{172,184}}</string>
				<key>sourceSize</key>
				<string>{180,210}</string>
			</dict>
			<key>freespin_vfx_a_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{557,1},{172,182}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{557,1},{172,182}}</string>
				<key>sourceSize</key>
				<string>{180,210}</string>
			</dict>
			<key>freespin_vfx_a_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,523},{172,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{189,523},{172,186}}</string>
				<key>sourceSize</key>
				<string>{180,210}</string>
			</dict>
			<key>freespin_vfx_a_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,175},{172,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{745,175},{172,184}}</string>
				<key>sourceSize</key>
				<string>{180,210}</string>
			</dict>
			<key>freespin_vfx_a_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,175},{172,184}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{373,175},{172,184}}</string>
				<key>sourceSize</key>
				<string>{180,210}</string>
			</dict>
			<key>freespin_vfx_a_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,349},{172,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,349},{172,184}}</string>
				<key>sourceSize</key>
				<string>{180,210}</string>
			</dict>
			<key>freespin_vfx_a_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,349},{172,184}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{559,349},{172,184}}</string>
				<key>sourceSize</key>
				<string>{180,210}</string>
			</dict>
			<key>freespin_vfx_a_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,523},{172,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,523},{172,186}}</string>
				<key>sourceSize</key>
				<string>{180,210}</string>
			</dict>
			<key>freespin_vfx_a_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{373,349},{172,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{373,349},{172,184}}</string>
				<key>sourceSize</key>
				<string>{180,210}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>d20826b2-5fae-49b5-be04-8611d0ee1da7.b63d3.jpg</string>
			<key>size</key>
			<string>{932,698}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>d20826b2-5fae-49b5-be04-8611d0ee1da7.b63d3.jpg</string>
		</dict>
	</dict>
</plist>
