<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>dot_particle_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,181},{75,92}}</string>
				<key>offset</key>
				<string>{1,11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{258,181},{75,92}}</string>
				<key>sourceSize</key>
				<string>{161,184}</string>
			</dict>
			<key>dot_particle_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,275},{55,68}}</string>
				<key>offset</key>
				<string>{2,12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{283,275},{55,68}}</string>
				<key>sourceSize</key>
				<string>{161,184}</string>
			</dict>
			<key>dot_particle_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,345},{35,42}}</string>
				<key>offset</key>
				<string>{3,14}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{283,345},{35,42}}</string>
				<key>sourceSize</key>
				<string>{161,184}</string>
			</dict>
			<key>dot_particle_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,162},{17,20}}</string>
				<key>offset</key>
				<string>{3,16}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{165,162},{17,20}}</string>
				<key>sourceSize</key>
				<string>{161,184}</string>
			</dict>
			<key>dot_particle_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,301},{107,130}}</string>
				<key>offset</key>
				<string>{0,7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{151,301},{107,130}}</string>
				<key>sourceSize</key>
				<string>{161,184}</string>
			</dict>
			<key>dot_particle_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,162},{137,162}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,162},{137,162}}</string>
				<key>sourceSize</key>
				<string>{161,184}</string>
			</dict>
			<key>dot_particle_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,181},{91,112}}</string>
				<key>offset</key>
				<string>{0,9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{165,181},{91,112}}</string>
				<key>sourceSize</key>
				<string>{161,184}</string>
			</dict>
			<key>dot_particle_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{159,184}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{159,184}}</string>
				<key>sourceSize</key>
				<string>{161,184}</string>
			</dict>
			<key>dot_particle_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{187,1},{149,178}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{187,1},{149,178}}</string>
				<key>sourceSize</key>
				<string>{161,184}</string>
			</dict>
			<key>dot_particle_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,301},{123,148}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,301},{123,148}}</string>
				<key>sourceSize</key>
				<string>{161,184}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>fd064e8b-bd19-4c7f-a55e-f67c9d411baf.6e61e.jpg</string>
			<key>size</key>
			<string>{339,425}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>fd064e8b-bd19-4c7f-a55e-f67c9d411baf.6e61e.jpg</string>
		</dict>
	</dict>
</plist>
