<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>base_ingot_rotate_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{88,88},{135,85}}</string>
				<key>offset</key>
				<string>{-1,-24}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{88,88},{135,85}}</string>
				<key>sourceSize</key>
				<string>{717,717}</string>
			</dict>
			<key>base_ingot_rotate_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,225},{101,87}}</string>
				<key>offset</key>
				<string>{8,-24}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{106,225},{101,87}}</string>
				<key>sourceSize</key>
				<string>{717,717}</string>
			</dict>
			<key>base_ingot_rotate_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,88},{129,85}}</string>
				<key>offset</key>
				<string>{7,-25}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{195,88},{129,85}}</string>
				<key>sourceSize</key>
				<string>{717,717}</string>
			</dict>
			<key>base_ingot_rotate_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,88},{137,85}}</string>
				<key>offset</key>
				<string>{2,-25}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,88},{137,85}}</string>
				<key>sourceSize</key>
				<string>{717,717}</string>
			</dict>
			<key>base_ingot_rotate_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,1},{139,85}}</string>
				<key>offset</key>
				<string>{1,-25}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{142,1},{139,85}}</string>
				<key>sourceSize</key>
				<string>{717,717}</string>
			</dict>
			<key>base_ingot_rotate_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,227},{103,87}}</string>
				<key>offset</key>
				<string>{5,-24}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,227},{103,87}}</string>
				<key>sourceSize</key>
				<string>{717,717}</string>
			</dict>
			<key>base_ingot_rotate_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,175},{127,85}}</string>
				<key>offset</key>
				<string>{4,-25}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{195,175},{127,85}}</string>
				<key>sourceSize</key>
				<string>{717,717}</string>
			</dict>
			<key>base_ingot_rotate_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{139,85}}</string>
				<key>offset</key>
				<string>{1,-25}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{139,85}}</string>
				<key>sourceSize</key>
				<string>{717,717}</string>
			</dict>
			<key>base_ingot_rotate_00_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{139,85}}</string>
				<key>offset</key>
				<string>{1,-25}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{139,85}}</string>
				<key>sourceSize</key>
				<string>{717,717}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>04e186f4-8361-4a68-87d3-e9ede41c67fe.6428d.png</string>
			<key>size</key>
			<string>{327,327}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>04e186f4-8361-4a68-87d3-e9ede41c67fe.6428d.png</string>
		</dict>
	</dict>
</plist>
