<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>win_frame_a_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,1},{130,142}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{133,1},{130,142}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>win_frame_a_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,133},{130,142}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{409,133},{130,142}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>win_frame_a_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,1},{130,142}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{277,1},{130,142}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>win_frame_a_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,265},{130,142}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{265,265},{130,142}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>win_frame_a_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,409},{130,142}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{265,409},{130,142}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>win_frame_a_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,133},{130,142}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,133},{130,142}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>win_frame_a_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,133},{130,142}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{265,133},{130,142}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>win_frame_a_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,397},{130,142}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{397,397},{130,142}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>win_frame_a_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,1},{130,142}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{421,1},{130,142}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>win_frame_a_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,289},{130,142}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,289},{130,142}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>win_frame_a_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{130,142}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{130,142}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>win_frame_a_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,421},{130,142}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,421},{130,142}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>win_frame_a_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,433},{130,142}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,433},{130,142}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>win_frame_a_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,145},{130,142}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,145},{130,142}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>win_frame_a_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,277},{130,142}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,277},{130,142}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>win_frame_a_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,397},{130,142}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{529,397},{130,142}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>win_frame_a_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,265},{130,142}}</string>
				<key>offset</key>
				<string>{3,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{397,265},{130,142}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>0b4ae3cc-5d5a-4da1-92d8-8203ee193674.9af3c.png</string>
			<key>size</key>
			<string>{660,660}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>0b4ae3cc-5d5a-4da1-92d8-8203ee193674.9af3c.png</string>
		</dict>
	</dict>
</plist>
