<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>win_vfx_b_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,183},{100,142}}</string>
				<key>offset</key>
				<string>{4,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{339,183},{100,142}}</string>
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>
			<key>win_vfx_b_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,401},{162,194}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{169,401},{162,194}}</string>
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>
			<key>win_vfx_b_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{333,393},{152,186}}</string>
				<key>offset</key>
				<string>{4,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{333,393},{152,186}}</string>
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>
			<key>win_vfx_b_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,123},{112,152}}</string>
				<key>offset</key>
				<string>{5,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{487,123},{112,152}}</string>
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>
			<key>win_vfx_b_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,237},{130,166}}</string>
				<key>offset</key>
				<string>{6,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{483,237},{130,166}}</string>
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>
			<key>win_vfx_b_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,1},{160,188}}</string>
				<key>offset</key>
				<string>{3,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{177,1},{160,188}}</string>
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>
			<key>win_vfx_b_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,401},{166,196}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,401},{166,196}}</string>
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>
			<key>win_vfx_b_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,1},{120,160}}</string>
				<key>offset</key>
				<string>{6,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{487,1},{120,160}}</string>
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>
			<key>win_vfx_b_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,285},{88,136}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{335,285},{88,136}}</string>
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>
			<key>win_vfx_b_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,543},{70,130}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{487,543},{70,130}}</string>
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>
			<key>win_vfx_b_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{174,198}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{174,198}}</string>
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>
			<key>win_vfx_b_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,201},{170,198}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,201},{170,198}}</string>
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>
			<key>win_vfx_b_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,1},{146,180}}</string>
				<key>offset</key>
				<string>{5,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{339,1},{146,180}}</string>
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>
			<key>win_vfx_b_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,201},{160,190}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{173,201},{160,190}}</string>
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>
			<key>win_vfx_b_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,369},{138,172}}</string>
				<key>offset</key>
				<string>{5,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{487,369},{138,172}}</string>
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>
			<key>win_vfx_b_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,599},{44,112}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,599},{44,112}}</string>
				<key>sourceSize</key>
				<string>{200,250}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>387b621f-bfb2-4c4d-9633-067948133fc8.a0fbd.jpg</string>
			<key>size</key>
			<string>{650,650}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>387b621f-bfb2-4c4d-9633-067948133fc8.a0fbd.jpg</string>
		</dict>
	</dict>
</plist>
