<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>info_vfx_a_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1383,835},{444,446}}</string>
				<key>offset</key>
				<string>{-1,7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1383,835},{444,446}}</string>
				<key>sourceSize</key>
				<string>{560,560}</string>
			</dict>
			<key>info_vfx_a_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{487,1},{482,436}}</string>
				<key>offset</key>
				<string>{-5,10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{487,1},{482,436}}</string>
				<key>sourceSize</key>
				<string>{560,560}</string>
			</dict>
			<key>info_vfx_a_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1719},{294,240}}</string>
				<key>offset</key>
				<string>{11,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1719},{294,240}}</string>
				<key>sourceSize</key>
				<string>{560,560}</string>
			</dict>
			<key>info_vfx_a_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,1335},{382,428}}</string>
				<key>offset</key>
				<string>{18,21}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{431,1335},{382,428}}</string>
				<key>sourceSize</key>
				<string>{560,560}</string>
			</dict>
			<key>info_vfx_a_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1327,1281},{420,350}}</string>
				<key>offset</key>
				<string>{6,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1327,1281},{420,350}}</string>
				<key>sourceSize</key>
				<string>{560,560}</string>
			</dict>
			<key>info_vfx_a_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,889},{444,378}}</string>
				<key>offset</key>
				<string>{4,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{933,889},{444,378}}</string>
				<key>sourceSize</key>
				<string>{560,560}</string>
			</dict>
			<key>info_vfx_a_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,439},{448,448}}</string>
				<key>offset</key>
				<string>{-1,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{933,439},{448,448}}</string>
				<key>sourceSize</key>
				<string>{560,560}</string>
			</dict>
			<key>info_vfx_a_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1305},{412,428}}</string>
				<key>offset</key>
				<string>{3,21}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1305},{412,428}}</string>
				<key>sourceSize</key>
				<string>{560,560}</string>
			</dict>
			<key>info_vfx_a_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1679,1633},{344,284}}</string>
				<key>offset</key>
				<string>{10,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1679,1633},{344,284}}</string>
				<key>sourceSize</key>
				<string>{560,560}</string>
			</dict>
			<key>info_vfx_a_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,1719},{234,182}}</string>
				<key>offset</key>
				<string>{13,-5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{297,1719},{234,182}}</string>
				<key>sourceSize</key>
				<string>{560,560}</string>
			</dict>
			<key>info_vfx_a_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,1269},{382,428}}</string>
				<key>offset</key>
				<string>{18,21}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{897,1269},{382,428}}</string>
				<key>sourceSize</key>
				<string>{560,560}</string>
			</dict>
			<key>info_vfx_a_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,1},{464,436}}</string>
				<key>offset</key>
				<string>{-16,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{971,1},{464,436}}</string>
				<key>sourceSize</key>
				<string>{560,560}</string>
			</dict>
			<key>info_vfx_a_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1437,405},{428,454}}</string>
				<key>offset</key>
				<string>{11,7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1437,405},{428,454}}</string>
				<key>sourceSize</key>
				<string>{560,560}</string>
			</dict>
			<key>info_vfx_a_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1437,1},{464,402}}</string>
				<key>offset</key>
				<string>{2,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1437,1},{464,402}}</string>
				<key>sourceSize</key>
				<string>{560,560}</string>
			</dict>
			<key>info_vfx_a_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,853},{450,452}}</string>
				<key>offset</key>
				<string>{-1,7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,853},{450,452}}</string>
				<key>sourceSize</key>
				<string>{560,560}</string>
			</dict>
			<key>info_vfx_a_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,439},{452,452}}</string>
				<key>offset</key>
				<string>{-1,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{479,439},{452,452}}</string>
				<key>sourceSize</key>
				<string>{560,560}</string>
			</dict>
			<key>info_vfx_a_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,1653},{386,316}}</string>
				<key>offset</key>
				<string>{8,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{861,1653},{386,316}}</string>
				<key>sourceSize</key>
				<string>{560,560}</string>
			</dict>
			<key>info_vfx_a_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{484,430}}</string>
				<key>offset</key>
				<string>{-1,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{484,430}}</string>
				<key>sourceSize</key>
				<string>{560,560}</string>
			</dict>
			<key>info_vfx_a_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,893},{440,440}}</string>
				<key>offset</key>
				<string>{-2,6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{455,893},{440,440}}</string>
				<key>sourceSize</key>
				<string>{560,560}</string>
			</dict>
			<key>info_vfx_a_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,433},{476,418}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,433},{476,418}}</string>
				<key>sourceSize</key>
				<string>{560,560}</string>
			</dict>
			<key>info_vfx_a_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1249,1653},{284,428}}</string>
				<key>offset</key>
				<string>{-31,22}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1249,1653},{284,428}}</string>
				<key>sourceSize</key>
				<string>{560,560}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>4770386b-217b-4222-b316-7e95c3fb8493.b7380.jpg</string>
			<key>size</key>
			<string>{1978,1978}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>4770386b-217b-4222-b316-7e95c3fb8493.b7380.jpg</string>
		</dict>
	</dict>
</plist>
