<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fast_vfx_b_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1214},{133,612}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1214},{133,612}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1079},{133,612}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1079},{133,612}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,1214},{133,610}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{615,1214},{133,610}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{1638,1014},{133,614}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1638,1014},{133,614}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,400},{131,612}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,400},{131,612}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,668},{133,606}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,668},{133,606}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1219,134},{133,598}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1219,134},{133,598}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{127,608}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{127,608}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,1079},{133,614}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{615,1079},{133,614}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1229,404},{133,604}}</string>
				<key>offset</key>
				<string>{-1,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1229,404},{133,604}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1366,1012},{135,612}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1366,1012},{135,612}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{1215,269},{133,600}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1215,269},{133,600}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,944},{133,610}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{615,944},{133,610}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1223,1},{131,594}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1223,1},{131,594}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,809},{133,610}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{607,809},{133,610}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,1},{131,610}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{611,1},{131,610}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{1499,404},{133,606}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1499,404},{133,606}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,533},{133,608}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,533},{133,608}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1349},{133,614}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1349},{133,614}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{1634,404},{133,608}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1634,404},{133,608}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,674},{133,614}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{609,674},{133,614}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,267},{131,608}}</string>
				<key>offset</key>
				<string>{-2,-4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{605,267},{131,608}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1484},{133,610}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1484},{133,610}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{1503,1014},{133,612}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1503,1014},{133,612}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1619},{133,614}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1619},{133,614}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,130},{131,602}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,130},{131,602}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{1231,1012},{133,610}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1231,1012},{133,610}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,1624},{133,616}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{617,1624},{133,616}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,263},{133,602}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,263},{133,602}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{613,1484},{133,610}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{613,1484},{133,610}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{611,539},{133,612}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{611,539},{133,612}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{1364,404},{133,606}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1364,404},{133,606}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{605,134},{131,612}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{605,134},{131,612}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,803},{133,604}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,803},{133,604}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,944},{133,612}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,944},{133,612}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,404},{133,612}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{615,404},{133,612}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
			<key>fast_vfx_b_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{617,1349},{133,612}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{617,1349},{133,612}}</string>
				<key>sourceSize</key>
				<string>{141,620}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>57643a29-57f0-40e9-bbce-a249ce661598.8c8a1.jpg</string>
			<key>size</key>
			<string>{1818,1818}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>57643a29-57f0-40e9-bbce-a249ce661598.8c8a1.jpg</string>
		</dict>
	</dict>
</plist>
