<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>base_gold_rotate_c_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,295},{278,174}}</string>
				<key>offset</key>
				<string>{2,-29}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{217,295},{278,174}}</string>
				<key>sourceSize</key>
				<string>{872,872}</string>
			</dict>
			<key>base_gold_rotate_c_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{733,615},{200,244}}</string>
				<key>offset</key>
				<string>{-5,19}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{733,615},{200,244}}</string>
				<key>sourceSize</key>
				<string>{872,872}</string>
			</dict>
			<key>base_gold_rotate_c_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,187},{284,178}}</string>
				<key>offset</key>
				<string>{4,-25}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{475,187},{284,178}}</string>
				<key>sourceSize</key>
				<string>{872,872}</string>
			</dict>
			<key>base_gold_rotate_c_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,295},{214,324}}</string>
				<key>offset</key>
				<string>{-2,16}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,295},{214,324}}</string>
				<key>sourceSize</key>
				<string>{872,872}</string>
			</dict>
			<key>base_gold_rotate_c_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,1},{222,246}}</string>
				<key>offset</key>
				<string>{1,16}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{771,1},{222,246}}</string>
				<key>sourceSize</key>
				<string>{872,872}</string>
			</dict>
			<key>base_gold_rotate_c_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{205,621},{150,250}}</string>
				<key>offset</key>
				<string>{-4,19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{205,621},{150,250}}</string>
				<key>sourceSize</key>
				<string>{872,872}</string>
			</dict>
			<key>base_gold_rotate_c_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,583},{222,246}}</string>
				<key>offset</key>
				<string>{-8,19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{357,583},{222,246}}</string>
				<key>sourceSize</key>
				<string>{872,872}</string>
			</dict>
			<key>base_gold_rotate_c_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,367},{214,252}}</string>
				<key>offset</key>
				<string>{2,12}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{393,367},{214,252}}</string>
				<key>sourceSize</key>
				<string>{872,872}</string>
			</dict>
			<key>base_gold_rotate_c_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{761,249},{196,228}}</string>
				<key>offset</key>
				<string>{13,21}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{761,249},{196,228}}</string>
				<key>sourceSize</key>
				<string>{872,872}</string>
			</dict>
			<key>base_gold_rotate_c_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{807,817},{186,130}}</string>
				<key>offset</key>
				<string>{1,-31}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{807,817},{186,130}}</string>
				<key>sourceSize</key>
				<string>{872,872}</string>
			</dict>
			<key>base_gold_rotate_c_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{272,292}}</string>
				<key>offset</key>
				<string>{11,20}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{272,292}}</string>
				<key>sourceSize</key>
				<string>{872,872}</string>
			</dict>
			<key>base_gold_rotate_c_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,1},{294,184}}</string>
				<key>offset</key>
				<string>{-6,-15}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{475,1},{294,184}}</string>
				<key>sourceSize</key>
				<string>{872,872}</string>
			</dict>
			<key>base_gold_rotate_c_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,621},{278,202}}</string>
				<key>offset</key>
				<string>{-19,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,621},{278,202}}</string>
				<key>sourceSize</key>
				<string>{872,872}</string>
			</dict>
			<key>base_gold_rotate_c_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,831},{224,162}}</string>
				<key>offset</key>
				<string>{1,-32}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{357,831},{224,162}}</string>
				<key>sourceSize</key>
				<string>{872,872}</string>
			</dict>
			<key>base_gold_rotate_c_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,583},{150,242}}</string>
				<key>offset</key>
				<string>{2,21}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{581,583},{150,242}}</string>
				<key>sourceSize</key>
				<string>{872,872}</string>
			</dict>
			<key>base_gold_rotate_c_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,1},{198,288}}</string>
				<key>offset</key>
				<string>{-6,19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{275,1},{198,288}}</string>
				<key>sourceSize</key>
				<string>{872,872}</string>
			</dict>
			<key>base_gold_rotate_c_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,367},{180,110}}</string>
				<key>offset</key>
				<string>{2,-33}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{647,367},{180,110}}</string>
				<key>sourceSize</key>
				<string>{872,872}</string>
			</dict>
			<key>base_gold_rotate_c_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,827},{222,160}}</string>
				<key>offset</key>
				<string>{2,-32}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{583,827},{222,160}}</string>
				<key>sourceSize</key>
				<string>{872,872}</string>
			</dict>
			<key>base_gold_rotate_c_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,447},{228,166}}</string>
				<key>offset</key>
				<string>{1,-33}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,447},{228,166}}</string>
				<key>sourceSize</key>
				<string>{872,872}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>5f176b27-f820-4647-b56f-a6c0121f9f2d.c886d.png</string>
			<key>size</key>
			<string>{994,994}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>5f176b27-f820-4647-b56f-a6c0121f9f2d.c886d.png</string>
		</dict>
	</dict>
</plist>
