<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui_bg_b_bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,308},{202,302}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{820,308},{202,302}}</string>
				<key>sourceSize</key>
				<string>{202,302}</string>
			</dict>
			<key>ui_footer.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{540,456}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{540,456}}</string>
				<key>sourceSize</key>
				<string>{540,462}</string>
			</dict>
			<key>ui_bg_c_bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,1},{202,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{820,1},{202,305}}</string>
				<key>sourceSize</key>
				<string>{202,305}</string>
			</dict>
			<key>ui_bg_b_bonus_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,308},{202,302}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{820,308},{202,302}}</string>
				<key>sourceSize</key>
				<string>{202,302}</string>
			</dict>
			<key>ui_footer_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{540,456}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{540,456}}</string>
				<key>sourceSize</key>
				<string>{540,462}</string>
			</dict>
			<key>ui_bg_c_bonus_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,1},{202,305}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{820,1},{202,305}}</string>
				<key>sourceSize</key>
				<string>{202,305}</string>
			</dict>
			<key>ui_top_bar_bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,459},{540,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,459},{540,62}}</string>
				<key>sourceSize</key>
				<string>{540,62}</string>
			</dict>
			<key>ui_reel_bonus_dragon.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,1},{275,616}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{543,1},{275,616}}</string>
				<key>sourceSize</key>
				<string>{275,616}</string>
			</dict>
			<key>ui_top_bar_bonus_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,459},{540,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,459},{540,62}}</string>
				<key>sourceSize</key>
				<string>{540,62}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>600a4650-33d1-4df4-9bea-07a3aa3ff4eb.56a85.png</string>
			<key>size</key>
			<string>{1023,618}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>600a4650-33d1-4df4-9bea-07a3aa3ff4eb.56a85.png</string>
		</dict>
	</dict>
</plist>
