<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>info_vfx_c_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,179},{524,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,179},{524,70}}</string>
				<key>sourceSize</key>
				<string>{540,150}</string>
			</dict>
			<key>info_vfx_c_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{523,1},{3,3}}</string>
				<key>offset</key>
				<string>{-268,73}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{523,1},{3,3}}</string>
				<key>sourceSize</key>
				<string>{540,150}</string>
			</dict>
			<key>info_vfx_c_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{520,92}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{520,92}}</string>
				<key>sourceSize</key>
				<string>{540,150}</string>
			</dict>
			<key>info_vfx_c_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,455},{272,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,455},{272,94}}</string>
				<key>sourceSize</key>
				<string>{540,150}</string>
			</dict>
			<key>info_vfx_c_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,353},{362,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,353},{362,100}}</string>
				<key>sourceSize</key>
				<string>{540,150}</string>
			</dict>
			<key>info_vfx_c_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,251},{70,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{455,251},{70,100}}</string>
				<key>sourceSize</key>
				<string>{540,150}</string>
			</dict>
			<key>info_vfx_c_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,353},{124,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{365,353},{124,104}}</string>
				<key>sourceSize</key>
				<string>{540,150}</string>
			</dict>
			<key>info_vfx_c_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,459},{190,102}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{275,459},{190,102}}</string>
				<key>sourceSize</key>
				<string>{540,150}</string>
			</dict>
			<key>info_vfx_c_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,251},{452,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,251},{452,100}}</string>
				<key>sourceSize</key>
				<string>{540,150}</string>
			</dict>
			<key>info_vfx_c_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,1},{526,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{529,1},{526,80}}</string>
				<key>sourceSize</key>
				<string>{540,150}</string>
			</dict>
			<key>info_vfx_c_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,95},{526,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,95},{526,82}}</string>
				<key>sourceSize</key>
				<string>{540,150}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>6144b73b-3eaf-49d1-abd9-61314f9b422a.1cfe9.jpg</string>
			<key>size</key>
			<string>{610,610}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>6144b73b-3eaf-49d1-abd9-61314f9b422a.1cfe9.jpg</string>
		</dict>
	</dict>
</plist>
