<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>spin_vfx_b_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,1},{52,110}}</string>
				<key>offset</key>
				<string>{24,5}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{59,1},{52,110}}</string>
				<key>sourceSize</key>
				<string>{222,222}</string>
			</dict>
			<key>spin_vfx_b_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,119},{56,116}}</string>
				<key>offset</key>
				<string>{8,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,119},{56,116}}</string>
				<key>sourceSize</key>
				<string>{222,222}</string>
			</dict>
			<key>spin_vfx_b_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,55},{8,18}}</string>
				<key>offset</key>
				<string>{-56,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{169,55},{8,18}}</string>
				<key>sourceSize</key>
				<string>{222,222}</string>
			</dict>
			<key>spin_vfx_b_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{179,1},{26,70}}</string>
				<key>offset</key>
				<string>{45,12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{179,1},{26,70}}</string>
				<key>sourceSize</key>
				<string>{222,222}</string>
			</dict>
			<key>spin_vfx_b_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,55},{52,108}}</string>
				<key>offset</key>
				<string>{-27,-4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{59,55},{52,108}}</string>
				<key>sourceSize</key>
				<string>{222,222}</string>
			</dict>
			<key>spin_vfx_b_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{169,75},{3,3}}</string>
				<key>offset</key>
				<string>{-109,109}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{169,75},{3,3}}</string>
				<key>sourceSize</key>
				<string>{222,222}</string>
			</dict>
			<key>spin_vfx_b_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{56,116}}</string>
				<key>offset</key>
				<string>{-9,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{56,116}}</string>
				<key>sourceSize</key>
				<string>{222,222}</string>
			</dict>
			<key>spin_vfx_b_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,109},{44,96}}</string>
				<key>offset</key>
				<string>{36,8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{119,109},{44,96}}</string>
				<key>sourceSize</key>
				<string>{222,222}</string>
			</dict>
			<key>spin_vfx_b_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,109},{36,88}}</string>
				<key>offset</key>
				<string>{-42,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{165,109},{36,88}}</string>
				<key>sourceSize</key>
				<string>{222,222}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>6a4e363b-db7d-4d6f-b08e-70a0241e6751.be119.jpg</string>
			<key>size</key>
			<string>{206,206}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>6a4e363b-db7d-4d6f-b08e-70a0241e6751.be119.jpg</string>
		</dict>
	</dict>
</plist>
