<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>base_gold_rotate_a_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{227,457},{138,222}}</string>
				<key>offset</key>
				<string>{0,19}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{227,457},{138,222}}</string>
				<key>sourceSize</key>
				<string>{872,872}</string>
			</dict>
			<key>base_gold_rotate_a_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,231},{192,226}}</string>
				<key>offset</key>
				<string>{0,15}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,231},{192,226}}</string>
				<key>sourceSize</key>
				<string>{872,872}</string>
			</dict>
			<key>base_gold_rotate_a_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,1},{192,226}}</string>
				<key>offset</key>
				<string>{-2,16}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{197,1},{192,226}}</string>
				<key>sourceSize</key>
				<string>{872,872}</string>
			</dict>
			<key>base_gold_rotate_a_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,459},{98,224}}</string>
				<key>offset</key>
				<string>{-3,20}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,459},{98,224}}</string>
				<key>sourceSize</key>
				<string>{872,872}</string>
			</dict>
			<key>base_gold_rotate_a_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{391,1},{190,226}}</string>
				<key>offset</key>
				<string>{0,15}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{391,1},{190,226}}</string>
				<key>sourceSize</key>
				<string>{872,872}</string>
			</dict>
			<key>base_gold_rotate_a_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,229},{160,220}}</string>
				<key>offset</key>
				<string>{-3,18}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{383,229},{160,220}}</string>
				<key>sourceSize</key>
				<string>{872,872}</string>
			</dict>
			<key>base_gold_rotate_a_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{194,228}}</string>
				<key>offset</key>
				<string>{-1,15}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{194,228}}</string>
				<key>sourceSize</key>
				<string>{872,872}</string>
			</dict>
			<key>base_gold_rotate_a_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,231},{186,224}}</string>
				<key>offset</key>
				<string>{-2,17}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{195,231},{186,224}}</string>
				<key>sourceSize</key>
				<string>{872,872}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>73f6ee1c-a3a4-46e6-9ae5-41668b62b80d.236b1.png</string>
			<key>size</key>
			<string>{596,596}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>73f6ee1c-a3a4-46e6-9ae5-41668b62b80d.236b1.png</string>
		</dict>
	</dict>
</plist>
