<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>infoboard_lv02_vfx_f_add_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,237},{484,78}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,237},{484,78}}</string>
				<key>sourceSize</key>
				<string>{506,86}</string>
			</dict>
			<key>infoboard_lv02_vfx_f_add_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,77},{168,78}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,77},{168,78}}</string>
				<key>sourceSize</key>
				<string>{506,86}</string>
			</dict>
			<key>infoboard_lv02_vfx_f_add_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{171,77},{264,78}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{171,77},{264,78}}</string>
				<key>sourceSize</key>
				<string>{506,86}</string>
			</dict>
			<key>infoboard_lv02_vfx_f_add_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,397},{506,78}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,397},{506,78}}</string>
				<key>sourceSize</key>
				<string>{506,86}</string>
			</dict>
			<key>infoboard_lv02_vfx_f_add_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{506,74}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{506,74}}</string>
				<key>sourceSize</key>
				<string>{506,86}</string>
			</dict>
			<key>infoboard_lv02_vfx_f_add_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,157},{374,78}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,157},{374,78}}</string>
				<key>sourceSize</key>
				<string>{506,86}</string>
			</dict>
			<key>infoboard_lv02_vfx_f_add_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,317},{506,78}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,317},{506,78}}</string>
				<key>sourceSize</key>
				<string>{506,86}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>9c61a6fb-77be-4c94-893c-d9f92fb2f14d.11d04.jpg</string>
			<key>size</key>
			<string>{508,476}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>9c61a6fb-77be-4c94-893c-d9f92fb2f14d.11d04.jpg</string>
		</dict>
	</dict>
</plist>
