<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>multiplier_vfx_b_add_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,231},{34,40}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{297,231},{34,40}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>multiplier_vfx_b_add_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,257},{122,106}}</string>
				<key>offset</key>
				<string>{-7,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,257},{122,106}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>multiplier_vfx_b_add_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,127},{124,114}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{121,127},{124,114}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>multiplier_vfx_b_add_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,91},{88,80}}</string>
				<key>offset</key>
				<string>{12,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{347,91},{88,80}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>multiplier_vfx_b_add_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,1},{124,114}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{115,1},{124,114}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>multiplier_vfx_b_add_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,1},{120,114}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{231,1},{120,114}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>multiplier_vfx_b_add_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,123},{106,108}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{237,123},{106,108}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>multiplier_vfx_b_add_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,131},{124,118}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,131},{124,118}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>multiplier_vfx_b_add_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,173},{60,68}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{347,173},{60,68}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>multiplier_vfx_b_add_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,257},{122,104}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{109,257},{122,104}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>multiplier_vfx_b_add_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,253},{118,80}}</string>
				<key>offset</key>
				<string>{-2,-10}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{215,253},{118,80}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>multiplier_vfx_b_add_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,267},{116,112}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{297,267},{116,112}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>multiplier_vfx_b_add_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,1},{88,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{347,1},{88,94}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
			<key>multiplier_vfx_b_add_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{128,112}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{128,112}}</string>
				<key>sourceSize</key>
				<string>{250,250}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>b939f278-a162-4276-ad6a-4157e427fa4f.16c2d.jpg</string>
			<key>size</key>
			<string>{442,380}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>b939f278-a162-4276-ad6a-4157e427fa4f.16c2d.jpg</string>
		</dict>
	</dict>
</plist>
