<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ingot_shine_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,1},{38,32}}</string>
				<key>offset</key>
				<string>{-13,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{85,1},{38,32}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,115},{3,3}}</string>
				<key>offset</key>
				<string>{-254,254}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,115},{3,3}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,115},{3,3}}</string>
				<key>offset</key>
				<string>{-254,254}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,115},{3,3}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,115},{3,3}}</string>
				<key>offset</key>
				<string>{-254,254}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,115},{3,3}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,41},{40,36}}</string>
				<key>offset</key>
				<string>{25,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,41},{40,36}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_39.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,115},{3,3}}</string>
				<key>offset</key>
				<string>{-254,254}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,115},{3,3}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,115},{24,30}}</string>
				<key>offset</key>
				<string>{45,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,115},{24,30}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,1},{6,12}}</string>
				<key>offset</key>
				<string>{47,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{125,1},{6,12}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{83,73},{34,36}}</string>
				<key>offset</key>
				<string>{40,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{83,73},{34,36}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,115},{3,3}}</string>
				<key>offset</key>
				<string>{-254,254}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,115},{3,3}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,115},{3,3}}</string>
				<key>offset</key>
				<string>{-254,254}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,115},{3,3}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{133,1},{6,6}}</string>
				<key>offset</key>
				<string>{-47,7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{133,1},{6,6}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,79},{36,34}}</string>
				<key>offset</key>
				<string>{-32,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,79},{36,34}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_35.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,115},{3,3}}</string>
				<key>offset</key>
				<string>{-254,254}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,115},{3,3}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{81,37},{34,34}}</string>
				<key>offset</key>
				<string>{-40,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{81,37},{34,34}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,115},{3,3}}</string>
				<key>offset</key>
				<string>{-254,254}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,115},{3,3}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,115},{3,3}}</string>
				<key>offset</key>
				<string>{-254,254}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,115},{3,3}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,115},{3,3}}</string>
				<key>offset</key>
				<string>{-254,254}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,115},{3,3}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,115},{3,3}}</string>
				<key>offset</key>
				<string>{-254,254}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,115},{3,3}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,107},{38,32}}</string>
				<key>offset</key>
				<string>{7,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{39,107},{38,32}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,115},{3,3}}</string>
				<key>offset</key>
				<string>{-254,254}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,115},{3,3}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,115},{3,3}}</string>
				<key>offset</key>
				<string>{-254,254}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,115},{3,3}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_37.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,115},{3,3}}</string>
				<key>offset</key>
				<string>{-254,254}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,115},{3,3}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{40,38}}</string>
				<key>offset</key>
				<string>{35,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{40,38}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,73},{38,32}}</string>
				<key>offset</key>
				<string>{-3,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{43,73},{38,32}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_36.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,115},{3,3}}</string>
				<key>offset</key>
				<string>{-254,254}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,115},{3,3}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,115},{3,3}}</string>
				<key>offset</key>
				<string>{-254,254}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,115},{3,3}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_38.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,115},{3,3}}</string>
				<key>offset</key>
				<string>{-254,254}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,115},{3,3}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,115},{3,3}}</string>
				<key>offset</key>
				<string>{-254,254}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,115},{3,3}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,115},{3,3}}</string>
				<key>offset</key>
				<string>{-254,254}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,115},{3,3}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,37},{36,34}}</string>
				<key>offset</key>
				<string>{-22,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{43,37},{36,34}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,115},{3,3}}</string>
				<key>offset</key>
				<string>{-254,254}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,115},{3,3}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,115},{3,3}}</string>
				<key>offset</key>
				<string>{-254,254}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,115},{3,3}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,111},{26,30}}</string>
				<key>offset</key>
				<string>{-44,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{79,111},{26,30}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,115},{3,3}}</string>
				<key>offset</key>
				<string>{-254,254}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,115},{3,3}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{43,1},{40,34}}</string>
				<key>offset</key>
				<string>{16,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{43,1},{40,34}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,115},{3,3}}</string>
				<key>offset</key>
				<string>{-254,254}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,115},{3,3}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,115},{3,3}}</string>
				<key>offset</key>
				<string>{-254,254}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,115},{3,3}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,115},{3,3}}</string>
				<key>offset</key>
				<string>{-254,254}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,115},{3,3}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
			<key>ingot_shine_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{33,115},{3,3}}</string>
				<key>offset</key>
				<string>{-254,254}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{33,115},{3,3}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>bd97efb1-a3e8-41a1-8780-b2b77effb881.8e390.jpg</string>
			<key>size</key>
			<string>{140,140}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>bd97efb1-a3e8-41a1-8780-b2b77effb881.8e390.jpg</string>
		</dict>
	</dict>
</plist>
