<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>auto_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{171,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{171,171}}</string>
				<key>sourceSize</key>
				<string>{171,171}</string>
			</dict>
			<key>spin_arrow_grey_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,174},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{124,174},{121,121}}</string>
				<key>sourceSize</key>
				<string>{129,129}</string>
			</dict>
			<key>spin_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{247,174},{121,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{247,174},{121,119}}</string>
				<key>sourceSize</key>
				<string>{129,129}</string>
			</dict>
			<key>mh_vfx_b_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,1},{140,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{347,1},{140,140}}</string>
				<key>sourceSize</key>
				<string>{140,140}</string>
			</dict>
			<key>spin_arrow_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{368,143},{121,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{368,143},{121,119}}</string>
				<key>sourceSize</key>
				<string>{129,129}</string>
			</dict>
			<key>spin_arrow_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,174},{121,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,174},{121,121}}</string>
				<key>sourceSize</key>
				<string>{129,129}</string>
			</dict>
			<key>spin_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,1},{171,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{174,1},{171,171}}</string>
				<key>sourceSize</key>
				<string>{171,171}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>c515290e-3d74-492e-977a-a2c1da85cdf0.3cec8.png</string>
			<key>size</key>
			<string>{488,296}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>c515290e-3d74-492e-977a-a2c1da85cdf0.3cec8.png</string>
		</dict>
	</dict>
</plist>
