<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>info_flare_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,653},{278,223}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,653},{278,223}}</string>
				<key>sourceSize</key>
				<string>{278,223}</string>
			</dict>
			<key>info_glow_f.png</key>
			<dict>
				<key>frame</key>
				<string>{{237,1},{262,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{237,1},{262,41}}</string>
				<key>sourceSize</key>
				<string>{262,41}</string>
			</dict>
			<key>info_glow_g.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,1},{246,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{280,1},{246,33}}</string>
				<key>sourceSize</key>
				<string>{246,33}</string>
			</dict>
			<key>info_flare_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,1},{277,157}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{78,1},{277,157}}</string>
				<key>sourceSize</key>
				<string>{277,157}</string>
			</dict>
			<key>info_glow_e.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,327},{324,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,327},{324,71}}</string>
				<key>sourceSize</key>
				<string>{324,71}</string>
			</dict>
			<key>info_flare_c.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{324,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{324,75}}</string>
				<key>sourceSize</key>
				<string>{324,75}</string>
			</dict>
			<key>info_glow_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{74,327},{318,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{74,327},{318,158}}</string>
				<key>sourceSize</key>
				<string>{318,158}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>cb72e539-e2b7-41ce-9cac-e8e7c5e041e9.59537.jpg</string>
			<key>size</key>
			<string>{314,916}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>cb72e539-e2b7-41ce-9cac-e8e7c5e041e9.59537.jpg</string>
		</dict>
	</dict>
</plist>
