<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bonus_bg_particle_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,685},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{435,685},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1027},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1027},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1303,685},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1303,685},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,343},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,343},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,1369},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{435,1369},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,343},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{869,343},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1303,343},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1303,343},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,1027},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{869,1027},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,1},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{435,1},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,685},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{869,685},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1303,1027},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1303,1027},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,1},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{869,1},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,343},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{435,343},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,1369},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{869,1369},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1303,1369},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1303,1369},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1303,1},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1303,1},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,685},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,685},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1369},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1369},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,1027},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{435,1027},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_09_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,685},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{435,685},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_12_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1027},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1027},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_00_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_11_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1303,685},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1303,685},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_04_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,343},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,343},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_17_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,1369},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{435,1369},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_06_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,343},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{869,343},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_07_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1303,343},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1303,343},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_14_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,1027},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{869,1027},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_01_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,1},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{435,1},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_10_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,685},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{869,685},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_15_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1303,1027},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1303,1027},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_02_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,1},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{869,1},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_05_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,343},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{435,343},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_18_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,1369},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{869,1369},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_19_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1303,1369},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1303,1369},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_03_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1303,1},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1303,1},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_08_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,685},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,685},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_16_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1369},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1369},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
			<key>bonus_bg_particle_13_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,1027},{432,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{435,1027},{432,340}}</string>
				<key>sourceSize</key>
				<string>{432,340}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>d4bc56c6-3738-45a3-b956-7ffda590e2e6.a4e7d.jpg</string>
			<key>size</key>
			<string>{1736,1736}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>d4bc56c6-3738-45a3-b956-7ffda590e2e6.a4e7d.jpg</string>
		</dict>
	</dict>
</plist>
