<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,1},{31,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{906,1},{31,57}}</string>
				<key>sourceSize</key>
				<string>{31,57}</string>
			</dict>
			<key>5_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,1},{45,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{338,1},{45,59}}</string>
				<key>sourceSize</key>
				<string>{45,59}</string>
			</dict>
			<key>2_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,1},{48,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{573,1},{48,58}}</string>
				<key>sourceSize</key>
				<string>{48,58}</string>
			</dict>
			<key>3_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,1},{46,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{147,1},{46,59}}</string>
				<key>sourceSize</key>
				<string>{46,59}</string>
			</dict>
			<key>9_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,1},{45,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{479,1},{45,59}}</string>
				<key>sourceSize</key>
				<string>{45,59}</string>
			</dict>
			<key>2_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,1},{48,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{623,1},{48,58}}</string>
				<key>sourceSize</key>
				<string>{48,58}</string>
			</dict>
			<key>0_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,1},{48,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{723,1},{48,57}}</string>
				<key>sourceSize</key>
				<string>{48,57}</string>
			</dict>
			<key>6_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,1},{45,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{432,1},{45,59}}</string>
				<key>sourceSize</key>
				<string>{45,59}</string>
			</dict>
			<key>7_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{773,1},{48,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{773,1},{48,57}}</string>
				<key>sourceSize</key>
				<string>{48,57}</string>
			</dict>
			<key>4_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,1},{47,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{50,1},{47,60}}</string>
				<key>sourceSize</key>
				<string>{47,60}</string>
			</dict>
			<key>8_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,1},{46,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{195,1},{46,59}}</string>
				<key>sourceSize</key>
				<string>{46,59}</string>
			</dict>
			<key>1_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{873,1},{31,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{873,1},{31,57}}</string>
				<key>sourceSize</key>
				<string>{31,57}</string>
			</dict>
			<key>7_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{823,1},{48,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{823,1},{48,57}}</string>
				<key>sourceSize</key>
				<string>{48,57}</string>
			</dict>
			<key>3_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{99,1},{46,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{99,1},{46,59}}</string>
				<key>sourceSize</key>
				<string>{46,59}</string>
			</dict>
			<key>5_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{291,1},{45,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{291,1},{45,59}}</string>
				<key>sourceSize</key>
				<string>{45,59}</string>
			</dict>
			<key>0_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,1},{48,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{673,1},{48,57}}</string>
				<key>sourceSize</key>
				<string>{48,57}</string>
			</dict>
			<key>8_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,1},{46,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{243,1},{46,59}}</string>
				<key>sourceSize</key>
				<string>{46,59}</string>
			</dict>
			<key>9_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{526,1},{45,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{526,1},{45,59}}</string>
				<key>sourceSize</key>
				<string>{45,59}</string>
			</dict>
			<key>6_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{385,1},{45,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{385,1},{45,59}}</string>
				<key>sourceSize</key>
				<string>{45,59}</string>
			</dict>
			<key>4_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{47,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{47,60}}</string>
				<key>sourceSize</key>
				<string>{47,60}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>debc8150-8eb3-498c-9baa-422acdab3f78.3fe50.png</string>
			<key>size</key>
			<string>{938,62}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>debc8150-8eb3-498c-9baa-422acdab3f78.3fe50.png</string>
		</dict>
	</dict>
</plist>
