<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>tw_vfx_b_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,1},{432,936}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{435,1},{432,936}}</string>
				<key>sourceSize</key>
				<string>{432,936}</string>
			</dict>
			<key>tw_vfx_a_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,435},{329,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{869,435},{329,185}}</string>
				<key>sourceSize</key>
				<string>{329,185}</string>
			</dict>
			<key>tw_vfx_b_add_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,1},{432,936}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{435,1},{432,936}}</string>
				<key>sourceSize</key>
				<string>{432,936}</string>
			</dict>
			<key>tw_vfx_a_add_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,435},{329,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{869,435},{329,185}}</string>
				<key>sourceSize</key>
				<string>{329,185}</string>
			</dict>
			<key>mh_vfx_a_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,622},{286,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{869,622},{286,69}}</string>
				<key>sourceSize</key>
				<string>{286,69}</string>
			</dict>
			<key>tw_page.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{432,936}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{432,936}}</string>
				<key>sourceSize</key>
				<string>{432,936}</string>
			</dict>
			<key>tw_vfx_c_screen.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,1},{432,374}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{869,1},{432,374}}</string>
				<key>sourceSize</key>
				<string>{432,374}</string>
			</dict>
			<key>tw_vfx_b_add_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{435,1},{432,936}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{435,1},{432,936}}</string>
				<key>sourceSize</key>
				<string>{432,936}</string>
			</dict>
			<key>tw_vfx_a_add_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,435},{329,185}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{869,435},{329,185}}</string>
				<key>sourceSize</key>
				<string>{329,185}</string>
			</dict>
			<key>mh_vfx_a_add_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,622},{286,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{869,622},{286,69}}</string>
				<key>sourceSize</key>
				<string>{286,69}</string>
			</dict>
			<key>tw_page_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{432,936}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{432,936}}</string>
				<key>sourceSize</key>
				<string>{432,936}</string>
			</dict>
			<key>tw_vfx_c_screen_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,1},{432,374}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{869,1},{432,374}}</string>
				<key>sourceSize</key>
				<string>{432,374}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>e3fc6927-a613-404b-a62a-11a07e0f0305.b4765.jpg</string>
			<key>size</key>
			<string>{1244,938}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>e3fc6927-a613-404b-a62a-11a07e0f0305.b4765.jpg</string>
		</dict>
	</dict>
</plist>
