<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>infoboard_lv02_vfx_d_add_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,1},{239,196}}</string>
				<key>offset</key>
				<string>{-11,-20}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{687,1},{239,196}}</string>
				<key>sourceSize</key>
				<string>{503,356}</string>
			</dict>
			<key>infoboard_lv02_vfx_d_add_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,783},{161,166}}</string>
				<key>offset</key>
				<string>{-23,-21}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{751,783},{161,166}}</string>
				<key>sourceSize</key>
				<string>{503,356}</string>
			</dict>
			<key>infoboard_lv02_vfx_d_add_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,419},{321,184}}</string>
				<key>offset</key>
				<string>{1,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{350,419},{321,184}}</string>
				<key>sourceSize</key>
				<string>{503,356}</string>
			</dict>
			<key>infoboard_lv02_vfx_d_add_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,217},{329,200}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{350,217},{329,200}}</string>
				<key>sourceSize</key>
				<string>{503,356}</string>
			</dict>
			<key>infoboard_lv02_vfx_d_add_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{347,214}}</string>
				<key>offset</key>
				<string>{-4,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{347,214}}</string>
				<key>sourceSize</key>
				<string>{503,356}</string>
			</dict>
			<key>infoboard_lv02_vfx_d_add_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{681,217},{5,4}}</string>
				<key>offset</key>
				<string>{-96,-67}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{681,217},{5,4}}</string>
				<key>sourceSize</key>
				<string>{503,356}</string>
			</dict>
			<key>infoboard_lv02_vfx_d_add_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,635},{341,196}}</string>
				<key>offset</key>
				<string>{-2,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,635},{341,196}}</string>
				<key>sourceSize</key>
				<string>{503,356}</string>
			</dict>
			<key>infoboard_lv02_vfx_d_add_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{889,492},{57,42}}</string>
				<key>offset</key>
				<string>{-73,-82}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{889,492},{57,42}}</string>
				<key>sourceSize</key>
				<string>{503,356}</string>
			</dict>
			<key>infoboard_lv02_vfx_d_add_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,429},{345,204}}</string>
				<key>offset</key>
				<string>{-3,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,429},{345,204}}</string>
				<key>sourceSize</key>
				<string>{503,356}</string>
			</dict>
			<key>infoboard_lv02_vfx_d_add_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,787},{235,194}}</string>
				<key>offset</key>
				<string>{-13,-20}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{344,787},{235,194}}</string>
				<key>sourceSize</key>
				<string>{503,356}</string>
			</dict>
			<key>infoboard_lv02_vfx_d_add_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,833},{301,150}}</string>
				<key>offset</key>
				<string>{4,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,833},{301,150}}</string>
				<key>sourceSize</key>
				<string>{503,356}</string>
			</dict>
			<key>infoboard_lv02_vfx_d_add_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,217},{347,210}}</string>
				<key>offset</key>
				<string>{-4,-10}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,217},{347,210}}</string>
				<key>sourceSize</key>
				<string>{503,356}</string>
			</dict>
			<key>infoboard_lv02_vfx_d_add_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{581,787},{175,168}}</string>
				<key>offset</key>
				<string>{-19,-21}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{581,787},{175,168}}</string>
				<key>sourceSize</key>
				<string>{503,356}</string>
			</dict>
			<key>infoboard_lv02_vfx_d_add_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,1},{335,214}}</string>
				<key>offset</key>
				<string>{-1,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{350,1},{335,214}}</string>
				<key>sourceSize</key>
				<string>{503,356}</string>
			</dict>
			<key>infoboard_lv02_vfx_d_add_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,492},{289,214}}</string>
				<key>offset</key>
				<string>{-34,-11}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{673,492},{289,214}}</string>
				<key>sourceSize</key>
				<string>{503,356}</string>
			</dict>
			<key>infoboard_lv02_vfx_d_add_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{687,199},{291,216}}</string>
				<key>offset</key>
				<string>{-34,-10}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{687,199},{291,216}}</string>
				<key>sourceSize</key>
				<string>{503,356}</string>
			</dict>
			<key>infoboard_lv02_vfx_d_add_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,605},{311,180}}</string>
				<key>offset</key>
				<string>{3,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{348,605},{311,180}}</string>
				<key>sourceSize</key>
				<string>{503,356}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>ffc0c683-b7ee-4850-afe3-152b741f69a0.ee927.jpg</string>
			<key>size</key>
			<string>{932,984}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>ffc0c683-b7ee-4850-afe3-152b741f69a0.ee927.jpg</string>
		</dict>
	</dict>
</plist>
