<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>h_angbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,865},{256,274}}</string>
				<key>offset</key>
				<string>{3,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,865},{256,274}}</string>
				<key>sourceSize</key>
				<string>{430,430}</string>
			</dict>
			<key>h_angbao_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,480},{127,153}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{303,480},{127,153}}</string>
				<key>sourceSize</key>
				<string>{215,215}</string>
			</dict>
			<key>h_firecracker.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,607},{268,256}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,607},{268,256}}</string>
				<key>sourceSize</key>
				<string>{430,430}</string>
			</dict>
			<key>h_firecracker_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,335},{135,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{303,335},{135,143}}</string>
				<key>sourceSize</key>
				<string>{215,215}</string>
			</dict>
			<key>h_ingot.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{318,292}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{318,292}}</string>
				<key>sourceSize</key>
				<string>{430,430}</string>
			</dict>
			<key>h_ingot_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,1},{159,161}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{321,1},{159,161}}</string>
				<key>sourceSize</key>
				<string>{215,215}</string>
			</dict>
			<key>h_orange.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,931},{232,254}}</string>
				<key>offset</key>
				<string>{-6,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{259,931},{232,254}}</string>
				<key>sourceSize</key>
				<string>{430,430}</string>
			</dict>
			<key>h_orange_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,788},{117,141}}</string>
				<key>offset</key>
				<string>{-3,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{271,788},{117,141}}</string>
				<key>sourceSize</key>
				<string>{215,215}</string>
			</dict>
			<key>h_pouch.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1141},{256,274}}</string>
				<key>offset</key>
				<string>{3,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1141},{256,274}}</string>
				<key>sourceSize</key>
				<string>{430,430}</string>
			</dict>
			<key>h_pouch_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{271,635},{127,151}}</string>
				<key>offset</key>
				<string>{2,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{271,635},{127,151}}</string>
				<key>sourceSize</key>
				<string>{215,215}</string>
			</dict>
			<key>h_ruyi.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,295},{300,310}}</string>
				<key>offset</key>
				<string>{5,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,295},{300,310}}</string>
				<key>sourceSize</key>
				<string>{430,430}</string>
			</dict>
			<key>h_ruyi_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,164},{151,169}}</string>
				<key>offset</key>
				<string>{2,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{321,164},{151,169}}</string>
				<key>sourceSize</key>
				<string>{215,215}</string>
			</dict>
			<key>normal_symbol.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{488,1412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,2},{488,1412}}</string>
				<key>sourceSize</key>
				<string>{492,1416}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>normal_symbol.png</string>
			<key>size</key>
			<string>{492,1416}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>normal_symbol.png</string>
		</dict>
	</dict>
</plist>
