<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,105},{20,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{87,105},{20,26}}</string>
				<key>sourceSize</key>
				<string>{20,26}</string>
			</dict>
			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,28},{18,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{165,28},{18,25}}</string>
				<key>sourceSize</key>
				<string>{18,25}</string>
			</dict>
			<key>9_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,85},{18,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{135,85},{18,26}}</string>
				<key>sourceSize</key>
				<string>{18,26}</string>
			</dict>
			<key>payline_block.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,1},{18,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{125,1},{18,26}}</string>
				<key>sourceSize</key>
				<string>{18,26}</string>
			</dict>
			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,59},{18,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{105,59},{18,26}}</string>
				<key>sourceSize</key>
				<string>{18,26}</string>
			</dict>
			<key>8_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,29},{18,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{125,29},{18,26}}</string>
				<key>sourceSize</key>
				<string>{18,26}</string>
			</dict>
			<key>4_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{30,105},{20,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{30,105},{20,27}}</string>
				<key>sourceSize</key>
				<string>{20,27}</string>
			</dict>
			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,1},{18,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{105,1},{18,27}}</string>
				<key>sourceSize</key>
				<string>{18,27}</string>
			</dict>
			<key>payline_block_dark.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,53},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,53},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,1},{18,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{145,1},{18,25}}</string>
				<key>sourceSize</key>
				<string>{18,25}</string>
			</dict>
			<key>0.png</key>
			<dict>
				<key>frame</key>
				<string>{{59,105},{20,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{59,105},{20,26}}</string>
				<key>sourceSize</key>
				<string>{20,26}</string>
			</dict>
			<key>3_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,30},{18,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{105,30},{18,27}}</string>
				<key>sourceSize</key>
				<string>{18,27}</string>
			</dict>
			<key>2_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,87},{18,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{115,87},{18,26}}</string>
				<key>sourceSize</key>
				<string>{18,26}</string>
			</dict>
			<key>7_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,55},{18,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{165,55},{18,25}}</string>
				<key>sourceSize</key>
				<string>{18,25}</string>
			</dict>
			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,109},{18,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{155,109},{18,25}}</string>
				<key>sourceSize</key>
				<string>{18,25}</string>
			</dict>
			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,55},{18,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{145,55},{18,25}}</string>
				<key>sourceSize</key>
				<string>{18,25}</string>
			</dict>
			<key>6_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{165,1},{18,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{165,1},{18,25}}</string>
				<key>sourceSize</key>
				<string>{18,25}</string>
			</dict>
			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,57},{18,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{125,57},{18,26}}</string>
				<key>sourceSize</key>
				<string>{18,26}</string>
			</dict>
			<key>payline_block_dark_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,1},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{53,1},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>5_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,82},{18,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{155,82},{18,25}}</string>
				<key>sourceSize</key>
				<string>{18,25}</string>
			</dict>
			<key>payline_block_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,53},{50,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{53,53},{50,50}}</string>
				<key>sourceSize</key>
				<string>{50,50}</string>
			</dict>
			<key>1_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,28},{18,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{145,28},{18,25}}</string>
				<key>sourceSize</key>
				<string>{18,25}</string>
			</dict>
			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,105},{20,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,105},{20,27}}</string>
				<key>sourceSize</key>
				<string>{20,27}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>569237d1-58f6-4611-b4ad-3d51c964251a.12c85.png</string>
			<key>size</key>
			<string>{184,128}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>569237d1-58f6-4611-b4ad-3d51c964251a.12c85.png</string>
		</dict>
	</dict>
</plist>
