<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bw_num_board.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1},{756,226}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{756,226}}</string>
				<key>sourceSize</key>
				<string>{756,229}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>56974e0f-0c1d-4320-807d-a3dcb0245c34.44888.png</string>
			<key>size</key>
			<string>{756,229}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>56974e0f-0c1d-4320-807d-a3dcb0245c34.44888.png</string>
		</dict>
	</dict>
</plist>
