<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>sb_particle_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,138},{112,123}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{437,138},{112,123}}</string>
				<key>sourceSize</key>
				<string>{198,201}</string>
			</dict>
			<key>sb_particle_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,351},{152,171}}</string>
				<key>offset</key>
				<string>{-8,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{151,351},{152,171}}</string>
				<key>sourceSize</key>
				<string>{198,201}</string>
			</dict>
			<key>sb_particle_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,180},{150,165}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{159,180},{150,165}}</string>
				<key>sourceSize</key>
				<string>{198,201}</string>
			</dict>
			<key>sb_particle_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,263},{98,111}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{451,263},{98,111}}</string>
				<key>sourceSize</key>
				<string>{198,201}</string>
			</dict>
			<key>sb_particle_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{311,148},{122,133}}</string>
				<key>offset</key>
				<string>{5,16}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{311,148},{122,133}}</string>
				<key>sourceSize</key>
				<string>{198,201}</string>
			</dict>
			<key>sb_particle_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,347},{144,159}}</string>
				<key>offset</key>
				<string>{-1,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{305,347},{144,159}}</string>
				<key>sourceSize</key>
				<string>{198,201}</string>
			</dict>
			<key>sb_particle_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{158,177}}</string>
				<key>offset</key>
				<string>{-4,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{158,177}}</string>
				<key>sourceSize</key>
				<string>{198,201}</string>
			</dict>
			<key>sb_particle_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,351},{148,177}}</string>
				<key>offset</key>
				<string>{-10,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,351},{148,177}}</string>
				<key>sourceSize</key>
				<string>{198,201}</string>
			</dict>
			<key>sb_particle_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{437,1},{120,135}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{437,1},{120,135}}</string>
				<key>sourceSize</key>
				<string>{198,201}</string>
			</dict>
			<key>sb_particle_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{161,1},{140,153}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{161,1},{140,153}}</string>
				<key>sourceSize</key>
				<string>{198,201}</string>
			</dict>
			<key>sb_particle_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,1},{132,145}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{303,1},{132,145}}</string>
				<key>sourceSize</key>
				<string>{198,201}</string>
			</dict>
			<key>sb_particle_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,180},{156,169}}</string>
				<key>offset</key>
				<string>{-3,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,180},{156,169}}</string>
				<key>sourceSize</key>
				<string>{198,201}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>8503fcb6-00a5-4524-9e81-754b045681b0.d3526.jpg</string>
			<key>size</key>
			<string>{558,558}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>8503fcb6-00a5-4524-9e81-754b045681b0.d3526.jpg</string>
		</dict>
	</dict>
</plist>
