<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ib_bar_glow_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,361},{450,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,361},{450,70}}</string>
				<key>sourceSize</key>
				<string>{468,78}</string>
			</dict>
			<key>ib_bar_glow_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,577},{450,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,577},{450,70}}</string>
				<key>sourceSize</key>
				<string>{468,78}</string>
			</dict>
			<key>ib_bar_glow_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,217},{450,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,217},{450,70}}</string>
				<key>sourceSize</key>
				<string>{468,78}</string>
			</dict>
			<key>ib_bar_glow_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,289},{450,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,289},{450,70}}</string>
				<key>sourceSize</key>
				<string>{468,78}</string>
			</dict>
			<key>ib_bar_glow_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,433},{450,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,433},{450,70}}</string>
				<key>sourceSize</key>
				<string>{468,78}</string>
			</dict>
			<key>ib_bar_glow_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{450,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{450,70}}</string>
				<key>sourceSize</key>
				<string>{468,78}</string>
			</dict>
			<key>ib_bar_glow_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,1},{450,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{453,1},{450,70}}</string>
				<key>sourceSize</key>
				<string>{468,78}</string>
			</dict>
			<key>ib_bar_glow_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,73},{450,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,73},{450,70}}</string>
				<key>sourceSize</key>
				<string>{468,78}</string>
			</dict>
			<key>ib_bar_glow_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,1},{450,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{525,1},{450,70}}</string>
				<key>sourceSize</key>
				<string>{468,78}</string>
			</dict>
			<key>ib_bar_glow_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,505},{450,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,505},{450,70}}</string>
				<key>sourceSize</key>
				<string>{468,78}</string>
			</dict>
			<key>ib_bar_glow_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,145},{450,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,145},{450,70}}</string>
				<key>sourceSize</key>
				<string>{468,78}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>acb62dc2-2175-4452-bcd3-3daaa83728b9.ba9a8.jpg</string>
			<key>size</key>
			<string>{648,648}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>acb62dc2-2175-4452-bcd3-3daaa83728b9.ba9a8.jpg</string>
		</dict>
	</dict>
</plist>
