<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ib_bar_glow_mw_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,770},{413,125}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{416,770},{413,125}}</string>
				<key>sourceSize</key>
				<string>{413,217}</string>
			</dict>
			<key>ib_bar_glow_mw_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,188},{413,169}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{416,188},{413,169}}</string>
				<key>sourceSize</key>
				<string>{413,217}</string>
			</dict>
			<key>ib_bar_glow_mw_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,733},{413,147}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,733},{413,147}}</string>
				<key>sourceSize</key>
				<string>{413,217}</string>
			</dict>
			<key>ib_bar_glow_mw_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,416},{405,125}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{831,416},{405,125}}</string>
				<key>sourceSize</key>
				<string>{413,217}</string>
			</dict>
			<key>ib_bar_glow_mw_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,516},{413,125}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{416,516},{413,125}}</string>
				<key>sourceSize</key>
				<string>{413,217}</string>
			</dict>
			<key>ib_bar_glow_mw_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1009},{3,3}}</string>
				<key>offset</key>
				<string>{-204,107}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1009},{3,3}}</string>
				<key>sourceSize</key>
				<string>{413,217}</string>
			</dict>
			<key>ib_bar_glow_mw_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,897},{413,125}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{416,897},{413,125}}</string>
				<key>sourceSize</key>
				<string>{413,217}</string>
			</dict>
			<key>ib_bar_glow_mw_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,572},{413,159}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,572},{413,159}}</string>
				<key>sourceSize</key>
				<string>{413,217}</string>
			</dict>
			<key>ib_bar_glow_mw_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,393},{413,177}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,393},{413,177}}</string>
				<key>sourceSize</key>
				<string>{413,217}</string>
			</dict>
			<key>ib_bar_glow_mw_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,882},{413,125}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,882},{413,125}}</string>
				<key>sourceSize</key>
				<string>{413,217}</string>
			</dict>
			<key>ib_bar_glow_mw_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,1},{413,135}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{831,1},{413,135}}</string>
				<key>sourceSize</key>
				<string>{413,217}</string>
			</dict>
			<key>ib_bar_glow_mw_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,1},{413,185}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{416,1},{413,185}}</string>
				<key>sourceSize</key>
				<string>{413,217}</string>
			</dict>
			<key>ib_bar_glow_mw_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,643},{413,125}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{416,643},{413,125}}</string>
				<key>sourceSize</key>
				<string>{413,217}</string>
			</dict>
			<key>ib_bar_glow_mw_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,359},{413,155}}</string>
				<key>offset</key>
				<string>{0,-17}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{416,359},{413,155}}</string>
				<key>sourceSize</key>
				<string>{413,217}</string>
			</dict>
			<key>ib_bar_glow_mw_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{413,195}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{413,195}}</string>
				<key>sourceSize</key>
				<string>{413,217}</string>
			</dict>
			<key>ib_bar_glow_mw_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,198},{413,193}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,198},{413,193}}</string>
				<key>sourceSize</key>
				<string>{413,217}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>fc27f103-c08b-479d-a9cc-aaeda98fdd72.4cc58.jpg</string>
			<key>size</key>
			<string>{967,1023}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>fc27f103-c08b-479d-a9cc-aaeda98fdd72.4cc58.jpg</string>
		</dict>
	</dict>
</plist>
