<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>remaining_fs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{405,186}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{405,186}}</string>
				<key>sourceSize</key>
				<string>{405,186}</string>
			</dict>
			<key>last_fs.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,1},{582,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{408,1},{582,102}}</string>
				<key>sourceSize</key>
				<string>{582,102}</string>
			</dict>
			<key>free_spins.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{991,188}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{991,188}}</string>
				<key>sourceSize</key>
				<string>{991,188}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>free_spins.png</string>
			<key>size</key>
			<string>{991,188}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>free_spins.png</string>
		</dict>
	</dict>
</plist>
