<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,1},{503,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{282,1},{503,232}}</string>
				<key>sourceSize</key>
				<string>{503,232}</string>
			</dict>
			<key>fs.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,535},{314,343}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{525,535},{314,343}}</string>
				<key>sourceSize</key>
				<string>{314,343}</string>
			</dict>
			<key>info_bns.png</key>
			<dict>
				<key>frame</key>
				<string>{{525,880},{410,36}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{525,880},{410,36}}</string>
				<key>sourceSize</key>
				<string>{420,70}</string>
			</dict>
			<key>info_bns2.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,235},{372,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{282,235},{372,63}}</string>
				<key>sourceSize</key>
				<string>{372,63}</string>
			</dict>
			<key>info_main1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,951},{857,34}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,951},{857,34}}</string>
				<key>sourceSize</key>
				<string>{865,70}</string>
			</dict>
			<key>info_main2.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,306},{362,38}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{937,306},{362,38}}</string>
				<key>sourceSize</key>
				<string>{372,70}</string>
			</dict>
			<key>info_main3.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,306},{307,52}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{860,306},{307,52}}</string>
				<key>sourceSize</key>
				<string>{323,70}</string>
			</dict>
			<key>info_tw.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,1},{121,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{787,1},{121,60}}</string>
				<key>sourceSize</key>
				<string>{125,70}</string>
			</dict>
			<key>info_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,124},{154,40}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{787,124},{154,40}}</string>
				<key>sourceSize</key>
				<string>{158,70}</string>
			</dict>
			<key>lfs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,810},{522,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,810},{522,139}}</string>
				<key>sourceSize</key>
				<string>{522,139}</string>
			</dict>
			<key>logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{557,279}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1},{557,279}}</string>
				<key>sourceSize</key>
				<string>{557,279}</string>
			</dict>
			<key>mw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,560},{518,248}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,560},{518,248}}</string>
				<key>sourceSize</key>
				<string>{518,248}</string>
			</dict>
			<key>rfs.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,1},{303,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{860,1},{303,125}}</string>
				<key>sourceSize</key>
				<string>{303,125}</string>
			</dict>
			<key>smw.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,306},{554,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{282,306},{554,227}}</string>
				<key>sourceSize</key>
				<string>{554,227}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>025bbe29-89bb-4cfc-9724-8a8ae496ed87.901a2.png</string>
			<key>size</key>
			<string>{986,986}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>025bbe29-89bb-4cfc-9724-8a8ae496ed87.901a2.png</string>
		</dict>
	</dict>
</plist>
