<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,296},{533,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{926,296},{533,184}}</string>
				<key>sourceSize</key>
				<string>{533,184}</string>
			</dict>
			<key>fs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1593,1},{295,338}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1593,1},{295,338}}</string>
				<key>sourceSize</key>
				<string>{295,338}</string>
			</dict>
			<key>general.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1921,493}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1921,493}}</string>
				<key>sourceSize</key>
				<string>{1923,493}</string>
			</dict>
			<key>info_bns.png</key>
			<dict>
				<key>frame</key>
				<string>{{1461,341},{461,44}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1461,341},{461,44}}</string>
				<key>sourceSize</key>
				<string>{469,70}</string>
			</dict>
			<key>info_bns2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1461,387},{250,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1461,387},{250,58}}</string>
				<key>sourceSize</key>
				<string>{250,58}</string>
			</dict>
			<key>info_main1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{966,38}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{966,38}}</string>
				<key>sourceSize</key>
				<string>{980,70}</string>
			</dict>
			<key>info_main2.png</key>
			<dict>
				<key>frame</key>
				<string>{{882,41},{342,42}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{882,41},{342,42}}</string>
				<key>sourceSize</key>
				<string>{350,70}</string>
			</dict>
			<key>info_main3.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,212},{247,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{568,212},{247,52}}</string>
				<key>sourceSize</key>
				<string>{259,70}</string>
			</dict>
			<key>info_tw.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,414},{77,58}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{622,414},{77,58}}</string>
				<key>sourceSize</key>
				<string>{91,70}</string>
			</dict>
			<key>info_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,324},{88,48}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{622,324},{88,48}}</string>
				<key>sourceSize</key>
				<string>{98,70}</string>
			</dict>
			<key>lfs.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,41},{405,124}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{756,41},{405,124}}</string>
				<key>sourceSize</key>
				<string>{405,124}</string>
			</dict>
			<key>logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,212},{565,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,212},{565,280}}</string>
				<key>sourceSize</key>
				<string>{565,280}</string>
			</dict>
			<key>mw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,41},{622,169}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,41},{622,169}}</string>
				<key>sourceSize</key>
				<string>{622,169}</string>
			</dict>
			<key>rfs.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,41},{281,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{625,41},{281,129}}</string>
				<key>sourceSize</key>
				<string>{281,129}</string>
			</dict>
			<key>smw.png</key>
			<dict>
				<key>frame</key>
				<string>{{969,1},{622,293}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{969,1},{622,293}}</string>
				<key>sourceSize</key>
				<string>{622,293}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>08e26167-3e4b-4cd1-8a40-cecae3eea6ae.a006c.png</string>
			<key>size</key>
			<string>{1923,493}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>08e26167-3e4b-4cd1-8a40-cecae3eea6ae.a006c.png</string>
		</dict>
	</dict>
</plist>
