<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{317,512},{305,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{317,512},{305,166}}</string>
				<key>sourceSize</key>
				<string>{305,166}</string>
			</dict>
			<key>fs.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,1},{316,300}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{563,1},{316,300}}</string>
				<key>sourceSize</key>
				<string>{316,300}</string>
			</dict>
			<key>general.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{961,686}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{961,686}}</string>
				<key>sourceSize</key>
				<string>{961,686}</string>
			</dict>
			<key>info_bns.png</key>
			<dict>
				<key>frame</key>
				<string>{{881,1},{242,50}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{881,1},{242,50}}</string>
				<key>sourceSize</key>
				<string>{252,70}</string>
			</dict>
			<key>info_bns2.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,502},{323,61}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{627,502},{323,61}}</string>
				<key>sourceSize</key>
				<string>{323,61}</string>
			</dict>
			<key>info_main1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,468},{624,42}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,468},{624,42}}</string>
				<key>sourceSize</key>
				<string>{630,70}</string>
			</dict>
			<key>info_main2.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,378},{354,44}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{554,378},{354,44}}</string>
				<key>sourceSize</key>
				<string>{364,70}</string>
			</dict>
			<key>info_main3.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,565},{318,52}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{624,565},{318,52}}</string>
				<key>sourceSize</key>
				<string>{336,70}</string>
			</dict>
			<key>info_tw.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,619},{126,48}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{624,619},{126,48}}</string>
				<key>sourceSize</key>
				<string>{126,70}</string>
			</dict>
			<key>info_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,619},{99,56}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{752,619},{99,56}}</string>
				<key>sourceSize</key>
				<string>{105,70}</string>
			</dict>
			<key>lfs.png</key>
			<dict>
				<key>frame</key>
				<string>{{554,303},{406,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{554,303},{406,73}}</string>
				<key>sourceSize</key>
				<string>{406,73}</string>
			</dict>
			<key>logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{560,285}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{560,285}}</string>
				<key>sourceSize</key>
				<string>{560,285}</string>
			</dict>
			<key>mw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,512},{314,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,512},{314,173}}</string>
				<key>sourceSize</key>
				<string>{314,173}</string>
			</dict>
			<key>rfs.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,424},{309,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{627,424},{309,76}}</string>
				<key>sourceSize</key>
				<string>{309,76}</string>
			</dict>
			<key>smw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,288},{551,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,288},{551,178}}</string>
				<key>sourceSize</key>
				<string>{551,178}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>68357ac8-17c4-4d64-b3f4-75899598a0f3.1a831.png</string>
			<key>size</key>
			<string>{961,686}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>68357ac8-17c4-4d64-b3f4-75899598a0f3.1a831.png</string>
		</dict>
	</dict>
</plist>
