<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,609},{420,269}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,609},{420,269}}</string>
				<key>sourceSize</key>
				<string>{420,269}</string>
			</dict>
			<key>fs.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,609},{340,332}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{423,609},{340,332}}</string>
				<key>sourceSize</key>
				<string>{340,332}</string>
			</dict>
			<key>info_bns.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,420},{457,32}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{929,420},{457,32}}</string>
				<key>sourceSize</key>
				<string>{469,70}</string>
			</dict>
			<key>info_bns2.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,943},{343,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{293,943},{343,62}}</string>
				<key>sourceSize</key>
				<string>{343,62}</string>
			</dict>
			<key>info_main1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{983,34}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{983,34}}</string>
				<key>sourceSize</key>
				<string>{995,70}</string>
			</dict>
			<key>info_main2.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,327},{235,38}}</string>
				<key>offset</key>
				<string>{-1,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{622,327},{235,38}}</string>
				<key>sourceSize</key>
				<string>{245,70}</string>
			</dict>
			<key>info_main3.png</key>
			<dict>
				<key>frame</key>
				<string>{{568,327},{255,52}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{568,327},{255,52}}</string>
				<key>sourceSize</key>
				<string>{267,70}</string>
			</dict>
			<key>info_tw.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,943},{110,60}}</string>
				<key>offset</key>
				<string>{1,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{638,943},{110,60}}</string>
				<key>sourceSize</key>
				<string>{112,70}</string>
			</dict>
			<key>info_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,880},{122,46}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{293,880},{122,46}}</string>
				<key>sourceSize</key>
				<string>{130,70}</string>
			</dict>
			<key>lfs.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,420},{518,162}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{765,420},{518,162}}</string>
				<key>sourceSize</key>
				<string>{518,162}</string>
			</dict>
			<key>logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,327},{565,280}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,327},{565,280}}</string>
				<key>sourceSize</key>
				<string>{565,280}</string>
			</dict>
			<key>mw.png</key>
			<dict>
				<key>frame</key>
				<string>{{683,37},{381,279}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{683,37},{381,279}}</string>
				<key>sourceSize</key>
				<string>{381,279}</string>
			</dict>
			<key>rfs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,880},{290,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,880},{290,126}}</string>
				<key>sourceSize</key>
				<string>{290,126}</string>
			</dict>
			<key>smw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,37},{680,288}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,37},{680,288}}</string>
				<key>sourceSize</key>
				<string>{680,288}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>94f7dd98-aa21-4dc6-a8f3-ca05167f1bb4.07a1a.png</string>
			<key>size</key>
			<string>{985,1007}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>94f7dd98-aa21-4dc6-a8f3-ca05167f1bb4.07a1a.png</string>
		</dict>
	</dict>
</plist>
