<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,831},{592,160}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,831},{592,160}}</string>
				<key>sourceSize</key>
				<string>{592,160}</string>
			</dict>
			<key>fs.png</key>
			<dict>
				<key>frame</key>
				<string>{{624,550},{373,371}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{624,550},{373,371}}</string>
				<key>sourceSize</key>
				<string>{373,371}</string>
			</dict>
			<key>info_bns.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,923},{281,34}}</string>
				<key>offset</key>
				<string>{-2,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{595,923},{281,34}}</string>
				<key>sourceSize</key>
				<string>{301,70}</string>
			</dict>
			<key>info_bns2.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,550},{274,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{560,550},{274,62}}</string>
				<key>sourceSize</key>
				<string>{274,62}</string>
			</dict>
			<key>info_main1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{962,32}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{962,32}}</string>
				<key>sourceSize</key>
				<string>{980,70}</string>
			</dict>
			<key>info_main2.png</key>
			<dict>
				<key>frame</key>
				<string>{{946,35},{324,40}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{946,35},{324,40}}</string>
				<key>sourceSize</key>
				<string>{340,70}</string>
			</dict>
			<key>info_main3.png</key>
			<dict>
				<key>frame</key>
				<string>{{595,959},{212,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{595,959},{212,52}}</string>
				<key>sourceSize</key>
				<string>{230,70}</string>
			</dict>
			<key>info_tw.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,363},{77,58}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{803,363},{77,58}}</string>
				<key>sourceSize</key>
				<string>{81,70}</string>
			</dict>
			<key>info_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,497},{91,46}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{655,497},{91,46}}</string>
				<key>sourceSize</key>
				<string>{95,70}</string>
			</dict>
			<key>lfs.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,35},{460,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{655,35},{460,146}}</string>
				<key>sourceSize</key>
				<string>{460,146}</string>
			</dict>
			<key>logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,550},{557,279}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,550},{557,279}}</string>
				<key>sourceSize</key>
				<string>{557,279}</string>
			</dict>
			<key>mw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,352},{652,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,352},{652,196}}</string>
				<key>sourceSize</key>
				<string>{652,196}</string>
			</dict>
			<key>rfs.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,35},{326,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{803,35},{326,141}}</string>
				<key>sourceSize</key>
				<string>{326,141}</string>
			</dict>
			<key>smw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,35},{652,315}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,35},{652,315}}</string>
				<key>sourceSize</key>
				<string>{652,315}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>d43b431e-0dfb-4a64-b4b1-22742cd70fc9.38211.png</string>
			<key>size</key>
			<string>{998,1012}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>d43b431e-0dfb-4a64-b4b1-22742cd70fc9.38211.png</string>
		</dict>
	</dict>
</plist>
