<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bw_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{665,212}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{665,212}}</string>
				<key>sourceSize</key>
				<string>{665,212}</string>
			</dict>
			<key>mw_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,215},{513,357}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,215},{513,357}}</string>
				<key>sourceSize</key>
				<string>{513,357}</string>
			</dict>
			<key>smw_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{668,1},{551,338}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{668,1},{551,338}}</string>
				<key>sourceSize</key>
				<string>{551,338}</string>
			</dict>
			<key>big_win_texture.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1005,573}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1005,573}}</string>
				<key>sourceSize</key>
				<string>{1007,573}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>big_win_texture.png</string>
			<key>size</key>
			<string>{1007,573}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>big_win_texture.png</string>
		</dict>
	</dict>
</plist>
