<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>fire_torch.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,1051},{30,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{327,1051},{30,91}}</string>
				<key>sourceSize</key>
				<string>{30,91}</string>
			</dict>
			<key>tw_vfx_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,510},{427,539}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,510},{427,539}}</string>
				<key>sourceSize</key>
				<string>{427,539}</string>
			</dict>
			<key>collect_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1051},{324,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1051},{324,131}}</string>
				<key>sourceSize</key>
				<string>{324,131}</string>
			</dict>
			<key>tw_vfx_d.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{432,507}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{432,507}}</string>
				<key>sourceSize</key>
				<string>{432,507}</string>
			</dict>
			<key>collect_button_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1051},{324,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1051},{324,131}}</string>
				<key>sourceSize</key>
				<string>{324,131}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>11f80662-b76d-49d4-87c5-2dc18bcc78cd.0e4c8.png</string>
			<key>size</key>
			<string>{434,1183}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>11f80662-b76d-49d4-87c5-2dc18bcc78cd.0e4c8.png</string>
		</dict>
	</dict>
</plist>
