<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>stack_wild_vfx_a_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,654},{381,157}}</string>
				<key>offset</key>
				<string>{20,-21}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,654},{381,157}}</string>
				<key>sourceSize</key>
				<string>{433,321}</string>
			</dict>
			<key>stack_wild_vfx_a_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,1},{373,219}}</string>
				<key>offset</key>
				<string>{20,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{380,1},{373,219}}</string>
				<key>sourceSize</key>
				<string>{433,321}</string>
			</dict>
			<key>stack_wild_vfx_a_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{755,1},{379,159}}</string>
				<key>offset</key>
				<string>{21,-23}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{755,1},{379,159}}</string>
				<key>sourceSize</key>
				<string>{433,321}</string>
			</dict>
			<key>stack_wild_vfx_a_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{377,223}}</string>
				<key>offset</key>
				<string>{20,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{377,223}}</string>
				<key>sourceSize</key>
				<string>{433,321}</string>
			</dict>
			<key>stack_wild_vfx_a_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,548},{377,129}}</string>
				<key>offset</key>
				<string>{22,-19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{384,548},{377,129}}</string>
				<key>sourceSize</key>
				<string>{433,321}</string>
			</dict>
			<key>stack_wild_vfx_a_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,449},{379,203}}</string>
				<key>offset</key>
				<string>{20,-20}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,449},{379,203}}</string>
				<key>sourceSize</key>
				<string>{433,321}</string>
			</dict>
			<key>stack_wild_vfx_a_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,679},{333,123}}</string>
				<key>offset</key>
				<string>{7,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{384,679},{333,123}}</string>
				<key>sourceSize</key>
				<string>{433,321}</string>
			</dict>
			<key>stack_wild_vfx_a_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{380,222},{349,181}}</string>
				<key>offset</key>
				<string>{20,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{380,222},{349,181}}</string>
				<key>sourceSize</key>
				<string>{433,321}</string>
			</dict>
			<key>stack_wild_vfx_a_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,405},{381,141}}</string>
				<key>offset</key>
				<string>{20,-22}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{382,405},{381,141}}</string>
				<key>sourceSize</key>
				<string>{433,321}</string>
			</dict>
			<key>stack_wild_vfx_a_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,226},{375,221}}</string>
				<key>offset</key>
				<string>{20,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,226},{375,221}}</string>
				<key>sourceSize</key>
				<string>{433,321}</string>
			</dict>
			<key>stack_wild_vfx_a_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,382},{341,147}}</string>
				<key>offset</key>
				<string>{12,-4}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{765,382},{341,147}}</string>
				<key>sourceSize</key>
				<string>{433,321}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>178c54fa-7efe-449e-a3bd-db3512abc265.01f46.jpg</string>
			<key>size</key>
			<string>{915,812}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>178c54fa-7efe-449e-a3bd-db3512abc265.01f46.jpg</string>
		</dict>
	</dict>
</plist>
