<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>stack_wild_vfx_a_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{379,227}}</string>
				<key>offset</key>
				<string>{20,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{379,227}}</string>
				<key>sourceSize</key>
				<string>{433,321}</string>
			</dict>
			<key>stack_wild_vfx_a_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,1},{199,49}}</string>
				<key>offset</key>
				<string>{112,7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{765,1},{199,49}}</string>
				<key>sourceSize</key>
				<string>{433,321}</string>
			</dict>
			<key>stack_wild_vfx_a_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,457},{371,215}}</string>
				<key>offset</key>
				<string>{20,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,457},{371,215}}</string>
				<key>sourceSize</key>
				<string>{433,321}</string>
			</dict>
			<key>stack_wild_vfx_a_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,674},{361,203}}</string>
				<key>offset</key>
				<string>{21,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,674},{361,203}}</string>
				<key>sourceSize</key>
				<string>{433,321}</string>
			</dict>
			<key>stack_wild_vfx_a_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,879},{7,7}}</string>
				<key>offset</key>
				<string>{27,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,879},{7,7}}</string>
				<key>sourceSize</key>
				<string>{433,321}</string>
			</dict>
			<key>stack_wild_vfx_a_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{374,616},{345,167}}</string>
				<key>offset</key>
				<string>{17,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{374,616},{345,167}}</string>
				<key>sourceSize</key>
				<string>{433,321}</string>
			</dict>
			<key>stack_wild_vfx_a_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,230},{379,225}}</string>
				<key>offset</key>
				<string>{20,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,230},{379,225}}</string>
				<key>sourceSize</key>
				<string>{433,321}</string>
			</dict>
			<key>stack_wild_vfx_a_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,1},{381,207}}</string>
				<key>offset</key>
				<string>{20,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{382,1},{381,207}}</string>
				<key>sourceSize</key>
				<string>{433,321}</string>
			</dict>
			<key>stack_wild_vfx_a_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,785},{323,99}}</string>
				<key>offset</key>
				<string>{50,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{364,785},{323,99}}</string>
				<key>sourceSize</key>
				<string>{433,321}</string>
			</dict>
			<key>stack_wild_vfx_a_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{751,210},{377,133}}</string>
				<key>offset</key>
				<string>{22,-19}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{751,210},{377,133}}</string>
				<key>sourceSize</key>
				<string>{433,321}</string>
			</dict>
			<key>stack_wild_vfx_a_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,421},{355,193}}</string>
				<key>offset</key>
				<string>{21,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{382,421},{355,193}}</string>
				<key>sourceSize</key>
				<string>{433,321}</string>
			</dict>
			<key>stack_wild_vfx_a_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{816,1},{199,33}}</string>
				<key>offset</key>
				<string>{112,32}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{816,1},{199,33}}</string>
				<key>sourceSize</key>
				<string>{433,321}</string>
			</dict>
			<key>stack_wild_vfx_a_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,589},{321,137}}</string>
				<key>offset</key>
				<string>{50,-19}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{739,589},{321,137}}</string>
				<key>sourceSize</key>
				<string>{433,321}</string>
			</dict>
			<key>stack_wild_vfx_a_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{382,210},{367,209}}</string>
				<key>offset</key>
				<string>{20,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{382,210},{367,209}}</string>
				<key>sourceSize</key>
				<string>{433,321}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>29128ab8-94c3-433c-a7a1-2b73a23f1699.f5d13.jpg</string>
			<key>size</key>
			<string>{885,911}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>29128ab8-94c3-433c-a7a1-2b73a23f1699.f5d13.jpg</string>
		</dict>
	</dict>
</plist>
