<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>multiplier_vfx_d_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,1},{216,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{219,1},{216,125}}</string>
				<key>sourceSize</key>
				<string>{216,125}</string>
			</dict>
			<key>multiplier_vfx_d_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,219},{216,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{128,219},{216,125}}</string>
				<key>sourceSize</key>
				<string>{216,125}</string>
			</dict>
			<key>multiplier_vfx_d_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,128},{216,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,128},{216,125}}</string>
				<key>sourceSize</key>
				<string>{216,125}</string>
			</dict>
			<key>multiplier_vfx_d_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{216,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{216,125}}</string>
				<key>sourceSize</key>
				<string>{216,125}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>298f9072-eaeb-4393-aae6-741d9fc61094.ea0b1.jpg</string>
			<key>size</key>
			<string>{345,345}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>298f9072-eaeb-4393-aae6-741d9fc61094.ea0b1.jpg</string>
		</dict>
	</dict>
</plist>
