<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>infoboard_02_light_on_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{1334,189},{573,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1334,189},{573,46}}</string>
				<key>sourceSize</key>
				<string>{573,46}</string>
			</dict>
			<key>infoboard_02_light_on_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,67},{748,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,67},{748,60}}</string>
				<key>sourceSize</key>
				<string>{748,60}</string>
			</dict>
			<key>infoboard_02_light_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,147},{756,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,147},{756,64}}</string>
				<key>sourceSize</key>
				<string>{756,64}</string>
			</dict>
			<key>infoboard_01_light_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,1},{746,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,1},{746,64}}</string>
				<key>sourceSize</key>
				<string>{746,64}</string>
			</dict>
			<key>infoboard_02_flower_behind.png</key>
			<dict>
				<key>frame</key>
				<string>{{1509,1},{405,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1509,1},{405,147}}</string>
				<key>sourceSize</key>
				<string>{439,147}</string>
			</dict>
			<key>infoboard_01_light_on_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,189},{573,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,189},{573,64}}</string>
				<key>sourceSize</key>
				<string>{573,64}</string>
			</dict>
			<key>infoboard_lv02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{756,144}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{756,144}}</string>
				<key>sourceSize</key>
				<string>{756,148}</string>
			</dict>
			<key>infoboard_01_light_on_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,129},{746,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{759,129},{746,58}}</string>
				<key>sourceSize</key>
				<string>{746,58}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>3de98679-8e3a-4eb9-9a0b-05db28fc9694.ef9b4.png</string>
			<key>size</key>
			<string>{1915,254}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>3de98679-8e3a-4eb9-9a0b-05db28fc9694.ef9b4.png</string>
		</dict>
	</dict>
</plist>
