<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>multiplier_vfx_b_bonus.png</key>
			<dict>
				<key>frame</key>
				<string>{{123,453},{120,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{123,453},{120,118}}</string>
				<key>sourceSize</key>
				<string>{120,118}</string>
			</dict>
			<key>multiplier_vfx_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,453},{120,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,453},{120,118}}</string>
				<key>sourceSize</key>
				<string>{120,118}</string>
			</dict>
			<key>multiplier_flare_screen.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{450,450}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{450,450}}</string>
				<key>sourceSize</key>
				<string>{450,450}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>560fff52-caec-4110-85f3-828de1c0bba9.b9c33.jpg</string>
			<key>size</key>
			<string>{452,572}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>560fff52-caec-4110-85f3-828de1c0bba9.b9c33.jpg</string>
		</dict>
	</dict>
</plist>
