<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,231},{28,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,231},{28,36}}</string>
				<key>sourceSize</key>
				<string>{28,36}</string>
			</dict>
			<key>0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,79},{29,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,79},{29,36}}</string>
				<key>sourceSize</key>
				<string>{29,36}</string>
			</dict>
			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,193},{29,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,193},{29,36}}</string>
				<key>sourceSize</key>
				<string>{29,36}</string>
			</dict>
			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,117},{29,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,117},{29,36}}</string>
				<key>sourceSize</key>
				<string>{29,36}</string>
			</dict>
			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,307},{25,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,307},{25,37}}</string>
				<key>sourceSize</key>
				<string>{25,37}</string>
			</dict>
			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{30,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{30,37}}</string>
				<key>sourceSize</key>
				<string>{30,37}</string>
			</dict>
			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,269},{26,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,269},{26,36}}</string>
				<key>sourceSize</key>
				<string>{26,36}</string>
			</dict>
			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,40},{29,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,40},{29,37}}</string>
				<key>sourceSize</key>
				<string>{29,37}</string>
			</dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,346},{17,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,346},{17,36}}</string>
				<key>sourceSize</key>
				<string>{17,36}</string>
			</dict>
			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,155},{29,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,155},{29,36}}</string>
				<key>sourceSize</key>
				<string>{29,36}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>9161b092-1f00-4064-b934-4bf3fdf9558f.077d6.png</string>
			<key>size</key>
			<string>{32,383}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>9161b092-1f00-4064-b934-4bf3fdf9558f.077d6.png</string>
		</dict>
	</dict>
</plist>
