<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>particle_vfx_a_28.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,329},{88,74}}</string>
				<key>offset</key>
				<string>{-9,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{173,329},{88,74}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>particle_vfx_a_32.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,407},{30,64}}</string>
				<key>offset</key>
				<string>{20,-10}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{85,407},{30,64}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>particle_vfx_a_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,329},{86,76}}</string>
				<key>offset</key>
				<string>{-6,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{85,329},{86,76}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>particle_vfx_a_27.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,85},{58,74}}</string>
				<key>offset</key>
				<string>{7,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{341,85},{58,74}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>particle_vfx_a_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,235},{62,68}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{345,235},{62,68}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>particle_vfx_a_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,89},{84,82}}</string>
				<key>offset</key>
				<string>{-6,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{177,89},{84,82}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>particle_vfx_a_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,363},{52,56}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{345,363},{52,56}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>particle_vfx_a_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,271},{80,84}}</string>
				<key>offset</key>
				<string>{-5,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,271},{80,84}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>particle_vfx_a_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,89},{88,82}}</string>
				<key>offset</key>
				<string>{-7,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{87,89},{88,82}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>particle_vfx_a_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,173},{88,76}}</string>
				<key>offset</key>
				<string>{-7,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{87,173},{88,76}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>particle_vfx_a_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,1},{86,82}}</string>
				<key>offset</key>
				<string>{-6,-2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{267,1},{86,82}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>particle_vfx_a_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,329},{74,80}}</string>
				<key>offset</key>
				<string>{-4,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{263,329},{74,80}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>particle_vfx_a_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,357},{82,82}}</string>
				<key>offset</key>
				<string>{-6,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,357},{82,82}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>particle_vfx_a_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,1},{88,86}}</string>
				<key>offset</key>
				<string>{-7,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{87,1},{88,86}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>particle_vfx_a_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{84,90}}</string>
				<key>offset</key>
				<string>{-6,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{84,90}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>particle_vfx_a_34.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,133},{26,26}}</string>
				<key>offset</key>
				<string>{23,18}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{401,133},{26,26}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>particle_vfx_a_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,1},{88,78}}</string>
				<key>offset</key>
				<string>{-7,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{355,1},{88,78}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>particle_vfx_a_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,173},{86,78}}</string>
				<key>offset</key>
				<string>{-6,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{177,173},{86,78}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>particle_vfx_a_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{85,251},{88,76}}</string>
				<key>offset</key>
				<string>{-7,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{85,251},{88,76}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>particle_vfx_a_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,173},{78,82}}</string>
				<key>offset</key>
				<string>{-5,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{265,173},{78,82}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>particle_vfx_a_33.png</key>
			<dict>
				<key>frame</key>
				<string>{{413,161},{28,28}}</string>
				<key>offset</key>
				<string>{23,19}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{413,161},{28,28}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>particle_vfx_a_29.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,405},{34,76}}</string>
				<key>offset</key>
				<string>{20,-7}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{253,405},{34,76}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>particle_vfx_a_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,93},{88,84}}</string>
				<key>offset</key>
				<string>{-7,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,93},{88,84}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>particle_vfx_a_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,89},{76,82}}</string>
				<key>offset</key>
				<string>{-4,2}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{263,89},{76,82}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>particle_vfx_a_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,161},{66,72}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{345,161},{66,72}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>particle_vfx_a_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{345,299},{58,62}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{345,299},{58,62}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>particle_vfx_a_31.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,405},{34,78}}</string>
				<key>offset</key>
				<string>{20,-6}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{173,405},{34,78}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>particle_vfx_a_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,299},{38,40}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{405,299},{38,40}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>particle_vfx_a_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,407},{3,3}}</string>
				<key>offset</key>
				<string>{-83,83}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{151,407},{3,3}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>particle_vfx_a_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,257},{70,76}}</string>
				<key>offset</key>
				<string>{-3,1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{265,257},{70,76}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>particle_vfx_a_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,183},{86,82}}</string>
				<key>offset</key>
				<string>{-6,-2}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,183},{86,82}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>particle_vfx_a_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,81},{44,50}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{401,81},{44,50}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>particle_vfx_a_30.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,339},{36,74}}</string>
				<key>offset</key>
				<string>{20,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{405,339},{36,74}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>particle_vfx_a_26.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,253},{88,74}}</string>
				<key>offset</key>
				<string>{-8,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{175,253},{88,74}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
			<key>particle_vfx_a_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,1},{88,86}}</string>
				<key>offset</key>
				<string>{-7,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{177,1},{88,86}}</string>
				<key>sourceSize</key>
				<string>{170,170}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>b30812a3-378d-4901-9918-0a2b5fd4e68e.0275e.jpg</string>
			<key>size</key>
			<string>{446,440}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>b30812a3-378d-4901-9918-0a2b5fd4e68e.0275e.jpg</string>
		</dict>
	</dict>
</plist>
