<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>tw_vfx_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,540},{418,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,540},{418,418}}</string>
				<key>sourceSize</key>
				<string>{418,418}</string>
			</dict>
			<key>collect_button_flare.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,134},{427,404}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,134},{427,404}}</string>
				<key>sourceSize</key>
				<string>{427,404}</string>
			</dict>
			<key>tw_vfx_e.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{432,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{432,131}}</string>
				<key>sourceSize</key>
				<string>{432,131}</string>
			</dict>
			<key>tw_vfx_b_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,540},{418,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,540},{418,418}}</string>
				<key>sourceSize</key>
				<string>{418,418}</string>
			</dict>
			<key>tw_vfx_b_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,540},{418,418}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,540},{418,418}}</string>
				<key>sourceSize</key>
				<string>{418,418}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>b7b84744-4f26-4057-87c4-493d72674b07.8cd72.jpg</string>
			<key>size</key>
			<string>{434,959}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>b7b84744-4f26-4057-87c4-493d72674b07.8cd72.jpg</string>
		</dict>
	</dict>
</plist>
