<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bw_board.png</key>
			<dict>
				<key>frame</key>
				<string>{{1350,1},{481,141}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1350,1},{481,141}}</string>
				<key>sourceSize</key>
				<string>{487,153}</string>
			</dict>
			<key>mw_board.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,1},{648,157}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{700,1},{648,157}}</string>
				<key>sourceSize</key>
				<string>{678,195}</string>
			</dict>
			<key>smw_board.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{697,167}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{697,167}}</string>
				<key>sourceSize</key>
				<string>{717,195}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>e62d9f43-2871-4ff0-bdcc-27c32cbcf7c3.891a0.png</string>
			<key>size</key>
			<string>{1832,169}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>e62d9f43-2871-4ff0-bdcc-27c32cbcf7c3.891a0.png</string>
		</dict>
	</dict>
</plist>
