<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bw_vfx_g_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,126},{76,121}}</string>
				<key>offset</key>
				<string>{-5,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{173,126},{76,121}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_g_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,126},{84,123}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{87,126},{84,123}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_g_22.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,312},{84,99}}</string>
				<key>offset</key>
				<string>{-4,-14}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{351,312},{84,99}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_g_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,368},{84,111}}</string>
				<key>offset</key>
				<string>{-6,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{181,368},{84,111}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_g_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,374},{88,117}}</string>
				<key>offset</key>
				<string>{-4,-6}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{91,374},{88,117}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_g_23.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,398},{80,95}}</string>
				<key>offset</key>
				<string>{-4,-14}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{351,398},{80,95}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_g_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,64},{52,43}}</string>
				<key>offset</key>
				<string>{4,-43}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{351,64},{52,43}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_g_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,1},{86,113}}</string>
				<key>offset</key>
				<string>{-6,-8}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{263,1},{86,113}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_g_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,259},{84,125}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,259},{84,125}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_g_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,249},{86,117}}</string>
				<key>offset</key>
				<string>{-3,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{175,249},{86,117}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_g_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,116},{88,105}}</string>
				<key>offset</key>
				<string>{-5,-11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{335,116},{88,105}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_g_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,130},{84,127}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,130},{84,127}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_g_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,209},{84,101}}</string>
				<key>offset</key>
				<string>{-4,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{425,209},{84,101}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_g_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,106},{84,101}}</string>
				<key>offset</key>
				<string>{-4,-13}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{425,106},{84,101}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_g_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,1},{84,119}}</string>
				<key>offset</key>
				<string>{-3,-5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{177,1},{84,119}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_g_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,348},{82,105}}</string>
				<key>offset</key>
				<string>{-4,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{267,348},{82,105}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_g_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{84,127}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{84,127}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_g_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,1},{88,123}}</string>
				<key>offset</key>
				<string>{-5,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{87,1},{88,123}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_g_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,386},{88,111}}</string>
				<key>offset</key>
				<string>{-4,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,386},{88,111}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_g_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,239},{86,107}}</string>
				<key>offset</key>
				<string>{-5,-11}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{263,239},{86,107}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_g_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,223},{56,81}}</string>
				<key>offset</key>
				<string>{2,-24}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{351,223},{56,81}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_g_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,1},{84,103}}</string>
				<key>offset</key>
				<string>{-4,-12}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{425,1},{84,103}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_g_24.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,1},{68,61}}</string>
				<key>offset</key>
				<string>{-3,-9}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{351,1},{68,61}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_g_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{251,122},{82,115}}</string>
				<key>offset</key>
				<string>{-7,-7}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{251,122},{82,115}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
			<key>bw_vfx_g_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{87,251},{86,121}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{87,251},{86,121}}</string>
				<key>sourceSize</key>
				<string>{162,131}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>f52b48b5-e6e2-4d89-815a-813066b2886a.f910b.png</string>
			<key>size</key>
			<string>{510,498}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>f52b48b5-e6e2-4d89-815a-813066b2886a.f910b.png</string>
		</dict>
	</dict>
</plist>
