<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>total_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,308},{503,146}}</string>
				<key>offset</key>
				<string>{6,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,308},{503,146}}</string>
				<key>sourceSize</key>
				<string>{521,150}</string>
			</dict>
			<key>info_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,571},{550,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,571},{550,78}}</string>
				<key>sourceSize</key>
				<string>{554,80}</string>
			</dict>
			<key>info_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1215,37},{570,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1215,37},{570,78}}</string>
				<key>sourceSize</key>
				<string>{574,80}</string>
			</dict>
			<key>win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1696,639},{78,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1696,639},{78,31}}</string>
				<key>sourceSize</key>
				<string>{78,31}</string>
			</dict>
			<key>info_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1135,37},{571,78}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1135,37},{571,78}}</string>
				<key>sourceSize</key>
				<string>{575,80}</string>
			</dict>
			<key>bonus_loading_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{1797,1},{606,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1797,1},{606,174}}</string>
				<key>sourceSize</key>
				<string>{606,174}</string>
			</dict>
			<key>info_total_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{1589,639},{105,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1589,639},{105,57}}</string>
				<key>sourceSize</key>
				<string>{105,57}</string>
			</dict>
			<key>5ofakind.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,117},{524,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{782,117},{524,128}}</string>
				<key>sourceSize</key>
				<string>{524,128}</string>
			</dict>
			<key>start.png</key>
			<dict>
				<key>frame</key>
				<string>{{1797,609},{181,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1797,609},{181,53}}</string>
				<key>sourceSize</key>
				<string>{181,53}</string>
			</dict>
			<key>info_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{1311,34}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{1311,34}}</string>
				<key>sourceSize</key>
				<string>{1315,80}</string>
			</dict>
			<key>free_spins_won.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,37},{550,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{933,37},{550,200}}</string>
				<key>sourceSize</key>
				<string>{550,200}</string>
			</dict>
			<key>info_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,666},{970,36}}</string>
				<key>offset</key>
				<string>{0,-3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,666},{970,36}}</string>
				<key>sourceSize</key>
				<string>{974,80}</string>
			</dict>
			<key>logo_on_temple.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,117},{436,266}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{514,117},{436,266}}</string>
				<key>sourceSize</key>
				<string>{440,266}</string>
			</dict>
			<key>free_spins_remaining.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,456},{377,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,456},{377,113}}</string>
				<key>sourceSize</key>
				<string>{377,113}</string>
			</dict>
			<key>info_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,37},{930,78}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,37},{930,78}}</string>
				<key>sourceSize</key>
				<string>{934,80}</string>
			</dict>
			<key>last_free_spin.png</key>
			<dict>
				<key>frame</key>
				<string>{{973,666},{594,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{973,666},{594,60}}</string>
				<key>sourceSize</key>
				<string>{594,60}</string>
			</dict>
			<key>collect.png</key>
			<dict>
				<key>frame</key>
				<string>{{1729,664},{227,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1729,664},{227,52}}</string>
				<key>sourceSize</key>
				<string>{227,52}</string>
			</dict>
			<key>smw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1314,1},{663,273}}</string>
				<key>offset</key>
				<string>{7,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1314,1},{663,273}}</string>
				<key>sourceSize</key>
				<string>{683,277}</string>
			</dict>
			<key>mw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1589,1},{636,206}}</string>
				<key>offset</key>
				<string>{15,0}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1589,1},{636,206}}</string>
				<key>sourceSize</key>
				<string>{672,210}</string>
			</dict>
			<key>bw.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,117},{511,189}}</string>
				<key>offset</key>
				<string>{12,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,117},{511,189}}</string>
				<key>sourceSize</key>
				<string>{543,193}</string>
			</dict>
			<key>general_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1977,727}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1977,727}}</string>
				<key>sourceSize</key>
				<string>{1979,727}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>general_text.png</string>
			<key>size</key>
			<string>{1979,727}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>general_text.png</string>
		</dict>
	</dict>
</plist>
