<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>h_pineapple_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{139,971},{102,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{139,971},{102,132}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>s_mysterybox_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,543},{146,142}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,543},{146,142}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>h_starfruit.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,847},{128,148}}</string>
				<key>offset</key>
				<string>{0,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,847},{128,148}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>h_blueberry.png</key>
			<dict>
				<key>frame</key>
				<string>{{129,691},{120,144}}</string>
				<key>offset</key>
				<string>{3,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{129,691},{120,144}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>h_blueberry_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,563},{84,116}}</string>
				<key>offset</key>
				<string>{2,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{145,563},{84,116}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>h_grape.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,997},{136,144}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,997},{136,144}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>h_apple_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,203},{88,122}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{153,203},{88,122}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>s_mysterybox.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{204,200}}</string>
				<key>offset</key>
				<string>{-3,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{204,200}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>h_watermelon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,203},{150,168}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,203},{150,168}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>h_banana_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{145,1105},{96,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{145,1105},{96,114}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>h_banana.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1143},{138,142}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true/>
				<key>sourceColorRect</key>
				<string>{{1,1143},{138,142}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>h_starfruit_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,443},{90,118}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{147,443},{90,118}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>h_pineapple.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,373},{144,168}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,373},{144,168}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>h_watermelon_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,837},{106,132}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{131,837},{106,132}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>h_apple.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,691},{126,154}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,691},{126,154}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>h_grape_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,327},{94,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{153,327},{94,114}}</string>
				<key>sourceSize</key>
				<string>{150,150}</string>
			</dict>
			<key>s_mysterybox_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{204,200}}</string>
				<key>offset</key>
				<string>{-3,5}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{204,200}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>h_apple_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,691},{126,154}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,691},{126,154}}</string>
				<key>sourceSize</key>
				<string>{210,210}</string>
			</dict>
			<key>symbol_packed.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,3},{246,1277}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,3},{246,1277}}</string>
				<key>sourceSize</key>
				<string>{250,1282}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>realTextureFileName</key>
			<string>symbol_packed.png</string>
			<key>size</key>
			<string>{250,1282}</string>
			<key>smartupdate</key>
			<string>$TexturePacker:SmartUpdate : 8d6a3b5c6f98d0eff99dd6242c8d6db7$</string>
			<key>textureFileName</key>
			<string>symbol_packed.png</string>
		</dict>
	</dict>
</plist>
